.card-shadow {
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1000px) {
  .leftbar-view .main-container {
    margin-left: 0px;
  }
  .leftbar-view .leftbar {
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
  }
  .leftbar-view.left-aside-toggle .leftbar {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
  .leftbar-view.left-aside-toggle .main-container {
    margin-left: 0px !important;
  }
  .overlay-leftbar .main-container {
    margin-left: 0px;
  }
  .overlay-leftbar .leftbar {
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
  }
  .overlay-leftbar.left-aside-toggle .leftbar {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
}
@media screen and (max-width: 767px) {
  .j-forms .wizard-breadcrumb.number-style .step .steps:after {
    display: none !important;
  }
  .j-forms .wizard-breadcrumb.number-style .step .steps:before {
    display: none !important;
  }
  .j-forms .wizard-breadcrumb.number-style .step:first-child .steps:after {
    display: none !important;
  }
  .j-forms .wizard-breadcrumb.number-style .step:first-child .steps:before {
    display: none !important;
  }
  .j-forms .wizard-breadcrumb.number-style .step:last-child .steps:after {
    display: none !important;
  }
  .page-header .list-page-breadcrumb {
    text-align: left;
  }
  .page-header .list-page-breadcrumb > li:first-child {
    padding-left: 0px;
  }
  .footer-container .footer-right {
    text-align: left;
  }
}
@media screen and (max-width: 590px) {
  .topbar-left {
    width: 100% !important;
    float: none !important;
  }
  .topbar-left .branding-right {
    display: block !important;
  }
  .topbar-left .logo {
    width: 110px;
  }
  .top-mega-menu.open > .dropdown-menu {
    left: -160px !important;
  }
  .topbar-right {
    width: 100% !important;
    float: none !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    top: -100px;
    z-index: 20;
    position: fixed;
    left: 0px;
    background-color: #ffffff;
  }
  .topbar-right.bar-toggle {
    top: 0px !important;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
  }
  .topbar-right .left-bar-switch {
    display: block !important;
  }
}
@media screen and (max-width: 414px) {
  .main-container {
    padding: 30px 0px 0px 0px;
  }
  .page-header.full-block {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -30px;
  }
  .footer-container {
    margin-right: 0px;
    margin-left: 0px;
  }
  .recent-users-list .users-details ul li {
    overflow: hidden;
  }
  .recent-users-list .users-details {
    margin-left: 30px;
  }
  .regional-analytics {
    height: 200px;
  }
  .w-action {
    position: absolute;
    right: 30px;
    top: 0px;
  }
  .widget-wrap > .widget-header {
    position: relative;
  }
  .apps-dropdown.open .dropdown-menu {
    right: -65px;
  }
  .apps-dropdown .dropdown-menu:after,
  .more-dropdown .dropdown-menu:after,
  .apps-dropdown .dropdown-menu:before,
  .more-dropdown .dropdown-menu:before {
    left: 63%;
  }
  .notifications-dropdown.open .dropdown-menu {
    right: -48px;
    width: 300px;
  }
  .notifications-dropdown .dropdown-menu:after,
  .notifications-dropdown .dropdown-menu:before {
    left: 77%;
  }
}
