/*product--start*/

.product-section{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 125px;
}

.product-content{
    justify-content: center;
    padding:50px 0 100px 0;
    margin-right: 0;
    margin-left: 0;
}

.finance > div:nth-child(3)  div a{
    display: block;
}
.finance > div:nth-child(3)  div img {
    max-width: 120px;
    padding: 0;
    margin-bottom: 30px;
}
.finance > div:nth-child(3) > div img, .product-footer,.Athena > div:nth-child(3) > div img{
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;

}
.finance > div:nth-child(3) >div .finance_box div a:hover img,.Athena > div:nth-child(3) > div:hover img{
    transform: scale(1.2);
}

.finance > div:nth-child(3) >div .finance_box div a:hover .product-footer,.Athena > div:nth-child(3) > div:hover .product-footer{
    width:40px;
}
.finance > div:nth-child(3){
    position: relative;
    width:100%;
    height:500px;
}
.finance > div:nth-child(3) > div{
    overflow: hidden;
    margin:0;
}
.finance > div:nth-child(3) .finance_box{
    width:250%;
    display: flex;
    position: absolute;
    top:0;
    left:0%;
    padding:80px 15px 0;
}
.finance > div:nth-child(3) .finance_box > div{
    width:9%;
}
.finance > div:nth-child(3) .swiper-pagination{
    height:5px;
    width:100px;
    position: absolute;
    bottom:130px;
    left:50%;
    margin-left:-50px;
}
.finance > div:nth-child(3) .swiper-pagination span{
    width:5px;
    height:100%;
    background: #fff;
    opacity: .7;
    border-radius: 2px;
    margin:0 3px;
    display: inline-block;
}
.finance > div:nth-child(3) .swiper-pagination span.swiper-pagination-bullet-active{
    width:15px;
    background: #fff;
    opacity: 1;
}

.product-content img{
    padding:0;
}

.product-section .overlay{
    position: absolute;
    top: 5em;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #131313;;
}

.product-section .title-img h4{
    font-size: 24px;
    font-weight: 600;
}

.title-img{
    width: 100%;
    margin-top:-10em
}

.product-footer{
    width:20px;
    height:2px;
    background: #ffffff;
    margin:0 auto;

}

.product-content .article-title > div h4{
    font-size: 14px;
    color: rgba(255,255,255,0.57);
    margin:10px 0;
}
.product-content .article-title > div.active h4{
    color: #FFFFFF;
}

.product-content .article-title > div.active .product_footer{
    width:20px;
    height:2px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    animation: progress_1 2s linear;
    animation-fill-mode:forwards;
}

.product-content .article-title > div.active .product_footer+div{
    display: inline-block;
    width:180px;
    height:1px;
    background: rgba(255,255,255,0.20);
    vertical-align: middle;
    animation: progress_2 2s linear;
    animation-fill-mode:forwards;
}

.product-content .article-title > div span{
    margin-right:30px;
}

.product-content .article-content > div{
    display: none;
    margin:10px 0;
}
.product-content .article-title > div h4:last-of-type{
    display: none;
}

.product-content .article-content > div.active{
    display: block;
}
.product_height{
    height:500px;
}
.margin-bottom{
    margin-bottom:100px;
}
.padding_bottom{
    padding-bottom: 20px;
}
.row-center{
    justify-content: center;
    margin:0;
    padding:20px 0;
}
@keyframes progress_1{
    0% {
        width:20px;
    }
    100% {
       width:200px;
    }
}
@keyframes progress_2{
    0% {
        width:180px;
    }
    100% {
        width:0px;
    }
}



.bgnavproduce{
    background: #131313;
}
.details_box.row{
    margin:0 auto;
    padding:50px 0 0 0;
}
.detail_nav{
    padding: 0 20px;
    width: 290px;
    position: fixed;
    top: 320px;
    margin-left: -3%;
}
.details{
    float: none;
    padding: 0;
    margin-left: 265px;
    margin-bottom: 20px;
    padding-left: 35px;
    border-left: 1px solid #D9D9D9;
}
.details p{
    font-size: 16px;line-height: 32px;
    color: #555555;
    font-family: '微軟雅黑';
}
.details_title .title{
    border-bottom: 1px solid #D9D9D9;
    margin:0 auto;
    padding:20px 15px;
    text-align: center;
}
.details_title .title h2{
    margin:10px 0 20px;
    color: rgba(0,0,0,0.85);
}
.details_title .title p{
    font-size: 14px;
    color: rgba(0,0,0,0.65);
}
.details h4{
    font-size: 24px;
    color: rgba(0,0,0,0.85);
    font-weight: 600;
}
.details span{
    font-size: 16px;
    color: rgba(0,0,0,0.85);
    font-weight: 600;
    display: block;
}
.details img{
    width:100%;
}
.details .width_auto{
    width:auto;
}
.details .width_auto img{
    width:auto;
}
.details .container:not(.title){
    width:100%;
    padding:0;
}
.details .img_box{
    padding:10px 0px 30px;
    margin:0;
}
.details .img_box p{
    margin:0;
}
.details .img_box img{
    margin:10px 0;
}
.article_box{
    justify-content: space-around;
    padding:20px 0;
    margin:0
}
.article_box .article{
    height:190px;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    padding:25px 15px;
    overflow: hidden;
    margin-top:10px;
}
.row.article_box .article p:last-child{
    position: relative;
    overflow: hidden;
    font-size: 16px;
    text-align: justify;
    line-height: 32px;
}
.article_box .article:hover{
    background: #F5F5F5;
    border-radius: 8px;
    border: 1px solid #F5F5F5;;
}

.article_box .article b{
    color: rgba(0,0,0,0.85);
    margin:0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
}
.detail_nav .article_box .article b{
    display: block;
}
.article_box .article a{
    color:rgba(0,0,0,0.85);
}
.article_box .article p:last-child{
    margin-top:20px;
}
.article_box .article p.next{
    text-align: right;
}
.detail_nav{
    padding:0 20px;
    width:290px;
}
.detail_nav .morePro{
    background: #202020;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    width:100%;
    height:76px;
    line-height: 76px;
    padding-left: 15px;
}
.detail_nav .morePro a{
    color:#fff;
    position: relative;
}
.detail_nav .morePro span{
    padding-left: 15px;
    font-size: 18px;
    position: relative;
}
/*.detail_nav .morePro a:before{*/
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: -5px;*/
    /*left: 40px;*/
    /*width:125px;*/
    /*height:12px;*/
    /*background: #7095FE;*/
/*}*/
.detail_nav .article_box .article{
    padding:0;
    margin-top:10px;
}
.detail_nav .article_box .article p:first-child{
    background: #E9E9E9;
    border-radius: 8px 8px 0 0;
    height:52px;
    line-height: 52px;
    padding-left:20px;
    font-size: 16px;
    color: rgba(0,0,0,0.85);
    text-align: left;
}
.detail_nav .article_box .article p:last-child{
    padding:0 15px;
    font-size: 12px;
    color: rgba(0,0,0,0.85);
}

.detail_nav > div.fixed{
    width: 25%;
    margin-left: 0%;
    position: fixed;
    top:143px;
    left:20px;
}
.fixed_a {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    margin-top: -25px;
    z-index: 999;
    color:#fff;
    background: rgba(0,0,0,0.10);
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    border-radius: 50%;
    transition: all 0.2s;
    display: none;
}
.fixed_a.active{
    display: block;
}
.fixed_a:hover{
    color:#fff;
    background: rgba(0,0,0,0.25);
}
.fixed_next.fixed_a{
   left: 20px;
}
.fixed_prev.fixed_a{
    right: 20px;
}
table{
    margin:20px;
}
td,th{
    padding:10px 15px;
}
td:first-child,th:first-child{
    width:20%;
}
.ux_content{
    width:100%;
    margin:35px auto 30px;
    padding:30px 15px 15px;;
    box-shadow: 0 2px 10px 0 #E9E9E9;
}
.ux_content div{
    background: #202020;
    box-shadow: 0 2px 5px 0 rgba(32,32,32,0.50);
    border-radius: 50%;
    width:120px;
    height:120px;
    margin:25px auto;
    color:#fff;
    line-height: 120px;
    font-size: 16px;
    font-weight:600;
    position: relative;
}
.ux_content div:after{
    content: "";
    width:130px;
    height:130px;
    position: absolute;
    top:-5px;
    left: -5px;
    border: 1px dashed #202020;
    border-radius: 50%;
    background: rgba(0,0,0,0);
}
.ux_content div.red{
    background: #E44248;
}
.ux_content div.red:after{
    border: 1px dashed #E44248;
}
.ux_content p{
    font-size: 14px;
    color: rgba(0,0,0,0.85);
    line-height: 28px;
}

.portfolio-items.special-fontSize .portfolio-item .portfolio-details h3{
    font-size:20px;
}
.details a,.details a:hover{
    color:#61BC46;
}
.article-content p{
    line-height: 2em;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .detail_nav{
        display: none;
    }
    .details{
        margin-left: 0;
    }
    .details{
        width:100%;
    }
    .product-content .article-title > div h4:first-child{
        display: none;
    }
    .product-content .article-title > div h4:last-of-type{
        display: block;
    }
    .product-content .article-title > div h4{
        padding-left:20%;
        margin:20px 0;
    }
    .product-content .article-title > div h4 a{
        color: rgba(255,255,255,0.57);
    }
    .product-content .article-title > div.active h4{
        color: rgba(255,255,255,0.57);
    }

    .article-content{
        display: none;
    }

    .product-content .article-title > div.active .product_footer{
        display: none;
    }

    .product-content .article-title > div.active .product_footer+div{
        display: none;
    }
    .product-content .article-content > div.active{
        display: none;
    }
    .product-content img{
        padding:0 15px;
        margin:30px 0 0;
    }

}
@media only screen and (max-width: 767px) {
    /*产品与服务*/
    .product-content{
        padding: 50px 0 50px 0;
    }
    .detail_nav{
        display: none;
    }
    .details{
        margin-left: 0;
        border-left: none;
        width:100%;
        padding:0 15px;
    }
    .contact-section .contact-address {
        margin-bottom: 50px;
    }
    .product-content .article-title > div h4:first-child{
        display: none;
    }
    .product-content .article-title > div h4:last-of-type{
        display: block;
    }
    .product-content .article-title > div h4{
        padding-left:20%;
        margin:20px 0;
    }
    .product-content .article-title > div h4 a{
        color: rgba(255,255,255,0.57);
    }
    .product-content .article-title > div.active h4{
        color: rgba(255,255,255,0.57);
    }

    .product-content .article-title > div.active .product_footer{
        display: none;
    }

    .product-content .article-title > div.active .product_footer+div{
        display: none;
    }
    .product-content .article-content > div.active{
        display: none;
    }
    .product-content .img {
        /*padding:0 15px 0;*/
        width: 60%;
    }
    .details .container:not(.title){
        width:100%;
    }
    .fixed_a.active{
        display: none;
    }
    .finance > div:nth-child(3) h4 {
        font-size: 14px;
    }
    .finance > div:nth-child(3){
        height:400px;
    }
    .finance > div:nth-child(3) h4{
        height:2em;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .product-content .article-title > div h4:first-child{
        display: none;
    }
    .product-content .article-title > div h4:last-of-type{
        display: block;
    }
    .product-content .article-title > div h4{
        padding-left:20%;
        margin:20px 0;
    }
    .product-content .article-title > div h4 a{
        color: rgba(255,255,255,0.57);
    }
    .product-content .article-title > div.active h4{
        color: rgba(255,255,255,0.57);
    }

    .product-content .article-title > div.active .product_footer{
        display: none;
    }

    .product-content .article-title > div.active .product_footer+div{
        display: none;
    }
    .product-content .article-content > div.active{
        display: none;
    }
    .product-content .img {
        /*padding:0 15px 0;*/
        width: 60%;
    }
    .details .container:not(.title){
        width:100%;
    }
    .fixed_a.active{
        display: none;
    }
}
