/*

@Name：不落阁后台模板源码 
@Author：Absolutely 
@Site：http://www.lyblogs.cn

*/

body {
    background-image: url(../images/background.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    background-color: #f2f2f2;
}

.mask {
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: .5;
    position: absolute;
}

.main {
    background-color: transparent;
    text-align: center;
    position: absolute;
    top: 15%;
    height: 70%;
    width: 100%;
    color: white;
}

    .main h1 {
        text-align: center;
        font-style: italic;
        font-family: 'Microsoft YaHei';
        text-shadow: 0 0 8px #00f7ff;
    }

    .main p {
        text-align: center;
        padding: 20px 0;
        margin: 20px 0;
        font-size: 30px;
    }

.enter {
    background: rgba(255, 255, 255, 0.10);
    text-align: center;
    font-size: 40px;
    padding: 15px 0;
}
/*弹出框皮肤*/
.pm-login-input {
    width: 280px !important;
}

body .pm-layer-login {
    box-shadow: 0 0 10px #00ffff;
    border-radius: 5px;
    background: #fff;
}

    body .pm-layer-login .layui-layer-title {
        background: #009688;
        color: #fff;
        border: none;
    }

    body .pm-layer-login .layui-layer-content {
        padding: 25px 25px;
    }

