.purchase-bar {
  background-color: #1d2736;
  padding: 15px 30px;
}

.close-purchase-bar {
  font-size: 18px;
  border:1px solid #1c6c86;
  background-color: #00b6f1;
  color: #ffffff;
  padding: 4px 8px;
  float: right;
  margin-top: 7px;
}

.purchase-now {
  font-weight: bold;
  padding-left: 20px;
  color: #0384ce;
  font-size: 18px;
}