/* ANIMATIONS
============================================================================= */
.content.ng-leave 	{ z-index:9999; }
.content.ng-enter 	{ z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.fade-in.ng-leave         {
		-webkit-transform-origin: 0% 0%;
	-webkit-animation: fadeOut 0ms both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: fadeOut 0ms both ease-in;
	transform-origin: 0% 0%;
	animation: fadeOut 0ms both ease-in;
}

.fade-in.ng-enter 		{
		-webkit-animation:fadeIn 0.5s both ease-in;
	-moz-animation:fadeIn 0.5s both ease-in;
	animation:fadeIn 0.5s both ease-in;
}