.well {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff8f8f8', GradientType=0);
  border-color: #dfdfdf;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
html {
  height: 100%;
}
.page-404 {
  height: 100%;
  background-color: #f5f5f5;
}
.page-404 .outer {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('http://themetaro.com/vector/assets/images/bg/bg1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.page-404 .outer .middle {
  display: table-cell;
  vertical-align: middle;
}
.page-404 .outer .middle .inner {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.page-404 .outer .middle .inner .inner-circle {
  height: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.page-404 .outer .middle .inner .inner-circle:hover {
  background-color: #552f80;
}
.page-404 .outer .middle .inner .inner-circle:hover i {
  color: #552f80 !important;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0px 15px #ffffff;
  box-shadow: 0px 0px 0px 15px #ffffff;
}
.page-404 .outer .middle .inner .inner-circle:hover span {
  color: #FFFFFF;
}
.page-404 .outer .middle .inner .inner-circle i {
  float: right;
  font-size: 5em;
  margin-top: -0.7em;
  margin-right: -0.5em;
  text-align: center;
  line-height: 1em;
  width: 1.6em;
  height: 1.6em;
  color: #FFFFFF !important;
  padding: 20px;
  background-color: #552f80;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 15px #552f80;
  box-shadow: 0px 0px 0px 15px #552f80;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.page-404 .outer .middle .inner .inner-circle span {
  font-size: 11em;
  text-align: center;
  line-height: 1.2em;
  font-weight: 700;
  display: block;
  color: #552f80;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.page-404 .outer .middle .inner .inner-status {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  display: block;
}
.page-404 .outer .middle .inner .inner-detail {
  margin-bottom: 10px;
  line-height: 1.4em;
  color: #FFFFFF;
  text-align: center;
  display: block;
}
