.well {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff8f8f8', GradientType=0);
  border-color: #dfdfdf;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
#external-events {
  text-align: left;
}
.external-event {
  margin: 3px 3px;
  padding: 2px 8px;
  cursor: move;
  display: inline-block;
  font-size: 12px;
  border-radius: 2px;
}
#external-events p {
  margin: 1.5em 0;
}
#external-events p input {
  margin: 0;
  vertical-align: middle;
}
#color-chooser {
  margin: 0;
  padding: 0;
  float: left;
}
#color-chooser > li {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 2px;
}
#color-chooser > li.active {
  border-radius: 50%;
}
