.well {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff8f8f8', GradientType=0);
  border-color: #dfdfdf;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
html {
  height: 100%;
}
.page-lockscreen {
  height: 100%;
  background-color: #f5f5f5;
}
.page-lockscreen .outer {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('http://themetaro.com/vector/assets/images/bg/bg1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.page-lockscreen .outer .middle {
  display: table-cell;
  vertical-align: middle;
}
.page-lockscreen .outer .middle .inner {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
.page-lockscreen .outer .middle .inner .header {
  width: 100%;
  display: block;
  text-align: center;
}
.page-lockscreen .outer .middle .inner .header .logo {
  font-family: 'Berkshire Swash';
  font-size: 35px;
  color: #FFFFFF;
}
.page-lockscreen .outer .middle .inner .lockscreen-form {
  padding: 20px 30px;
  /* Will contain the image and the sign in form */
  /* User image */
  /* Contains the password input and the login button */
  /* Extra to give the user an option to navigate the website [optional]*/
}
.page-lockscreen .outer .middle .inner .lockscreen-form .lockscreen-name {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}
.page-lockscreen .outer .middle .inner .lockscreen-form .lockscreen-item {
  padding: 0;
  background: #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 10px auto;
  width: 290px;
}
.page-lockscreen .outer .middle .inner .lockscreen-form .lockscreen-item:before,
.page-lockscreen .outer .middle .inner .lockscreen-form .lockscreen-item:after {
  display: table;
  content: " ";
}
.page-lockscreen .outer .middle .inner .lockscreen-form .lockscreen-item:after {
  clear: both;
}
.page-lockscreen .outer .middle .inner .lockscreen-form .lockscreen-item > .lockscreen-image {
  position: absolute;
  left: -10px;
  top: -25px;
  background: #fff;
  padding: 7px;
  border-radius: 50%;
  z-index: 10;
}
.page-lockscreen .outer .middle .inner .lockscreen-form .lockscreen-item > .lockscreen-image > img {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.page-lockscreen .outer .middle .inner .lockscreen-form .lockscreen-item > .lockscreen-credentials {
  margin-left: 80px;
}
.page-lockscreen .outer .middle .inner .lockscreen-form .lockscreen-item > .lockscreen-credentials input {
  border: 0 !important;
}
.page-lockscreen .outer .middle .inner .lockscreen-form .lockscreen-item > .lockscreen-credentials .btn {
  background-color: #fff;
  border: 0;
}
.page-lockscreen .outer .middle .inner .lockscreen-form .lockscreen-link {
  margin-top: 30px;
  text-align: center;
}
.page-lockscreen .outer .middle .inner .lockscreen-form .lockscreen-link a {
  color: #f8f7f9;
}
.page-lockscreen .outer .middle .inner .lockscreen-form .lockscreen-link a:hover {
  text-decoration: underline;
}
@media (max-width: 320px) {
  .inner {
    width: 280px !important;
  }
}
