.well {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff8f8f8', GradientType=0);
  border-color: #dfdfdf;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
/* Begin Timeline One Column */
#timeline-one-column-left .timeline-centered {
  position: relative;
  margin-bottom: 30px;
}
#timeline-one-column-left .timeline-centered:before,
#timeline-one-column-left .timeline-centered:after {
  content: " ";
  display: table;
}
#timeline-one-column-left .timeline-centered:after {
  clear: both;
}
#timeline-one-column-left .timeline-centered:before,
#timeline-one-column-left .timeline-centered:after {
  content: " ";
  display: table;
}
#timeline-one-column-left .timeline-centered:after {
  clear: both;
}
#timeline-one-column-left .timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  background-color: #FFFFFF;
  /*left: 50%;*/
  top: 20px;
  bottom: 20px;
  margin-left: 30px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#timeline-one-column-left .timeline-centered .timeline-entry {
  position: relative;
  /*width: 50%;
    float: right;*/
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  clear: both;
}
#timeline-one-column-left .timeline-centered .timeline-entry:before,
#timeline-one-column-left .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}
#timeline-one-column-left .timeline-centered .timeline-entry:after {
  clear: both;
}
#timeline-one-column-left .timeline-centered .timeline-entry:before,
#timeline-one-column-left .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}
#timeline-one-column-left .timeline-centered .timeline-entry:after {
  clear: both;
}
#timeline-one-column-left .timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}
#timeline-one-column-left .timeline-centered .timeline-entry.left-aligned {
  float: left;
}
#timeline-one-column-left .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -18px;
}
#timeline-one-column-left .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left: auto;
  right: -100px;
  text-align: left;
}
#timeline-one-column-left .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
  float: right;
}
#timeline-one-column-left .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left: 0;
  margin-right: 70px;
}
#timeline-one-column-left .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -9px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -20px;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner:before,
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner:before,
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -100px;
  text-align: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
  font-size: 15px;
  font-weight: bold;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
  font-size: 12px;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background-color: #fff;
  color: #666666;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #FFFFFF;
  -webkit-box-shadow: 0 0 0 5px #FFFFFF;
  box-shadow: 0 0 0 5px #FFFFFF;
  line-height: 40px;
  font-size: 16px;
  float: left;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background-color: #FFFFFF;
  padding: 1em;
  margin-left: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #FFFFFF transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -9px;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2,
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  color: #666666;
  font-size: 12px;
  margin: 0;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  *color: #666666;
}
#timeline-one-column-left .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: .6;
  -moz-opacity: .6;
  opacity: .6;
  -ms-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
}
#timeline-one-column-right .timeline-centered {
  position: relative;
  margin-bottom: 30px;
}
#timeline-one-column-right .timeline-centered:before,
#timeline-one-column-right .timeline-centered:after {
  content: " ";
  display: table;
}
#timeline-one-column-right .timeline-centered:after {
  clear: both;
}
#timeline-one-column-right .timeline-centered:before,
#timeline-one-column-right .timeline-centered:after {
  content: " ";
  display: table;
}
#timeline-one-column-right .timeline-centered:after {
  clear: both;
}
#timeline-one-column-right .timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  background-color: #FFFFFF;
  /*left: 50%;*/
  top: 20px;
  bottom: 20px;
  right: 0;
  margin-right: 30px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#timeline-one-column-right .timeline-centered .timeline-entry {
  position: relative;
  /*width: 50%;
    float: right;*/
  margin-top: 5px;
  margin-right: 30px;
  margin-bottom: 10px;
  clear: both;
}
#timeline-one-column-right .timeline-centered .timeline-entry:before,
#timeline-one-column-right .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}
#timeline-one-column-right .timeline-centered .timeline-entry:after {
  clear: both;
}
#timeline-one-column-right .timeline-centered .timeline-entry:before,
#timeline-one-column-right .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}
#timeline-one-column-right .timeline-centered .timeline-entry:after {
  clear: both;
}
#timeline-one-column-right .timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-right: -20px;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner:before,
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner:before,
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  right: -100px;
  left: auto;
  text-align: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
  font-size: 15px;
  font-weight: bold;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
  font-size: 12px;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background-color: #fff;
  color: #666666;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #FFFFFF;
  -webkit-box-shadow: 0 0 0 5px #FFFFFF;
  box-shadow: 0 0 0 5px #FFFFFF;
  line-height: 40px;
  font-size: 16px;
  float: right;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background-color: #FFFFFF;
  padding: 1em;
  margin-right: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 9px;
  border-color: transparent transparent transparent #FFFFFF;
  left: auto;
  right: 0;
  top: 10px;
  margin-right: -9px;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2,
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  color: #666666;
  font-size: 12px;
  margin: 0;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  *color: #666666;
}
#timeline-one-column-right .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: .6;
  -moz-opacity: .6;
  opacity: .6;
  -ms-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
}
#timeline-two-column .timeline-centered {
  position: relative;
  margin-bottom: 30px;
}
#timeline-two-column .timeline-centered:before,
#timeline-two-column .timeline-centered:after {
  content: " ";
  display: table;
}
#timeline-two-column .timeline-centered:after {
  clear: both;
}
#timeline-two-column .timeline-centered:before,
#timeline-two-column .timeline-centered:after {
  content: " ";
  display: table;
}
#timeline-two-column .timeline-centered:after {
  clear: both;
}
#timeline-two-column .timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  background-color: #FFFFFF;
  left: 50%;
  top: 20px;
  bottom: 20px;
  margin-left: -3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#timeline-two-column .timeline-centered .timeline-entry {
  position: relative;
  width: 50%;
  float: right;
  margin-bottom: 70px;
  clear: both;
}
#timeline-two-column .timeline-centered .timeline-entry:before,
#timeline-two-column .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}
#timeline-two-column .timeline-centered .timeline-entry:after {
  clear: both;
}
#timeline-two-column .timeline-centered .timeline-entry:before,
#timeline-two-column .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}
#timeline-two-column .timeline-centered .timeline-entry:after {
  clear: both;
}
#timeline-two-column .timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}
#timeline-two-column .timeline-centered .timeline-entry.left-aligned {
  float: left;
}
#timeline-two-column .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -18px;
}
#timeline-two-column .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left: auto;
  right: -100px;
  text-align: left;
}
#timeline-two-column .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
  float: right;
}
#timeline-two-column .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left: 0;
  margin-right: 70px;
}
#timeline-two-column .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -9px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -22px;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner:before,
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner:before,
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -100px;
  text-align: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
  font-size: 15px;
  font-weight: bold;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
  font-size: 12px;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background-color: #fff;
  color: #666666;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: 0 0 0 5px #ffffff;
  box-shadow: 0 0 0 5px #ffffff;
  line-height: 40px;
  font-size: 15px;
  float: left;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background-color: #FFFFFF;
  padding: 1.7em;
  margin-left: 70px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #FFFFFF transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -9px;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2,
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  color: #666666;
  font-size: 12px;
  margin: 0;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  *color: #666666;
}
#timeline-two-column .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: .6;
  -moz-opacity: .6;
  opacity: .6;
  -ms-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
}
/* End Timeline One Column */
