.scrollbar-y { margin:0; position:relative}
.scrollbar-y .viewport { height:200px; overflow: hidden; position: relative; }
.scrollbar-y .overview { list-style: none; position: absolute; left: 0; top: 0; }
.scrollbar-y .thumb .end,
.scrollbar-y .thumb { background-color: #ccc; }
.scrollbar-y .scrollbar { background-color:#eee; position: absolute; right:5px; bottom:5px;  width: 8px; z-index:1; visibility:hidden;-webkit-border-radius:4px ; -khtml-border-radius:4px ; -moz-border-radius:4px; border-radius:4px; }
.scrollbar-y .track { width:13px; position: relative; margin: 0;}
.scrollbar-y .thumb { height: 20px; width: 8px; cursor: pointer; overflow: hidden; position: absolute; top: 0; -webkit-border-radius:4px ; -khtml-border-radius:4px ; -moz-border-radius:4px; border-radius:4px; }
.scrollbar-y .thumb .end { overflow: hidden; height: 8px; width: 8px;  }
.scrollbar-y:hover .scrollbar { visibility:visible;}
.scrollbar-y .overview > .inner-spacer{ padding:15px 20px}

/* NOTICE: for a horizontal scrollbar you need to set a width to the overview class! */

.scrollbar-x { margin:0 5px; }
.scrollbar-x .viewport { height:200px; overflow: hidden; position: relative; }
.scrollbar-x .overview { list-style: none; width:1300px; position: absolute; left: 0; top: 0; }
.scrollbar-x .thumb .end,
.scrollbar-x .thumb { background-color: #ccc; }
.scrollbar-x .scrollbar { background-color:#eee;position: absolute; bottom:5px; height: 8px; z-index:1; visibility:hidden;-webkit-border-radius:2px ; -khtml-border-radius:2px ; -moz-border-radius:2px; border-radius:2px; }
.scrollbar-x .track { height: 11px; width:100%; position: relative; padding: 0;}
.scrollbar-x .thumb { height: 8px; width: 20px; cursor: pointer; overflow: hidden; position: absolute; top: 0;-webkit-border-radius:4px ; -khtml-border-radius:4px ; -moz-border-radius:4px; border-radius:4px; }
.scrollbar-x .thumb .end { overflow: hidden; height: 10px; width: 5px; }
.scrollbar-x:hover .scrollbar { visibility:visible;}
.scrollbar-x .overview > .inner-padding{ padding:20px 15px;}

.scrollbar-y .disable,
.scrollbar-x .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

