.aFllink span { float: left;}
.aFllink input { display: block !important; float: left;}
.slidedownBox ul { border: 1px solid #ccc;}
#fileImage { -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#77000000', endColorstr='#77000000')";      /*IE8*/ }
#checkbox-1-1 + label, #checkbox-1-2 + label, #checkbox-1-3 + label {
	display: none;
}