ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
    color: #666;
}

.flr {
    float: right;
}

.fll {
    float: left;
}

.bg-f0f2f3 {
    background-color: #f0f2f3;
}

.bg-w {
    background-color: #f0f2f3;
}

.bg-b {
    background-color: #000;
}

.bg-f {
    background-color: #fff;
}

.bg-40 {
    background-color: #404040;
    border-radius: 4px;
}

section.bg-b h1,
section.bg-b h2,
section.bg-b h3,
section.bg-b h4,
section.bg-b h5,
section.bg-b h6 {
    color: #fff;
}

.line1 {
    float: right;
    width: 85%;
    border-bottom: 3px solid #65c6ff;
    margin: 10px 0;
}

.line3 {
    float: right;
    width: 100%;
    border-bottom: 4px solid #65c6ff;
    margin: 10px 0;
    padding-top: 64px;
}

.line4 {
    width: 85px;
    border-bottom: 4px solid #65c6ff;
    margin: -40px auto 40px;
}

.line5 {
    float: right;
    width: 85%;
    border-bottom: 4px solid #65c6ff;
    margin: 10px 0;
}

.line6 {
    width: 1px;
    height: 25px;
    border-right: 2px solid #65c6ff;
    margin: auto;
}

.line7 {
    width: 1px;
    height: 45px;
    border-right: 2px solid #dedede;
    margin: auto;
}

.paddingtop10 {
    padding-top: 10px;
}

.paddingbottom10 {
    padding-bottom: 10px;
}

.paddingleft10 {
    padding-left: 10px;
}

.paddingright10 {
    padding-right: 10px;
}

.paddingtop20 {
    padding-top: 20px;
}

.paddingbottom20 {
    padding-bottom: 20px;
}

.paddingleft20 {
    padding-left: 20px;
}

.paddingright20 {
    padding-right: 20px;
}

.paddingtop30 {
    padding-top: 30px;
}

.paddingbottom30 {
    padding-bottom: 30px;
}

.paddingleft30 {
    padding-left: 30px;
}

.paddingright30 {
    padding-right: 30px;
}

.paddingtop40 {
    padding-top: 40px;
}

.paddingbottom40 {
    padding-bottom: 40px;
}

.paddingleft40 {
    padding-left: 40px;
}

.paddingright40 {
    padding-right: 40px;
}

.paddingtop50 {
    padding-top: 50px;
}

.paddingbottom50 {
    padding-bottom: 50px;
}

.paddingleft50 {
    padding-left: 50px;
}

.paddingright50 {
    padding-right: 50px;
}

.paddingtop60 {
    padding-top: 60px;
}

.paddingbottom60 {
    padding-bottom: 60px;
}

.paddingleft60 {
    padding-left: 60px;
}

.paddingright60 {
    padding-right: 60px;
}

.paddingtop70 {
    padding-top: 70px;
}

.paddingbottom70 {
    padding-bottom: 70px;
}

.paddingleft70 {
    padding-left: 70px;
}

.paddingright70 {
    padding-right: 70px;
}

.paddingtop80 {
    padding-top: 80px;
}

.paddingbottom80 {
    padding-bottom: 80px;
}

.paddingleft80 {
    padding-left: 80px;
}

.paddingright80 {
    padding-right: 80px;
}

.paddingtop90 {
    padding-top: 90px;
}

.paddingbottom90 {
    padding-bottom: 90px;
}

.paddingleft90 {
    padding-left: 90px;
}

.paddingright90 {
    padding-right: 90px;
}

.paddingtop100 {
    padding-top: 100px;
}

.paddingbottom100 {
    padding-bottom: 100px;
}

.paddingleft100 {
    padding-left: 100px;
}

.paddingright100 {
    padding-right: 100px;
}

.margin30 {
    margin: 0 30px;
}

.margintop30 {
    margin-top: 30px;
}

.marginbottom30 {
    margin-bottom: 30px;
}

.margintop20 {
    margin-top: 20px;
}

.marginbottom20 {
    margin-bottom: 20px;
}

.margintop10 {
    margin-top: 10px;
}

.marginbottom10 {
    margin-bottom: 10px;
}

.margintop40 {
    margin-top: 40px;
}

.margintop50 {
    margin-top: 50px;
}

.marginbottom50 {
    margin-bottom: 50px;
}

.margintop60 {
    margin-top: 60px;
}

.margintop70 {
    margin-top: 70px;
}

.emptydiv {
    height: 230px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.textcolor1 {
    color: #65c6ff;
}

.textcolor2 {
    color: #fff;
}

.textcolor3 {
    color: #666;
}

.textcolor4 {
    color: #c8c8c8;
}

.lineheight26 {
    line-height: 26px;
}

.lineheight30 {
    line-height: 30px;
}

.border-bottom {
    border-bottom: 1px solid #989898;
}

#header-bg {
    width: 100%;
    height: 234px;
    background: url("../img/bg1.png") no-repeat;
}

.bgheader {
    width: 100%;
    height: 72px;
}

#platform-header {
    background-color: #fff;
}

.sub-header li {
    padding-left: 0;
}

.sub-header.scroll {
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 72px;
    box-shadow: 0 2px 3px #dfdfdf;
    background-color: #f9f9f9;
}

.sub-header li {
    height: 64px;
    line-height: 61px;
}

.sub-header li > a {
    font-size: 14px;
    display: block;
    width: 76px;
    margin: auto;
    text-align: center;
    color: #666;
}

.sub-header li > a.active {
    border-bottom: 3px solid #65c6ff;
}

#platform-info {
    padding: 100px 0;
    background: #000;
    color: #e8e8e8;
}

#platform-info h2 {
    color: #fff;
}

#platform-info .fl {
    text-align: right;
}

#platform-info p {
    margin-bottom: 6px;
    color: #e8e8e8;
}

#platform-info .fl div:nth-child(7) {
    float: right;
    border-right: 1px solid #e8e8e8;
    padding-right: 20px;
}

#platform-info .fl div:nth-child(6) {
    float: right;
    padding-left: 20px;
}

#platform-info .fl ul {
    padding: 0;
}

#platform-info .fl ul > li {
    float: left;
    width: 33.33333%;
    text-align: right;
    margin: 10px 0;
    color: #c4c4c4;
}

#platform-info .quanxian {
    padding: 20px 0 12px;
}

#platform-info .info1 > p:nth-child(2) {
    margin-bottom: 0;
}

#platform-info .fr > p {
    line-height: 32px;
    margin-top: 16px;
    font-size: 16px;
}

#platform-info .mt5info {
    margin-top: 50px;
}

#platform-info .frmt5info {
    padding-top: 20px;
}

#fangan h2 {
    text-align: center;
    margin: 50px 0 60px 0;
}

#fangan div.mainfanfan {
    border-top: 1px solid #a2a2a2;
    border-bottom: 1px solid #a2a2a2;
}

#fangan div.mainfanfan:nth-child(3) {
    margin-top: 50px;
    margin-bottom: 60px;
}

#fangan ul {
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;
}

#fangan li {
    width: 20%;
    float: left;
    height: 80px;
    text-align: center;
    line-height: 80px;
}

#fangan li > i {
    float: left;
}

#fangan .xitong {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 60px;
    margin-top: 50px;
}

#fangan .xitong li {
    width: 25%;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

#fangan .container > p {
    padding: 0 60px 60px 0;
    text-align: center;
    line-height: 30px;
}

#fangan .container > p.padding10 {
    padding-bottom: 0;
    line-height: 18px;
}

.whitefangan .quotes {
    width: 80px;
    height: 80px;
}

.whitefangan .quotes img {
    width: 100%;
}

.whitefangan div {
    padding: 0;
    margin: 50px 0;
}

.whitemodule.uneven .whitefangan div:nth-child(2) {
    text-align: center;
}

.whitemodule.bg-w .whitefangan > div:nth-child(1) {
    text-align: center;
}

.whitemodule .whitefangan h3 {
    margin-bottom: 40px;
}

.whitemodule .whitefangan p {
    line-height: 30px;
}

#soft {
    background-color: #000;
    padding-bottom: 20px;
}

#soft > .container > h2 {
    text-align: center;
    margin: 40px 0 30px 0;
    color: #fff;
}

#soft > .container > .line2 {
    width: 100px;
    border-bottom: 3px solid #65c6ff;
    margin: 0 auto 30px;
}

#soft .softdiv > h4 {
    color: #fff;
    margin-bottom: 20px;
}

#soft .softdiv > p {
    color: #c4c4c4;
    margin-bottom: 30px;
}

.five {
    float: left;
    width: 20%;
    min-width: 140px;
}

#service {
    background-color: #f6f6f6;
}

#service h2 {
    text-align: center;
    margin: 50px 0 60px;
}

#service ul {
    overflow: hidden;
}

#service ul li {
    line-height: 30px;
    padding-bottom: 60px;
}

#service ul li > i {
    float: left;
    display: block;
    width: 40px;
    height: 30px;
}

#service ul li:nth-child(1) > i {
    background: url("../img/1.png") no-repeat;
}

#service ul li:nth-child(2) > i {
    background: url("../img/2.png") no-repeat;
}

#service ul li:nth-child(3) > i {
    background: url("../img/3.png") no-repeat;
}

#service ul li:nth-child(4) > i {
    background: url("../img/4.png") no-repeat;
}

#service ul li:nth-child(5) > i {
    background: url("../img/5.png") no-repeat;
}

#service ul li:nth-child(6) > i {
    background: url("../img/6.png") no-repeat;
}

#service ul li:nth-child(7) > i {
    background: url("../img/7.png") no-repeat;
}

#service ul li:nth-child(8) > i {
    background: url("../img/8.png") no-repeat;
}

#service ul li:nth-child(9) > i {
    background: url("../img/9.png") no-repeat;
}

#service ul li:nth-child(10) > i {
    background: url("../img/10.png") no-repeat;
}

#shuju {
    padding-bottom: 40px;
}

#shuju h2 {
    margin: 50px 0 60px 0;
    text-align: center;
}

#shuju p {
    font-size: 18px;
    text-align: center;
    padding: 0 5%;
    line-height: 32px;
}

#shuju .qihuoliebiao {
    width: 54%;
    margin-left: 23%;
    text-align: center;
    line-height: 38px;
    margin-top: 50px;
}

#shuju .qihuoliebiao > div:nth-child(1) > div {
    width: 50%;
    float: left;
    border-bottom: 1px dashed #bebebe;
}

#shuju .qihuoliebiao > div:nth-child(1) > div:nth-child(1) {
    border-right: 1px dashed #bebebe;
}

#shuju .qihuoliebiao > div:nth-child(2) > div {
    width: 33%;
    float: left;
}

#shuju .qihuoliebiao > div:nth-child(2) > div:nth-child(1),
#shuju .qihuoliebiao > div:nth-child(2) > div:nth-child(2) {
    border-right: 1px dashed #bebebe;
}

.mt4module1,
.mt4module5 {
    background-color: #f0f2f3;

}

.mt4module3 {
    background-color: #000;
}

.mt4img {
    margin-top: 100px;
}

.mt5-m2 {
    margin: 50px 0;
}

.mt5img {
    margin: 85px auto 0;
}

.mt4img > img,
.mt5img > img {
    border-radius: 8px;
    box-shadow: 0 0 16px #666;
}

h3 {
    padding: 40px 0 10px 0;
}

.mt4module3 h3 {
    color: #fff;
}

.mt4module5 h3 {
    margin-bottom: 20px;
    padding: 0;
}

.mt4module5 .container > div:nth-child(2) h3 {
    margin-top: 40px;
}

.mt4module3 p,
.mt4module3 li {
    color: #dbdbdb;
}

.line {
    width: 250px;
    border-bottom: 1px solid #262e38;
    margin-bottom: 40px;
}

.mt4module3 .line {
    border-color: #fff;
}

.mt4module1 ul,
.mt4module4 ul {
    padding: 30px 0 40px 0;
}

.mt4module2 ul {
    padding-bottom: 40px;
}

.mt4module3 ul {
    padding: 30px 0 90px 0;
}

.mt4module5 ul {
    padding-bottom: 20px;
}

.mt4module1 ul li,
.mt4module4 ul li {
    width: 50%;
    float: left;
    line-height: 32px;
}

.mt4module2 ul li,
.mt4module3 ul li,
.mt4module5 ul li {
    line-height: 32px;
}

.mt4module1 ul li > div,
.mt4module2 ul li > div,
.mt4module3 ul li > div,
.mt4module4 ul li > div,
.mt4module5 ul li > div {
    float: left;
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-top: 11px;
}

.mt4module1 ul li > div > img,
.mt4module2 ul li > div > img,
.mt4module3 ul li > div > img,
.mt4module4 ul li > div > img,
.mt4module5 ul li > div > img {
    width: 100%;
    float: left;
}

.mt4module5 .container > div:nth-child(2) {
    margin-top: 60px;
}

.mt4module5 .container > div:nth-child(1) {
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 30px;
}

.mt5module .mt5text {
    padding: 0 40px;
}

.mt5module .mt5line {
    width: 100%;
    border-bottom: 1px solid #707070;
    margin-bottom: 40px;
    margin-top: 20px;
}

section.mt5module.even {
    padding-bottom: 60px;
}

.mt5module .mt5text p {
    line-height: 26px;
}

.mt5module div.bg-f.mt5text {
    margin-top: 53px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

div.bg-f > h3 {
    padding: 20px 0 10px 0;
}

section.bg-b > .container > div:nth-child(1) h3 {
    color: #fff;
}

section.bg-b > .container > div:nth-child(1) p {
    color: #e8e8e8;
}

section.bg-b > .container > div.bg-f,
section.bg-w > .container > div.lasttext {
    padding-bottom: 100px;

}

/*aboutus*/
.aboutimg {
    width: 60px;
    height: 60px;
    margin: auto;
}

.aboutimg > img {
    width: 100%;
}

/*aboutus*/

/*joinus*/
.joinimg {
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.joinimg > img {
    width: 100%;
}

.moreimg {
    float: right;
    width: 10px;
    height: 10px;
    margin-right: 20px;
}

.moreimg > img {
    width: 100%;
}

#joinus .panel {
    background-color: rgba(0, 0, 0, 0);
}

#joinus .panel-title > a,
#joinus .panel-title > a:hover {
    color: #cbcbcb;
    display: block;
}

#joinus .panel-body,
#joinus .panel-body > h5 {
    color: #cbcbcb;
}

#joinus .collapsed .arrow-up,
#joinus .arrow-down {
    display: none;
}

#joinus .collapsed .arrow-down,
#joinus .arrow-up {
    display: block;
}

#joinus .arrow-up,
#joinus .arrow-down {
    float: right;
}

#joinus .arrow-up {
    top: 6px;
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    border-left: solid 1px #cbcbcb;
    border-bottom: solid 1px #cbcbcb;
}

#joinus .arrow-down {
    top: 2px;
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border-left: solid 1px #cbcbcb;
    border-bottom: solid 1px #cbcbcb;
}

#joinus .arrow-down,
#joinus .arrow-up {
    position: relative;
    /*display: inline-block;*/
    width: 8px;
    height: 8px;
    overflow: hidden;
}

/*joinus*/

/*develop*/

.develop-wrap {
    padding-bottom: 80px;
}

.developimg {
    width: 32px;
    height: 32px;
}

.developimg > img {
    width: 100%;
}

.rightdiv,
.leftdiv {
    position: relative;
}

.rightdiv > div,
.leftdiv > div {
    position: absolute;
}

.leftdiv > div {
    right: 18px;
}

.rightdiv > div:nth-child(1) {
    top: 70px;
}

.rightdiv > div:nth-child(2) {
    top: 432px;
}

.rightdiv > div:nth-child(3) {
    top: 775px;
}

.rightdiv > div:nth-child(4) {
    top: 1125px;
}

.leftdiv > div:nth-child(1) {
    top: 264px;
}

.leftdiv > div:nth-child(2) {
    top: 618px;
}

.leftdiv > div:nth-child(3) {
    top: 960px;
}

.leftdiv > div:nth-child(4) {
    top: 1294px;
}

/*develop*/

/*news start*/
.well {
    background-color: #fff;
    border: none;
    overflow: hidden;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 16px #ddd;
    margin-top: 80px;
    padding: 19px 40px;
}

h2.entry-title > a {
    color: #666;
}

.entry-title {
    font-size: 24px;
    line-height: 40px;
    color: #666;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.entry-meta {
    color: #aaa;
    margin: 10px 0 20px;
}

.entry-meta .dot {
    margin: 0 10px;
}

.entry-meta a {
    color: #AAA;
}

.entry-cover {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 0 15px;
}

a.entry-cover:after {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
    visibility: hidden;
    margin-top: -.5em;
    width: 100%;
    color: #fff;
    content: url(../img/eye-icon.png);
    text-align: center;
    font-size: 120px;
    line-height: 1;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

a.entry-cover:hover:after {
    opacity: 1;
    visibility: visible;
}

.news img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 3px 3px 0 0;
    vertical-align: middle;
    border: 0;
    z-index: 1000;
}

.entry-cover img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 3px 3px 0 0;
    background: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    vertical-align: middle;
    border: 0;
    z-index: 1000;
}

.entry-cover img:hover {
    transform: scale(1.1, 1.1);
}

.entry-content {
    line-height: 24px;
    color: #666;
}

.entry-footer {
    margin: 10px 0 0;
    /* color: #aaa; */
}

.share > li {
    color: #666;
}

.list-inline > li {
    padding-left: 0;
    padding-right: 0;
}

#share-weixin {
    background: #0cc417;
}
#share-weixin > .fa-wechat {
    padding-right: 0;
}

#share-qzone {
    background: #ffce00;
}

#share-weibo {
    background: #e6162d;
}

#share-tencent {
    background: #28a8e2;
}

.share li a {
    color: #FFF;
    font-size: 18px;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: none;
    opacity: 0.8;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.panel-specs {
    border: 0;
}

.panel-specs > .panel-heading {
    border-color: #65c6ff;
    padding: 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.widget h2,
.widget h3 {
    margin: 0;
    padding: 0;
}

.widget ul {
    margin: 0;
    padding: 0;
}

.widget ul li {
    list-style: none;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

#side-bar {
    margin-top: 80px;
    box-shadow: 0 0 16px #ddd;
}
/*news end*/

/*zhubiao start*/

.zhubiao > h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 36px;
}

.zhubiao h4 {
    text-align: center;
    margin: 60px auto 30px;
}

.zhubiao > .main-line {
    width: 235px;
    height: 1px;
    border-bottom: 4px solid #65c6ff;
    margin: auto;
}

.zhubiao > .zhubiao-img {
    margin-top: 50px;
    padding-bottom: 60px;
}

.zhubiao > .zhubiao-text {
    padding: 70px 0;
}

.zhubiao > .zhubiao-text > h5 {
    margin-bottom: 4px;
}

section.zhubiao.textcolor3 > div.col-sm-4 {
    padding: 0 48px;
    margin: 80px auto;
}

section.zhubiao.textcolor3 > div:nth-child(3) > img {
    margin-top: 30px;
}

section.zhubiao.textcolor3 > div:nth-child(5) > img {
    margin-top: 10px;
}

/*zhubiao end*/

@media (max-width: 990px) {

    .mt5module .mt5-m3 {
        margin-left: -55px;
        margin-right: 50px;
    }
}

@media (max-width: 767px) {
    .mt5module .mt5-m3 {
        margin: 0 0 0 0;
    }

    .five {
        width: 33.33333%;
    }
}

@media (min-width: 1200px) {
    .jingli {
        padding-bottom: 20px;
    }

    .mt5-m2 {
        margin-top: 30px;
    }
}

@media (max-width: 506px) and (min-width: 387px) {
    .serviceli.even {
        margin-left: 10%;
    }
}

@media (max-width: 386px) {
    .serviceli {
        margin-left: 25%;
    }
}

