#header-bg {
    width: 100%;
    height: 234px;
    background: url("../img/bg1.png") no-repeat;
}
.bgheader {
    width: 100%;
    height: 72px;
}

#platform-header {
    background-color: #fff;

}

#platform-header li {
    padding-left: 0;
}

#platform-header.scroll {
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 72px;
    box-shadow: 0 2px 3px #dfdfdf;
    background-color: #f9f9f9;
}

#platform-header li {
    height: 64px;
    line-height: 61px;
}

#platform-header li > a {
    font-size: 14px;
    display: block;
    width: 100px;
    margin: auto;
    text-align: center;
}

#platform-header li > a.active {
    border-bottom: 3px solid #65c6ff;
}
.sub-header li > a {
    font-size: 14px;
    display: block;
    width: 76px;
    margin: auto;
    text-align: center;
    color: #666;
}
#platform-info {
    padding: 100px 0;
    background: #000;
    color: #e8e8e8;
}

#platform-info h2 {
    color: #fff;
}

#platform-info .fl {
    text-align: right;
    margin-top: 65px;
}

#platform-info p {
    margin-bottom: 6px;
    color: #e8e8e8;
}

#platform-info .fl div:nth-child(7) {
    float: right;
    border-right: 1px solid #e8e8e8;
    padding-right: 20px;
}

#platform-info .fl div:nth-child(6) {
    float: right;
    padding-left: 20px;
}

#platform-info .fl ul {
    padding: 0;
}

#platform-info .fl ul > li {
    float: left;
    width: 33.33333%;
    text-align: right;
    margin: 10px 0;
    color: #c4c4c4;
}

#platform-info .quanxian {
    padding: 20px 0 12px;
}

#platform-info .info1 > p:nth-child(2) {
    margin-bottom: 0;
}

#platform-info .fr > p {
    line-height: 32px;
    margin-top: 16px;
    font-size: 16px;
}

#platform-info .mt5info {
    margin-top: 50px;
}

#platform-info .frmt5info {
    padding-top: 20px;
}
#platform-header .container{
    overflow-x: hidden;
}
.line1 {
    float: right;
    width: 100%;
    border-bottom: 3px solid #65c6ff;
    margin: 10px 0;
}



#pre,#nextRE{
    /*margin-top: 20px;*/
    /*margin-right: -72px;*/
    color: #65c6ff;
    font-size: 1.7em;
}

#pre {
    text-align: right;
}

#nextRE {
    text-align: left;
}

.clickhide{
    display:none;
}

.color-666{
   color:  #666666;
}

@media (max-width: 640px) {
    #platform-header {
        display: none;
    }
}