body{
	background: #fff;
    font-size: 14px;
}
#header{
	position: relative;
	background-image:-webkit-linear-gradient(90deg,#fff,#fff) ;
	background-image: linear-gradient(90deg,#fff,#fff);
	background-image: -o-linear-gradient(90deg,#fff,#fff);
	background-image: -ms-linear-gradient(90deg,#fff,#fff);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,
	startColorstr=#fff,endColorstr=#fff);
	-ms-filter: 'progid:DXImageTransform.Misrosoft.gradient(GradientType=1, startColorstr=#fff,endColorstr=#fff)';
}

#nav.scroll .navbar-toggle .icon-bar{background:#202020;}


#productdetail{}
.work-cell .row{padding: 60px 0;}
.work-cell img{max-width: 100%}
.work-cell .noborder{border:none}
.work-cell h2{font-size: 30px;font-weight: 200;color: #0085d4;margin-bottom: 30px;}
.work-cell div{color: #262626;font-size:18px;margin-bottom: 10px;}
.work-cell p{color: #262626;line-height: 1.8;font-size: 14px;}
.work-cell img{text-align: center}
#bgnav{position:absolute;z-index:3;width:100%;text-align:center;bottom:20px;}
#bgnav span{cursor:pointer;display:inline-block;margin:0 3px;height:7px;width:7px;overflow:hidden;background:#b2e5e9;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;}

/*轮播图start*/
#myCarousel {
    margin-top: 72px;
}
#myCarousel .carousel-text a{
	color: #fff;
}
#myCarousel .carousel-caption{
	background:rgba(0,0,0,.3);
	filter:alpha(opacity=30) ;
	left: 0;
	right: 0;
    top: 10%;
    bottom: 10%;
}
#myCarousel .carousel-caption {
    padding: 0 !important;
}
#myCarousel .carousel-caption .carousel-text {
    width: 100%;
    height: 100%;
}
#myCarousel h2{
    margin-top: 15.5%;
}
#myCarousel h4{
    margin-top: 2%;
}
#myCarousel .car-text {
    margin-top: 2%;
}
#myCarousel .car-text .line {
    display: block;
    margin: 0 auto;
    width: 10%;
    height: 6px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}
#myCarousel .car-text img{
	margin-top: -50px;
}
#myCarousel .carousel-inner .item{
	width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 40%;
}

#myCarousel .carousel-inner .item > img {
    width: 100%;
}
/*轮播图end*/


#bgnav span.cur{width:40px}
.intro-detail{
	margin: 0 0!important;
}

#ideas .idea-product{
	background-color: #121212;
	text-align: center;
}
#ideas .idea-more{
	background-color: #fff;
}
#ideas .row{
	margin-top: 50px;
}
#ideas .idea-text{
	/*margin: 12px 97px 47px 0;*/
	padding: 30px 20px;
	text-align: center;
}
#ideas h4{
	margin: 25px 0 25px 0;
}
#ideas .MT4-solve{
	border-top: solid 2px #fbce1b;
}
#ideas .VSFC{
	border-top:solid 2px #40c4ff;
}
#ideas .paltform-sovle{
	border-top: solid 2px #15e787;
}
#ideas .more-button{
	background:  #a9acb0;
	color: #fff;
	height: 60px;
	padding: 0;
    text-align: center;
}
#ideas .more-button a{
	color: #fff;
    display: block;
}
#ideas .more-button > a:nth-child(1) {
    padding: 20px 0;
}
#ideas .more-button .line {
    display: block;
    margin: -20px auto 0;
    width: 62%;
    height: 6px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    /*margin-top: -20px;*/
}
#ideas .more-button img{
	margin-top: -12px;
	margin-left: -105px;
}

.idea-read-more > a {
    display: block;
}


#MT4-platform,#work-CRM{
	background-color: #8d9196;
	margin-top: 50px;
}
#work-CRM img{
    width: 113%;
}
#MT4-platform .backAgent,#work-CRM .work-crm,#work-platform .platform{
	background-color: #121212!important;
	background:rgba(0,0,0,.6);
	filter:alpha(opacity=30) ;
	width: 100%;
}
#MT4-platform ul,#work-platform ul{
	list-style: url("../img/ul-list-style.png");
	margin: 0;
	padding: 0;
    margin-top: 20px;
	margin-left: -23px;
}
#MT4-platform h4,#work-CRM h4,#work-ASIC h4,#work-LPS h4,#work-ASIC h4{
    padding: 19px 0 10px;
}
#MT4-platform ul>li{
    float: left;
    margin: 4px 35px;

}
#MT4-platform ul>li{
	padding: 2px;
}
#MT4-platform div,#work-CRM div,#work-platform div，#work-LPS div{
    line-height: 28px;
}
#MT4-platform span,#work-CRM span,#work-LPS span,#work-ASIC span{
    border-bottom: solid 1px;
    width: 300px;
    display: inline-block;
    padding-bottom: 20px;
}
#work-LPS span,#work-ASIC span{
	border-color: #262e38;
}
.button-more{
    border-radius: 18px;
    width: 160px;
    background: #65c6ff;
    color: #000;
    border: 0;
    text-align: center;
    margin: 17px 0px;
}
.carousel-indicators .active{
	height:5px;
    width: 9%;
	/*width: 70px;*/
}
.carousel-indicators li{
	height:5px;
    width: 9%;
	/*width: 70px;*/
}

#work-platform h2,#work-CRM h2,#ideas h2{
	text-align: center;
	color: #fff;
	padding: 26px 0 24px;
}
#MT4-platform h2:nth-child(1) {
    text-align: center;
    color: #fff;
    padding: 26px 0 20px;
}
#MT4-platform h2:nth-child(3) {
    text-align: center;
    color: #fff;
    padding: 6px 0 26px;
}
#work-CRM h2:nth-child(1) {
    padding: 26px 0 18px;
}
#work-CRM h2:nth-child(3) {
    padding: 10px 0 26px;
}
.work-crm{
    padding: 60px 35px;
}
.work-crm > .container {
    padding: 0 50px;
}
#MT4-platform .MT4-left-top{
	padding: 60px 30px;
}
#work-platform .bulid-start:after{
    background: url('../img/bulid_start.png') no-repeat;
}
#work-platform .workPlatform{
    color: #fff;
    background-color: #a9acb0;
    width: 100%;
}
#work-platform ul{
    float: left;
    margin: 99px
}
#work-platform dt{
    /*width: 60px;*/
    height: 60px;
}
#work-platform p{
	margin-top: 50px;
	line-height: 1.8;
}
#work-platform .bulid-start{
    background: url('../img/bulid_start.png') no-repeat;
}
#work-platform .bulid-walk{
    background: url('../img/bulid_walk.png') no-repeat;
}
#work-platform .bulid-run{
    background: url('../img/bulid_run.png') no-repeat;
}
#work-platform .bulid-flag{
    background: url('../img/bulid_flag.png') no-repeat;
}
#work-platform .bulid-step{
	margin-top: 58px;
	margin-bottom: 50px;

}
#work-platform span{
	display: block;
	border-bottom: dashed 2px #fff;
	/*margin-left: 45px;*/
	padding-top: 22px;
	/*width: 155px;*/
}
.platform-list {
    text-align: center;
}
.idea-hide-read-more {
    display: none;
}
.button-more.idea-hide-read-more {
    margin: 30px auto 0;
}
#client{padding:30px 0 50px}
#client h2{font-size:36px;font-weight:200;margin-bottom:30px;color:#202020;text-align:center}
#client a{display:inline-block;height:100px;background-position:center top;background-repeat:no-repeat}
#client a:hover{background-position:center bottom;}
#client .client1{background-image:url(../img/bank-mate.png)}
#client .client1:hover{background-position-y: -81px;}

#client .client2{background-image:url(../img/bank-CLE.png);background-position-x: 33px;}
#client .client2:hover{background-position-y: -86px;background-position-x: 33px;}
#client .client3{background-image:url(../img/bank-glod.png);background-position-y: 17px;    background-position-x: 23px;}
#client .client3:hover{background-position-y: -94px;    background-position-x: 23px;}
#client .client4{background-image:url(../img/bank-brokers-1.png);background-position-x: 59px;background-size: 73%}
#client .client4:hover{background-position-y: -103px; background-position-x: 59px;background-size: 73%}
#client .client5{background-image:url(../img/bank-HSBS.png)}
#client .client5:hover{background-position-y: -81px;}
#client .client6{background-image:url(../img/bank-hengsh-1.png);background-position-y: 1px;}
#client .client6:hover{background-position-y: -95px;}
#client .client7{background-image:url(../img/bank-china.png);background-position-y: -3px;}
#client .client7:hover{background-position-y: -96px;}
#client .client8{background-image:url(../img/bank-contact.png);background-position-y: -7px;}
#client .client8:hover{background-position-y: -85px;}

@media (max-width: 767px) {
	#nav .navbar-toggle .icon-bar{background:#40c4ff;}
	#footerMenu{
		padding: 25px 0 0px;
	}
    .idea-read-more {
        display: none;
    }
    .idea-hide-read-more {
        display: block;
    }
    #MT4-platform h2 {
        margin-top: 0;
    }
    #work-platform div.bulid-step {
        display: none;
    }
    #work-platform div.build-step {
        display: block;
    }
    #work-CRM h2,#work-platform h2,#ideas h2,#MT4-platform h2{
        font-size: 24px;
    }
    #MT4-platform h2:nth-child(3) {
        padding-top: 20px;
    }
    .button-more {
        margin: 17px auto;
    }
	#client a{width:100%;}
	#client .odd{padding-right:0;}
	#client .even{padding-left:0;}
	#client .client1,#client .client3,#client .client5,#client .client7,#client .client9{border-right:dashed 1px #eaeaea}
	#client .client1,#client .client2,#client .client3,#client .client4,#client .client5,#client .client6{border-bottom:dashed 1px #eaeaea}
	#client .client9{border-bottom:dashed 1px #fff}
    #ideas {
        margin-top: 72px;
    }
}

@media(min-width:768px) {
	#client .row{margin:0 auto;}
	#client a{float:left;width:256px;;}
	#footerMenu{
		padding: 40px 0 1px;

	}
	#footerMenu .companyinfo{
		padding-top: 5px;
        padding-bottom: 5px;
	}
	#footerMenu .follow-us dt{width: 190px;}
	#footerMenu .contact{text-align: right}
    #ideas .MT4-solve{
        margin-left: 4%;
    }
    #work-platform div.build-step {
         display: none;
     }
}
@media (min-width: 540px) and (max-width: 767px){
    .idea-text {
        width: 50%;
        margin-left: 25%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
	#client .row{width:662px;}
	#client .client1,#client .client3,#client .client5,#client .client7{border-right:dashed 1px #eaeaea}
	#client .client1,#client .client2,#client .client3,#client .client4,#client .client5,#client .client6{border-bottom:dashed 1px #eaeaea}
	#client .client7,#client .client8,#client .client9{border-bottom:dashed 1px #fff}


}
@media(min-width: 992px)and (max-width: 1199px){
	#client .row{width:883px;}
	#client .client1,#client .client2,#client .client5,#client .client4,#client .client7,#client .client9{border-right:dashed 1px #eaeaea}
	#client .client1,#client .client2,#client .client3,#client .client4,#client .client5,#client .client6{border-bottom:dashed 1px #eaeaea}
	#client .client9{border-bottom:dashed 1px #fff}
}

@media(min-width: 1200px) {
    #work-CRM img {
        width: 80%;
    }
	#client .row{width:1104px;}
	#client .client1,#client .client2,#client .client3,#client .client6,#client .client5,#client .client7,#client .client9{border-right:dashed 1px #eaeaea}
	#client .client1,#client .client2,#client .client3,#client .client4{border-bottom:dashed 1px #eaeaea}
	#client .client6,#client .client7,#client .client8,#client .client9{border-bottom:dashed 1px #fff}

	#footerMenu dd{
		white-space: nowrap;
	}

}
.fa-wechat{
	padding-right: 25px;
}

.addr{
	margin-left: 710px;
	margin-bottom: 15px;
	margin-top: -12px;
}
.contact-us{
	margin-left: 80px;
}

.build-step {
    margin-top: 50px;
}

.build-step > div {
    min-width: 240px;
}

.build-step > div > div {
    float: left;
    text-align: center;
    margin: 20px 0;
}

.build-step > div > div:nth-child(1) {
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 28px;
}

#work-platform .build-step > div > div:nth-child(2) > p {
    margin-top: 0;
    line-height: 1.2;
}