html,body{
    color: #fff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',
Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun-ExtB,sans-serif;

}
a{
    color:#337ab7 ;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
}
.container>.navbar-header{
    margin-left: -4.5%;
}
#footerMenu p{
    margin: 0;
}
a:hover,a:focus{
    text-decoration:none;
    color: #1155df;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav{
    /*background: transparent;*/
    padding: 9px 0 1px;
    background: #2b2b2a;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -ms-transition: background 0.3s ease-in;

    }
#nav a{
    color: #cdcdcd;
    background:none;
    font-size: 14px;
}
#nav a.free{
    color: #fff;
    border:solid 1px #fff;
    text-align: center;
    padding: 8px 20px;
    margin: 0 0 0 15px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color .3s;
    transition: background-color .3s;
}

#nav a:hover{
    color: #40c4ff!important;
}
#nav .dropdown-menu a:hover{
    border-bottom:0;
    color: #40c4ff;
}
.navbar-nav > li > .dropdown-menu{
    border-radius: 7px;
    margin-top: 0;
    background: rgba(0,0,0,0.6);
}
#clickTop{
    position:fixed;
    z-index:100;
    padding:0;
    margin:0;list-style:none;
    border:solid 1px #e5e5e5;
    bottom:120px;right:20px

}
#clickTop a{
    background: url(../img/top.png)no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 10px;
}
#nav .navbar-brand{
    position: relative;
    top: 5px;
    width: 180px;
    height: 61px;
    padding: 0;
    margin-right: 12px;
    background: url(../img/logo_write.png) no-repeat;
    background-size: 85% auto;

}
#nav.scroll .dropdown-menu{
    background: rgba(248,248,248,.9);
}
#nav.scroll .navbar-brand{
    position: relative;
    top:5px;
    width: 180px;
    height: 61px;
    padding: 0;
    margin-right: 12px;
    background: url("../img/logo_blue.png") no-repeat;
    background-size: 85% auto;
}
#nav .navbar-brand:hover,#nav .language:hover{
    border-bottom: none;
}
#nav .language-ico{
    position: relative;
    top:5px;
}
#nav.scroll{
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 4px; rgba(0,0,0,.25);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.25);
    box-shadow: 0 1px 4px rgba(0,0,0,.25);
}

#nav .language,#nav.scroll .language{
    background: url("../img/en_gray.png") no-repeat;
    margin-top: 14px;
    margin-left: 40%;
}
#nav.scroll .language:hover,#nav .language:hover{
    background: url("../img/en_blue.png") no-repeat;
}
.mega-menu-2 a{white-space:nowrap}
.mega-menu-2 { min-width: 400px !important; margin-left: -69%!important;}
.mega-menu-2 ul { list-style: none;margin: 0px -16px 5px; float: left; width: 125px; }
.mega-menu-2 ul.mega-wide { width: 270px; }
.mega-menu-2 ul.two-column{width: 270px;}
.mega-menu-2>ul>li{
    line-height: 35px;
}
#nav .mega-menu-2>li,#nav .mega-menu-2>li>a{
    float: left;
}
.dropdown-menu>li>a{
    line-height: 30px;
}
*{
    box-sizing: border-box;
}
#contact {
    margin-top: 100px;
    -webkit-perspective:1000;
    transform-style:preserve-3d;
}

#contact .filp{
    position: relative;
    transition:0.6s;
    transform-style: preserve-3d;

}
#contact > h2 {
    color: #666;
    text-align: center;
}

#contact > ul {
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
}

#contact > ul > li {
    float: left;
    min-width: 80px;
}

#contact > ul > li > i {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
}

#contact > ul > li:nth-child(1) > i {
    background: url("../img/touchsprite.png")0 0 no-repeat;
}
#contact > ul > li:nth-child(2) > i {
    background: url("../img/touchsprite.png")-60px 0 no-repeat;
}
#contact > ul > li:nth-child(3) > i {
    background: url("../img/touchsprite.png")-120px 0 no-repeat;
}
#contact > ul > li:nth-child(4) > i {
    background: url("../img/touchsprite.png")-180px 0 no-repeat;
}
#contact > ul > li:nth-child(1) > i:hover {
    background: url("../img/touchsprite.png")0 -60px no-repeat;
    /*transform: rotateY(180deg);*/
}
#contact > ul > li:nth-child(2) > i:hover {
    background: url("../img/touchsprite.png")-60px -60px no-repeat;
    /*transform: rotateY(180deg);*/
}
#contact > ul > li:nth-child(3) > i:hover {
    background: url("../img/touchsprite.png")-120px -60px no-repeat;
    /*transform: rotateY(180deg);*/
}
#contact > ul > li:nth-child(4) > i:hover {
    background: url("../img/touchsprite.png")-180px -60px no-repeat;
    /*transform: rotateY(180deg);*/
}

#contact > form {
    margin: 50px auto 40px;
}

#contact > form > input {
    margin-right: 2%;
    border: 1px solid #65c6ff;
    border-radius: 14px;
    height: 32px;
}

#contact > form > button {
    border: 1px solid #65c6ff;
    border-radius: 12px;
    background-color: #65c6ff;
    color: #fff;
    padding: 6px 20px;
}

#footerMenu{
    color: #fff;
    background-color: #000;
}
#footerMenu > div:nth-child(1) {
    padding-bottom: 50px;
}
#footerMenu .row{
    position: relative;
}
#footerMenu dt{
    font-size: 16px;
    padding-bottom: 18px;
    color: #fff;
}
#footerMenu label{
    color: #fff;
}
#footerMenu dd{
    font-size: 14px;
    padding: 4px 0;
}
#footerMenu dd,
#footerMenu dd a{
    color: #9d9d9d;
}
#footerMenu dd a:hover{
    color: #337ab7;
}
#footerMenu .follow-us a{
    color:#999;
}
#footerMenu .follow-us .leanwork_link{
    margin-right: 5px;
}
.footer-nav{
    margin-top: 40px;
}

#footerMenu {
    padding: 40px 0 1px;
}
#footerMenu .companyinfo{
    padding-top: 15px;
    border-top: solid 1px #898989;
}
#footerMenu .companyinfo p{
    text-align: center;
    color: #9d9d9d;
}
#footerMenu label{
    height: 33px;
    border-bottom: solid 2px #00a0e9;
}
#footerMenu .follow-us dt{
    width: 190px;
}
#footerMenu .contact{
    text-align: right;
}
#footerMenu .container .row dl:nth-child(3){
    padding-left: 40px;
}
#footerMenu .container .row dl:nth-child(5){
    padding-left: 66px;
}
#footerMenu .container .row dl:nth-child(6) {
    padding-left: 68px;
}

@media(max-width:320px ){
    #contact > form > input {
        margin-left: 3%;
    }
}

@media(max-width:767px ){
    .navbar-toggle{
        margin: 3px 15px 3px 0;
    }
    #nav .navbar-brand{
        top:3px;
        margin-left: 15px;
    }
    #navbar{
        position: absolute;
        right: 25px;
        width: 180px;
        background: #2aabd2;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
        -moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
        box-shadow: 0 0 5px rgba(0,0,0,.2);
    }
    #navbar li{
        margin: 0;
    }
    #navbar .dropdown-menu a{
        padding:8px 15px;
        white-space: normal;
    }
    #navbar a.free{
        margin-right: 15px;
    }
    #navbar .mega-menu-2{
        min-width: 480px!important;
        margin-left: -90%!important;
    }
    #navbar .dropdown:nth-child(2)>.mega-menu-2{
        margin-left: -90%;
    }
    #nav .mega-menu-2>li,#nav .mega-menu-2>li>a{
        float: none;
    }
    #nav.scroll .navbar-toggle .icon-bar{
        background: #202020;
    }
    #nav .navbar-right{
        border-bottom: solid 1px #2aabd2;
    }
    #sidebar{
        display: none;
    }
    #contact > form > input {
        margin-left: 7%;
    }
    #footerMenu{
        padding: 25px 0 20px;
    }
    #footerMenu .col-xs-4 {
        padding-right: 0;
    }
}
@media (min-width: 768px) {
    #nav.scroll a{
        color: #000;
        background: none;

    }
    #nav.scroll{
        background-color: #fff;
    }
    #nav.scroll a.free{
        color: #2aabd2;
        border: solid 1px #2aabd2;
    }
    #nav.scroll a.free:hover{
        color: #fff;!important;
        background-color: #2aabd2;
    }
    #nav.scroll a.arrow-down{
        border-left:solid 1px #2aabd2;
        border-bottom: solid 1px #202020;
    }
    #nav.scroll li.open>a,
    #nav.scroll .navbar-nav > li >a.cur{
        color: #2aabd2;
    }
    #nav.scroll .navbar-nav > li >a:hover .arrow-down,
    #nav.scroll .navbar-nav > li >a.cur .arrow-down{
        border-left: solid 1px #2aabd2;
        border-right: solid 1px #2aabd2;
    }
    #footerMenu{
        padding: 40px 0 1px;
    }
    #footerMenu .companyinfo{
        padding-top: 15px;
    }
    #footerMenu .follow-us dt{
        width: 190px;
    }
    #footerMenu .contact{
        text-align: right;
    }
}

@media (min-width: 768px)and (max-width: 991px){
    #nav .navbar-brand{
        margin-right: 20px;
    }
    .navbar-left li{
        margin: 0;
    }
    #nav a {
        padding: 10px;
    }
    #nav a.free{
        padding-left: 10px;
        padding-right: 10px;
    }

    #navbar.mega-menu-2 ul{
        list-style: none;
        margin: 0 20px 5px 0;
        float: left;
        width: 125px;
    }
    #navbar .mega-menu-2 ul.two-column{
        width: 270px;
    }
    #navbar .mega-menu-2 ul.mega-wide{
        width: 100%;
        margin: 0;
    }
}
@media(min-width: 992px) and (max-width: 1199px){
    #nav a{margin: 0px 10px}
    .navbar-left li{margin: 0 7px;  }
}
@media (min-width: 1200px) {
    #nav a{margin: 0 37px;}
    #footerMenu dd{
        white-space: normal;
    }

}






