.bg-black {
    background-color: black;
}

/*register start*/
.register-icon {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    border: solid 5px #65c6ff;
}

.register-p {
    color: #666666;
    margin-left: 33%;
    margin-top: -7px
}

.register-p li{
    line-height: 26px;
    padding-left: 26px;
    background-image: url("../img/ul-list-style.png");
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position-y: 10px;
}
.register-h3 {
    color: #2e95e8;
    margin-bottom: 20px;
}

.Kingdom {
    background: url(../img/reg-england.jpg) no-repeat;
    background-size: 255%;
    background-position-x: -84px;
    background-position-y: -68px;
}

#Hongkong {
    margin-top: 150px;
}

#Hongkong, #Seychelles, #Belize, #Belize, #Cayman {
    margin-bottom: 50px;
}

#Australia {
    margin-bottom: 150px;
}

.Hongkong {
    background: url(../img/reg-hongkong.png) no-repeat;
    background-position-x: -51px;
    background-position-y: -21px;

}

#Hongkong span, #Seychelles span, #Belize span, #Cayman span ,#Australia span{
    margin-top: -3px;
    margin-left: 91%;
    border-bottom: solid 5px #65c6ff;
    display: inline-block;
}

#Hongkong h3, #Seychelles h3, #Belize h3, #Cayman h3,#Australia h3 {
    margin-top: 33px;
    margin-bottom: 19px;
    margin-left: 18px;
    width: 230px;
}

#Hongkong p, #Belize p, #Cayman p ,#Seychelles p,#Australia p{
    margin-left: 8%;
    margin-top: -15px
}

.BVI {
    background: url(../img/reg-BVI.png) no-repeat;
    background-size: 180%;
    background-position-x: -48px;
    background-position-y: -1px;
}

.Seychelles {
    background: url(../img/reg-Seychelles.png) no-repeat;
    background-size: 178%;

}

.Belize {
    background: url(../img/reg-Belize.png) no-repeat;
    background-size: 145%;
    background-position-x: -24px;
    background-position-y: -7px;
}

.Vanuatu {
    background: url(../img/reg-Vanuatu.png) no-repeat;
    background-size: 146%;
    background-position-x: -29px;
}

.Cayman {
    background: url("../img/reg-Cayman.png") no-repeat;
    background-size: 173%;
    background-position-x: -42px;
}

.Zealand {
    background: url(../img/reg-Zealand.png) no-repeat;
    background-size: 174%;
    background-position-x: -36px;

}

.Australia {
    background: url(../img/reg-Australia.png) no-repeat;
    background-size: 179%;
    background-position-x: -26px;
}

.Samoa {
    background: url("../img/reg-Samoa.png") no-repeat;
    background-size: 180%;
    background-position-x: -33px;

}

/*register end*/

/*company start*/

.color-fff {
    background: #fff;
    color: #666;
}

#company {
    background: #f4f5f7;
}

#list-group .list-group {
    background: #fff;
}

#company .company-head {
    background: #191919;
    height: 60px;
    width: 100%;
}

#company span {
    /*color: #8b8787;*/
    color: #666;
}

#company #search_list > li > span:nth-child(2),
#company #search_list > li > span:nth-child(4),
#company #search_list > li > span:nth-child(6) {
    color: #04bba6;
}

#company .company-site {
    display: inline-block;
    margin-bottom: -8px;
    color: #0da0f9;
}

#company .low-save,
#company .open-fee,
#company .fee-out,
#company .fee-in {
    text-align: center;
}

#company .company-croci {
    display: inline-block;
    height: 10px;
    width: 35px;
    margin-left: 15px;
    margin-top: 4px;
}

#company .green {
    background: #59c2b6;
}

#company .red {
    background: #cb4c5e;
}

#company .open-bank {
    width: 29%;
    display: inline-block;
}

#company .open-fee {
    width: 21%;
    display: inline-block;
}

#company .low-save,
#company .fee-out,
#company .fee-in {
    width: 11%;
    display: inline-block;
}

#company #search_list > li {
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding-left: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#company #search_list > li:first-child {
    height: 52px;
}

#company #search_list > li:nth-child(2) {
    padding-top: 16px;
    padding-bottom: 16px;
}

#company #search_list > li:nth-child(2) > span {
    color: #666;
}

#company #search_list > li:first-child > .company-croci {
    margin-top: 19px;
    margin-right: 15px;
    margin-left: 0;
}

#company #search_list > li:first-child > span {
    float: right;
}

#company .tag-text {
    margin-right: 15px;
    margin-top: 15px;
}

#search_list dl {
    color: #8b8787;
}

#getHeight {
    position: relative;
}

#moveHeight {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 20px;
    padding-bottom: 40px;
    /*margin-top: 41px;*/
    display: none;
}

#company .comp-icon {
    margin-bottom: 25px;
}

#company .comp-right {
    color: #a6a6a6;
}

#company .comp-name {
    /*text-align: center;*/
}

.span-exchange {
    width: 66px;
    height: 30px;
    content: '';
    border-radius: 25px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    margin-top: 10px;
    color: #fff;
    font-size: 17px;
    text-align: center;
    line-height: 31px;
}

.comp-exchange {
    /*margin-left: 60px;*/
    margin-top: 42px;
    /*margin-bottom: 40px;*/
}

#company .out-span {
    background: #40c4bf;
    font-weight: bolder;
}

#company .in-span {
    background: #f75e62;
    font-weight: bolder;
}

#affect {
    text-align: center;
    padding: 60px 0;
    /*margin-top: 50px;*/
    color: #666;
    background-color: #fff;
    margin-top: 1px;
}

#affect h4 {
    margin-bottom: 36px
}

#affect h4:nth-child(3) {
    margin-top: 50px;
}

.img-position img {
    width: 30px;
}

.company-dashed-bottom {
    border-bottom: dashed 2px #666;
}

.company-dashed-right {
    border-right: dashed 2px #666;
    margin-bottom: 10px;
}

/*company end*/
/*paizhao start*/
#crm-ul > ul {
    margin-left: 10px;
}

#crm-ul > ul > li > i {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 20px;
}

#crm-ul > ul > li > i > img {
    width: 100%;
}

.licence-fca > label {
    padding: 0 35px;
    font-weight: normal;
}

.licence-fca > label:nth-child(1) {
    margin-left: -35px;
}

.clear-maginleft {
    margin-left: 0;
}

.license {
    padding: 84px 0;
}

.license p {
    color: #666;
}

.license > div > p {
    margin-top: -26px;
}

.license > div:nth-child(2n) {
    text-align: right;
}

.license > div:nth-child(2n+1) > p {
    padding-left: 150px;
}

.license > div:nth-child(2n) > p {
    padding-right: 150px;
}

/*paizhao end*/

/*sanfang start*/
#threePay {
    background: #fff;
}

#threePay a {
    display: inline-block;
    height: 150px;
    width: 300px;
    margin-top: 41px;
    margin-left: 90px;
    background-repeat: no-repeat;
}

#threePay .pay1 {
    background-image: url("../img/pay-dinpay-gray.png");
    background-size: 92%;
}

#threePay .pay1:hover {
    background-image: url("../img/pay-dinpay-color.png");
    background-size: 92%;
}

#threePay .pay2 {
    background-image: url("../img/pay-huichao-gray.png");
    background-size: 60%;
}

#threePay .pay2:hover {
    background-image: url("../img/pay-huichao-color.png");
    background-size: 60%;
}

#threePay .pay3 {
    background-image: url("../img/pay-baofoo-gray.png");
    background-size: 76%;
}

#threePay .pay3:hover {
    background-image: url("../img/pay-baofoo-color.png");
    background-size: 76%;
}

#threePay .pay4 {
    background-image: url('../img/pay-allIn-gray.png');
    background-size: 84%;
}

#threePay .pay4:hover {
    background-image: url('../img/pay-allIn-color.png');
    background-size: 84%;
}

#threePay .pay5 {
     background-image: url("../img/pay-ips-gray.png");
     background-size: 100%;
 }

#threePay .pay5:hover {
    background-image: url("../img/pay-ips-color.png");
    background-size: 100%;
}

#threePay .pay6 {
    background-image: url("../img/pay-lianlian-gray.png");
    background-size: 90%;
    background-position-y: 12px;
}

#threePay .pay6:hover {
    background-image: url("../img/pay-lianlian-color.png");
    background-size: 90%;
    background-position-y: 12px;
}

#threePay .pay7 {
    background-image: url("../img/pay-wanjia-gray.png");
    background-size: 90%;
}

#threePay .pay7:hover {
    background-image: url("../img/pay-wanjia-color.png");
    background-size: 90%;
}

#threePay .pay8 {
    background-image: url("../img/pay-lexin-gray.png");
    background-size: 85%;
}

#threePay .pay8:hover {
    background-image: url("../img/pay-lexin-color.png");
    background-size: 85%;
}

#threePay .pay9 {
    background-image: url("../img/pay-all-gray.png");
    background-size: 65%;
    background-position-y: 12px;
}

#threePay .pay9:hover {
    background-image: url("../img/pay-all-color.png");
    background-size: 65%;
    background-position-y: 12px;
}

#threePay .pay10 {
    background-image: url("../img/pay-wechat-gray.png");
    background-size: 90%;
}

#threePay .pay10:hover {
    background-image: url("../img/pay-wechat-color.png");
    background-size: 90%;
}

#threePay .pay11 {
    background-image: url("../img/pay-online-gray.png");
    background-size: 84%;
}

#threePay .pay11:hover {
    background-image: url("../img/pay-online-color.png");
    background-size: 84%;
}


/*sanfang end*/

/*crm start*/
.crm {
    padding: 60px 0;
}
.crm * {
    color: #666;
}
.bg-f9f9f9 {
    background-color: #f9f9f9;
}
.crm .crm-line {
    width: 255px;
    height: 2px;
    background-color: #000;
    margin-top: 20px;
    margin-bottom: 13px;
}
.crm li {
    line-height: 26px;
    padding-left: 26px;
    background-image: url("../img/ul-list-style.png");
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position-y: 10px;
}
.crm h6 {
    font-weight: bold;
}
.crm .crm-text1 {
    margin-top: 60px;
}
.crm .crm-text2 {
    margin-top: 10px;
}
.crm .crm-text3 {
    margin-top: 60px;
}
.crm .crm-text4 {
    margin-top: 20px;
}
.crm .crm-text5 {
    margin-top: 15px;
}
.crm .crm-text5 p {
    margin-top: 10px;
}
/*crm end*/

/*paizhao start*/
/*liudong strat*/
.adv-img {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 40px;
}

#clearing-adv .adv-img-contact {
    background: url(../img/clear-contact.png) no-repeat;
    background-size: 100%;
}

#clearing-adv h2 {
    margin: 55px;
}

#clearing-adv .adv-img-DB {
    background: url("../img/clearl-DB.png") no-repeat;
    background-size: 100%;
}

#clearing-adv .adv-img-LPS {
    background: url("../img/claer-LPS.png") no-repeat;
    background-size: 100%;
}

#clearing-adv .adv-img-product {
    background: url("../img/clear-product.png") no-repeat;
    background-size: 100%;
}

#clearing-adv .adv-text {
    margin-left: 138px;
    margin-top: -50px;
    margin-bottom: 50px;
}

.cfn-commont {
    height: 90px;
    display: inline-block;
    min-width: 300px;
}

#clearing-adv .clearing-SYSTEMS {
    background: url(../img/clearing-SYSTEMS.png) no-repeat;
    background-size: 34%;
    background-position-x: 60%;
}

#clearing-adv .clearing-SYSTEMS:hover {
    /*filter: Alpha(opacity=10);-moz-opacity:.1;opacity:0.1;*/
    background: url(../img/clearing-SYSTEMS-color.png) no-repeat;
    background-size: 34%;
    background-position-x: 60%;
}

#clearing-adv .clearing-CLEARINC {
    background: url("../img/clearing-CLEARINC.png") no-repeat;
    background-size: 34%;
    background-position-x: 60%;
}

#clearing-adv .clearing-CLEARINC:hover {
    background: url("../img/clearing-CLEARINC-color.png") no-repeat;
    background-size: 34%;
    background-position-x: 60%;

}

#clearing-fast {
    background: #191919;
    margin-top: 70px;
}

#clearing-fast {
    margin: 0 0 20px;
    line-height: 25px;
}

#clearing-fast .fast-img {
    margin-top: 55px;
    margin-bottom: 40px;
}

.color-c8c8c8 {
    color: #c8c8c8;
    padding-top: 58px;
    margin-top: 58px;
    padding-bottom: 35px;
}

#clearing-bank a {
    height: 121px;
    width: 250px;
    display: inline-block;
}

#clearing-bank .bankPay1 {
    background: url(../img/clearing-JPM-gray.png) no-repeat;
    background-size: 75%;
    background-position-x: 34px;
    background-position-y: 42px;
}

#clearing-bank .bankPay1:hover {
    background: url("../img/clearing-JPM.png") no-repeat;
    background-size: 75%;
    background-position-x: 34px;
    background-position-y: 42px;
}

#clearing-bank .bankPay2 {
    background: url(../img/clearing-BNP-gray.png) no-repeat;
    background-size: 71%;
    background-position-x: 36px;
    background-position-y: 8px;
}

#clearing-bank .bankPay2:hover {
    background: url("../img/clearing-BNP.png") no-repeat;
    background-size: 71%;
    background-position-x: 36px;
    background-position-y: 8px;
}

#clearing-bank .bankPay3 {
    background: url(../img/clearing-BARCLAYS-gray.png) no-repeat;
    background-size: 85%;
    background-position-x: 20px;
    background-position-y: 34px;
}

#clearing-bank .bankPay3:hover {
    background: url("../img/clearing-BARCLAYS.png") no-repeat;
    background-size: 85%;
    background-position-x: 20px;
    background-position-y: 34px;
}

#clearing-bank .bankPay4 {
    background: url(../img/clearing-UBS-gray.png) no-repeat;
    background-size: 66%;
    background-position-x: 31px;
    background-position-y: 36px;
}

#clearing-bank .bankPay4:hover {
    background: url("../img/clearing-UBS.png") no-repeat;
    background-size: 66%;
    background-position-x: 31px;
    background-position-y: 36px;
}

#clearing-bank .bankPay5 {
    background: url(../img/clearing-Goldman-gray.png) no-repeat;
    background-size: 57%;
    background-position-x: 57px;
    background-position-y: 37px;
}

#clearing-bank .bankPay5:hover {
    background: url("../img/clearing-Goldman.png") no-repeat;
    background-size: 57%;
    background-position-x: 57px;
    background-position-y: 37px;
}

#clearing-bank .bankPay6 {
    background: url(../img/clearing-CREDITS-gray.png) no-repeat;
    background-size: 86%;
    background-position-x: 16px;
    background-position-y: -21px;
}

#clearing-bank .bankPay6:hover {
    background: url("../img/clearing-CREDITS.png") no-repeat;
    background-size: 86%;
    background-position-x: 16px;
    background-position-y: -21px;
}

#clearing-bank .bankPay7 {
    background: url(../img/clearing-Mor-gray.png) no-repeat;
    background-size: 73%;
    background-position-x: 31px;
    background-position-y: -6px;
}

#clearing-bank .bankPay7:hover {
    background: url("../img/clearing-Mor.png") no-repeat;
    background-size: 73%;
    background-position-x: 31px;
    background-position-y: -6px;

}

#clearing-bank .bankPay8 {
    background: url(../img/clearing-America-gray.png) no-repeat;
    background-size: 78%;
    background-position-x: 40px;
    background-position-y: 23px;
}

#clearing-bank .bankPay8:hover {
    background: url("../img/clearing-America.png") no-repeat;
    background-size: 78%;
    background-position-x: 40px;
    background-position-y: 23px;
}

@media (max-width: 320px) {
    #threePay a {
        margin-left: 28px;
    }

    .paizhaotext {
        margin-left: 5%;
    }

}

@media (min-width: 321px) and (max-width: 767px) {
    #threePay a {
        margin-left: 25%;
    }

    .paizhaotext {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 767px) {
    #clearing-bank a {
        width: 100%;
    }

    #crm-icon-list .col-xs-4 {
        padding: 0;
    }
}

@media (min-width: 768px) {
    #clearing-bank .row {
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #clearing-bank .row {
        width: 662px;
    }
}

@media (min-width: 992px)and (max-width: 1199px) {
    #clearing-bank .row {
        width: 883px;
    }
}

@media (min-width: 1200px) {
    #clearing-bank .row {
        width: 1104px;
    }

    #clearing-bank .bankPay1, #clearing-bank .bankPay2, #clearing-bank .bankPay3, #clearing-bank .bankPay4 {
        border-bottom: dashed 1px #eaeaea;
    }

    #clearing-bank .bankPay1, #clearing-bank .bankPay2, #clearing-bank .bankPay3,
    #clearing-bank .bankPay5, #clearing-bank .bankPay6, #clearing-bank .bankPay7 {
        border-right: dashed 1px #eaeaea;
    }

}

#clearing-build {
    background: #191919;
}

#clearing-build a {
    height: 80px;
    width: 80px;
    display: inline-block;
}

.bulid-mt4 {
    margin-left: 77px;
    margin-top: -90px;
}

.margin-bulid-65 {
    margin-top: 65px;
}

.color-only-c8c8c8 {
    color: #c8c8c8;
}

#clearing-build .container {
    padding: 35px 0 50px;
}

#clearing-build p {
    color: #c8c8c8;
    text-align: center;
    margin: 15px 0 0;
}

#clearing-build .rich-img {
    background: url("../img/clear-multi.png") no-repeat;
    background-size: 66%;
}

#clearing-build .Gold-img {
    background: url("../img/clear-flash.png") no-repeat;
    background-size: 66%;
}

#clearing-build .date-img {
    background: url("../img/clear-time.png") no-repeat;
    background-size: 66%;
}

#clearing-build .bridge-img {
    background: url("../img/clear-brigde.png") no-repeat;
    background-size: 66%;
}

#clearing-build .mt4-img {
    background: url("../img/clear-Golid-i.png") no-repeat;
    background-size: 66%;
}

#clearing-build .ddos-img {
    background: url("../img/clear-DDOS.png") no-repeat;
    background-size: 66%;
}
#clearing-fortex {
    margin: 50px;
}

#clearing-fortex a {
    display: inline-block;
    width: 260px;
    height: 100px;
}

#clearing-fortex .fortex1 {
    background: url("../img/clearing-Gold-gary.png") no-repeat;
    background-size: 100%;
    background-position-x: 4px;
    background-position-y: -40px;
    margin-right: 30px;
}

#clearing-fortex .fortex1:hover {
    background: url("../img/clearing-Gold.png") no-repeat;
    background-size: 100%;
    background-position-x: 4px;
    background-position-y: -40px;
}

#clearing-fortex .fortex2 {
    background: url("../img/clearing-Fortex-gray.png") no-repeat;
    background-size: 81%;
    background-position-x: 4px;
    background-position-y: 25px;
    margin-right: 30px;
}

#clearing-fortex .fortex2:hover {
    background: url("../img/clearing-Fortex.png") no-repeat;
    background-size: 81%;
    background-position-x: 4px;
    background-position-y: 25px;

}

#clearing-fortex .fortex3 {
    background: url("../img/clearing-PXM-gray.png") no-repeat;
    background-size: 100%;
    background-position-x: -9px;
    background-position-y: -8px;
    margin-right: 30px;
}

#clearing-fortex .fortex3:hover {
    background: url("../img/clearing-PXM.png") no-repeat;
    background-size: 100%;
    background-position-x: -9px;
    background-position-y: -8px;
}

#clearing-fortex .fortex4 {
    background: url("../img/clearing-oneZero-gray.png") no-repeat;
    background-size: 100%;
    background-position-x: 5px;
    background-position-y: -4px
}

#clearing-fortex .fortex4:hover {
    background: url("../img/clearing-oneZero.png") no-repeat;
    background-size: 100%;
    background-position-x: 5px;
    background-position-y: -4px
}

.clearing-double {
    background: url(../img/clearing-double.png) no-repeat;
    background-size: 100%;
    height: 25px;
    display: inline-block;
}

#clearing-solve .carousel-caption {
    margin-bottom: -20px !important;
}

.clear-solve-number {
    height: 62px;
}

#clearing-solve dl:nth-child(2) {
    margin-left: 25px;
}

.solid-line {
    display: block;
    border-top: solid 2px #3da5ba;
    margin-top: -18px;
    margin-left: 0;
    height: 2px;
}

.solid-squre:before {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    content: '';
    background: #fff;
    margin-top: -16px;
    display: inline-block;
}

.solid-squre-after:after {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    content: '';
    background: #fff;
    display: inline-block;
}

.bulid-step .two-way {
    display: block;
    width: 30px;
    height: 20px;
}

.build-step .two-way > img {
    width: 100%;
}

.clear-top > dd {
    line-height: 26px;
    text-align: center;
}

.bulid-step dl.step04 {
    padding: 0;
}

.bulid-step dl.step04 > dd > div {
    float: left;
    overflow: hidden;
}

.bulid-step dl.step04 > dd > div:nth-child(1) {
    width: 45%;
    text-align: right;
}

.bulid-step dl.step04 > dd > div:nth-child(2) {
    width: 16%;
}

.bulid-step dl.step04 > dd > div:nth-child(3) {
    width: 36%;
}

.bulid-step dl.step04 > dd > div:nth-child(2) > img {
    width: 100%;
}

#clearing-solve {
    background: url("../img/clearing-pexels.png");
}

#clearing-solve > div {
    width: 100%;
    background-color: rgba(0,0,0,0.75);
}

#clearing-solve h2 {
    text-align: center;
}

#clearing-solve .solid-squre-wrap > dd {
    text-align: center;
}

/*liudong end*/

/*金融官网搭建 start*/
#platform-info > .container > div {
    margin-top: 0;
}

#platform-info .line3 {
    width: 100%;
    border: 2px solid #65c6ff;
    margin-top: 40px;
}

.bg-f0f2f3 {
    background-color: #f0f2f3;
}

.bg-fff {
    background-color: #fff;
}

.textcolor6 {
    color: #666;
}

.textcolorb8{
    color: #666;
}
.siteimg {
    /*margin: 70px auto;*/
    padding: 70px 0;
}

.sitetext {
    padding: 90px 30px;
}

.sitetext > h3 {
    margin-bottom: 40px;
}

.sitetext > p {
    line-height: 28px;
}

@media (max-width: 768px) {
    .sitetext {
        padding: 0;
    }
}

/*金融官网搭建 end*/

/*镜像管理系统 start*/
.jingxiang01 {
    padding-bottom: 62px;
}

.jingxiang01 > h3 {
    margin-top: 62px;
    margin-bottom: 0;
    text-align: center;
}

.jingxiang01 > div {
    padding-top: 62px;
}

.jingxiang01 > div:nth-child(3) {
    padding-top: 90px;
}

.jingxiang01 ul {
    list-style: none;
}

.jingxiang01 ul > li {
    line-height: 32px;
}
.jingxiang01 i{
    padding-right:10px;
}
.jingxiang02 h4 {
    text-align: center;
    color: #000;
}

.jingxiang02 > .container > div > div {
    padding: 70px 0 0 0;
}

.jingxiang02 > .container > div:nth-child(3) > div:last-child {
    padding-bottom: 70px;
}

.jingxiang02 > .container > div > div > div {
    width: 54px;
    height: 54px;
}

.jingxiang02 > .container > div > div > div > img {
    width: 100%;
}

/*镜像管理系统 end*/

/*MT4插件定制 start*/
.chajian {
    text-align: center;
    padding: 70px 0;
}

.chajian h4 {
    margin-bottom: 30px;
}

.chajian img {
    margin-top: 30px;
}

@media (max-width: 768px) {
    #platform-info .line3 {
        float: right;
        width: 255px;
    }

    #platform-info .line1 {
        width: 220px;
    }
}

/*MT4插件定制 end*/

