.kv-table input[type="text"]{width:70px;*line-height:30px}.kv-table .info-item{float:left;width:100%;*width:600px;margin-top:10px}.kv-table .info-item:first-child{margin-top:0}.kv-table .info-item .item{float:left;margin-right:10px}
