html {
    font-family: "微软雅黑";
}

a {
    outline: none;
    -moz-outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    -moz-outline: none
}

html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset {
    margin: 0;
    padding: 0
}

ul, ol, dl {
    list-style-type: none
}

.super-north {
    height: 50px;
    background-color: #3498db;
}

.super-south {
    height: 30px;
    line-height: 28px;
}

.super-navigation {
    height: 50px;
}

.super-navigation-title {
    width: 210px;
    height: 50px;
    float: left;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-left: 40px;
    background-color: #2980b9;
}

.super-navigation-main {
    height: 50px;
    width: 100%;
    float: left;
    line-height: 50px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-left: -250px;
}

.super-navigation-main > div {
    height: 100%;
    color: #fff;
    cursor: pointer;
}

.super-setting-left {
    float: left;
    margin-left: 250px;
}

.super-setting-left ul {
    padding-left: 0px;
}

.super-setting-right {
    float: right;
}

.super-setting-right .user>span{
    display: inline-block;
    height:100%;
    float: left;
}
.super-setting-right .user-icon{
    position: relative;
    margin-right: 10px;
    width: 40px;
}
.super-setting-right .user-icon>img{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 10px;
}

.super-navigation-main ul {
    display: block;
    margin: 0;
    float: left;
}

.super-navigation-main li {
    list-style: none;
    display: inline-block;
    float: left;
    height: 50px;
    min-width: 45px;
    padding: 0 5px;
    line-height: 50px;
    cursor: pointer;
    transition: background-color .3s;
}

.super-navigation-main li:hover {
    background-color: #0092dc;
}

.super-setting-right img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.super-setting-right .user {
    width: 100px;
}

.super-footer-info {
    padding: 0 15px;
    vertical-align: bottom;
}

.super-footer-info > span:last-child {
    float: right;
}

.super-footer-info i {
    vertical-align: text-bottom;
}

#easyui-layout-west {
    width: 250px;
}

/*主题*/
/*主题*/

.themeItem {
    padding: 15px 0 15px 15px;
    display: none;
}

.themeItem ul li {
    list-style: none;
    width: 100px;
    height: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: font-size .3s;
    cursor: pointer;
    position: relative;
}

.themeItem ul li:last-child {
    margin-right: 0px;
}

.themeItem ul li:hover {
    font-size: 14px;
}

.themeActive {
    color: #000 !important;
    font-size: 14px;
}

.themeActive:after {
    content: '';
    width: 6px;
    height: 12px;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    right: -2px;
    bottom: 5px;
    position: absolute;
    transform: rotate(40deg);
}

.TURQUOISE {
    background: #1abc9c;
}

.EMERALD {
    background: #2ecc71;
}

.PETER-RIVER {
    background: #3498db;
}

.AMETHYST {
    background: #9b59b6;
}

.WET-ASPHALT {
    background: #34495e;
}

.SUN-FLOWER {
    background: #f1c40f;
}

.CARROT {
    background: #e67e22;
}

.ALIZARIN {
    background: #e74c3c;
}

/*滚动条样式*/

/*---滚动条默认显示样式--*/

::-webkit-scrollbar-thumb {
    background-color: #9F9F9F;
}

/*---鼠标点击滚动条显示样式--*/

::-webkit-scrollbar-thumb:hover {
    background-color: #939393;
}

/*---滚动条大小--*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/*---滚动框背景样式--*/

::-webkit-scrollbar-track-piece {
    background-color: #E2E2E2;
}

/*示例*/

.demo {
    width: 98%;
    height: 95%;
    margin: 1% 1%;
}

.demo-list ul li {
    height: 36px;
    line-height: 36px;
    padding-left: 25px;
    transition: background-color .3s;
    cursor: pointer;
}

.demo-list ul li:hover {
    background-color: #E7EAEC;
}
/*左侧分类导航*/

.fa {
    font-size: initial;
}


/*panel*/

.panel-header {
    padding: 10px 5px;
    background: #fbfbfb;
}

.layout-expand>.panel-header {
    padding: 5px;
}


/*accordion*/
#main>.layout-panel-west .panel-header {
    background: #393d49;
    padding: 10px 5px;
}
#main>.layout-panel-west .panel-header .panel-title{
    color: #c2c2c2;
}
#main>.layout-panel-west .panel-header .panel-tool{
    -webkit-filter: invert(1);
    filter: invert(1);
}
#main>.layout-panel-west .panel-header {
    border-color: #393d49;
}

#easyui-layout-west .layout-panel-west .panel-header {
    background: #1E282C;
    color: #fff;
}
#easyui-layout-west .layout-panel-west .panel-header .panel-title {
    color: #c2c2c2;
}

#easyui-layout-west .layout-panel-west .panel-body {
    background: #393D49;
}

#easyui-layout-west .accordion {
    border-color: #393D49;
    background: #393D49;
}

#easyui-layout-west .accordion .accordion-header {
    border-width: 0 0 0px;
}

#easyui-layout-west .accordion .accordion-body {
    border-width: 0 0 0px;
}

#easyui-layout-west .accordion-noborder .accordion-header {
    border-width: 0 0 0px;
}

#easyui-layout-west .accordion-noborder .accordion-body {
    border-width: 0 0 0px;
    background: #393D49;
    color: #fff;
}

#easyui-layout-west .accordion .accordion-header {
    background: #393D49;
    color: #c2c2c2;
}

#easyui-layout-west .accordion .accordion-header:hover {
    color: #fff;
    box-shadow: inset 3px 0px 0px 0px #3498db;
}

#main>#easyui-layout-west .accordion .accordion-header-selected {
    background: #2B2E37;
    color: #fff;
}
.accordion .accordion-header-selected {
    background: #e2e2e2;
    box-shadow: inset 3px 0px 0px 0px #3498db;
}

#easyui-layout-west .accordion .accordion-header-selected .panel-title {
    color: #fff;
}

#easyui-layout-west .accordion .panel-title {
    color: #c2c2c2;
}

#easyui-layout-west .panel-icon {
    width: 18px;
    left: 15px;
    color: #c2c2c2;
}

#easyui-layout-west .panel-body.accordion-body> ul> li:hover {
    color: #fff;
    background-color: #3498db;
}

#easyui-layout-west .panel-body.accordion-body> ul> li {
    height: 36px;
    line-height: 36px;
    padding-left: 25px;
    transition: color,background-color .2s;
    cursor: pointer;
    color: #c2c2c2;
}

#easyui-layout-west .super-accordion-selected {
    background: #3498db;
    color: #fff!important;
}

#easyui-layout-west .panel-with-icon {
    padding-left: 32px;
}

.panel-body .accordion-body>ul>li {
    height: 36px;
    line-height: 36px;
    padding-left: 25px;
    transition: background-color .3s;
    cursor: pointer;
}

.panel-body .accordion-body>ul>li:hover {
    background-color: #eee;
}

.super-accordion-selected {
    background: #eee;
}

.panel-with-icon {
    padding-left: 32px;
}

.panel-icon {
    width: 18px;
    left: 15px;
}


/*选项卡*/

.tabs li.tabs-selected a.tabs-inner {
    -webkit-box-shadow: inset 0px 1px 0px 0px #3498db;
    -moz-box-shadow: inset 0px 1px 0px 0px #3498db;
    box-shadow: inset 0px 1px 0px 0px #3498db;
    background: #fff;
    color: #3498db;
    border-top: 1px solid #3498db;
    font-weight: normal;
}

.tabs-title {
    margin: 0 5px;
}


/*.tabs li.tabs-selected .tabs-title{
	color: #3498db;
}
.tabs li.tabs-selected .tabs-icon{
	color: #3498db;
}*/

.tabs li a.tabs-inner {
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
    background: #fbfbfb;
}

.tabs li a.tabs-inner:hover {
    background: #fbfbfb;
    color: #3498db;
}

.tabs li.tabs-selected a.tabs-inner:hover{
    background: #fff;
}

.tabs-p-tool a:hover,
.tabs li a:hover.tabs-close,
.tabs-scroller-over {
    /*-webkit-filter: invert(1);
        filter: invert(1);
        border-radius: 50%;*/
}

.tabs-header,
.tabs-tool {
    background-color: #fbfbfb;
}


/*分页*/

.easyui-pagination.pagination {
    background: #fbfbfb !important;
    padding: 1px 0px;
}

.pagination {
    padding: 1px 0;
}


/*按钮*/

.default.l-btn {
    background: #fff;
    padding: 0 6px;
    border-radius: 2px;
    transition: border .3s;
}

.default.l-btn:hover {
    background: #fff;
    border: 1px solid #3498db;
}

.default.l-btn-icon-left .l-btn-icon {
    left: 14px;
}

.default.l-btn-left {
    padding: 0 10px;
}

.default.l-btn-disabled,
.default.l-btn-disabled:hover {
    border: 1px solid #ccc;
}

.l-btn {
    padding: 0 6px;
    border-radius: 2px;
    background: #fbfbfb;
    -webkit-transition: background-color .3s,opacity .2s;
    -moz-transition: background-color .3s,opacity .2s;
    -ms-transition: background-color .3s,opacity .2s;
    -o-transition: background-color .3s,opacity .2s;
    transition: background-color .3s,opacity .2s;
}
.l-btn:hover{
    background: #fbfbfb;
    opacity: .8;
}

.l-btn-plain {
    background: transparent;
    border-radius: 2px;
    padding: 0 6px;
}

.l-btn-plain:hover {
    border-radius: 2px;
    padding:0 5px;
}

.l-btn-disabled,
.l-btn-disabled:hover {
    background: #fbfbfb;
}
.l-btn.primary{
    background: #39f;
    border-color: #39f;
    color: #fff;
}
.l-btn.info{
    background: #57c5f7;
    border-color: #57c5f7;
    color: #fff;
}
.l-btn.success{
    background: #0c6;
    border-color: #0c6;
    color: #fff;
}
.l-btn.warning{
    background: #f90;
    border-color: #f90;
    color: #fff;
}
.l-btn.error{
    background: #f50;
    border-color: #f50;
    color: #fff;
}

/*开关*/

.switchbutton {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.switchbutton-on,
.switchbutton-off,
.switchbutton-handle {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.switchbutton-on {
    background: #3498db;
}


/*datagrid*/

.datagrid-header,
.datagrid-td-rownumber {
    background: #f5f5f5;
}


/*form*/

.textbox {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
;
}

.textbox-icon {
    color: #000;
    line-height: 30px;
    text-align: center;
}


/*滑块*/

.slider-handle {
    width: 16px;
    height: 16px;
    background: #3498db;
    border-radius: 50%;
    margin-top: -8px;
}

.slider-inner {
    border: none
}

.combobox-item-selected {
    background-color: #3498db;
}

.combobox-item,
.combobox-group,
.combobox-stick {
    padding: 8px;
}

.combo .textbox-icon {
    padding: 0 5px;
}

.panel.combo-p {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.textbox-invalid {
    background-color: transparent;
    border-color: #FF5722;
}

.validatebox-invalid {
    background-color: transparent;
}


/*提示框*/

.tooltip {
    border-radis: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px
}


/*菜单*/

.menu {
    background: #fff;
    padding: 0px;
}

.menu-active {
    border-radius: 0px;
    border-color: #e2e2e2;
}

.menu-shadow {
    box-shadow: 1px 1px 3px #cccccc;
}


/*弹窗*/

.window {
    padding: initial;
}

.window,
.window-shadow {
    border-radius: 3px;
}

.window .window-body {
    border: none;
}

.dialog-toolbar,
.dialog-button {
    border: none;
}

.window .window-header {
    background: #f3f3f3;
    padding: 10px 0;
}

.window-header .panel-title {
    padding: 0 10px;
}

.window .window-header .panel-tool {
    right: 5px;
}

.window .window-header .panel-icon,
.window .window-header .panel-tool {
    top: 60%;
}

.window-shadow {
    box-shadow: 2px 2px 10px #cccccc;
    -webkit-box-shadow: 2px 2px 10px #cccccc;
}

.messager-body {
    padding: 10px;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
}

.messager-icon {
    margin: 0 10px 0 0;
}

.dialog-button .l-btn {
    width: 70px;
}

#btn-sure {
    color: #fff;
    background: #3498db;
    border: 1px solid #3498db;
}

#btn-sure:hover {
    background: #2980b9;
    border: 1px solid #2980b9;
}


/*表格*/

.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
    border-style: solid;
}

.datagrid-header-row,
.datagrid-row {
    height: 32px;
}

.datagrid-row-selected {
    background: #fbfbfb;
    color: #000;
}

.datagrid-row-over,
.datagrid-header td.datagrid-header-over {
    background: #fbfbfb;
}


/*树*/

.tree-node-selected {
    background: #E2E2E2;
    color: #000;
}