@import "reset";
@import "../../easyui/themes/gray/easyui";
$theme-color: #2ecc71;
$theme-title-color: #27ae60;
$theme-title-hover-color: #27ae60;
$dialog-btn: #57c5f7;

$ele-header: #fbfbfb;
$accordion-item-active: #eee;
$datagrid-row-selected: #f2f2f2;

$input-error: #FF5722;

@import "style";