@import "resest.css";

.h_header {
    height: 40px;
    width: 100%;
    background-color: #333;
    color: #999;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
}

.h_header > ul li, .h_header_ri > ul li {
    float: left;
}

.h_header > ul li a, .h_header_ri > ul li a {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    color: #ccc;
}
.h_header_ri > ul .h_bar_text a,.h_header_ri > ul .h_blo a{
    padding: 0;
}
.h_header > ul li:first-child a i {
    background: url("../../images/header/h_top-bar.png") no-repeat scroll 0 0/55px auto;
    display: block;
    float: left;
    width: 55px;
    height: 14px;
    margin: 13px 0 10px 10px;
    text-indent: -9999em;
}

.h_header > ul li:hover, .h_header_ri > ul li:hover {
    background-color: #000;
}

.h_header > ul li:hover > a, .h_header_ri > ul li:hover > a {
    color: #fff;
}

.h_header > ul li:first-child:hover > a i {
    background: url("../../images/header/h_top-bar.png") no-repeat 0 -14px/55px auto;
}

.h_header > ul li:last-child {
    height: 40px;
    position: relative;
}

.h_header > ul li:last-child a i {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top: 6px solid #ccc;
    margin: 18px auto 0;
    display: inline-block;
    overflow: hidden;
}

.h_header > ul li:last-child:hover i {
    border-top: 6px solid #fff;
}

.h_pull ul {
    position: absolute;
    top: 40px;
    background-color: #333;
    left: -36px;
    text-align: center;
    display: none;
}

.h_pull ul li {
    font-size: 14px;
    color: #ccc;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    display: inline-block;
    width: 66px;
}

.h_pul ul li a {
    padding: 0 10px;
    display: block;
}

.h_header_ri {
    float: right;
}

.h_bar_text {
    font-size: 10px;
    text-align: center;
    height: 40px;
    position: relative;
}

.h_bar_text p {
    transform: scale(0.8);
    line-height: 1em;
}

.h_bar_text img {
    width: 18px;
    height: 18px;
    margin: 4px auto 0;
}

.h_header_ri ul .h_bar_text a {
    line-height: 0;
}

.h_bar_text {
    width: 60px;
}

.h_bar_text .h_pull_down li {
    font-size: 10px;
    text-align: center;
    height: 40px;
    position: relative;
    width: 60px;
}

.h_bar_text .h_pull_down img {
    margin: 4px auto;
}

.h_bar_text .h_pull_down li:first-child {
    background-color: #585757;
}
.h_bar_text .h_pull_down li:last-child {
    background-color: #a9a9a9;
}

.h_bar_text ul li {
    line-height: 0;
}

.h_bar_text ul {
    left: 0;
}
.h_header_ri .h_blo{
    width: 60px;
    height: 40px;
    text-align: center;
    position: relative;
}
.h_header_ri .h_blo .h_pull_down{
    left: 0;
    width: 60px;
}
.h_header_ri .h_blo img {
    width: 18px;
    height: 18px;
    margin: 4px auto;
}
.h_header_ri .h_blo p {
    transform: scale(0.8);
    line-height: 0;
}
.h_header_ri .h_blo a {
    line-height: 0;
}
.h_issue{
    background-color: #59C3D1;
}
.h_sign{
    background-color: #FFA859;
}
.h_client{
    background-color: #FE5761;
}
.h_header_ri .h_issue:hover{
    background-color: #59C3D1;
}
.h_header_ri .h_sign:hover{
    background-color: #FFA859;
}
.h_header_ri .h_client:hover{
    background-color: #FE5761;
}
.h_blo ul li{
    width: 60px;
}
.h_blo_pull ul li {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.h_header_ri .h_blo_pull ul li img {
    width: 100%;
    height: 100%;
}
.h_header_ri .h_issue ul li:first-of-type {
    background-color: #8ecdd8;
}
.h_header_ri .h_issue ul li:nth-of-type(2) {
    background-color: #a6dfea;
}
.h_header_ri .h_issue ul li:last-of-type {
    background-color: #adecf8;
}