/**
==============================================================
 * Sentir - Responsive admin & dashboard template
 * Version 		1.3.0
 * Release		February 14, 2015
 * Additional	Sentir Agency Coming Soon
==============================================================
**/


@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,900);
body{
	background: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 14px;
	color: #656D78;
}




/**
-------------------------------------------
BUTTON
-------------------------------------------
**/
.btn 					{border-radius: 2px;}
.btn.btn-square 			{border-radius: 0px;}
.btn.btn-rounded-lg 		{border-radius: 4px;}
.btn-group.btn-square > .btn,
.btn-lg.btn-square,
.btn-group-lg.btn-square > .btn,
.btn-sm.btn-square,
.btn-group-sm.btn-square > .btn,btn-xs.btn-square,
.btn-group-xs.btn-square > .btn {
	border-radius: 0px;
}
.btn:active,
.btn.active {
	-webkit-box-shadow: inset 0 3px 40px rgba(0, 0, 0, .1);
          box-shadow: inset 0 3px 40px rgba(0, 0, 0, .1);
}
.btn-perspective{
	-webkit-box-shadow: 0px 3px 0px #DBDBDB;
	-moz-box-shadow: 0px 3px 0px #DBDBDB;
	box-shadow: 0px 3px 0px #DBDBDB;
	top: 0;
	position: relative;
}
.btn-perspective:active{
	top: 2px;
	-webkit-box-shadow: 0px 1px 0px #DBDBDB;
	-moz-box-shadow: 0px 1px 0px #DBDBDB;
	box-shadow: 0px 1px 0px #DBDBDB;
}
.btn-default {
	color: #333;
	background-color: #F5F7FA;
	border-color: #E6E9ED;
}
.btn-default.btn-perspective{
	-webkit-box-shadow: 0px 3px 0px #CCD1D9;
	-moz-box-shadow: 0px 3px 0px #CCD1D9;
	box-shadow: 0px 3px 0px #CCD1D9;
}
.btn-default.btn-perspective:active{
	-webkit-box-shadow: 0px 1px 0px #CCD1D9;
	-moz-box-shadow: 0px 1px 0px #CCD1D9;
	box-shadow: 0px 1px 0px #CCD1D9;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	color: #333;
	background-color: #E6E9ED;
	border-color: #E6E9ED;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #fff;
	border-color: #E6E9ED;
}
.btn-primary {
	background-color: #37BC9B;
	border-color: #37BC9B;
}
.btn-primary.btn-perspective{
	-webkit-box-shadow: 0px 3px 0px #279D81;
	-moz-box-shadow: 0px 3px 0px #279D81;
	box-shadow: 0px 3px 0px #279D81;
}
.btn-primary.btn-perspective:active{
	-webkit-box-shadow: 0px 1px 0px #279D81;
	-moz-box-shadow: 0px 1px 0px #279D81;
	box-shadow: 0px 1px 0px #279D81;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background-color: #29AF8E;
	border-color: #29AF8E;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #5ADBBC;
	border-color: #5ADBBC;
}
.btn-primary .badge {color: #5ADBBC;}

.btn-success {
	background-color: #8CC152;
	border-color: #8CC152;
}
.btn-success.btn-perspective{
	-webkit-box-shadow: 0px 3px 0px #629031;
	-moz-box-shadow: 0px 3px 0px #629031;
	box-shadow: 0px 3px 0px #629031;
}
.btn-success.btn-perspective:active{
	-webkit-box-shadow: 0px 1px 0px #629031;
	-moz-box-shadow: 0px 1px 0px #629031;
	box-shadow: 0px 1px 0px #629031;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
	background-color: #74AD3B;
	border-color: #74AD3B;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #B4E87E;
  border-color: #B4E87E;
}
.btn-success .badge {color: #B4E87E;}

.btn-info {
	background-color: #3BAFDA;
	border-color: #3BAFDA;
}
.btn-info.btn-perspective{
	-webkit-box-shadow: 0px 3px 0px #218BB2;
	-moz-box-shadow: 0px 3px 0px #218BB2;
	box-shadow: 0px 3px 0px #218BB2;
}
.btn-info.btn-perspective:active{
	-webkit-box-shadow: 0px 1px 0px #218BB2;
	-moz-box-shadow: 0px 1px 0px #218BB2;
	box-shadow: 0px 1px 0px #218BB2;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
	background-color: #29A0CB;
	border-color: #29A0CB;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
	background-color: #5DCBF7;
	border-color: #5DCBF7;
}
.btn-info .badge {color: #5DCBF7;}

.btn-warning {
	background-color: #F6BB42;
	border-color: #F6BB42;
}
.btn-warning.btn-perspective{
	-webkit-box-shadow: 0px 3px 0px #C6901F;
	-moz-box-shadow: 0px 3px 0px #C6901F;
	box-shadow: 0px 3px 0px #C6901F;
}
.btn-warning.btn-perspective:active{
	-webkit-box-shadow: 0px 1px 0px #C6901F;
	-moz-box-shadow: 0px 1px 0px #C6901F;
	box-shadow: 0px 1px 0px #C6901F;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
	background-color: #E8AA2E;
	border-color: #E8AA2E;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
	background-color: #FCCB6A;
	border-color: #FCCB6A;
}
.btn-warning .badge {color: #FCCB6A;}

.btn-danger {
	background-color: #E9573F;
	border-color: #E9573F;
}
.btn-danger.btn-perspective{
	-webkit-box-shadow: 0px 3px 0px #C14029;
	-moz-box-shadow: 0px 3px 0px #C14029;
	box-shadow: 0px 3px 0px #C14029;
}
.btn-danger.btn-perspective:active{
	-webkit-box-shadow: 0px 1px 0px #C14029;
	-moz-box-shadow: 0px 1px 0px #C14029;
	box-shadow: 0px 1px 0px #C14029;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
	background-color: #D8482C;
	border-color: #D8482C;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
	background-color: #FC7C64;
	border-color: #FC7C64;
}
.btn-danger .badge 		{color: #FC7C64;}
.btn-link 				{color: #37BC9B;}
.btn-link:hover,
.btn-link:focus {
  color: #29AF8E;
}




/**
---------------------------
HEADER
---------------------------
**/
.logo{
	text-align: center;
	margin: 30px 0;
}
.logo img{width: 160px;}
h1.heading{
	font-size: 60px;
	font-weight: 700;
	color: #fff;
	line-height: 100%;
}




/**
---------------------------
COUNTER
---------------------------
**/
.counter-wrap:before,
.counter-wrap:after {
	display: table;
	content: " ";
}
.counter-wrap:after {clear: both;}
.counter-wrap {margin: 50px 0;}
.counter-item{
	float: left;
	width: 25%;
	text-align: center;
	background: #fff;
	padding: 80px 0;
	height: 350px;
}
.counter-item h1{
	font-size: 80px;
	font-weight: 900;
}
.counter-item p{
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
}
.bg-primary	{background: #35bc9b}
.bg-success	{background: #8ec051}
.bg-info	{background: #3eafdb}
.bg-danger	{background: #e7573f}
.bg-warning	{background: #f6bb43}
.bg-primary,
.bg-success,
.bg-info,
.bg-danger,
.bg-warning	{color: #fff;}
p.about-text{
	font-size: 18px;
	color: #fff;
	margin: 25px 0;
}




/**
---------------------------
SUBSCRIBE FORM
---------------------------
**/
.subscribe{
	margin: 20px 0 50px;
	padding: 0;
	text-align: center;
}
.subscribe .form-control{
	border: none;
	height: 50px;
	border-radius: 0;
	font-size: 18px;
	color: #d3d8de;
	margin-bottom: 20px;
	text-align: center;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	-webkit-transition: border-color ease-in-out 0s, box-shadow ease-in-out 0s;
          transition: border-color ease-in-out 0s, box-shadow ease-in-out 0s;
}
.subscribe .form-control:focus{
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102, 175, 233, 0);
          box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102, 175, 233, 0);
}
.subscribe .form-control::-moz-placeholder {
  color: #d3d8de;
  opacity: 1;
}
.subscribe .form-control:-ms-input-placeholder {
  color: #d3d8de;
}
.subscribe .form-control::-webkit-input-placeholder {
  color: #d3d8de;
}
.subscribe-btn {
	height: 50px;
	border-radius: 2px;
	font-size: 18px;
	font-weight: 700;
	padding-left: 40px;
	padding-right: 40px;
	border: 3px solid #fff;
	background: transparent;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
	border: none;
}




/**
---------------------------
SOCIAL ICON
---------------------------
**/
p.social-icon {
	margin: 10px 0 50px;
}
.icon-rounded{
	border-radius: 5px;
	text-align: center;
	display: inline-block;
}
.icon-sm{
	width: 40px;
	height: 40px;
	font-size: 20px;
	padding: 10px 0;
}
.icon-social-footer{
	margin-right: 5px;
	margin-top: 5px;
	font-size: 16px;
	padding-top: 13px;
	background: #1A212B;
}
.icon-social-footer.icon-facebook,
.icon-social-footer.icon-facebook:hover,
.icon-social-footer.icon-facebook:focus,
a .icon-social-footer.icon-facebook,
a .icon-social-footer.icon-facebook:hover,
a .icon-social-footer.icon-facebook:focus{
	background-color: #3B5A98;
	color: #fff;
}
.icon-social-footer.icon-twitter,
.icon-social-footer.icon-twitter:hover,
.icon-social-footer.icon-twitter:focus,
a .icon-social-footer.icon-twitter,
a .icon-social-footer.icon-twitter:hover,
a .icon-social-footer.icon-twitter:focus{
	background-color: #3490D3;
	color: #fff;
}
.icon-social-footer.icon-google-plus,
.icon-social-footer.icon-google-plus:hover,
.icon-social-footer.icon-google-plus:focus,
a .icon-social-footer.icon-google-plus,
a .icon-social-footer.icon-google-plus:hover,
a .icon-social-footer.icon-google-plus:focus{
	background-color: #BC2C1F;
	color: #fff;
}
.icon-social-footer.icon-dribbble,
.icon-social-footer.icon-dribbble:hover,
.icon-social-footer.icon-dribbble:focus,
a .icon-social-footer.icon-dribbble,
a .icon-social-footer.icon-dribbble:hover,
a .icon-social-footer.icon-dribbble:focus{
	background-color: #D33471;
	color: #fff;
}
.icon-social-footer.icon-flickr,
.icon-social-footer.icon-flickr:hover,
.icon-social-footer.icon-flickr:focus,
a .icon-social-footer.icon-flickr,
a .icon-social-footer.icon-flickr:hover,
a .icon-social-footer.icon-flickr:focus{
	background-color: #0555BF;
	color: #fff;
}
.icon-social-footer.icon-pinterest,
.icon-social-footer.icon-pinterest:hover,
.icon-social-footer.icon-pinterest:focus,
a .icon-social-footer.icon-pinterest,
a .icon-social-footer.icon-pinterest:hover,
a .icon-social-footer.icon-pinterest:focus{
	background-color: #B70F12;
	color: #fff;
}
.icon-social-footer.icon-youtube,
.icon-social-footer.icon-youtube:hover,
.icon-social-footer.icon-youtube:focus,
a .icon-social-footer.icon-youtube,
a .icon-social-footer.icon-youtube:hover,
a .icon-social-footer.icon-youtube:focus{
	background-color: #C91212;
	color: #fff;
}
.icon-social-footer.icon-dropbox,
.icon-social-footer.icon-dropbox:hover,
.icon-social-footer.icon-dropbox:focus,
a .icon-social-footer.icon-dropbox,
a .icon-social-footer.icon-dropbox:hover,
a .icon-social-footer.icon-dropbox:focus{
	background-color: #0864B2;
	color: #fff;
}
.icon-social-footer.icon-foursquare,
.icon-social-footer.icon-foursquare:hover,
.icon-social-footer.icon-foursquare:focus,
a .icon-social-footer.icon-foursquare,
a .icon-social-footer.icon-foursquare:hover,
a .icon-social-footer.icon-foursquare:focus{
	background-color: #0571A0;
	color: #fff;
}
.icon-social-footer.icon-github,
.icon-social-footer.icon-github:hover,
.icon-social-footer.icon-github:focus,
a .icon-social-footer.icon-github,
a .icon-social-footer.icon-github:hover,
a .icon-social-footer.icon-github:focus{
	background-color: #212121;
	color: #fff;
}
.icon-social-footer.icon-linkedin,
.icon-social-footer.icon-linkedin:hover,
.icon-social-footer.icon-linkedin:focus,
a .icon-social-footer.icon-linkedin,
a .icon-social-footer.icon-linkedin:hover,
a .icon-social-footer.icon-linkedin:focus{
	background-color: #036C8E;
	color: #fff;
}
.icon-social-footer.icon-tumblr,
.icon-social-footer.icon-tumblr:hover,
.icon-social-footer.icon-tumblr:focus,
a .icon-social-footer.icon-tumblr,
a .icon-social-footer.icon-tumblr:hover,
a .icon-social-footer.icon-tumblr:focus{
	background-color: #2E485D;
	color: #fff;
}
.icon-social-footer.icon-vimeo,
.icon-social-footer.icon-vimeo:hover,
.icon-social-footer.icon-vimeo:focus,
a .icon-social-footer.icon-vimeo,
a .icon-social-footer.icon-vimeo:hover,
a .icon-social-footer.icon-vimeo:focus{
	background-color: #0D9DD1;
	color: #fff;
}




/**
---------------------------
FOOTER
---------------------------
**/
footer{
	color : #fff;
	padding: 5px 0 60px;
	text-align: center;
}





/**
=================================
TABLET < 767px
=================================
**/
@media (max-width: 767px) {
	.counter-item{
		width: 50%;
		height: auto;
	}
}

/**
=================================
TABLET < 767px
=================================
**/
@media (max-width: 640px) {
	h1.heading{
		font-size: 40px;
	}
	.counter-item{
		width: 50%;
		height: auto;
		padding: 30px 0;
	}
	.counter-item h1{
		font-size: 40px;
	}
	.counter-item p{
		font-size: 20px;
	}
}