#menulayer0Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#iconlayer0Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 22px; layer-background-color: #ffffff
}
#barlayer0Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 22px 0px); HEIGHT: 22px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#uplayer0Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 26px; WIDTH: 16px; layer-background-color: #cccccc
}
#downlayer0Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 42px; WIDTH: 16px; layer-background-color: #cccccc
}
#menulayer1Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#iconlayer1Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 22px; layer-background-color: #ffffff
}
#barlayer1Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 22px 0px); HEIGHT: 22px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#uplayer1Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 26px; WIDTH: 16px; layer-background-color: #cccccc
}
#downlayer1Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 42px; WIDTH: 16px; layer-background-color: #cccccc
}
#menulayer2Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#iconlayer2Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 22px; layer-background-color: #ffffff
}
#barlayer2Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 22px 0px); HEIGHT: 22px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#uplayer2Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 26px; WIDTH: 16px; layer-background-color: #cccccc
}
#downlayer2Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 42px; WIDTH: 16px; layer-background-color: #cccccc
}
#menulayer3Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#iconlayer3Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 22px; layer-background-color: #ffffff
}
#barlayer3Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 22px 0px); HEIGHT: 22px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#uplayer3Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 26px; WIDTH: 16px; layer-background-color: #cccccc
}
#downlayer3Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 42px; WIDTH: 16px; layer-background-color: #cccccc
}
#menulayer4Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#iconlayer4Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 22px; layer-background-color: #ffffff
}
#barlayer4Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 22px 0px); HEIGHT: 22px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#uplayer4Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 26px; WIDTH: 16px; layer-background-color: #cccccc
}
#downlayer4Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 42px; WIDTH: 16px; layer-background-color: #cccccc
}
#menulayer5Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#iconlayer5Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 22px; layer-background-color: #ffffff
}
#barlayer5Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 22px 0px); HEIGHT: 22px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#uplayer5Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 26px; WIDTH: 16px; layer-background-color: #cccccc
}
#downlayer5Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 42px; WIDTH: 16px; layer-background-color: #cccccc
}
#menulayer6Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#iconlayer6Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 22px; layer-background-color: #ffffff
}
#barlayer6Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 22px 0px); HEIGHT: 22px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#uplayer6Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 26px; WIDTH: 16px; layer-background-color: #cccccc
}
#downlayer6Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 42px; WIDTH: 16px; layer-background-color: #cccccc
}

#menulayer7Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#iconlayer7Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 22px; layer-background-color: #ffffff
}
#barlayer7Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 22px 0px); HEIGHT: 22px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#uplayer7Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 26px; WIDTH: 16px; layer-background-color: #cccccc
}
#downlayer7Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 42px; WIDTH: 16px; layer-background-color: #cccccc
}

#menulayer8Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#iconlayer8Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 22px; layer-background-color: #ffffff
}
#barlayer8Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 22px 0px); HEIGHT: 22px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#uplayer8Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 26px; WIDTH: 16px; layer-background-color: #cccccc
}
#downlayer8Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 42px; WIDTH: 16px; layer-background-color: #cccccc
}

#menulayer9Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#iconlayer9Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 22px; layer-background-color: #ffffff
}
#barlayer9Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 22px 0px); HEIGHT: 22px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#uplayer9Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 26px; WIDTH: 16px; layer-background-color: #cccccc
}
#downlayer9Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 42px; WIDTH: 16px; layer-background-color: #cccccc
}

#menulayer10Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#iconlayer10Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 3000px 0px); HEIGHT: 3000px; LEFT: 0px; POSITION: absolute; TOP: 22px; layer-background-color: #ffffff
}
#barlayer10Div {
    BACKGROUND-COLOR: #ffffff; CLIP: rect(0px 4000px 22px 0px); HEIGHT: 22px; LEFT: 0px; POSITION: absolute; TOP: 0px; layer-background-color: #ffffff
}
#uplayer10Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 26px; WIDTH: 16px; layer-background-color: #cccccc
}
#downlayer10Div {
    BACKGROUND-COLOR: #cccccc; CLIP: rect(0px 16px 16px 0px); HEIGHT: 16px; LEFT: -20px; POSITION: absolute; TOP: 42px; WIDTH: 16px; layer-background-color: #cccccc
}

A:link {
    COLOR: #0000b7; TEXT-DECORATION: none
}
A:visited {
    COLOR: #0000b7; TEXT-DECORATION: none
}
A:active {
    COLOR: #0000b7; TEXT-DECORATION: none
}
A:hover {
    COLOR: #0000b7; TEXT-DECORATION: none
}
TD {
    COLOR: white; FONT-SIZE: 9pt
}
TH {
    COLOR: white; FONT-SIZE: 9pt
}
FONT {
    FONT-SIZE: 9pt
}
.chinese_text13 {
    FILTER: Blur(Add=0, Direction=0, Strength=0); FONT-FAMILY: Verdana,ו; FONT-SIZE: 9pt
}

