#tree {
	
	font-family: ו,Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height:23px
	font-weight:normal;
}
#tree a {
	color: #000;
	text-decoration: none;
}
#tree img {
	border: 0px;
}
