BODY {
SCROLLBAR-FACE-COLOR: #DCE2ED; 
SCROLLBAR-SHADOW-COLOR: #ADBAD3; 
SCROLLBAR-3DLIGHT-COLOR: #A0AFCC; 
SCROLLBAR-ARROW-COLOR: #5A7AB5; 
SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
SCROLLBAR-BASE-COLOR: #cfcfcf
}

.sec1 { 
    background-color: #E2E9F1;
    cursor: hand;
    color: #000000;
    border-left: 1px solid #CFD9E5;
    border-top: 1px solid #CFD9E5;
    border-right: 1px solid #7F94B0;
    border-bottom: 1px solid #CFD9E5
    }
.sec2 { 
    background-color: #F8FCFE;
    cursor: hand;
    color: #000000;
    border-left: 1px solid #CFD9E5; 
    border-top: 1px solid #CFD9E5; 
    border-right: 1px solid #7F94B0; 
    font-weight: bold; 
    }
.sec3 { 
    background-color: #FFFFFF;
    cursor: auto;
    color: #000000;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #CFD9E5
    }
.main_tab {
    background-color: #F8FCFE;
    color: #000000;
    border-left:1px solid #CFD9E5;
    border-right: 1px solid #7F94B0;
    border-bottom: 1px solid #7F94B0; 
    }

td{ font-family: "??"; FONT-SIZE: 14px; color:#000000}
.E01 {  font-family: "Tahoma"; font-size: 11px; color: #0F4473; text-decoration: none}
.E02 {  font-family: "Tahoma"; font-size: 11px; color: #555555; text-decoration: none}
.E03 {  font-family: "Tahoma"; font-size: 11px; color: #000000; text-decoration: none}
.E04 { font-family: "Tahoma"; FONT-SIZE:11px; color:#FFFFFF}
.E05 { font-family: "Tahoma"; FONT-SIZE:11px; color:#000000}
.F01 { font-family: "Tahoma"; font-size:11px; color:#47578A; text-decoration:none}
.F02 { font-family: "Tahoma"; font-size:11px; color:#3075C5; text-decoration:none; font-weight:bold}
.F03 { font-family: "??"; font-size:14px; color:#000000; text-decoration:none}
.F04 { font-family: "Tahoma"; font-size:11px; color:#3D5A7D; text-decoration:none}
.F05 { font-family: "Tahoma"; FONT-SIZE:11px; color:#666666}
.F06 { font-family: "Tahoma"; FONT-SIZE:11px; color:#FF6600}
.F07 { font-family: "Tahoma"; FONT-SIZE:11px; color:#FF0000}
.F08 { font-family: "Tahoma"; FONT-SIZE:11px; color:#393939; font-weight:bold}
.title { font-family: "Tahoma";  font-size: 18px; color: #3075C5; text-decoration: none; font-weight:bold}
.title02 { font-family: "??";  font-size: 16px; color: #000000; text-decoration: none; font-weight:bold; line-height:200%}
.title03 { 	font-family: "??";	font-size: 20px; color: #FFFFFF;; text-decoration: none}

.td01{ background-color:#D8DEE6; font-family: "Tahoma"; FONT-SIZE: 14px; color:#000000}
.td02{ background-color:#EEF2F8; font-family: "Tahoma"; FONT-SIZE: 14px; color:#294673}
.td03{ background-color:#F8FCFE; font-family: "Tahoma"; FONT-SIZE: 11px; color:#294673}
.td04{ background-color:#F2F2F2; font-family: "Tahoma"; FONT-SIZE: 11px; color:#000000}
.td05{ background-color:#F8FCFE; font-family: "Tahoma"; FONT-SIZE: 11px; color:#000000}

.input{ BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: 
#999999 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; FONT-SIZE: 18px; font-family:"??"; HEIGHT: 25px; background-color: #FFFFFF}

.input2{ BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: 
#999999 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; FONT-SIZE: 12px; font-family:Tahoma; HEIGHT: 18px; background-color: #FFFFFF}

.buttonface{BORDER-RIGHT: #7F94B0 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #EEF3F6 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; BORDER-LEFT: #EEF3F6 1px solid; CURSOR: auto; COLOR: #1B3872; PADDING-TOP: 1px; BORDER-BOTTOM: #7F94B0 1px solid; FONT-FAMILY: "ו"; HEIGHT: 18px; BACKGROUND-COLOR: #E2E9F1}

select {FONT-SIZE: 11px; font-family:"Tahoma"}
textarea {FONT-SIZE: 11px; font-family:"Tahoma"}

A:link { font-family:"??"; font-size: 16px; color: #294673; text-decoration: none}
A:active { font-family:"??"; font-size: 16px; color: #FF6600; text-decoration: underline}
A:visited { font-family:"??"; font-size: 16px; color: #294673; text-decoration: none}
A:hover { font-family:"??"; font-size: 16px; color: #FF6600; text-decoration: underline}

A.a01:link { font-family:"??"; font-size: 14px; color: #294673; text-decoration: none}
A.a01:active { font-family:"??"; font-size: 14px; color: #FF6600; text-decoration: underline}
A.a01:visited { font-family:"??"; font-size: 14px; color: #294673; text-decoration: none}
A.a01:hover { font-family:"??"; font-size: 14px; color: #FF6600; text-decoration: underline}

A.a02:link { font-family:"Tahoma"; font-size: 11px; color: #000000; text-decoration: none}
A.a02:active { font-family:"Tahoma"; font-size: 11px; color: #FF6600; text-decoration: none}
A.a02:visited { font-family:"Tahoma"; font-size: 11px; color: #000000; text-decoration: none}
A.a02:hover { font-family:"Tahoma"; font-size: 11px; color: #FF6600; text-decoration: none}

A.a03:link { font-family:"Tahoma"; font-size: 11px; color: #393939; text-decoration: none; font-weight:bold}
A.a03:active { font-family:"Tahoma"; font-size: 11px; color: #FF6600; text-decoration: none; font-weight:bold}
A.a03:visited { font-family:"Tahoma"; font-size: 11px; color: #393939; text-decoration: none; font-weight:bold}
A.a03:hover { font-family:"Tahoma"; font-size: 11px; color: #FF6600; text-decoration: none; font-weight:bold}

.orgunitchartitemcell {
	BORDER-RIGHT: #D8DEE6 2px solid; BORDER-TOP: #D8DEE6 2px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #D8DEE6 2px solid; WIDTH: 102px; CURSOR: move; BORDER-BOTTOM: #D8DEE6 2px solid; BACKGROUND-COLOR: #F8FCFE
}
.subtableheader {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #EEF2F8 1px solid; BACKGROUND-COLOR: #EEF2F8; TEXT-ALIGN: left
}
.subalterbar {
	BACKGROUND-COLOR: #F8FCFE
}
.frameborder_thin {
	BORDER-RIGHT: #6e95a8 1px solid; BORDER-TOP: #6e95a8 1px solid; BORDER-LEFT: #6e95a8 1px solid; BORDER-BOTTOM: #6e95a8 1px solid
}
.alterbar {
	BACKGROUND-COLOR: #ecf5f7
}

.ctbutton {  BORDER-RIGHT: #7F94B0 1px solid; BORDER-TOP: #EEF3F6 1px solid; PADDING-BOTTOM: 1px; BORDER-LEFT: #EEF3F6 1px solid; BORDER-BOTTOM: #7F94B0 1px solid; MARGIN-BOTTOM: 500px; WIDTH: 9px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9px; COLOR: #1B3872; HEIGHT: 80px; BACKGROUND-COLOR: #EEF2F8
}
.ctrlbar {	BORDER-RIGHT: #D8DEE6 1px solid; BORDER-LEFT: #9CAFC9 1px solid; BACKGROUND-COLOR: #D8DEE6
}
.explorer { BACKGROUND-COLOR: #FFFFFF
}
.td_center { text-align: center }
.tds { font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; line-height:150% }
.body { BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #D4D0C8
}