BODY {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
    font-family:"Tahoma";
    font-size:11px;
}
td{
    font-family: "Tahoma"; 
	font-size: 11px; 
	color:#000000;
	}
.F01{
    font-family:"Tahoma"; 
	font-size:11px; 
	color:#0D5BA1;
	}
.F02{
	font-family: "Tahoma";
	font-size: 11px; 
	color:#FFFFFF;
	}
.F03{
	font-family: "Tahoma";
	font-size: 11px; 
	color:#FF6600;
	}
.F04{
	font-family: "Tahoma";
	font-size: 11px; 
	color:#CC0000;
	font-weight:bold;
	}
.F05{
	font-family: "Tahoma";
	font-size: 11px; 
	color:#009900;
	}
.F06{
	font-family: "Tahoma";
	font-size: 11px; 
	color:#444444;
	font-weight:bold;
	}
.title { font-family: "Tahoma";  font-size: 14px; color: #555555; text-decoration: none; font-weight:bold}
.title02 { font-family: "Tahoma";  font-size: 14px; color: #FFFFFF; text-decoration: none; font-weight:bold}
.title03 { font-family: "Tahoma";  font-size: 14px; color: #000000; text-decoration: none; font-weight:bold}
.title04 { font-family: "Tahoma";  font-size: 24px; color: #FF6600; text-decoration: none; }

.table01{ 
	border-collapse:collapse;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 1px #689AC8 solid;
	border-left: 0px;
}
.table02{ 
	border-collapse:collapse;
}

.td_title{
    background-color:#FFFFFF;
	font-family: "Tahoma";
	FONT-SIZE: 11px;
	color:#315DBD;
	font-weight:bold;
	padding: 2px;
	border-collapse:collapse;
	border-top: 0px solid;
	border-right: 0px solid;
	border-bottom: 0px solid;
	border-left: 0px solid;
}
.td_top{
	background-image: url(../images/bg.gif);
	font-family: "Tahoma";
	FONT-SIZE: 11px;
	color:#FFFFFF;
	padding: 4px;
	height:23px;
	border-collapse:collapse;
	border-top: 1px #98ACC3 solid;
	border-right: 0px solid;
	border-bottom: 1px #5088BA solid;
	border-left: 0px solid;
}
.td01{
	background-color:#FFFFFF;
}
.td02{
	background-color:#92BBD7;
}
.td03{
	background-color:#E6F2FB;
}
.td04 {
	background-color: #F2F2F2;
	font-family: "Tahoma";
	font-size: 11px;
	color:#000000;
}
.td05{
	background-color:#CCCCCC;
}
.td06{
	background-color:#EBEBEB;
}
.td07{
    background-color:#F7FBFF;
	font-family: "Tahoma";
	FONT-SIZE: 11px; 
	color:#000000;
	padding: 4px;
	border-collapse:collapse;
	border-top: 0px solid;
	border-right: 0px solid;
	border-bottom: 1px #B3CFE8 solid;
	border-left: 0px solid;
}
.td08 {
	font-family: "Tahoma";
	font-size: 11px;
	background-color: #FFFFFF;
	padding: 4px;
	line-height:120%;
	border-collapse:collapse;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 1px dotted #999999;
	border-left: 0px none;
}
.td_09{
    background-color:#AFBFC5;
	font-family: "Tahoma";
	FONT-SIZE: 11px;
	color:#000000;
	padding: 4px;
	border-collapse:collapse;
	border-top: 0px solid;
	border-right: 2px #FFFFFF solid;
	border-bottom: 2px #FFFFFF solid;
	border-left: 0px solid;
}
.td_10{
    background-color:#F1F4F5;
	font-family: "Tahoma";
	FONT-SIZE: 11px;
	color:#000000;
	padding: 4px;
	border-collapse:collapse;
	border-top: 0px solid;
	border-right: 2px #FFFFFF solid;
	border-bottom: 2px #FFFFFF solid;
	border-left: 0px solid;
}
.td_11{
    background-color:#E6E6CF;
	font-family: "Tahoma";
	FONT-SIZE: 11px;
	color:#000000;
	padding: 4px;
	border-collapse:collapse;
	border-top: 0px solid;
	border-right: 2px #FFFFFF solid;
	border-bottom: 2px #FFFFFF solid;
	border-left: 0px solid;
}
.td_01{
    background-color:#F7FBFF;
	font-family: "Tahoma";
	FONT-SIZE: 11px; 
	color:#000000;
	padding: 4px;
	border-collapse:collapse;
	border-top: 0px solid;
	border-right: 0px solid;
	border-bottom: 1px #B3CFE8 solid;
	border-left: 0px solid;
}
.td_02{
    background-color:#F7FBFF;
	font-family: "Tahoma";
	FONT-SIZE: 11px; 
	color:#000000;
	padding: 4px;
	border-collapse:collapse;
	border-top: 0px solid;
	border-right: 0px solid;
	border-bottom: 1px #B3CFE8 solid;
	border-left: 0px solid;
}
.td_form01{
    background-color:#C3DAF2;
	font-family: "Tahoma";
	FONT-SIZE: 11px;
	color:#000000;
	padding: 0px;
	border-collapse:collapse;
	border-top: 0px solid;
	border-right: 2px #FFFFFF solid;
	border-bottom: 2px #FFFFFF solid;
	border-left: 0px solid;
	text-align: center;
}
.td_form02{
    background-color:#E4EFF7;
	font-family: "Tahoma";
	FONT-SIZE: 11px;
	color:#000000;
	padding: 0px;
	border-collapse:collapse;
	border-top: 0px solid;
	border-right: 2px #FFFFFF solid;
	border-bottom: 2px #FFFFFF solid;
	border-left: 0px solid;
}
.td_page{
    background-color:#F4F4F4;
	font-family: "Tahoma";
	FONT-SIZE: 11px; 
	color:#000000;
	padding: 4px;
	border-collapse:collapse;
	border-top: 1px #CCCCCC solid;
	border-right: 1px #CCCCCC solid;
	border-bottom: 1px #CCCCCC solid;
	border-left: 1px #CCCCCC solid;
}
.input{ 
	font-size: 11px; 
	font-family:"Tahoma"; 
	HEIGHT: 20px; 
	border:1px solid #7F9DB9;
}
.input2{ 
	font-size: 12px; 
	font-family:"Tahoma"; 
	HEIGHT: 20px; 
	border:1px solid #7F9DB9;
}
.input3{ 
	font-size: 11px; 
	font-family:"Tahoma"; 
	HEIGHT: 20px; 
	border:1px solid #1C5180; 
}
.button_select{
	width:21px;
	HEIGHT: 20px;
	background-image: url(../images/search.gif);
	border: 0px none;
	background-color:transparent;
	cursor:hand;
}
.buttonface{
	font-family:"Tahoma";
	FONT-SIZE: 11px;
	color:#000000;
	HEIGHT: 20px;
	background-image: url(../images/bg_20.gif);
	cursor:hand;
    BORDER-RIGHT: 1px solid #122A4C; 
	BORDER-TOP: 1px solid #1C5180; 
	BORDER-LEFT: 1px solid #1C5180; 
	BORDER-BOTTOM: 1px solid #122A4C; 
}
.buttonface02{
	font-family:"Tahoma";
	FONT-SIZE: 11px;
	color:#000000;
	HEIGHT: 20px;
	background-image: url(../images/bg_20.gif);
	cursor:hand;
    BORDER-RIGHT: 1px solid #122A4C; 
	BORDER-TOP: 1px solid #1C5180; 
	BORDER-LEFT: 1px solid #1C5180; 
	BORDER-BOTTOM: 1px solid #122A4C; 
}
select {
	CURSOR: auto;
	COLOR: #000000;
	font-size: 11px;
	font-family:"Tahoma";
}
textarea {
	font-size: 11px;
	font-family:"Tahoma";
	overflow: auto;
	border:1px solid #7F9DB9;
}

a:link {font-family: "Tahoma";font-size: 11px;color: #0D5BA1;text-decoration: none;}
a:active {font-family: "Tahoma";font-size: 11px;color: #000000;text-decoration: none;}
a:visited {font-family: "Tahoma";font-size: 11px;color: #0D5BA1;text-decoration: none;}
a:hover {font-family: "Tahoma";font-size: 11px;color: #000000;text-decoration: none;}

A.a01:link {font-family: "Tahoma";font-size: 11px;color: #FFFFFF;text-decoration: none}
A.a01:active {font-family: "Tahoma";font-size: 11px;color: #FFFFFF;text-decoration: none}
A.a01:visited {font-family: "Tahoma";font-size: 11px;color: #FFFFFF;text-decoration: none}
A.a01:hover {font-family: "Tahoma";font-size: 11px;color: #FFFFFF;text-decoration: none}

A.a02:link { font-family:"Tahoma"; font-size: 11px; color: #A3BADA; text-decoration: none}
A.a02:active { font-family:"Tahoma"; font-size: 11px; color: #FFFFFF; text-decoration: none}
A.a02:visited { font-family:"Tahoma"; font-size: 11px; color: #A3BADA; text-decoration: none}
A.a02:hover { font-family:"Tahoma"; font-size: 11px; color: #FFFFFF; text-decoration: none}

A.a03:link { font-family:"Tahoma"; font-size: 11px; color: #000000; text-decoration: none}
A.a03:active { font-family:"Tahoma"; font-size: 11px; color: #000000; text-decoration: none}
A.a03:visited { font-family:"Tahoma"; font-size: 11px; color: #000000; text-decoration: none}
A.a03:hover { font-family:"Tahoma"; font-size: 11px; color: #000000; text-decoration: none}

A.a14:link { font-family:"Tahoma"; font-size: 14px; color: #2777BE; text-decoration: none; font-weight:bold}
A.a14:active { font-family:"Tahoma"; font-size: 14px; color: #FF6600; text-decoration: none; font-weight:bold}
A.a14:visited { font-family:"Tahoma"; font-size: 14px; color: #2777BE; text-decoration: none; font-weight:bold}
A.a14:hover { font-family:"Tahoma"; font-size: 14px; color: #FF6600; text-decoration: none; font-weight:bold}

.sec1 { 
    background-color: #E9E9E9;
    cursor: hand;
    color: #000000;
    border-left: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #DADADA
}
.sec2 { 
    background-color: #FBFBFB;
    cursor: hand;
    color: #000000;
    border-left: 1px solid #DADADA; 
    border-top: 1px solid #DADADA; 
    border-right: 1px solid #979797; 
    font-weight: bold; 
}
.sec3 { 
    background-color: #FFFFFF;
    cursor: auto;
    color: #000000;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #DADADA
}
.main_tab {
    background-color: #FBFBFB;
    color: #000000;
    border-left:1px solid #DADADA;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797; 
}

