div.tree-item td.customIcon {
	background: url("../images/tree_14.gif") no-repeat 0 50%;
}
div.tree-item-expanded td.customIcon {
	background: url("../images/tree_08.gif") no-repeat 0 50%;
}
div.tree-item-collapsed td.customIcon {
	background: url("../images/tree_08.gif") no-repeat 0 50%;
}
