<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <!-- 公共css/js文件 -->
    <script type="text/javascript" src="../../topjui/js/topjui.include.js"></script>
</head>

<body>

</body>
<script>
    setTimeout(function () {
        $.messager.alert('温馨提示','该页面正在积极准备中，敬请关注本项目GIT动态或加入TopJUI官方QQ群：593783047');
    }, 1000);
</script>
</html>