/*----------------------------------------------------------------------------- 

Before-After and Backstage

Screen Stylesheet 

version:   	1.0 
date:      	07/27/11 
author:		freshline
email:     	support@version-four.com 
website:   	http://www.version-four.com
-----------------------------------------------------------------------------*/

/***********/
/* BASICS */
/*********/
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/sourcesanspro/sourcesanspro-light.woff') format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../fonts/sourcesanspro/sourcesanspro.woff') format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/sourcesanspro/sourcesanspro-bold.woff') format('woff');
}
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/lanrentuku.woff) format('woff');
}

html {
	width: 100%;
}


/*************************/
/*   BODY STYLE         */
/***********************/
body {
	background-color:#A6B8CC;
}
.titlelogo {
	background-image:url(../images/sitelogo.png);
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	padding-top:35px;
	margin-top:20px;
	margin-bottom:-5px;
	display:block;
	width:250px;
	height:98px;
}
#big_divider {
	margin-top:40px;
}
#demo-content {
	font-family: 'Oswald', sans-serif;
	margin-left:auto;
	margin-right:auto;
	width:900px;
	background-color:#fff;
	-webkit-box-shadow: 0px -15px 35px -30px;
	-moz-box-shadow: 0px -15px 35px -30px;
	box-shadow: 0px -15px 35px -30px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position:relative;
}


#demo-content .smallinfo {
	position:relative;
	z-index:10;
	font-family: 'Oswald', sans-serif;
	float:right;
	font-size:12px;
	margin-right:30px;
	margin-top:10px;
	display:block;
}

#demo-content .smalldeclaration {
	font-family: 'Oswald', sans-serif;
	float:left;
	font-size:12px;
	margin-left:12px;
	margin-top:10px;
	display:block;
}


#demo-content .float_title {
	font-family: 'Oswald', sans-serif;
	color:#fff;
	font-weight:normal;
	font-size:14px;
	margin-top:88px;
	margin-left:30px;
	margin-right:30px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	background-color:#1f2120;
	clear: both;
}

#demo-content #demo-settings {
	position:absolute;
	color:#A6B8CC;
	font-family: 'Oswald', sans-serif;
	font-size:18px;
	background: #1f2120 url(../images/navigation/settingsanim_1.gif) no-repeat 16px 5px;
	-webkit-box-shadow: 0px 0px 6px 0px #797a79;
	-moz-box-shadow:  0px 0px 6px 0px #797a79;
	box-shadow: 0px 0px 6px 0px #797a79;
	padding-left:68px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
	margin-left:30px;
	width:126px;
	height:28px;
	z-index:10;
	cursor:pointer;	
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#demo-content #panel {
	opacity:0.0;
	position:absolute;
	width:204px;
	height:0px;	
	margin-top:0px;
	margin-left:30px;	
	background-color:#fff;
	float:left;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index:5;
		-webkit-box-shadow: 0px 0px 4px 0px #797a79;
	-moz-box-shadow:  0px 0px 4px 0px #797a79;
	box-shadow: 0px 0px 4px 0px #797a79;
}


#demo-content #panel li{
	width:18px;
	height:18px;	
	float:left;
	margin-left:12px;
	margin-right:0px;
	margin-top:7px;
	border:1px solid #a6b8cc;
	cursor:pointer;
}

#demo-content #panel ul, li { 
    margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; 
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	 list-style-type: none;
}

.bg1{	
	background-color:#a6b8cc;			
}

.bg2{	
	background:url(../images/background/pattern/royal_line/royal_wall.jpg);		
}

.bg3{	
	background:url(../images/background/pattern/royal_line/royal_green.jpg);	
}

.bg4{	
	background:url(../images/background/pattern/damask/royal_dark.jpg);		
}

.bg5{	
	background:url(../images/background/textures/w_07.jpg);	
}

.bg6{	
	background:url(../images/background/abstract/g_09.jpg);	
}


.border1{	
	background-color:#000;			
}

.border2{	
	background:url(../images/background/pattern/basic/pattern_1b.png);		
}

.border3{	
	background:url(../images/background/pattern/damask/simple_med.png);	
}

.border4{	
	background:url(../images/background/pattern/basic/pattern_02b.png);	
}

.border5{	
	background:url(../images/background/pattern/basic/pattern_10.png);
}

.border6{	
	background:url(../images/background/pattern/damask/simple_grey.png);	
}


.borderstyleselector {	
	color:#A6B8CC;
	font-family: 'Oswald', sans-serif;
	font-size:12px;
	margin-top:10px;
}



.rounded{	
	float:left;
	
	color:#1f2120;
}
.square{
	float:left;
	margin-right:10px;
	
}
.photo{
	float:left;
	margin-right:0px;
	margin-left:5px;
}

.normal{
	float:left;
	margin-right:10px;
	color:#1f2120;
}

.seperator{
	float:left;
	margin-left:5px;
	margin-right:5px;
	
}

#rounded:hover {
		cursor:pointer;
		color:#1f2120;
}
#square:hover {
		cursor:pointer;
		color:#1f2120;
}

#photo:hover {
		cursor:pointer;
		color:#1f2120;
}

#normal:hover {
		cursor:pointer;
		color:#1f2120;
}


.shadowselector {	
	color:#A6B8CC;
	font-family: 'Oswald', sans-serif;
	font-size:12px;	
	margin-top:5px;
	margin-left:5px;
}

#shadow1 {cursor:pointer;float:left;margin-left:7px}
#shadow2 {cursor:pointer;float:left;margin-left:0px}
#shadow3 {cursor:pointer;float:left;margin-left:0px}


#demo-content #grey_head{
	position:absolute;
	top:0;
	left:0;
	background-color:#e8e8e8;	
	height:58px;
	width:100%;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-toprleft: 10px;
	-webkit-border-top-left-radius: 10px;
}
#demo-content #demo-toolbox {
	position:relative;
	z-index:10;
	background-color:#1f2120;
	width:auto;
	float:right;
	margin-right:30px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 6px 0px #797a79;
	-moz-box-shadow:  0px 0px 6px 0px #797a79;
	box-shadow: 0px 0px 6px 0px #797a79;
}
#demo-content #demo-toolbox .button {
	font-family: 'Oswald', sans-serif;
	color:#A6B8CC;
	font-size:18px;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-top:0px;
	cursor:pointer;
}
#demo-content #demo-toolbox .button:hover {
	color:#fff;
}

#demo-content #demo-toolbox #divider {
	margin-left:10px;
	margin-right:10px;
	float:left;
	overflow:hidden;
	background-image:url(../images/navigation/toolbar_separator.png);
	width:2px;
	height:28px;
}
#demo-content #sourcecode-headline{
	color:#000;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
	clear:both;
	margin:30px;
}
#demo-content #sourcecode{
	color:#333;
	background-color:#f2f8ff;
	border:1px solid #b4b8bd;
	border-style:dotted;
	margin-left:30px;
	margin-right:30px;
};

.gray-background{
	background-color: #ccc;
	height:40px;
	width:100px;
	position:absolute;
	top:0px;
	left:0px;
}

#demo-content hr{
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:1px dotted #b4b8bd;
	height: 0;
	margin-top:40px;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:20px;
}
#demo-content #infobox{
	margin-left:30px;
	overflow:hidden;
}
#demo-content #infobox #left_info,#demo-content #infobox #right_info{
	float:left;
	padding-top:15px;
	height:38px;
	vertical-align:middle;
	color:#A6B8CC;
	font-size:14px;
	margin-bottom:30px;
}
#demo-content #infobox #left_info{
	padding-left:60px;
	background:#fff url(../images/icon_1.png) no-repeat;
	border-right:1px dotted #b4b8bd;
	width:360px;
}
#demo-content #infobox #right_info{
	padding-left:55px;
	background:#fff url(../images/icon_2.png) no-repeat;
	margin-left: 30px;
}
