<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="shortcut icon" href="../images/favicon.png" type="image/png">-->

  <title>Quirk Responsive Admin Templates</title>

  <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="../lib/weather-icons/css/weather-icons.css">
  <link rel="stylesheet" href="../lib/jquery-toggles/toggles-full.css">

  <link rel="stylesheet" href="../css/quirk.css">

  <script src="../lib/modernizr/modernizr.js"></script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../lib/html5shiv/html5shiv.js"></script>
  <script src="../lib/respond/respond.src.js"></script>
  <![endif]-->
</head>

<body>


<section>

  <div class="notfoundpanel">
    <h1>404!</h1>
    <h3>The page you are looking for has not been found!</h3>
    <h4>The page you are looking for might have been removed, had its name changed,<br>or unavailable. Maybe you could try a search:</h4>
    <form action="index.html">
      <div class="input-group mb15">
        <input type="text" class="form-control" placeholder="Search here">
        <span class="input-group-btn">
          <button class="btn btn-success" type="button"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div>
    </form>
    <hr class="darken">
    <ul class="list-inline">
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Terms of Use</a></li>
      <li><a href="">Contact Us</a></li>
      <li class="pull-right">Quirk &copy; 2015. All Rights Reserved.</li>
    </ul>

  </div><!-- notfoundpanel -->

</section>


<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/jquery-ui/jquery-ui.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../lib/jquery-toggles/toggles.js"></script>

<script src="../js/quirk.js"></script>

</body>
</html>
