/*首页*/
body{overflow: hidden;}
*{padding: 0;margin:0;}
li{list-style: none}
.menu_time{font-size: 12px;}
.logo-lg{font-weight: bold;font-size: 16px;}
.sidebar-menu li a{padding-left:12px;}
.sidebar-menu li a i{font-size: 18px;width:23px!important;}
.sidebar-menu li a span{line-height: 20px;position: relative;top: -1px;}
.sidebar-menu li ul.treeview-menu li a i{line-height: 1.5;}
.content-header{height: 45px;background: #000;border-bottom: 1px dashed #fff;}
.content{overflow: hidden;position:relative;}
.sy_lou{height: 383px;overflow: hidden;}
.sy_lou .nei img{background: url(../images/)}
.sy_louxin{height: 383px;}
.nei{height: 100%;background: #21242e;margin: 0;padding: 0}
.sy_louxin .nei{height: 383px;margin-left: 10px;padding-right:10px;margin-right: 10px;}
.sy_louxin ul {padding:0;padding-top: 1px;color: #fff}
.sy_louxin ul li{margin:21px ;height: 50px;border-radius: 5px;}
.sy_louxin .nei ul li .row .louzhong img{position: relative;left: 10px;}
.sy_louxin ul li img{margin: 6px auto;display: block;}
.louxinpup{font-size: 14px;line-height:1.6em;margin: 0;padding-left: 10%;}
.louxinpdown{font-size: 24px;font-weight: bold;line-height: 1em;margin: 0;padding-left: 10%;}
.louxinlione{background:#4eb7cd; }
.louxinlitwo{background:#ff6b6b; }
.louxinlithree{background:#55c45f; }
.louxinlifour{background:#393f4f; }
.louxinlifive{background:#292d39; }
.sy_louxin ul li:hover{background: #000;}
.sy_xypm{overflow: hidden;height:255px;}
.sy_xypm .nei .nei{height: 255px;}
.echarts_sy_one{height: 100%;width: 100%;background: #fff;}
.sy_xycl{height: 255px;}
.up-margin{margin-top: 10px}
.sy_xycl .nei{height: 255px;margin-left: 10px;padding-right:10px;margin-right: 10px;padding-left: 20px;}
.sy_xycl .nei p{color: #fff;font-size: 13px;line-height: 1.4em;padding-top:15px;margin-bottom: 0;}
.sy_xycl .nei p a{padding-top:15px;}
.echarts_sy_two{height: 100%;width: 100%;background: #fff;}
.sy_xyfabl,.sy_yhxypm{height: 255px;overflow: hidden;}
.sy_yhxypm .nei{border-left:10px solid #000;}
.echarts_sy_three{height: 100%;width: 100%;background: #fff;}
.echarts_sy_four{height: 100%;width: 100%;background: #fff;}
.nei_active{width:50px;}
.logo-lg img{padding-right: 5px;}
.all_title{font-size: 22px;color: #fff;line-height: 45px;padding-left: 10px;}
.sy_xypm .nei{width:100%;position:relative;}
@media (max-width: 992px) {.sy_louxin,.sy_xycl,.sy_yhxypm{margin-top:10px;}.sy_louxin .nei{margin-left:0;margin-right:0}	.sy_xycl .nei,.sy_yhxypm .nei{margin-left:0;margin-right:0}	.sy_yhxypm .nei {border-left:none;}	}

/*登录页*/
.login{width: 537px;height: 458px;background: #fff;position: absolute;z-index: 99999;left: 500px;top:100px;background: url(../images/login.png);}
.loginform{position: absolute;width: 250px;height: 138px;top: 249px;left: 140px;}
.login_user input{height: 30px;width: 228px;line-height: 30px;border:1px solid #b4c5cc;background:#fff;border-radius: 5px;overflow: hidden;padding: 0 10px;color: #666;font-size: 14px;}
.login_pass{margin-top: 19px;}
.login_pass input{height: 30px;width: 228px;line-height: 30px;border:1px solid #b4c5cc;background:#fff;border-radius: 5px;overflow: hidden;padding: 0 10px;color: #666;font-size: 14px;padding: 0 10px;}
.login_botton{margin-top: 19px;}
.login_botton input{width:100px;height: 35px;line-height: 33px;background: #ff7e00 url(../images/icon_06.png)no-repeat 5px 5px;border:1px solid #d96627;border-radius: 5px;overflow: hidden;color: #fff;padding-left: 30px;}

/* 运行监测 */
.yxjc img{max-width: 100%;display: block;margin: 10px auto;max-height: 100%;}
.yxjc{position: relative;height: 100%;width: 100%;}
.yxjc_info{top:20px;left: 20px;width: 140px;float: left;height: 100%;}
.yxjc_info li{list-style: none;overflow: hidden;margin-bottom: 5px;height: 40px;width:130px;background: url(../images/icon_56.png);background-size: 100% 100%;}
.yxjc_info li p,.yxjc_info li a{line-height: 40px;padding-left: 15px;color: #fff;cursor: pointer;}
.yxjc_info li p span,.yxjc_info li a span{height: 30px;width: 30px;margin: 4px;float: right; margin-right: 10px;}
.yxjc_info li a{display: block;}
.yxjc_tubiao1{background: url(../images/icon_50.png)no-repeat center center;}
.yxjc_tubiao2{background: url(../images/icon_51.png)no-repeat center center;}
.yxjc_tubiao3{background: url(../images/icon_52.png)no-repeat center center;}
.yxjc_tubiao4{background: url(../images/icon_53.png)no-repeat center center;}
.yxjc_tubiao5{background: url(../images/icon_54.png)no-repeat center center;}
.yxjc_tubiao6{background: url(../images/icon_55.png)no-repeat center center;}

.xuanli .yxjc_tubiao1{background: url(../images/icon_60.png)no-repeat center center;}
.xuanli .yxjc_tubiao2{background: url(../images/icon_61.png)no-repeat center center;}
.xuanli .yxjc_tubiao3{background: url(../images/icon_62.png)no-repeat center center;}
.xuanli .yxjc_tubiao4{background: url(../images/icon_63.png)no-repeat center center;}
.xuanli .yxjc_tubiao5{background: url(../images/icon_64.png)no-repeat center center;}
.xuanli .yxjc_tubiao6{background: url(../images/icon_65.png)no-repeat center center;}

.yxjc_info_right{float: left;}


/* 响应效果评价 */
.xj_left{background: #21242e;}
.xj_left h4{padding:12px 10px ;margin: 0;font-size: 14px;color: #fff;}
.xj_left h4 span{float: right;font-size: 13px;color: #999}
.xj_left p{padding:5px 10px;color: #6a7683;margin: 0;font-size: 13px;padding-left: 32px;background: url(../images/icon_28.png)no-repeat 11px 7px;}
.xj_left p.xj_left_chioce{padding:5px 10px;color: #fff;margin: 0;font-size: 13px;padding-left: 32px;background: url(../images/icon_29.png)no-repeat 11px 7px;}
.xg_right .nei{margin-left: 10px;background: #000}
.xg_right .nei .col-md-4{height: 255px;}
.min-255{min-height: 255px;height: auto!important;}
.xg_right .nei_left{margin-left: 10px;background: #21242e;height: 100%;}
.nei_none{background: #21242e;height: 100%}
.nei_both{padding:10px;background: #21242e;height: 100%}
.nei_both p{color: #fff}
.echarts_xyxgpj_two{height: 100%;width: 100%}
.xg_right_two_left,.xg_right .nei .xg_right_two_right{height: 270px;}
.yxpjxg_one{color: #fff;font-size: 13px;padding:8px 20px;margin-bottom: 0}
.yxpjxg_two{margin: 5px 20px;background: #1571b0;border-radius: 5px;overflow: hidden;height: 26px;}
.yxpjxg_two p{text-align: center;color: #fff;line-height: 26px;font-size: 14px;}
.yxpjxg_three{margin: 5px 20px;background: #f86868;border-radius: 5px;overflow: hidden;height: 26px;}
.yxpjxg_three p{text-align: center;color: #fff;line-height: 26px;font-size: 14px;}
.yxpjxg_four{color: #fff;font-size: 13px;margin: 0 20px;height: 24px;}
.yxpjxg_five{color: #fff;font-size: 13px;margin: 0 20px;height: 76px;}
.yxpjxg_five textarea{height: 75px;width: 100%;color: #333;padding:5px;}
.xg_right_one_left p{font-size: 13px;margin: 0;line-height: 26px;padding-left: 32px;} 
.xrol_1{background: url(../images/icon_30.png)no-repeat 9px 6px;}
.xrol_2{background: url(../images/icon_31.png)no-repeat 9px 6px;}
.xrol_3{background: url(../images/icon_32.png)no-repeat 9px 6px;}
.xrol_4{background: url(../images/icon_33.png)no-repeat 9px 6px;}
.xrol_5{background: url(../images/icon_34.png)no-repeat 9px 6px;}
.xrol_6{background: url(../images/icon_35.png)no-repeat 9px 6px;}
.xrol_7{background: url(../images/icon_36.png)no-repeat 9px 6px;}
.xrol_8{background: url(../images/icon_37.png)no-repeat 9px 6px;}
.xrol_ding{width: 96px;text-align: justify;display: inline-block; text-align-last:justify;padding-right: 5px;}
.xrol_lv{color: #36c056;}

.margin10{border-top: 10px solid #000;}
.ershi{height: 20px;}
.xyxgpj_top{background: #000;border:10px solid #4a5d65;border-radius: 30px;overflow: hidden;}
.waibaohei{background: #000;}
.xyxgpj_top_nei{border:7px solid #fff;border-radius: 20px;position: relative;background:#fff;overflow: hidden;}
.xyxgpj_top_nei p{margin:0;}
.xyxypj_left{height: 100%;width: 20%;float: left;min-height: 50px;position: relative;z-index: 2;}
.xyxypj_left p{font-size: 50px;color: #fff;text-align: center;}
.xyxgpj_right{height: 100%;width: 80%;float: left;min-height: 50px;position: relative;z-index: 2;}
.xyxgpj_right p{padding: 10px;color: #000;line-height: 26px;}
.baoxun{margin:0;}
.baoxun input{height: 26px;width: 60px;background: #1571B0;text-align: center;color: #fff;border:none;margin:10px auto 0 auto;display: block;line-height: 26px;}
/*新版样式*/
.xyxgpj_center .nei{margin: 0 10px;}
.xyxgpj_title{background: #181b22;line-height: 30px;color: #fff;font-size: 13px;padding:10px 20px;}
.xyxgpj_con_title{border-top:10px solid #000;min-height: 30px;padding:10px 20px;background: url(../images/icon_30.png)no-repeat 20px 16px;color: #fff;padding-left: 40px;font-size: 13px;line-height: 26px;}
.xyxgpj_tjmb{padding-left: 20px;margin-left: 20px;background: url(../images/icon_33.png)no-repeat;}
.xyxgpj_sjtj{padding-left: 20px;margin-left: 20px;background: url(../images/icon_36.png)no-repeat;}
.xyxgpj_search{float: right;}
.xyxgpj_search input{background: none;border:1px solid #626262;padding:0 5px;}
.xyxgpj_center li{padding:0 20px;color: #fff;font-size: 13px;}
.xyxgpj_center li span{width: 20%;display: inline-block;line-height: 30px;min-width: 120px;}
.xyxgpj_li_2{padding-left: 19px;background: url(../images/icon_32.png)no-repeat 0 8px;}
.xyxgpj_li_3{padding-left: 19px;background: url(../images/icon_31.png)no-repeat 0 8px;}
.xyxgpj_li_4{padding-left: 19px;background: url(../images/icon_33.png)no-repeat 0 8px;}
.xyxgpj_li_5{padding-left: 19px;background: url(../images/icon_36.png)no-repeat 0 8px;}
.fangancontent{border:1px solid #626262;border-radius: 5px;margin: 10px 20px;}
.fangancontent p{padding: 10px;margin: 0;color:#b8b6b6;font-size: 13px;}
.xyxgpj_echarts{border-top:10px solid #000;min-height:356px;}
.echarts_xyxgpj_three{height: 340px;width: 100%;}
.charqie{height: 50px;}
.charqie_left{width: 50%;line-height: 50px;text-align: center;float: left;background: #181b22;color: #fff;}
.charqie_choice{background: #21242e;color: #acabab;}
.charqie_left p{margin:0;}
.echart_qu{width: 100%;height: 230px;background: #21242e;}
.echarts_xyxgpj_one,.echarts_xyxgpj_two{height: 100%;width: 100%;}
.xyxgpj_rightbottom{border-top:10px solid #000;background: #21242e;padding-bottom: 10px;}
@media (max-width: 1200px) {.xj_left{margin-bottom:10px;}.xg_right .nei{margin-left: 0}}
@media (max-width: 992px) {.xg_right_one_left{margin-bottom:10px;}.xg_right .nei_left{margin-left: 0}.xm-top{margin-top: 10px}
.xyxgpj_center .nei{margin: 0 ;}.charqie{border-top:10px solid #000;}.echart_qu{border-top:10px solid #000;}}
.xyxgpj_baifen{position: absolute;height: 100%;width: 70%;background:#89b329;z-index: 1;}
/* 实时监测 */
.ssjc_left{background: #21242e;}
.ssjc_right .nei{background: #21242e;margin-left: 10px;}
.ssjc_title{border-bottom:1px solid #43454e;line-height: 40px;}
.ssjc_title p{padding:0 10px;color: #fff;font-size: 14px;}
.ssjc_title_right{float: right;}
.ssjc_title_right span{float: left;padding:0 5px;font-size: 12px;line-height: 43px;cursor: pointer;}
.ssjc_title_right span.check{color: #72afd2;}
.ssjc_search{height: 40px;padding:0 10px;}
.ssjc_search p{color: #fff;font-size: 14px;line-height: 1.6em;padding-top: 10px;}
.ssjc_search p input{border:1px solid #8a8b90;background: url(../images/icon_07.png) no-repeat ;width: 57%;padding: 0 5px;height: 24px;line-height: 24px;color: #8a8b90;font-size: 12px;background-position:right center;}
.tree_menu{margin: 10px;color: #fff;margin-bottom: 10px;padding-bottom: 1px;}
.father_child{height: 18px;}
.father_child span{height: 18px;width: 18px;display: block;float: left;}
.father_child span.dianqu{background: url(../images/icon_08.png)-62px -54px}
.father_child span.check{height: 13px;width: 13px;background: url(../images/icon_08.png)0 -48px;margin-top: 3px;}
.father_child span.icon{background: url(../images/icon_08.png)-80px -16px;margin-left: 3px;margin-right: 3px;height: 17px;width: 17px;margin-top: 1px;}
.child_fathertree{position: relative;left:17px;}
.child_fathertree span.dianqu{background: url(../images/icon_08.png)-44px -18px}
.child_child_fathertree{position: relative;left:17px;}
.father_child span.icon{background: url(../images/icon_08.png)-80px -16px;margin-left: 3px;margin-right: 3px;height: 17px;width: 17px;margin-top: 1px;}
.child_last_tree{position: relative;left:17px;}
.child_last_tree span.dianqu{background: url(../images/icon_08.png)-28px -18px;height: 18px;width: 18px;display: block;float: left;}
.child_last_tree span.check{height: 13px;width: 13px;background: url(../images/icon_08.png)0 -48px;margin-top: 3px;float: left;display: block;}
.child_fathertree{background: url(../images/icon_09.png) repeat-y;}
.child_child_fathertree{background: url(../images/icon_09.png) repeat-y;}
.ssjc_title p{margin: 0;}

/*树形导航*/
.tree {min-height:20px;padding:19px;/*margin-bottom:70px;*/border:1px solid #999;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)}
.tree li {list-style-type:none;margin:0;padding:10px 5px 0 5px;position:relative}
.tree li::before, .tree li::after {content:'';left:-20px;position:absolute;right:auto}
.tree li::before {border-left:1px solid #999;bottom:50px;height:100%;top:0;width:1px}
.tree li::after {border-top:1px solid #999;height:20px;top:25px;width:25px}
.tree li span {-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #999;border-radius:5px;display:inline-block;padding:3px 8px;text-decoration:none;height: 30px;}
.tree li.parent_li>span {cursor:pointer}
.tree>ul>li::before, .tree>ul>li::after {border:0}
.tree li:last-child::before {height:25px}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {background:#eee;border:1px solid #94a0b4;color:#000}
[class^="icon-"], [class*=" icon-"] {background-image: url("../images/glyphicons-halflings.png");background-position: 14px 14px;background-repeat: no-repeat;display: inline-block;height: 14px;line-height: 14px;margin-top: 1px;vertical-align: text-top;width: 14px;}
.icon-folder-open {background-position: -408px -120px;width: 16px;}
.icon-minus-sign {background-position: -24px -96px;}
.icon-plus-sign {background-position: 0 -96px;}
.icon-leaf {background-position: -48px -120px;}
.tree ul {margin: 0 0 0 25px;padding: 0;}
.tree ul.none_margin {margin: 0;padding: 0;}
.tree_menu em{font-style: normal;}
/*树形导航*/
.tree_check{position:relative;top:1px!important;margin:0 3px!important;}
.ssjc_left_bottom{position: absolute;height:40px;width: 100%;bottom: 20px;background: #21242e;padding:10px 0;display: none;}
.ssjc_left_bottom span{display: block;height: 40px;width: 40px;margin: 0 auto;}
.ssjc_lbshare{float: left;}
.ssjc_left_bottom_one{background: url(../images/icon_10.gif);}
.ssjc_left_bottom_two{background: url(../images/icon_11.gif);}
.ssjc_left_bottom_three{background: url(../images/icon_12.jpg);}
.ssjc_right .nei{margin: 0 10px;padding-left: 10px;width:98%;}
.ssjc_right_up{width: 100%;}
.ssjc_ru_title{min-height: 45px;width: 100%;}
.ssjc_ru_title select{color: #333;}
.ssjc_ru_title option{color: #333;}
.ssjc_ru_title input{color: #fff;padding: 0 5px;line-height: 24px;display: block;float: right;margin-top: 4px;height: 24px;margin-left: 5px;background: none;border:1px solid #fff;}
.ssjc_ru_title input.shi{min-width: 120px}
.ssjc_ru_title span{padding:0 5px;color: #fff;display: block;float: left;min-height: 30px;line-height: 30px;margin-top: 5px;margin-bottom: 5px;}
.ssjc_ru_title span:first-child{padding-left: 10px;}
.ssjc_ru_title .float_right{float: right;margin-top: 5px;}
.ssjc_ru_table{height:350px;width: 100%;position: relative;}
.echarts_ssjc_one{height: 100%;width: 100%;position: absolute;}
.echarts_ssjc_two{height: 100%;width: 100%;display: none}
.ssjc_right_bottom{border-top:10px solid #000;}
.ssjc_right_bottom .nei p{color: #fff;line-height: 30px;font-size: 14px;}
.ssjc_rub_table{width: 98%;}
.ssjc_rub_table table{width: 100%;border-color: #fff;color: #fff;font-size: 13px;}
.ssjc_rub_table table tr{height: 30px;}
.ssjc_rub_table table tr td{height: 30px;line-height: 30px;padding:0 5px;}
.ssjc_rub_table table tr th{height: 30px;line-height: 30px;padding:0 5px;}
.ssjc_rub_table .t_fanye{min-height: 30px;width: 100%;border-top:1px solid #fff;}
.cheng_ershi{height: 20px;width: 100%;}
.t_fanye span{height: 20px!important;min-height: 20px!important}
.t_fanye .upten{float: left;width: 20px;margin: 5px;margin-left:20px;background: url(../images/icon_13.png);}
.t_fanye .up{float: left;height: 20px;width: 20px;margin: 5px;background: url(../images/icon_14.png);}
.t_fanye .split{float: left;height: 20px;width: 20px;margin: 5px;background: url(../images/icon_15.png);}
.t_fanye .page_info_one{float: left;line-height: 20px;color: #fff;padding:0 5px;margin:5px 0;}
.t_fanye .dowm{float: left;height: 20px;width: 20px;margin: 5px;background: url(../images/icon_16.png);}
.t_fanye .downten{float: left;height: 20px;width: 20px;margin: 5px;background: url(../images/icon_17.png);}
.page_info_two{float: left;line-height: 20px;color: #fff;padding:0 5px;margin:5px 0;}
.page_info_three{float: right;line-height: 20px;color: #fff;padding:0 5px;padding-right: 20px;margin:5px 0;}
.table_fang{border:1px solid #fff;margin-bottom: 20px;width: 98%;}
.table_fang li{min-height: 30px;border-bottom: 1px solid #fff}
.table_fang  span{border-right:1px solid #fff;float: left;min-height: 30px;line-height: 30px;padding-left: 5px;color: #fff;font-size: 13px;}
.table_fang  span i{line-height: 30px;display: block;}
.table_head{border-bottom: 1px solid #fff;width: 100%;}
.table_head span{font-weight: bold;}
.t_fanye span{border-right: none;}
.table_fang i{font-style: normal;}
@media (max-width: 992px) {.ssjc_right_up .nei{margin-left:0;}.xyfagl_one_right{border-top: 10px solid #000;}}

/* 符合相应分析 */
.float_right{float: right;}
.float_right .youcecha{margin-right: 10px;height:26px;text-align: center;line-height: 26px;width: 70px;color: #fff;background: #399AD7;border:none;border-radius: 3px;overflow: hidden;}
.fhxyfx_title{background: #21242e;padding-left: 10px;line-height: 38px;color: #fff;}
.fhxyfx_title .tiaoshijian i{left:83px;top:13px;}
.xyfagl_one{border-top: 10px solid #000;background: #21242e;min-height: 329px;}
.xyfagl_one_left{padding-left: 10px; border-right: 10px solid #000}
.xyfagl_one_left p{color: #fff;font-size: 14px;line-height: 20px;padding-top: 10px;}
.xyfagl_one_left_left{float: left;width: 50%;min-height: 280px;}
.xyfagl_one_left_left p{color: #fff;font-size: 14px;color: #fff;}
.xyfagl_one_left_left p span{width: 108px;display: inline-block;text-align: justify;text-justify:distribute-all-lines;text-align-last:justify; padding-right: 5px;}
.xyfagl_one_left_right{height: 280px;width:50%;float: left;}
.echarts_one{height: 100%;width:90%;}
.xyfagl_one_right{min-height: 320px;}
.xyfagl_one_right p{color: #fff;font-size: 14px;padding-top: 9px;padding-left: 20px;}
.baibi{height: 12px;margin-left: 20px;width: 70%;background: #404655;position: relative;float: left;}
.baibi77{position: absolute;height: 100%;width: 77%;background: #50cb8c;display: block;}
.baibishu{float: left;color: #fff;line-height: 12px;font-size: 12px;padding-left: 10px;}
.baibikuang{height: 12px;width: 100%;}
.baibi27{position: absolute;height: 100%;width: 27%;background: #858ba3;display: block;}
.baibi67{position: absolute;height: 100%;width: 67%;background: #f77575;display: block;}
.baibi47{position: absolute;height: 100%;width: 47%;background: #d27ac4;display: block;}
.baibi87{position: absolute;height: 100%;width: 87%;background: #f0ae34;display: block;}
.echarts_two{height: 350px;width:100%;background: #21242e;border-top: 10px solid #000;}
.echarts_two p{color: #fff;line-height: 30px;padding-left: 10px;padding-top: 5px;margin:0;}
.echarts_two .echarts_xyxgpj_two{height: 300px;width: 100%;}
.fhxyfx_table{width: 100%;border-top:10px solid #000;background: #21242e;padding: 10px;}
.fhxyfx_table table{width: 100%;color: #fff;}
.fhxyfx_table table{margin-top: 10px;border:1px solid #fff;}
.fhxyfx_table table tr{min-height: 30px;border-bottom: 1px solid #fff;}
.fhxyfx_table table tr td{line-height: 30px;min-height: 30px;padding:0 5px;} 
.fhxyfx_table .t_fanye{border:1px solid #fff;border-top: none;}
.fhxyfx_qie{display: none}
.xyfagl_one_left_right .echarts_xyxgpj_three{height: 100%;}
.fhxyfx_fan{float: right;height: 30px;width: 30px;display: block;background: url(../images/icon_44.png);background-size:100% 100%;cursor: pointer;margin-right: 15px;}


/* 预警管理 */
.ssjc_ru_title .left_ten{padding-left: 10px;}
.ssjc_ru_title .right_ten{padding: 0 10px;}
.echarts_yjgl_one{height: 270px;margin-top: 10PX;}
.echarts_yjgl_two{height: 270px;margin-top: 10PX;}
.yjgl_ru_table{width: 100%;}
.ssjc_right_bottom .nei{padding-left: 10px;}

/* 响应方案 */ 
.xyfa_title{min-height: 39px;}
.xyfa_title .float_right{margin-top:5px;}
.fuceng{position: fixed;width: 100%;height:400px;background: rgba(22,22,22,0.6);z-index: 999999;top:0;left: 0;display: none}
.fuqu{width: 640px;position: absolute;top:100px;left: 400px;}
.fuquzone{width: 640px;background: #fff;margin-top: 51px;border-radius: 10px;overflow: hidden;;}
.fuqulogo{position: absolute;width: 102px;height: 102px;left:269px;top:0px;background: url(../images/icon_25.png);}
.fuqutitle{height:60px;background:#eee;padding-left: 30px;color: #399ad7;font-size: 20px;line-height: 60px;font-weight: bold;margin: 0;margin-bottom:20px;}
.fuqutitle span{float: right;margin-right: 20px;color: #5e5e5e;font-size: 30px;cursor: pointer;margin-top: 20px;line-height: 20px;}
.fuqubiao{padding:0 30px;margin-top: 10px;}
.fuqubiao p{font-size: 12px;height: 30px;margin: 0;line-height: 30px;position: relative;}
.fuqubiao p span{width: 100px;display: inline-block;float: left;}
.fuqubiao p input{width: 250px;padding-left: 5px;border:1px solid #5e5e5e;display: inline-block;float: left;border-radius: 3px;overflow: hidden;height: 20px;line-height: 20px;margin-top: 5px;}
.fuquqie{margin: 20px 30px;height:24px;width: 226px;background: url(../images/icon_26.png); line-height: 24px;}
.fuquqieone,.fuquqietwo{width: 100px;display: inline-block;padding-left: 10px;font-size: 13px;color: #d4cece}
.fuquxuanbai{color: #fff;}
.fuquqienei{margin-top: 20px;}
.fuquqieju{float: left;width: 252px;margin-left: 30px;}
.fuquqiezuo{margin-right: 20px;}
.fuquqieju p{color: #399ad7;font-size: 14px;line-height: 20px;font-weight: bold;margin: 0}
.fuqutable{margin-top: 3px;border:1px solid #5e5e5e;border-radius: 7px;overflow: hidden;}
.fuqutable li{border:1px solid #5e5e5e;height: 30px;line-height: 28px;font-size: 13px;}
.fuqutable li span{width: 33%;padding:0 7px;display: inline-block;border-right: 1px solid #5e5e5e;text-align: center;}
.fuqutable li span:last-child{border:none;}
.fuqusave{height: 50px;}
.fuqusave input{display: block;height: 26px;width: 60px;margin:20px auto;color: #fff;border:1px solid #95c2de;background: #399ad7;}

/* 设备入库 */ 
.sbrk_table{border-top:1px solid #4b4e56;margin-top: 20px;padding-top: 10px;}
.sbrk_table p{font-size: 13px;color: #fff;}
.sbrk_table li{padding-left: 10px;position: relative;}
.sbrk_table li p span{width: 70px;display: inline-block;}
.sbrk_table li p input{background: none;border:1px solid #4b4e56;padding-left: 3px;height: 20px;width: 60%;}
.sbrk_table li p input.in_sub{height: 30px;line-height: 30px;padding:0 10px;background: #2391d7;color: #fff;width: auto;border-radius: 3px;margin-right: 10px;margin-top: 15px;overflow: hidden;}
.clear{clear:both;}
.sdrk_select{ border: 1px solid #4b4e56;color: #fff;text-align: left;width: 60%;background: none;position: relative;left: -3px;}
.sdrk_select option{padding-left: 3px;}
.sbbh_radio {width: 100px!important;height: 20px;}
.sbbh_radio input{height: 12px!important;width: 12px!important;float: left;margin: 0;margin-right: 3px;margin-top: 9px;}
.sbbh_radio label{float: left;margin: 0;margin-right: 10px;font-weight: normal;line-height: 30px;}
.shixuan{height: 18px;width: 18px;position: absolute;left: 80px;top:1px;background: #fff;padding:2px;z-index: 0}
.sbrk_table li p .shixuan_input{padding-left: 22px;z-index: 2;position: relative;}
.biao_select{height: 100%;width: 100%;background: none}






/* 设备安全 */ 
.sbaz_table{padding-bottom: 15px;}
.sbaz_table p{padding:0 50px;text-align: center;color: #fff;} 
.sbaz_table p input{border:1px solid #fff;background: none;padding-left:5px;width: 70px;margin-right: 10px;}
.sbaz_table p input.in_sub{background: #2391d7;color: #fff;width: auto;padding:0 5px;border-radius: 3px;overflow: hidden;border-color: #2391d7}
.sbaz_table{border-top:1px solid #4b4e56;margin-top: 20px;padding-top: 10px;}
.sbaz_table span{margin-top: 10px;display: inline-block;}
.sbaz_table input{margin-top: 10px;display: inline-block;}

/* 控制策略 */ 
.float_left{float: left;}
.float_right{float: right;}
.fuqubiao p span.rad{width: 120px;}
.fuqubiao p .rad input{height: 16px;width: 16px;margin-right: 5px;margin-top: 7px;border:none;}
.fucelue{width:572px;height: 169px;background: url(../images/icon_40.png); margin-top: 20px;margin-left: 28px;}
.fuceluetitle{padding-left: 10px;color: #fff;font-size: 13px;line-height: 25px;}
.fuquqiejut{float: left;width: 252px;margin-left: 17px;margin-right: 17px;}
.fuquqiejut .fuqutable li span{width: 25%;display: inline-block;border-right: 1px solid #5e5e5e;text-align: center;padding:0;}

/* 系统集成 */ 
.xtjc{background: #21242e;min-height: 100%;}
.xtjc_li img{margin: 0 auto;display: block;}
.xtjc_li p{color: #fff;font-weight: bold;text-align: center;line-height: 3em;}
.xtjc_nei:hover p{color: #333;font-weight: bold;text-align: center;line-height: 3em;}
.xtjc_nei{width: 107px;margin: 40px auto;margin-top: 50px;}
.xtjc_nei img {transition:All 0.7s ease-in-out;-webkit-transition:All 0.7s ease-in-out;-moz-transition:All 0.7s ease-in-out;-o-transition:All 0.7s ease-in-out;}
.xtjc_nei:hover img{transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);}

/* 响应方案管理 */ 
.xyfagl_right_bottom .nei{margin: 10px 0;}
.xyfagl_right_up .nei{margin: 0;margin-bottom: 10px;}
.xyfagl_right_bottom p{color: #fff;font-size: 14px;line-height: 2em}

/* 临时增加 */
.content-wrapper{min-height: 200px!important;}
.chengkuang_120{border-left:1px solid #fff;border-right:1px solid #fff;height:120px;}
div.lin_add{height: 30px;}
.lin_kongxian{height: 30px;}
div.linxian{height: 30px;}
.ssjc_ru_title span{display: block;}
.tree_two,.tree_three{display: none;}
.sbaz_table .float-left{margin: 0;float: left;}
.sbaz_table .float-right{margin: 0;float: right;margin-top: 10px;}
.xian{display: none;}
.kongxian{border:none!important;height: 30px;}
.tj_table .table_check{display: block;margin: 5px auto;}
.tiaoshijian{position: relative;height: 39px;float: left;display: block;}
.tiaoshijian input{line-height:24px;background: none;position: relative;z-index: 2;padding-left: 30px;color: #fff;border:1px solid #fff;height: 24px;margin-top: 8px;}
.tiaoshijian i{position: absolute;top: 13px;left: 90px;z-index: 1;background: none}
.biaoti_select{ border: 1px solid #4b4e56;color: #fff;text-align: left;background: none;}
.ssjc_ru_title .biaoti_select{color: #fff;padding-right:3px;}
.ssjc_ru_title .biaoti_select option{color: #fff;background: #21242e ;}
.qiankong_tiaoshijian  i{position: absolute;top:13px;left: 8px;z-index: 1;background: none}
.float-right{float: right}
.table-condensed th{text-align: center;}
.table-condensed tbody tr td{cursor: pointer;}
.table-condensed thead i{cursor: pointer;} 
.text_al_rig{text-align:right;}
.lindianjia{cursor:pointer;}
.sbaz_table p .tiaoshijian input{width:120px;background: none;position: relative;z-index: 2;padding-left: 30px;color: #fff;border:1px solid #fff;height: 24px;}
.sbaz_table p .tiaoshijian i{position: absolute;top: 16px;left: 83px;z-index: 1;background: none}
.anniu{margin-right: 10px;height:24px;text-align: center;line-height: 24px;width: 70px;color: #fff;background: #399AD7;border:none;border-radius: 3px;overflow: hidden;}
.sy_newtablecon  input{line-height:20px;height: 20px;border:1px solid #999;background: #fff;margin: 4px 4px;border-radius: 3px;overflow: hidden;width: 120px;padding-left: 5px;color: #399AD7;}
.sy_jinggao{position: absolute;top:30px;right:30px;height: 27px;width: 30px;z-index: 100;cursor: pointer;}
.jing{background: url(../images/icon_43.gif);background-size: 100% 100%;}
.ssjc{width: 100%;}
option{background: #21242e;}
.fhxyfx_ri{cursor: pointer;}
.fuqubiao textarea{height: 80px;width: 300px;border:1px solid #5e5e5e;padding:5px;border-radius: 5px;overflow: hidden;}
.fuqubiao .tiaoshijian{height: 15px;}
.fuqubiao i{position: absolute;top: 9px;left: 107px;}
.fuqubiao .shi{padding-left: 24px;line-height: 20px;}

/* 新首页 */
.rezone{width:100%;background:#eee;}
.requtu{width: 100%;margin:0;overflow:hidden;position: relative;}
.requtu img{width:100%;}
.sy_tab{border:1px solid #5f6065;margin-top: 10px;background: #2a2d35;width:100%;color:#fff;line-height:40px;font-size:14px;border-right:none;}
.sy_tab tr{border-bottom:1px solid #5f6065;}
.sy_tab td{border-right:1px solid #5f6065;padding:0 5px;}
.requone{position: absolute;height: 139px;width: 350px;left: 400px;top: 200px;background: url(../images/icon_39.png)no-repeat;display: none;}
.requzuo{width: 76px;height: 46px;float: left;border:none;}
.requyou{width: 273px;height: 139px;float: left;}
.requyou_title{font-size: 14px;color: #fff;font-weight: bold;height: 26px;line-height: 26px;margin-bottom: 0}
.requyou_inf{height: 35px;line-height: 35px;color: #32323c;font-size: 13px;}
.requyou_infleft{width: 115px;display: inline-block;}
.requtwo{position: absolute;height: 139px;width: 350px;left: 400px;top: 200px;background: url(../images/icon_39.png)no-repeat;display: none;}
.sy_newtable{margin: 0 20px 40px 20px;width:600px;border:1px solid #999;border-radius: 8px;}
.sy_newtabletitle{height: 40px;width: 600px;border-bottom: 1px solid #999;}
.sy_newtabletitlelf{float:left;height: 40px;line-height: 40px;padding-left: 10px;border-right:1px solid #999;font-size: 14px;font-weight: bold;color: #999;width: 200px;}
.sy_newtabletitleri{float:left;height: 40px;line-height: 40px;padding-left: 10px;font-size: 14px;font-weight: bold;color: #999;width: 389px;}
.sy_newtablecon{height: 120px;width: 600px;}
.sy_newtableconle{float:left;height: 120px;padding-top:10px;padding-left: 10px;border-right:1px solid #999;font-size: 14px;color: #999;width: 200px;vertical-align: middle;}
.sy_newtableconri{float:left;height: 120px;line-height: 30px;font-size: 14px;color: #999;width: 398px;overflow-y: scroll;overflow-x:hidden }
.sy_newtableconri li{height: 30px;border-bottom: 1px solid #999;line-height: 30px;margin: 0;width: 398px;padding-left: 10px;}
.sy_newtableconri li .le{height: 30px;width: 190px;display: inline-block;border-right: 1px solid #999;}
.sy_newtableconri li .ri{height: 30px;width: 194px;display: inline-block;}
.sy_newtableconri li .ri input{height: 20px;border:1px solid #999;background: #fff;margin: 4px 4px;border-radius: 3px;overflow: hidden;width: 120px;padding-left: 5px;color: #399AD7;}
.sy_info{margin-top: 10px;}
.sy_info input{margin-left: 5px;position: relative;top: 3px;}
.sy_info_left{padding:4px 14px 5px 4px;float: left;width: 15%;min-height: 120px;background: url(../images/icon_49.png);background-size:100% 100%;border-radius: 5px;overflow: hidden;cursor: pointer;}
.sy_info_left p{padding:20px 12px;font-size: 14px;color: #48b3fe;line-height: 30px;border-radius: 5px;display: block;min-height: 120px;margin: 0;padding-left:6%;}
.sy_info_left p span{color: #f40707;}
.sy_info_right{float: right;width: 84%;min-height: 120px;display: block;border:1px solid #5f6065;border-radius: 5px;overflow: hidden;}
.sy_info_right div{float: left;}
.sy_info_one{width: 5%;border-right:1px solid #5f6065;min-height: 120px;}
.sy_info_one p{text-align: center;line-height: 18px;color: #fff;padding-top: 5px;margin: 0;padding-bottom: 5px;}

.sy_info_two p input{margin-left: 5px;}
.sy_info_three{width: 75%;height: 120px;border-right: 1px solid #5f6065;overflow:hidden;position:relative;}
.sy_info_three table{width: 100%;}
.sy_info_three table tr{border-bottom: 1px solid #5f6065;}
.sy_info_three table tr td{padding:15px 5px;line-height: 30px;color: #fff;border-right: 1px solid #5f6065;}
.sy_info_four p{padding:5px;color: #fff;font-size: 14px;line-height: 20px;padding-top: 15px;}
.sy_info_four{width: 20%;}
.sy_info_right span.lindianjia{color: #3C8DBC;}
.shoudanxuan{display: inline-block;height: 17px;width: 17px;background:url(../images/icon_46.png);background-size:100% 100%;position: relative;top: 3px;left: 5px;}
.shoudanxuanwei{display: inline-block;height: 17px;width: 17px;background:url(../images/icon_47.png);background-size:100% 100%;position: relative;top: 3px;left: 5px;}
/*页面table样式*/
.tj_table{border:none}
.tj_table thead{border-bottom:1px solid #fff;}
.tj_table thead tr td{border-right:1px solid #fff;font-weight: bold; }
.tj_table thead tr td:last-child{border-right: none;}
.tj_table tbody tr{border-bottom:1px solid #fff;}
.tj_table tbody tr:last-child{border-bottom:none;}
.tj_table tbody tr td{border-right:1px solid #fff;}
.tj_table tbody tr td:last-child{border-right: none;}
.ssjc_rub_table{border:1px solid #fff;}
.checktr{background: #4f7bf7;}
.checkspan{font-size:0;background: url(../images/icon_66.jpg);background-size:100% 100%;display: inline-block;height: 12px;width: 12px;margin: 10px auto;}
.font_align_center{text-align: center;}
.trchecktrue{background: url(../images/icon_67.jpg);background-size:100% 100%;}




.tree_menu em{white-space:nowrap; display: inline-block;}
.jiabei{position: relative;top: -19px;left: 25px;padding-right: 30px;}
.tree{overflow:hidden;}