<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>登录页</title> 
    <link href="../../css/base.css" rel="stylesheet">
    <link href="../../css/login/login.css" rel="stylesheet">

</head> 
<body class="white">
	<div class="login-hd">
		<div class="left-bg"></div>
		<div class="right-bg"></div>
		<span class="logo"></span>
		<span class="split"></span>
		<span class="sys-name">亨通采购协同平台</span>
	</div>
	<div class="login-bd">
		<div class="lg-zone">
			<div class="lg-box">
				<div class="lg-label">用户登录</div>
				<form>
					<div class="lg-username input-item clearfix">
						<i></i>
						<input type="text" placeholder="账号/邮箱">
					</div>
					<div class="lg-password input-item clearfix">
						<i></i>
						<input type="password" placeholder="请输入密码">
					</div>
					<div class="lg-check clearfix">
						<div class="input-item">
							<i></i>
							<input type="text" placeholder="验证码">
						</div>
						<span class="check-code">XD34F</span>
					</div>
					<div class="tips clearfix">
						<input type="checkbox" checked="checked">
						<span>记住用户名</span>
						<a href="javascript:;" class="register">立即注册</a>
						<a href="javascript:;" class="forget-pwd">忘记密码？</a>
					</div>
					<div class="enter">
						<a href="javascript:;" class="purchaser">采购商登录</a>
						<a href="javascript:;" class="supplier">供应商登录</a>
					</div>
				</form>
			</div>
		</div>
		<div class="lg-poster"></div>
	</div>
	<div class="login-ft">
		<div class="about-us">
			<a href="javascript:;">关于我们</a>
			<a href="javascript:;">法律声明</a>
			<a href="javascript:;">服务条款</a>
			<a href="javascript:;">联系方式</a>
		</div>
		<div class="address">地址：苏州市工业园区星湖街218号A1北座3楼F18&nbsp;邮编：215213&nbsp;&nbsp;Copyright&nbsp;©&nbsp;2015&nbsp;-&nbsp;2016&nbsp;苏州元速信息技术有限公司&nbsp;版权所有</div>
		<div class="other-info">建议使用IE8及以上版本浏览器&nbsp;苏ICP备&nbsp;09003078号&nbsp;E-mail：admin@uimaker.com</div>
	</div>
</body> 
</html>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
    
<script type="text/javascript">

</script>
