/*
 * PixPro - Admin Dashboard
 * © 2014. All rights reserved by Creativico
 */
.box > .content .input-line-bottom {
  width: 100%;
  border: 0px !important;
  border-bottom: 1px solid #e1e5e6 !important;
  padding: 8px 0px;
  margin: 4px 0px;
  color: #8e9aa4;
}
.box > .content .input-line-bottom:focus {
  border: 0px !important;
  box-shadow: none !important;
  outline: 0 !important;
  border-bottom: 1px solid #e1e5e6 !important;
  color: #8e9aa4;
}
.event-list .event {
  display: inline-block;
  width: 100%;
}
.fc-event.urgent,
.event-list .urgent {
  background: #8175c7;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 4px 8px;
  margin-bottom: 5px;
  border: 0px;
}
.fc-event.every-day,
.event-list .every-day {
  background: #a5c562;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 4px 8px;
  margin-bottom: 5px;
  border: 0px;
}
.fc-event.deadlines,
.event-list .deadlines {
  background: #ff503f;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 4px 8px;
  margin-bottom: 5px;
  border: 0px;
}
.fc-button {
  background-color: #91dff3 !important;
  background-image: none !important;
  color: #fff !important;
  text-shadow: none !important;
}
.fc-button .fc-text-arrow {
  color: #fff;
  text-shadow: none !important;
}
