/***** DEMO *****/
 .purchase-bar {
   position: fixed;
   top:0;
   left:0;
   right:0;
   background-color: #91dff3;
   padding: 5px 0px;
   z-index:99999;
 }
 
 .purchase-bar a {
   padding-right: 20px;
 }
 
 body {
   -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
 }
 
 body.fixed-sidebar-header,
 body.fixed-sidebar,
 body.fixed-header {
   margin-top: 0px;
 }
 
 body.fixed-sidebar-header .purchase-bar,
 body.fixed-header .purchase-bar,
 body.fixed-sidebar .purchase-bar {
   display: none;
 }
 