/* 
 * Responsive File
 */
@media (max-width: 1280px) {
  .widget-box .counter,
  .widget-box .text {
    width: 100%;
  }
  .widget-box .text {
    text-align: center;
  }
  .image-header .holder {
    padding: 0px 10px;
  }
  .col-lg-4,
  .col-lg-8 {
    width: 100%;
  }
}
/*** 980px ***/
@media (max-width: 980px) {
  .widget-box {
    margin-bottom: 15px;
  }
  .widget-box .counter {
    width: 100px;
  }
  .widget-box .text {
    width: auto !important;
  }
  .widget-box .text {
    text-align: center;
  }
}
/*** 800px ***/
@media (max-width: 800px) {
  .image-header .holder .header-widget {
    display: none;
  }
  .widget-box .counter,
  .widget-box .text {
    width: 100% !important;
  }
  .widget-box .text {
    text-align: center;
    max-width: 100%;
  }
  .sidebar .sidebar-user-profile,
  .sidebar .inner,
  .sidebar .main-menu {
    display: none;
  }
  .sidebar-left {
    width: 100%;
    position: relative;
    float: none;
  }
  .main-container {
    margin-left: 0px;
  }
  .responsive-menu-trigger {
    display: block !important;
  }
  .top-bar.fixed {
    position: relative;
    margin-left: 0px;
    padding-right: 0px;
  }
  .content.fixed-top-bar {
    padding-top: 0px;
  }
  .fixed-sidebar .top-bar {
    margin-top: 80px;
    position: relative;
  }
  .top-bar.fixed {
    top: 80px;
    position: fixed;
  }
  .content.fixed-top-bar {
    padding-top: 160px;
  }
  .fixed-sidebar-header .responsive-menu {
    margin-top: 80px;
  }
  .sidebar-collapsed .sidebar {
    width: 100%;
  }
  .sidebar-collapsed .sidebar .logo-container h1 {
    font-size: 36px;
  }
  .sidebar-collapsed .main-container {
    margin-left: 0px;
  }
}
@media (max-width: 360px) {
  .top-bar {
    display: none;
  }
  .fixed-sidebar-header .main-container,
  .fixed-sidebar .main-container {
    margin-top: 80px;
  }
  .content.fixed-top-bar {
    padding-top: 0px;
  }
  .fixed-sidebar-header .responsive-menu {
    margin-top: 0px;
  }
  .login-box {
    margin-top: 120px !important;
  }
  .ui-tabs-vertical.align-right .ui-tabs-nav,
  .ui-tabs-vertical .ui-tabs-nav,
  .ui-tabs .ui-tabs-panel {
    float: none !important;
    width: 100% !important;
  }
  .ui-tabs-vertical .ui-tabs-nav {
    right: 0px;
  }
  .box > .content {
    overflow: hidden;
  }
}
