body {
    font-family: 'Open Sans', 微软雅黑,sans-serif;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #666;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #28292e;
}

html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

textarea:focus,
input:focus{
    outline: none;
}

img{
    max-width: 100%;
}

ul{
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

header.page-header{
    -webkit-background-size: cover;
    height: 330px;
    background-size: cover;
    position: relative;
}

b, strong{
    color: #fff;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Asap', 微软雅黑,sans-serif;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
    color: #f8e8ee;
}

h4{
    font-size: 18px;
    color: #fff;
}

h5{
    font-size: 16px;
}

h5{
    font-size: 14px;
}

a,p,li,input,textarea{

    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p {
    color: #ffffff;
    font-size: 14px;
}

a{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #1DCB8B;
}

a:hover,
a:focus,
a:active{
    outline: 0;
    text-decoration: none;
    border: 0;
}
.page-title h1{
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    padding: 70px 0 0;
    text-align: center;
}

.blurb-icon-only i{
    font-size: 30px;
}

.blurb-icon-only h3{
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.blurb-icon-only p{
    margin-bottom: 0;
}
.icon-container .icon{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid #555;
    border-radius: 50%;
}

.icon-container .icon i{
    line-height: 100px;
    font-size: 36px;
    color: #555;
}

.icon-container .icon{
    -webkit-transition: all .35s linear;
    -moz-transition: all .35s linear;
    -ms-transition: all .35s linear;
    -o-transition: all .35s linear;
    transition: all .35s linear;
}

.icon-container:hover .icon{
    border: 1px solid rgba(0,0,0,0);
}

.icon-container:hover p{
    color:#E5E5E5 !important;
}

.icon-container:hover .icon i{
    color: #ffffff;
}

.icon-container h3{
    text-align: center;
    font-size: 18px;
    color: #111;
    margin-top: 0;
    margin-bottom: 15px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.icon-container p{
    margin-bottom: 0;
    text-align: center;
}
.pulse{
    font-size:52px;
    margin: 10px 0 20px;
    display: inline-block;
    color: #1DCB8B;
}
.text-primary {
    color: #fff !important;
}
.about-sec {
    padding: 10px 0 100px 0;
    color: #fff;
}

.info-section{
    background: #28292e;
    /* padding: 80px 0; */
}
.info-section .row .text-center img{
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
    margin-bottom: 20px;
}
.info-section .row .text-center:hover img{
    transform: scale(1.2);
}
section#services{
    background: #28292e;
    padding: 100px 0;
}
section#about,
section#partner,
section#portfolio,
section#download{
    background: #28292e;
}

section#info p.text-primary{
    letter-spacing: 0.58px;
}

section#info p.text-primary i{
    font-size: 24px;
    color: #61BC46;
    font-weight: bold;
    font-style: normal;
}

.product-img{
    height: 130px;
}

.progress-hover{
    margin-bottom: 40px;
    width: 10px;
    height: 2px;
    background: #fff;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}
.wow:hover .progress-hover{
    width: 30px;
}

/*防动画闪烁*/
.hidddden{
    opacity: 0;
}

section#partner.partner-section{
    padding-top: 60px;
}

.partner-section .section-header h2{
    font-weight: 700;
}
.partner-box{
    display: block;
    overflow: hidden;
    /* overflow-x: scroll; */
    /*overflow-y: hidden;*/
    position: relative;
    padding-bottom: 100px;
}

.partner-box .partner-slider{
    /* height: 50px; */
    /* display: flex; */
    padding: 40px 0;
}

.partner-box .partner-slider img{
    float: left;
    width: 3013px;
}

.partner-box .partner-slider-1{
    width: 6026px;
    -webkit-animation: 40s partner-slider-1 linear infinite normal;
    animation: 40s partner-slider-1 linear infinite normal;
    position: relative;
}

@keyframes partner-slider-1{
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-3013px, 0, 0);
        transform: translate3d(-3013px, 0, 0);
    }
}

.download-section {
    padding: 30px 0 100px 0;
}

.download-section  .container  .text-center{
    display: flex;
    justify-content: center;
}

.download-desc p{
    white-space: nowrap;
    overflow: hidden;
    font-size:18px;
    /*font-weight: 200;*/
}

.download-desc a{
    white-space: nowrap;
    /*font-weight: 200;*/
}

.download-desc .version{
    color: #fff;
}

.download-img{
    width:96px;
}

.download-section .img-box{
    /* margin-right:20px; */
}

.goTop{
    position: fixed;
    bottom:100px;
    right:0;
    border: 2px solid rgba(255,255,255,0.50);
    width:44px;
    height:44px;
    text-align: center;
    line-height: 42px;
    font-size: 30px;
    display: none;
}

.blurb-icon-left-square .icon{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    float: left;
    margin-right: 30px;
    background-color: rgba(255,255,255,0.25);
    border-radius: 50px;
}

.blurb-icon-left-square.square-dark .icon{
    background-color: rgba(0,0,0,0.25);
}

.blurb-icon-left-square .icon i{
    line-height: 70px;
    color: #ffffff;
    font-size: 36px;
}

.blurb-icon-left-square .blurb-text{
    float: left;
    width: 260px;
}

.blurb-icon-left-square .blurb-text h3{
    font-size: 16px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.blurb-icon-left-square .blurb-text h3:after{
    content: '';
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.blurb-icon-left-square .blurb-text p{
    color: #ffffff;
}
.navbar-toggler {
    padding: .5rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #fff;
    margin: 28px 15px 10px;
}
.icon i {
    color: #1DCB8B;
    font-size: 50px;
    margin: 16px 0 34px 0;
    display: inline-block;
}

.section-wrapper{
    overflow: hidden;
}

.section-header{
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.section-header h1{

    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
}

.section-header h2{
    /* font-weight: 700; */
    font-size: 48px;
    color: #fff;
    border-top: none;
    border-bottom: none;
    padding: 8px 10px;
    padding-top: 50px;
    margin-bottom: 0;
}

.section-header h2.water-mask{
    font-size: 96px;
    color: rgba(255,255,255,0.10);
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    text-align: center;
    padding: 0;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center;
}

.section-header h1 span{

    font-weight: 700;
    font-size: 30px;
}

.section-header .section-divider{
    width: 100px;
    height: 2px;
    margin: 10px auto;
}

.section-header p{
    color: #ffffff;
    font-size: 18px;
}

.section-header-parallax h1{

    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
}

.section-header-parallax h1 span{

    font-weight: 700;
    font-size: 30px;
}

.navbar-brand {
    float: left;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 20px;
    width:150px;
}

.main-menu{
    /* background-color: #ffffff; */
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    position: fixed;
    width: 100%;
    /* padding: 10px 0 20px !important; */
    margin-bottom: 0;
    z-index: 10;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    -webkit-backface-visibility: hidden;
    /* border-bottom: #4e4e4e solid 1px; */
}

header.page-header .main-menu{
    position: relative;
}
.navbar-brand img {
    /*margin-top: 10px;*/
}
.main-menu .navbar-nav{
    float: right;
    padding: 20px 0;
    /* overflow: hidden; */
}
.main-menu .navbar-nav li{
    display:inline;
}
.main-menu .navbar-nav li a{
    font-size: 14px;
    font-weight: 700;
    color: #ececec;
    padding-top: 6px;
    padding-bottom: 0;
    /*-webkit-transition: all .3s;*/
    /*-moz-transition: all .3s;*/
    /*-ms-transition: all .3s;*/
    /*-o-transition: all .3s;*/
    /*transition: all .3s;*/
    padding: 15px;
    text-transform: uppercase;
    border-color: #61BC46;
    border-style: none;
    border-width: 0;
    border-width: 0 0 2px 0;
}

.navbar-expand-md .navbar-nav .nav-link{
    padding: 15px 32px;
}

.main-menu .navbar-nav li a:hover,
.main-menu .navbar-nav li.active a{
    /*background-color: #fff;*/
    /*color: #000;*/
    /* border-width: 0 0 2px 0; */
    border-style: solid;
}

.main-menu .navbar-nav li a:focus{
    background-color: transparent;
}


.main-menu.minified{
    background-color: #28292e;
    padding: 0;
    position: fixed;
    border: none;
}

header.page-header .main-menu.minified{
    position: fixed;
}
.collapse.in{
    float: left;
    width: 100%;
}

.slider{
    overflow: hidden;
    background-color: #2A2B32;
}

.main-slides .img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(23, 23, 23, 0.31);
}

.main-slides h1.slider-text-big{
    font-size: 65px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
}

.main-slides .slider-text h1 span{

    font-weight: 700;
}

.main-slides p{
    font-weight: 400;
    font-size: 18px !important;
    color: rgb(243, 219, 229);
    margin-bottom: 0;
    text-align: center !important;
}
.sp-arrow {
    width: 10px;
}
.sp-previous-arrow, .sp-next-arrow {
    display: none !important;
}
.slider .sp-buttons {
    position: absolute;
    bottom: 5%;
}

.slider .sp-button {
    border: 1px solid #1DCB8B;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.features-section .container{
    position: relative;
    z-index: 1;
}

.portfolio-section{
    padding: 100px 0 20px;
}

.port-work-details .work-meta li a{
    display: block;
}

.port-work-details .work-meta li a i{
    font-size: 16px;
    color: #444;
    line-height: 35px;
}

.port-work-details .port-work-desc{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px 0;
    background-color: rgba(40,41,46,0.8);
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

}

.portfolio-work-item:hover .port-work-desc{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.port-work-details .port-work-desc h3{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
}

.port-work-details .port-work-desc p a{
    font-size: 14px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

.port-work-details .port-work-desc .like-btn {
    text-align: center;
    padding: 10px 15px;
}

.port-work-details .port-work-desc .like-btn a{

    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.port-work-details .port-work-desc .like-btn a i{
    font-size: 21px;
    color: #ffffff;
    margin-right: 5px;
}


.portfolio-filter-btn-group{
    margin-bottom: 40px;
    text-align: center;
    overflow: hidden;
}

.portfolio-filter-btn-group ul{
    display: inline-block;
}

.portfolio-filter-btn-group ul li{
    float: left;
}

.portfolio-filter-btn-group ul li a{
    padding: 10px 20px;
    display: inline-block;
    margin: 0 8px !important;
    border: 1px solid #333;
}

.portfolio-filter-btn-group ul li a:hover{
    color: #000;
    background-color: #fff;
}

.portfolio-filter-btn-group ul li a.selected{
    color: #000;
    background: #fff;
}
.portfolio-items{
    overflow: hidden;
}

.portfolio-items .portfolio-item{
    width: 50%;
    /*height: 280px;*/
    position: relative;
    overflow: hidden;
    min-height:150px;
}

.portfolio-items .portfolio-item img{
    height: 100%;
    /* border: 1px solid #988594; */
    width: 100%;
    /* opacity: .5; */
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

.portfolio-item:hover img{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.portfolio-items .portfolio-item .portfolio-details-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.60);
    /*display: table;*/
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.portfolio-item:hover .portfolio-details-wrapper{
    opacity: 1;
}

.portfolio-item .portfolio-details{
    /*display: table-cell;*/
    /*padding: 50px 0;*/
    vertical-align: middle;
    height:100%;
}

.portfolio-item .portfolio-details .portfolio-meta-btn{
    margin-bottom: 20px;
    text-align: center;
}

.portfolio-details .portfolio-meta-btn ul{
    display: inline-block;
}

.portfolio-details .portfolio-meta-btn ul li{
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.portfolio-details .portfolio-meta-btn ul li.portfolio-single-link{
    -webkit-transform: translateX(400%);
    -moz-transform: translateX(400%);
    -ms-transform: translateX(400%);
    -o-transform: translateX(400%);
    transform: translateX(400%);
}

.portfolio-details .portfolio-meta-btn ul li.lighbox{

}

.portfolio-item:hover .portfolio-details .portfolio-meta-btn ul li{
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.portfolio-details .portfolio-meta-btn ul li a{
    display: block;
    text-align: center;
}
.portfolio-details .portfolio-meta-btn ul li a i{
    font-size: 30px;
    color: #ffffff;
    line-height: 35px;
}

.portfolio-item .portfolio-details h3{
    text-align: center;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 5px;
    /*-webkit-transition: all .3s;*/
    /*-moz-transition: all .3s;*/
    /*-ms-transition: all .3s;*/
    /*-o-transition: all .3s;*/
    /*transition: all .3s;*/
    position: relative;
    top: 45%;
    display: none;
}

.portfolio-item:hover .portfolio-details h3{
    display: block;
}

.portfolio-item .portfolio-details p{
    text-align: center;
}

.portfolio-item .portfolio-details p a{
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    font-style: italic;
}

.portfolio-btn-wrapper{
    text-align: center;
    overflow: hidden;
    margin-top: 50px;
}

.portfolio-btn-wrapper a.portfolio-btn{
    font-family: 'Raleway',cursive;
    font-weight: 400;
    color: #ffffff;
    display: inline;
    overflow: hidden;
    border: 2px solid #dadada;
    padding: 15px 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.customized-text p{
    margin-bottom: 20px;
    color: #ffffff;
    max-width: 164px;
    /* text-align: center; */
    /* margin: auto; */
}

.customized-text h3{
    font-size: 18px;
    color: #111;
    margin-top: 0px;
    margin-bottom: 20px;
}

.customized-text ul{
    margin-left: 30px;
}

.customized-text ul li{
    margin-bottom: 10px;
}

.customized-text ul li:last-child{
    margin-bottom: 0;
}

.customized-text ul li i{
    font-size: 14px;
    margin-right: 10px;
}
.screen i {
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 0 20px;
}

.footer-container p {
    color: #ffffff;
}

/*---------------------------------------
  PRE LOADER
-----------------------------------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

.spinner {
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #959595;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
}

@-webkit-keyframes spinner {
    to {transform: rotate(360deg);}
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

/*---------------------------------------
  HOME
-----------------------------------------*/

#home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    position: relative;
    padding-top: 10em;
}

#home h1 {
    color: #ffffff;
    font-size: 60px;
    line-height: 1.2em;
}

#home p {
    font-size: 60px;
    font-weight: 200;
    color: rgba(250,250,250,0.7);
}

#home .smoothScroll{
    color:#61BC46;
}

#home .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

#home video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.partner-slider .venus-little-icon{
    /*position: absolute;*/
}

footer{
    background-color: #131313;
    overflow: hidden;
    position: relative;
}

footer .footer-containertent{
    text-align: center;
}

footer .footer-logo{
    text-align: center;
    margin-bottom: 20px;
}

footer p{
    margin-bottom: 0;
    font-size: 14px;
    color: rgba(255,255,255,0.81);
}

.footer > div > p:first-child{
     margin-top: 7px;
}

footer ul {
    display: inline-block;
}

footer ul li{
    float: left;
    margin-right: 15px;
}

footer ul li:last-child{
    margin-right: 0;
}

footer ul li a{
    font-size: 18px;
}

footer ul li a i{
    font-size: 21px;
    color: #BCBCBC;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.footer-container {
    background-color: #131313;
    padding: 60px 30px 30px 30px;
}

.footer-containertent {
    text-align: center;
}
.footer-containertent i.fa{
    font-size: 35px;
    color: #fff;
}
.footer-containertent div p{
    font-size: 14px;
    color: #fff;
    margin: 30px auto;
    max-width: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.footer-container a {
    color: #999;
}
.footer-container div a {
    color: #fff;
}
.footer-container a:hover {
    opacity: 0.6;
}
.footer-container ul li {
    color: #988594;
    padding-top: 8px;
}

.footer-container ul li i{
    margin-right: 10px;
    font-size: 20px;
}
.footer-social-info li {
    width: 44px;
    height: 44px;
    margin: 0px 15px 0px auto;
    text-align: center;
    float: left;
    padding: 8px;
    border: 1px solid #6E6E6E;
    border-radius: 50%;
}

.footer{
    padding:15px 0;
    font-size: 14px;
    color: rgba(255,255,255,0.81);
}
.footer > div:last-child .row{
    justify-content: flex-end;
}
.footer > div:last-child > div div{
    margin:2px 15px 0;
    color:#fff;
}
.footer > div:last-child > div div:nth-child(2){
    margin-top:0;
}
.footer > div:last-child > div > div:not(.active){
    color: rgba(255,255,255,0.6);
}
.footer > div:last-child > div:not(.contact) p{
    display: none;
}
.footer > div:last-child > div:not(.contact) > p.active{
    display:flex;
}

.index_button_box{
    margin:30px auto 0;
}
a.button_box{
    border: 2px solid rgba(255,255,255,0.50);
    width:12em;
    height:50px;
    font-size: 14px;
    color: rgba(255,255,255,0.81);
    letter-spacing: 1px;
    text-align: center;
    display:block;
    line-height:46px;
    margin-top:20px;
}

.share_div{width:0;height:0;overflow:hidden;}/*分享logo*/

@media (min-width: 1200px){
    .case {
        max-width: 1000px;
    }
}
@media (min-width: 768px){
    .download-desc>.row{
        text-align: left;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    #home h1 {
        font-size: 50px;
    }

    #home p {
        font-size: 50px;
    }

    #home .smoothScroll{
    }

    .main-menu.minified {
        background-color: #28292e;
        padding: 20px 0 0;
        position: fixed;
    }

    .navbar-header {
        float: none;
        text-align: center;
    }

    .navbar-brand {
        float: none;
        font-size: 18px;
        line-height: 20px;
        /*padding: 15px;*/
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav > li {
        display: inline-block;
        float: none;
        margin-bottom: 5px;
    }

    .portfolio-items .portfolio-item {
        width:50%;
        /*height: 280px;*/
        overflow: hidden;
        position: relative;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .download-desc p{
        font-size: 12px;
    }
    .download-desc  a span{
        font-size: 12px;
    }

    /*防止导航条换行*/
    .navbar-expand-md .navbar-nav .nav-link{
        padding: 15px 22px;
    }

    #home h1 {
        font-size: 40px;
    }

    #home p {
        font-size: 40px;
    }

    #home .smoothScroll{
    }

    .main-menu.minified {
        background-color: #28292e;
        padding: 20px 0 0;
        position: fixed;
    }

    .navbar-header {
        float: none;
        text-align: center;
    }

    .navbar-brand {
        float: none;
        font-size: 18px;
        line-height: 20px;
        /*padding: 15px;*/
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav > li {
        display: inline-block;
        float: none;
        margin-bottom: 5px;
    }
    .blurb-icon-left-square .icon {
        height: 50px;
        width: 50px;
        margin-right: 20px;
    }

    .blurb-icon-left-square .blurb-text {
        float: left;
        width: 140px;
    }

    .blurb-icon-left-square .icon i {
        font-size: 24px;
        line-height: 50px;
    }

    .portfolio-items .portfolio-item {
        width:50%;
        /*height: 280px;*/
        overflow: hidden;
        position: relative;
    }
    .section-header h2.water-mask {
        font-size: 75px;
    }
}


@media only screen and (max-width: 767px) {
    .download-section p{
        font-size:14px;
    }
    .download-section  a span{
        font-size: 12px;
    }

    h4 {
        font-size: 16px;
    }

    p{
        font-size: 12px;
    }

    section#info p.text-primary i{
        font-size: px;
    }

    .section-header h2{
        font-size: 20px;
        padding-top: 26px;
    }

    .section-header p{
        font-size: 12px;
    }

    .customized-text p{
        max-width: 767px;
    }

    #home h1 {
        font-size: 24px;
    }

    #home p {
        font-size: 24px;
    }

    #home .smoothScroll{
    }

    .partner-box .partner-slider img{
        width: 2000px;
    }

    .partner-box .partner-slider-1{
        width: 4000px;
    }
    .customized-text p {
        max-width: 100%;
    }
    @keyframes partner-slider-1{
        100% {
            -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0);
        }
    }

    .navbar-brand {
        float: none !important;
        width: 120px;
        font-size: 18px;
        line-height: 20px;
        margin-top: 20px;
    }

    .section-header {
        margin-bottom: 60px;
        text-align: center;
        overflow: hidden;
    }

    .navbar-toggle {
        border: 1px solid #fff;
    }

    .navbar-toggle .icon-bar {
        border-radius: 1px;
        display: block;
        height: 2px;
        width: 22px;
        background-color: #fff;
    }

    .navbar-collapse {
        border-top: 0px solid transparent;
        box-shadow: 0 0px 0 rgba(255, 255, 255, 0) inset;
    }

    .main-menu {
        padding: 0 !important;
    }

    .main-menu .navbar-nav {
        float: none;
        padding: 10px 0;
    }

    .main-menu .navbar-nav li {
        display: block;
        width: 100%;
        text-align: right;
        padding: 8px 10px;
        background: rgb(26, 26, 25);
    }

    .navbar-brand img {
        margin: 0;
    }

    .main-menu .navbar-nav li:last-child {
        margin-bottom: 0;
    }

    .blurb-icon-only {
        margin-bottom: 50px;
    }

    .blurb-icon-only:last-child {
        margin-bottom: 0;
    }

    .blurb-icon-left-square .blurb-text {
        float: left;
        width: 61%;
    }

    .icon-container {
        margin-bottom: 50px;
    }

    .icon-container:last-child {
        margin-bottom: 0;
    }

    .process-item {
        text-align: center;
        margin-bottom: 50px;
    }

    .process-item:last-child {
        margin-bottom: 0;
    }

    .cta-1 h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .cta-1 p {
        text-align: center;
        margin-bottom: 20px;
    }

    .cta-1 .cta-btn {
        text-align: center;
    }

    .cta-1 .cta-btn a {
        float: none;
    }

    .main-slides h1.slider-text-big {
        color: #ffffff;
        font-size: 50px;
        margin-bottom: 25px;
        margin-top: 0;
        white-space: normal !important;
        text-align: center;
        width: 100% !important;
    }

    .main-slides p {
        color: #ffffff;

        font-size: 18px !important;
        font-weight: 400;
        margin-bottom: 0;
        white-space: normal !important;
        text-align: center;
        margin-top: 20px;
        width: 100% !important;
    }

    .portfolio-items .portfolio-item {
        /*height: 280px;*/
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .portfolio-item .portfolio-details h3{
        font-size:20px;
        top:40%;
    }

    .service-wrapper > div {
        margin-bottom: 50px;
    }

    .footer > div:last-child .row.contact, .footer > div:last-child .content .row {
        justify-content: center;
    }

    footer .footer p {
        text-align: center;
    }

    .footer > div:last-child > div.content p {
        display: flex;
    }

    .footer > div:last-child > div div {
        color: rgba(255, 255, 255, 0.6);
    }

    .download-section .img-box {
        text-align: center;
        margin: auto;
    }
    .download-section .img-box + div {
        margin: 20px 0;
    }
    .section-header h2.water-mask{
        font-size: 2.5em;
    }
    .goTop {
        bottom: 180px;
    }
}


@media only screen and (min-width: 480px) and (max-width: 767px) {

    .section-header h2{
        font-size: 20px;
        padding-top: 26px;
    }

    .section-header p{
        font-size: 12px;
    }

    #home h1 {
        font-size: 30px;
    }

    #home p {
        font-size: 30px;
    }

    #home .smoothScroll{
    }

    .portfolio-items .portfolio-item {
        width: 50%;
    }
    a.button_box {
        width: 8em;
    }
    .section-header h2.water-mask{
        font-size: 3.5em;
    }
    mask.highlight-bg+h2 {
        font-size: 2.8em;
    }
}
