.icon-logo_NBFCC, .icon-logo_上海清算, .icon-logo_中银 {
    background-image: url(sprite.png);
    background-position: -325px -302px;
    width: 555px;
    height: 74px
}

.icon-logo_上海清算, .icon-logo_中银 {
    background-position: -483px -387px;
    width: 557px;
    height: 73px
}

.icon-logo_中银 {
    background-position: 0 0;
    width: 583px;
    height: 142px
}

.icon-logo_九慧, .icon-logo_众联财富, .icon-logo_前海联合, .icon-logo_北京 {
    background-image: url(sprite.png);
    background-position: -883px -216px;
    width: 349px;
    height: 86px
}

.icon-logo_众联财富, .icon-logo_前海联合, .icon-logo_北京 {
    background-position: -350px -1098px
}

.icon-logo_前海联合, .icon-logo_北京 {
    background-position: 0 -216px;
    width: 325px;
    height: 171px
}

.icon-logo_北京 {
    background-position: -500px -853px;
    width: 421px;
    height: 71px
}

.icon-logo_台州, .icon-logo_吴江, .icon-logo_四川天府 {
    background-image: url(sprite.png);
    background-position: -845px -142px;
    width: 309px;
    height: 68px
}

.icon-logo_吴江, .icon-logo_四川天府 {
    background-position: -583px 0;
    width: 660px;
    height: 96px
}

.icon-logo_四川天府 {
    background-position: -699px -1005px;
    width: 413px;
    height: 74px
}

.icon-logo_国美金融, .icon-logo_大连, .icon-logo_太仓 {
    background-image: url(sprite.png);
    background-position: 0 -1005px;
    width: 352px;
    height: 93px
}

.icon-logo_大连, .icon-logo_太仓 {
    background-position: -924px -1255px;
    width: 309px;
    height: 86px
}

.icon-logo_太仓 {
    background-position: -287px -484px;
    width: 492px;
    height: 79px
}

.icon-logo_宁波通商, .icon-logo_宁波银行, .icon-logo_山东高速 {
    background-image: url(sprite.png);
    background-position: 0 -925px;
    width: 421px;
    height: 80px
}

.icon-logo_宁波银行, .icon-logo_山东高速 {
    background-position: 0 -1255px;
    width: 307px;
    height: 90px
}

.icon-logo_山东高速 {
    background-position: -352px -1005px;
    width: 347px;
    height: 93px
}

.icon-logo_常熟农商银行, .icon-logo_平安信托 {
    background-image: url(sprite.png);
    background-position: -779px -484px;
    width: 420px;
    height: 79px
}

.icon-logo_平安信托 {
    background-position: -699px -1098px;
    width: 356px;
    height: 84px
}

.icon-logo_平安银行, .icon-logo_广东农信, .icon-logo_广州 {
    background-image: url(sprite.png);
    background-position: 0 -142px;
    width: 845px;
    height: 74px
}

.icon-logo_广东农信, .icon-logo_广州 {
    background-position: -487px -775px;
    width: 554px;
    height: 67px
}

.icon-logo_广州 {
    background-position: 0 -387px;
    width: 483px;
    height: 97px
}

.icon-logo_拉卡拉, .icon-logo_攀枝花, .icon-logo_昆仑 {
    background-image: url(sprite.png);
    background-position: -1515px -178px;
    width: 273px;
    height: 83px
}

.icon-logo_攀枝花, .icon-logo_昆仑 {
    background-position: 0 -775px;
    width: 487px;
    height: 78px
}

.icon-logo_昆仑 {
    background-position: -616px -1255px;
    width: 308px;
    height: 89px
}

.icon-logo_昆山, .icon-logo_易办事, .icon-logo_易联 {
    background-image: url(sprite.png);
    background-position: -287px -563px;
    width: 500px;
    height: 66px
}

.icon-logo_易办事, .icon-logo_易联 {
    background-position: -274px -629px;
    width: 313px;
    height: 122px
}

.icon-logo_易联 {
    background-position: -625px -1345px;
    width: 309px;
    height: 77px
}

.icon-logo_晋城, .icon-logo_汇通金财, .icon-logo_汉口 {
    background-image: url(sprite.png);
    background-position: 0 -1345px;
    width: 310px;
    height: 85px
}

.icon-logo_汇通金财, .icon-logo_汉口 {
    background-position: -1515px -94px;
    width: 273px;
    height: 84px
}

.icon-logo_汉口 {
    background-position: -310px -1345px;
    width: 315px;
    height: 81px
}

.icon-logo_江苏, .icon-logo_江阴, .icon-logo_法兴 {
    background-image: url(sprite.png);
    background-position: -325px -216px;
    width: 558px;
    height: 86px
}

.icon-logo_江阴, .icon-logo_法兴 {
    background-position: 0 -1185px;
    width: 418px;
    height: 70px
}

.icon-logo_法兴 {
    background-position: -587px -629px;
    width: 559px;
    height: 68px
}

.icon-logo_洛阳, .icon-logo_海南, .icon-logo_深农商 {
    background-image: url(sprite.png);
    background-position: -307px -1255px;
    width: 309px;
    height: 89px
}

.icon-logo_海南, .icon-logo_深农商 {
    background-position: -587px -697px;
    width: 558px;
    height: 54px
}

.icon-logo_深农商 {
    background-position: 0 -853px;
    width: 500px;
    height: 72px
}

.icon-logo_瀚银, .icon-logo_矩盛华, .icon-logo_紫金 {
    background-image: url(sprite.png);
    background-position: 0 -484px;
    width: 287px;
    height: 145px
}

.icon-logo_矩盛华, .icon-logo_紫金 {
    background-position: -1515px -261px;
    width: 270px;
    height: 79px
}

.icon-logo_紫金 {
    background-position: -421px -925px;
    width: 415px;
    height: 80px
}

.icon-logo_考拉征信, .icon-logo_资配易, .icon-logo_邦付宝 {
    background-image: url(sprite.png);
    background-position: -836px -925px;
    width: 323px;
    height: 80px
}

.icon-logo_资配易, .icon-logo_邦付宝 {
    background-position: -1243px 0;
    width: 272px;
    height: 111px
}

.icon-logo_邦付宝 {
    background-position: 0 -629px;
    width: 274px;
    height: 146px
}

.icon-logo_鄞州银行, .icon-logo_金海明天, .icon-logo_集付宝 {
    background-image: url(sprite.png);
    background-position: -787px -563px;
    width: 426px;
    height: 66px
}

.icon-logo_金海明天, .icon-logo_集付宝 {
    background-position: 0 -1098px;
    width: 350px;
    height: 87px
}

.icon-logo_集付宝 {
    background-position: -1515px 0;
    width: 274px;
    height: 94px
}
