
        #boxTags {
            border: 1px solid #d3d3d3;
            width: 500px;
            padding: 10px 10px 0 10px;
            margin: 0 auto;
            margin-top: 10px;
        }
        #ulTags {
            padding: 0;
            margin: 0;
        }
        #ulTags .li_tags {
            border: 1px solid #e3e3e3;
            background: #e3e3e3;
            display: inline;
            float: left;
            list-style: none;
            margin: 0 10px 10px 0;
            padding: 0 3px 4px 5px;
        }
        #ulTags .li_tags:hover {
            border-color: #0099cc;
        }
        #newTagInput {
            display: inline;
            float: left;
            list-style: none;
            margin: 0 10px 10px 0;
            padding: 0 2px 2px 0;
            width: 23px;
        }
        .a_tag {
            color: #000000;
            text-decoration: none;
            font-size: 12px;
        }
        .a_tag:hover {
            color: #000000;
        }
        .del {
            font-size: 12px;
            text-decoration: none;
            font-weight: bold;
            padding: 1px 4px 1px 4px;
            background: #0099cc;
            color: #ffffff;
            position: relative;
        }
        .del:hover {
            background: #ff0000;
        }
        #inputTag{
            width: 23px;
            border: 1px solid #ffffff;
            font-size: 12px;
            outline: none;
        }

        #main {
            background: #0099cc;
            margin-top: 0;
            padding: 2px 0 4px 0;
            text-align: center;
        }
        #main a {
            color: #ffffff;
            text-decoration: none;
            font-size: 12px;
            font-weight: bold;
            font-family: Arial;
        }
        #main a:hover {
            text-decoration: underline;
        }
        body {
            margin: 0;
            padding: 0;
        }
        #text {
            margin: 0 auto;
            width: 500px;
            font-size: 12px;
            color: #0099cc;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }