/* Template documentation by ThemeREX */

html,body{
	margin:0;
	padding:0;
	outline:0;
	height: 100%;
}
body{
	background: #0b0b0b;
	min-height:100%;
	height:auto;
	width:100%;
	font-family: 'PT Serif', serif;
	font-size: 16px;
	line-height: 20px;
	color: #252525;
	min-height:100%;
	height:auto;
	padding-top: 50px;
}

footer, header, section, aside {
	display:block;
}
textarea {width:100%; background-color:#D0D0D0;padding-top:10px; padding-left:10px;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.49;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #eaeef0;
    border: 1px solid #cbd6d6;
    border-radius: 3px;
	overflow:auto;
	}
a{ color:#00abea; text-decoration:none; }

p, ul, ol{
	margin:0 0 21px;
	padding: 0;
	line-height:20px;
}
#content ul li ol,
#content ol li ul,
#content ul li ul {
	padding-top: 20px;
}
ul, ol {
	margin-left: 20px;
}
li {
	padding-bottom: 10px;
}

h3 {
	font-size: 48px;
	color: #00abeb;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 18px;
	padding: 0;
}
h4 {
	font-size: 16px;
	text-transform: uppercase;
	line-height: normal;
	padding: 17px 0 20px;
	margin: 0;
}
h5 {
	font-size: 16px;
	text-transform: normal;
	line-height: normal;
	padding: 14px 0 14px;
	margin: 0;
}

code, pre {
	background: #ebebeb;
	border: 1px solid #dedede;
	display: block;
	color: #6e6e6e;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 20px;
	padding: 20px;
	margin-bottom: 20px;
}
pre {
	overflow: auto;
	max-width: 100%;
}

img {
	box-shadow: 0 1px 5px rgba(0,0,0, .2);
}

.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both;}
.clearfix { zoom:1; }

.tail-right {
	background: #f4f4f4;
	position: fixed;
	float: right;
	top: 0;
	right: 0;
	width: 70%;
	height: 100%;
	z-index: -1;
}

#main-wrapper {
	width: 1170px;
	margin: 0 auto;
	height: 100%;
}

#header {
	background: #0b0b0b;
	color: #484848;
	font-size: 14px;
	line-height: 22px;
	font-family: "Times New Roman", Times, serif;
	position: fixed;
	top: 0;
	width: 100%;
}
	#header .wrapper {
		width: 1170px;
		margin: 0 auto;
	}

.doc-title {
	float: left;
	padding: 14px 0;
}
	.doc-title a:hover {
		text-decoration: underline;
	}

	.doc-title span {
		color: #8c8c8c;
	}

.demo-link {
	background: #252525;
	border-left: 1px solid #3b3b3b;
	border-right: 1px solid #3b3b3b;
	float: right;
	display: block;
	color: #646464;
	padding: 14px 20px;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	transition:all .2s ease;
}
	.demo-link:hover {
		background: #2f2f2f;
		color: #dcdcdc;
	}


#main {
	height: 100%;
}

#sidebar {
	background: #262626;
	float: left;
	width: 270px;
	height: 100%;
	position: fixed;
	font-size: 16px;
	overflow: visible;
}

#logo {
	font-size: 48px;
	color: #fff;
	line-height: 48px;
	padding: 34px 0 37px 46px;
}
	#logo span {
		color: #00abea;
	}

#content {
	background: #f4f4f4;
	float: left;
	width: 900px;
	height: 100%;
	margin: 0 0 400px 270px;
}
	#content .wrapper{
		padding: 20px 50px;
	}

#doc-nav {
	overflow: auto;
	display: block;
	height: 75%;
	margin: 0;
}
#doc-nav li {
	border-bottom: 1px solid #3e3e3e;
	list-style: none;
	padding-bottom: 0;
}
#doc-nav > li > a {
	color: #dcdcdc;
	display: block;
	padding: 14px 0 13px 47px;
	-webkit-transition:background-color .2s ease;
	-moz-transition:background-color .2s ease;
	transition:background-color .2s ease;
}
	#doc-nav > li > a:hover {
		background: #191919;
	}
	#doc-nav > li > a.current {
		background: #00abea;
		color: #fff;
	}

	#doc-nav > li > a.parent {
		background: url(img/plus-minus.png) 10px 10px no-repeat;
	}
	#doc-nav > li > a.parent.current {
		background: url(img/plus-minus.png) 10px -38px no-repeat #191919;
	}
#doc-nav > li > a.parent {
  background: url(img/plus-minus.png) 10px 10px no-repeat;
 }
 
 #doc-nav > li > a.parent:hover{
  background-color: #191919;
 }

 #doc-nav > li > a.parent.current {
  background: url(img/plus-minus.png) 10px -38px no-repeat #00abea;
 }              
#doc-nav ul {
	display: none;
	background-color: #191919;
	padding: 10px 0 10px 47px;
	margin: 0;
}
#doc-nav ul li {
	border-bottom: 0;
	padding-bottom: 0;
}
	#doc-nav ul a {
		padding: 3px 14px;
		font-size: 16px;
		display: inline-block;
		-webkit-transition:all .2s ease;
		-moz-transition:all .2s ease;
		transition:all .2s ease;
	}
		#doc-nav ul a:hover {
			color: #fff;
		}
		#doc-nav ul a.current {
			background: #00abea;
			color: #fff;
		}

section {
	border-bottom: 1px solid #dedede;
	padding: 50px 0 30px 50px;
}
section section {
	border-bottom: none;
	padding: 20px 0;
}
	section a {
		text-decoration: underline;
	}
	section a:hover {
		text-decoration: none;
	}

.infobox {
	font-size: 14px;
	margin-bottom: 20px;
	padding: 15px 20px;
}

.info {
	color: #00abea;
	background: #e3f1f6;
	border: 1px solid #d2e5ec;
}

.warning {
	color: #d18d2c;
	background: #f6f1e3;
	border: 1px solid #eae2cb;
}

.error {
	color: #e35f5f;
	background: #f9e6e6;
	border: 1px solid #eed8d8;
}
	span.info, span.warning, span.error {
		display:inline-block;
		padding: 2px 6px;
	}
	.info span, .warning span, .error span {
		font-weight: bold;
		text-transform: uppercase;
		font-size:90%;
	}
