



.item {
			text-align:center;
			float:left;
			margin:5px;
			position:relative;			
		}
		
			.item,
			.item-hover,
			.item-hover .mask,
			.item-img,
			.item-type-move .item-info {
				width: 100%;
				height: 270px;						
			}
			.item-type-move .item-info .ban-bot-gd {
				width: 100%;
				height: 200px;						
			}
			.item-type-move .item-info .ban-bot-gd {
				width: 100%;
				height:100%;						
			}			

			.item-hover,
			.item-hover .mask,
			.item-img { 
				position:absolute;
				top:0;
				left:0;			
			}			
		
			.item-type-move .item-hover {	
				-webkit-transition: all 300ms ease-out;
				-moz-transition: all 300ms ease-out;
				-o-transition: all 300ms ease-out;
				transition: all 300ms ease-out;	
				opacity:0;
				cursor:pointer;		
				z-index:100;
			}
			
				.item-type-move .item-info {
					z-index:10;
					color:#ffffff;
					position:relative;
					z-index:5;			
					overflow:hidden;			
				}
			
				.item-type-move .item-info .headline,
				.item-type-move .item-info .date {
					width: 100%;
					width: 55%;
				    position: absolute;
				    -webkit-transition: all 300ms ease-out;
				    -moz-transition: all 300ms ease-out;
				    -o-transition: all 300ms ease-out;
				    transition: all 300ms ease-out;
				    -webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    -o-box-sizing: border-box;
				    padding: 0 10px;
				    font-family: 'Amaranth', sans-serif;
				    margin: 0 auto;
				    left: 22%;										
				}				

				.item-type-move .item-info .headline {
					font-size:18px;			
					top:10px;							
				}
				
				.item-type-move .item-info .date {
					font-size:14px;
					font-style:italic;
					bottom:10px;																		
				}
								
				.item-type-move .item-info .line {
					 height:1px;
					 width:85%;
					 margin:10px auto 0 auto;
					 background-color:#ffffff;		 
				}				
				
				.item-type-move .item-hover .mask {
					background-color:#000;
					opacity:0.5;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
					filter: alpha(opacity=50);					
					z-index:0;
				}
				
				.item-type-move .item-hover:hover {
					opacity:1;
				}				

				.item-type-move .item-hover:hover .item-info .headline {
					top:35%;
				}				

				.item-type-move .item-hover:hover .item-info .date {
					bottom:40%;
				}
			.item-img {			
				background-color:#7a548f;
				z-index:0;			
			}
@media(max-width:1024px){			
.item, .item-hover, .item-hover .mask, .item-img, .item-type-move .item-info {
    width: 100%;
    height: 220px;
}
}
@media(max-width:991px){	
.item, .item-hover, .item-hover .mask, .item-img, .item-type-move .item-info {
    width: 100%;
    height: 172px;
}
.item-type-move .item-info .headline {
    font-size: 15px;
    top: 23px;
}
.item-type-move .item-info .date {
    font-size: 12px;
}
.item-type-move .item-info .line {
    margin: 2px auto 0 auto;
}	
}
@media(max-width:768px){	
.item, .item-hover, .item-hover .mask, .item-img, .item-type-move .item-info {
    width: 100%;
    height: 172px;
}
.item-type-move .item-info .headline {
    font-size: 15px;
    top: 23px;
}
.item-type-move .item-info .date {
    font-size: 12px;
}
.item-type-move .item-info .line {
    margin: 2px auto 0 auto;
}
}
@media(max-width:640px){	
.item, .item-hover, .item-hover .mask, .item-img, .item-type-move .item-info {
    width: 100%;
    height: 139px;
}
.item-type-move .item-info .headline {
    top: 30px !important;
}	
.item-type-move .item-info .line {
    margin: 8px auto 0 auto;
}
}
@media(max-width:480px){	
.item, .item-hover, .item-hover .mask, .item-img, .item-type-move .item-info {
    width: 100%;
    height: 217px;
}
.item-type-move .item-info .headline {
    top: 73px !important;
}	
}
@media(max-width:320px){	
.item, .item-hover, .item-hover .mask, .item-img, .item-type-move .item-info {
    width: 100%;
    height: 136px;
}
.item-type-move .item-info .headline {
    top: 35px !important;
}
.item-type-move .item-hover:hover .item-info .date {
    bottom: 30%;
}	
}