/**
 * Pages Timeline
 */
.c_tmtimeline > li.highlight-color-green,
.c_tmtimeline > li.highlight-color-orange,
.c_tmtimeline > li.highlight-color-yellow,
.c_tmtimeline > li.highlight-color-blue,
.c_tmtimeline > li.highlight-color-red,
.c_tmtimeline > li.highlight-color-lime,
.c_tmtimeline > li.highlight-color-purple {
  border-bottom: 0 !important;
}
.c_tmtimeline > li.highlight-color-green .c_tmlabel:after,
.c_tmtimeline > li.highlight-color-green:nth-child(2n+1) .c_tmlabel {
  border-right-color: #6ec06e;
}
.c_tmtimeline > li.highlight-color-orange .c_tmlabel:after,
.c_tmtimeline > li.highlight-color-orange:nth-child(2n+1) .c_tmlabel {
  border-right-color: #ff8b1a;
}
.c_tmtimeline > li.highlight-color-yellow .c_tmlabel:after,
.c_tmtimeline > li.highlight-color-yellow:nth-child(2n+1) .c_tmlabel {
  border-right-color: #ffd040;
}
.c_tmtimeline > li.highlight-color-blue .c_tmlabel:after,
.c_tmtimeline > li.highlight-color-blue:nth-child(2n+1) .c_tmlabel {
  border-right-color: #4596f1;
}
.c_tmtimeline > li.highlight-color-red .c_tmlabel:after,
.c_tmtimeline > li.highlight-color-red:nth-child(2n+1) .c_tmlabel {
  border-right-color: #f14141;
}
.c_tmtimeline > li.highlight-color-lime .c_tmlabel:after,
.c_tmtimeline > li.highlight-color-lime:nth-child(2n+1) .c_tmlabel {
  border-right-color: #b2cd4d;
}
.c_tmtimeline > li.highlight-color-purple .c_tmlabel:after,
.c_tmtimeline > li.highlight-color-purple:nth-child(2n+1) .c_tmlabel {
  border-right-color: #ff4db6;
}
.c_tmtimeline > li.highlight-color-green .c_tmlabel .c_tmlabel_inner {
  border-bottom: 3px solid #6ec06e;
}
.c_tmtimeline > li.highlight-color-orange .c_tmlabel .c_tmlabel_inner {
  border-bottom: 3px solid #ff8b1a;
}
.c_tmtimeline > li.highlight-color-yellow .c_tmlabel .c_tmlabel_inner {
  border-bottom: 3px solid #ffd040;
}
.c_tmtimeline > li.highlight-color-blue .c_tmlabel .c_tmlabel_inner {
  border-bottom: 3px solid #4596f1;
}
.c_tmtimeline > li.highlight-color-red .c_tmlabel .c_tmlabel_inner {
  border-bottom: 3px solid #f14141;
}
.c_tmtimeline > li.highlight-color-lime .c_tmlabel .c_tmlabel_inner {
  border-bottom: 3px solid #b2cd4d;
}
.c_tmtimeline > li.highlight-color-purple .c_tmlabel .c_tmlabel_inner {
  border-bottom: 3px solid #ff4db6;
}
.c_tmtimeline > li.highlight-color-green-icon .icon,
.c_tmtimeline > li.highlight-color-green-icon a .icon,
.c_tmtimeline > li.highlight-color-green-icon .wi,
.c_tmtimeline > li.highlight-color-green-icon a .wi,
.c_tmtimeline > li.highlight-color-green-icon .glyphicon,
.c_tmtimeline > li.highlight-color-green-icon a .glyphicon {
  color: #ffffff !important;
  background-color: #6ec06e !important;
}
.c_tmtimeline > li.highlight-color-orange-icon .icon,
.c_tmtimeline > li.highlight-color-orange-icon a .icon,
.c_tmtimeline > li.highlight-color-orange-icon .wi,
.c_tmtimeline > li.highlight-color-orange-icon a .wi,
.c_tmtimeline > li.highlight-color-orange-icon .glyphicon,
.c_tmtimeline > li.highlight-color-orange-icon a .glyphicon {
  color: #ffffff !important;
  background-color: #ff8b1a !important;
}
.c_tmtimeline > li.highlight-color-yellow-icon .icon,
.c_tmtimeline > li.highlight-color-yellow-icon a .icon,
.c_tmtimeline > li.highlight-color-yellow-icon .wi,
.c_tmtimeline > li.highlight-color-yellow-icon a .wi,
.c_tmtimeline > li.highlight-color-yellow-icon .glyphicon,
.c_tmtimeline > li.highlight-color-yellow-icon a .glyphicon {
  color: #ffffff !important;
  background-color: #ffd040 !important;
}
.c_tmtimeline > li.highlight-color-blue-icon .icon,
.c_tmtimeline > li.highlight-color-blue-icon a .icon,
.c_tmtimeline > li.highlight-color-blue-icon .wi,
.c_tmtimeline > li.highlight-color-blue-icon a .wi,
.c_tmtimeline > li.highlight-color-blue-icon .glyphicon,
.c_tmtimeline > li.highlight-color-blue-icon a .glyphicon {
  color: #ffffff !important;
  background-color: #4596f1 !important;
}
.c_tmtimeline > li.highlight-color-red-icon .icon,
.c_tmtimeline > li.highlight-color-red-icon a .icon,
.c_tmtimeline > li.highlight-color-red-icon .wi,
.c_tmtimeline > li.highlight-color-red-icon a .wi,
.c_tmtimeline > li.highlight-color-red-icon .glyphicon,
.c_tmtimeline > li.highlight-color-red-icon a .glyphicon {
  color: #ffffff !important;
  background-color: #f14141 !important;
}
.c_tmtimeline > li.highlight-color-lime-icon .icon,
.c_tmtimeline > li.highlight-color-lime-icon a .icon,
.c_tmtimeline > li.highlight-color-lime-icon .wi,
.c_tmtimeline > li.highlight-color-lime-icon a .wi,
.c_tmtimeline > li.highlight-color-lime-icon .glyphicon,
.c_tmtimeline > li.highlight-color-lime-icon a .glyphicon {
  color: #ffffff !important;
  background-color: #b2cd4d !important;
}
.c_tmtimeline > li.highlight-color-purple-icon .icon,
.c_tmtimeline > li.highlight-color-purple-icon a .icon,
.c_tmtimeline > li.highlight-color-purple-icon .wi,
.c_tmtimeline > li.highlight-color-purple-icon a .wi,
.c_tmtimeline > li.highlight-color-purple-icon .glyphicon,
.c_tmtimeline > li.highlight-color-purple-icon a .glyphicon {
  color: #ffffff !important;
  background-color: #ff4db6 !important;
}
.c_tmtimeline > li.highlight-color-grey-icon .icon,
.c_tmtimeline > li.highlight-color-grey-icon a .icon,
.c_tmtimeline > li.highlight-color-grey-icon .wi,
.c_tmtimeline > li.highlight-color-grey-icon a .wi,
.c_tmtimeline > li.highlight-color-grey-icon .glyphicon,
.c_tmtimeline > li.highlight-color-grey-icon a .glyphicon {
  color: #ffffff !important;
  background-color: #656565 !important;
}
.c_tmtimeline:before {
  width: 3px;
  background-color: #dddddd;
  left: 19.8%;
}
.c_tmtimeline > li {
  margin-bottom: 30px;
}
.c_tmtimeline > li .c_tmtime {
  margin-top: 12px;
  padding-right: 117px;
}
.c_tmtimeline > li .c_tmtime span:first-child {
  color: #999999;
}
.c_tmtimeline > li:nth-child(2n+1) .c_tmtime span:last-child,
.c_tmtimeline > li .c_tmtime span:last-child {
  color: #444444;
  font-size: 33px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 32px;
}
.c_tmtimeline > li .c_tmlabel {
  background-color: transparent;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-weight: normal;
  -moz-border-radius: 0 0 5px 5px !important;
  -webkit-border-radius: 0 0 5px 5px !important;
  border-radius: 0 0 5px 5px !important;
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
}
.c_tmtimeline > li .c_tmlabel:after {
  border-width: 8px;
  top: 22px;
}
.c_tmtimeline > li:nth-child(2n+1) .c_tmlabel {
  border-right-color: #6ec06e;
  background-color: #ffffff;
}
.c_tmtimeline > li:nth-child(2n+1) .c_tmlabel:after {
  border-right-color: inherit;
  background-color: transparent;
}
.c_tmtimeline > li .c_tmlabel .c_tmlabel_inner {
  background-color: #ffffff;
  padding: 20px;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-top: 1px solid #e6e6e6;
  border-bottom: 3px solid #6ec06e;
  -moz-border-radius: 0 0 5px 5px !important;
  -webkit-border-radius: 0 0 5px 5px !important;
  border-radius: 0 0 5px 5px !important;
}
.c_tmtimeline > li .c_tmlabel .c_tmlabel_inner:hover,
.c_tmtimeline > li .c_tmlabel .c_tmlabel_inner:focus {
  border-left-color: #bbbbbb;
  border-right-color: #bbbbbb;
  border-top-color: #bbbbbb;
}
.c_tmtimeline > li .icon {
  position: absolute;
  color: #ffffff;
  background: #6ec06e;
  text-align: center;
  left: 19.5%;
  top: 0;
  margin: 0 0 0 -34px;
  font-size: 48px !important;
  padding: 5px;
  width: 58px;
  -moz-border-radius: 50% 50% 50% 50% !important;
  -webkit-border-radius: 50% 50% 50% 50% !important;
  border-radius: 50% 50% 50% 50% !important;
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
}
.c_tmtimeline > li .c_tmlabel:before {
  content: " ";
}
/* ---- Tablets ---- */
@media (max-width: 992px) {
  .c_tmtimeline:before {
    left: 19.4%;
  }
  .c_tmtimeline > li .c_tmtime {
    margin-top: 6px;
    padding-right: 100px;
  }
  .c_tmtimeline > li .icon {
    left: 19%;
  }
  .c_tmtimeline > li:nth-child(2n+1) .c_tmtime span:last-child,
  .c_tmtimeline > li .c_tmtime span:last-child {
    font-size: 1.5em;
  }
}
/* ---- Below Tablets ---- */
@media (max-width: 767px) {
  .c_tmtimeline:before {
    left: auto;
    right: 28px;
    display: block;
  }
  .c_tmtimeline > li .c_tmtime {
    padding-top: 9px;
  }
  .c_tmtimeline > li .icon {
    margin: 0 0 0 -30px !important;
    width: 58px;
    font-size: 48px !important;
    padding: 5px;
    left: auto !important;
    right: 0;
  }
  .c_tmtimeline > li .c_tmlabel:after {
    top: 10px;
    border-color: transparent;
  }
  .c_tmtimeline > li .c_tmlabel:after,
  .c_tmtimeline > li:nth-child(2n+1) .c_tmlabel:after {
    border-color: transparent !important;
  }
}
