/**
 * Pages Profile
 */
/* Main Feature Image */
.profile-header-feature-image {
  padding: 15px 25px 20px;
  position: relative;
  z-index: 0;
  z-index: 1;
}
.profile-header-feature-image .btn-group {
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
}
.profile-header-feature-image .profile-info {
  top: 120px;
  position: relative;
}
.profile-header-feature-image .profile-info .main-profile-pic img {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
}
/* User Profile */
.main-profile-pic {
  margin: 0 auto;
  text-align: center;
  max-width: 250px;
  min-height: 190px;
}
.main-profile-pic img {
  max-width: 100%;
}
.main-profile-pic img:hover,
.main-profile-pic img:focus {
  border: 1px solid #aaaaaa;
}
.profile-info .profile-info-block {
  margin: 0 0 10px 20px;
}
.profile-info .profile-info-block .profile-info-title {
  margin: 0;
  color: #989898;
}
.profile-info .profile-info-block .profile-info-title .glyphicon,
.profile-info .profile-info-block .profile-info-title .icon {
  margin: 0 6px 0 0;
}
.profile-info .profile-info-block .profile-info-body {
  margin: 0 0 0 21px;
}
/* Comments */
.comment-block {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px dotted #dddddd;
}
.comment-block .comment-image {
  float: left;
  margin: 0 15px 0 0;
}
.comment-block .comment-image img {
  border: 1px solid #dedede;
}
.comment-block .comment-title {
  margin: 0 0 7px 55px;
}
.comment-block .comment-content {
  margin: 0 0 7px 55px;
}
.comment-block .comment-content img {
  max-width: 100%;
}
.comment-block .comment-controls {
  margin: 0 0 42px 55px;
}
.comment-block .comment-controls .comment-controls-left > a {
  float: left;
  margin-right: 8px;
}
.comment-block .comment-controls .comment-controls-left > a .icon {
  float: left;
}
.comment-block .comment-controls .comment-controls-left > a .main-text {
  float: left;
  margin: 3px 0 0 2px;
}
.comment-block .comment-controls .comment-controls-right {
  float: right;
}
.comment-block .comment-controls .comment-controls-right > a {
  float: left;
  margin-right: 8px;
}
.comment-block .comment-controls .comment-controls-right > a .icon {
  float: left;
}
.comment-block .comment-controls .comment-controls-right > a .main-text {
  float: left;
  margin: 3px 0 0 2px;
}
.comment-block .comment-replies-block {
  clear: both;
  margin: 0 0 0 55px;
  padding: 10px 0 0 0;
  display: none;
}
.comment-block .comment-replies-block .comment-block:first-child {
  border-top: 1px dotted #dddddd;
  padding-top: 10px;
}
.comment-block .comment-reply-input-block {
  border-top: 1px dotted #dddddd;
  clear: both;
  margin: 10px 0 0 55px;
  padding: 10px 0 0;
  display: none;
}
.comment-block .comment-reply-input-block .comment-input-area {
  margin: 0 0 0 55px;
}
.comment-block .comment-reply-input-block .comment-input-area .form-group {
  margin-bottom: 5px;
}
/* ---- Phones & Below ---- */
@media (max-width: 767px) {
  #right-column .right-column-content {
    padding-top: 120px !important;
  }
}
