@media screen and (max-width: 1024px) {
  .logo{left: 10px;}
  .main, .footer{width: auto; }
  .main{margin: 10px;}
  .content{margin: 0;}
  img{max-width: 100%;}
}

/* 图标 */
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1477416582'); /* IE9*/
  src: url('iconfont.eot?t=1477416582#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477416582') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477416582') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477416582#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zan:before { content: "\e612"; }
.icon-jiazaizhong:before { content: "\e60e"; }
.icon-sousuo:before { content: "\e621"; }
.icon-quanpingpad:before { content: "\e61d"; }
.icon-shezhi:before { content: "\e607"; }
.icon-shijian:before { content: "\e60a"; }
.icon-guanbi:before { content: "\e614"; }
.icon-tianjia:before { content: "\e616"; }
.icon-tuichu:before { content: "\e601"; }
.icon-shui:before { content: "\e602"; }
.icon-qq:before { content: "\e618"; }
.icon-weibo:before { content: "\e617"; }
.icon-tupian:before { content: "\e608"; }
.icon-logo:before { content: "\e603"; }
.icon-daima:before { content: "\e609"; }
.icon-biaoqing:before { content: "\e60f"; }
.icon-nan:before { content: "\e619"; }
.icon-nv:before { content: "\e61a"; }
.icon-quitquanping:before { content: "\e61e"; }
.icon-zuichun:before { content: "\e61c"; }
.icon-charushuipingxian:before { content: "\e622"; }
.icon-yulan:before { content: "\e60d"; }
.icon-liulanyanjing:before { content: "\e60b"; }
.icon-touxiang:before { content: "\e604"; }
.icon-caina:before { content: "\e613"; }
.icon-room:before { content: "\e615"; }
.icon-svgmoban53:before { content: "\e610"; }
.icon-shichang:before { content: "\e600"; }
.icon-shouye:before { content: "\e605"; }
.icon-tishilian:before { content: "\e629"; }
.icon-fabu:before { content: "\e606"; }
.icon-pinglun:before { content: "\e60c"; }
.icon-zan1:before { content: "\e611"; }
.icon-chengshi:before { content: "\e61b"; }
.icon-lianjie:before { content: "\e620"; }
.icon-renshu:before { content: "\e61f"; }
.icon-huizongzuoyoutuodong:before { content: "\e623"; }
.icon-404:before { content: "\e627"; }
.icon-wenda:before { content: "\e626"; }
.icon-top:before { content: "\e624"; }
.icon-ui:before { content: "\e625"; }
.layui-icon {font-size:16px;}
.layui-clear { clear:both;}
/**首页与导航之间的间距*/

.container{padding-top:80px; width:1000px;}
html{overflow-x: hidden; overflow-y: auto; background-color: #FFF;}
body {line-height:24px; font: 12px/1.5 'Microsoft Yahei', 'Simsun'; color: #666666;}
i{font-style: normal;}

/* 头部 */
.header{position:fixed; z-index: 10000; left:0; top:0; width:100%; height:65px; background-color:#393D49;}
.header .main{position:relative; margin:0 auto; min-height: 0;}
.logo{position:absolute; top: 13px; left:0; width: 135px; height: 37px; text-indent:-666px;
background:url(../images/logo.png) no-repeat;}
.layui-nav-left{margin-left:120px;}
.layui-nav-right{margin-right:120px;}
.nav-left{margin-left:130px;}

/*footer*/
.footer {width: auto; clear: both; text-align: center;}

/* 辅助 */
pre{padding: 10px 15px; margin: 10px 0; font-size: 12px; border-left: 6px solid #009688;  background-color: #F2F2F2; font-family: Courier New; overflow: auto;}
.fly-msg, .fly-error{padding:10px 15px; line-height:24px;}
.fly-msg{background-color:#F8F8F8; color:#666;}
.fly-msg a{color:#4F99CF}

/*首页文章列表显示*/
/*左文章列表*/
.article-main { margin: 15px 0;}
.article-main h2 { font-size: 16px; font-weight: bold; line-height: 36px; color: #333; border-bottom: #db6d4c 4px solid; }
.article-main h2 span { float: right; font-size: 12px; font-weight: normal; }
.article-main h2 span a { display: inline-block; padding: 0 5px; }
.article-main h2 span a:hover { color: #000 }
.article-list { padding: 20px 0px; position: relative; border-bottom: #CCC 1px solid; overflow: hidden }
.article-list h3 { font-size: 16px; font-weight: bold; transition: all .5s; margin: 0px 0px 10px 0px; }
.article-list h3 a { color: #474645; }
.article-list h3 a:hover { color: #066; text-decoration: underline }
.article-list figure { float: left; width: 25%; overflow: hidden; margin:0px 0px;}
.article-list figure img { width: 100%; margin: 0px 0px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.article-list figure:hover img { -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); }
.article-list ul { float: right; line-height: 22px; width: 72%; color: #756F71; margin-right:0px;}
.autor { overflow: hidden; clear: both; margin: 0px 0; display: inline-block; color: #838383; width: 100%; padding-top:7px;}
.autor span { margin: 0 10px 0 0; padding-left: 20px }
.autor span a { color: #759b08; }
.autor span a:hover { text-decoration: underline }
.lm { background: url(../images/newsbg01.png) no-repeat left center }
.dtime { background: url(../images/newsbg02.png) no-repeat left center }
.viewnum { background: url(../images/newsbg04.png) no-repeat left center }
.pingl { background: url(../images/newsbg03.png) no-repeat left center }

/* 右侧切换卡 */
.ms-top { height: 32px; border-bottom: solid 1px #EAEAEA; font-size: 14px }
#tab li a { float: left; height: 32px; cursor: pointer; line-height: 32px; list-style-type: none; padding: 0 10px; }
#tab li.cur a { color: #fff; background: #f77825; }
.bd { display: none }
.bd-news ul { padding: 10px 0 0 40px; background: url(../images/ph2.png) no-repeat 5px 29px; }
.bd-news ul li { border-bottom: solid 1px #EAEAEA; line-height: 30px; height: 30px; overflow: hidden; font-size: 14px; padding: 10px 0 0 0px; }
.bd-news ul li a { display: block; }
.bd-news ul li a:hover { color: #000; }
.bd-news ul li:hover { border-bottom: #000 1px solid; }/* 鼠标放上去的效果 */

/*标签云*/
.cloud { width: 100%; clear: both; overflow: hidden; margin:15px 0; }
.cloud h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px; }
.cloud ul { margin: 15px 0 }
.cloud ul li { line-height: 24px; height: 24px; display: block; background: #999; float: left; padding: 3px 11px; margin: 10px 10px 0 0; border-radius: 8px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.cloud ul li a { color: #FFF }
.cloud ul li:nth-child(8n-7) { background: #8A9B0F }
.cloud ul li:nth-child(8n-6) { background: #EB6841 }
.cloud ul li:nth-child(8n-5) { background: #3FB8AF }
.cloud ul li:nth-child(8n-4) { background: #FE4365 }
.cloud ul li:nth-child(8n-3) { background: #FC9D9A }
.cloud ul li:nth-child(8n-2) { background: #EDC951 }
.cloud ul li:nth-child(8n-1) { background: #C8C8A9 }
.cloud ul li:nth-child(8n) { background: #83AF9B }
.cloud ul li:first-child { background: #036564 }
.cloud ul li:last-child { background: #3299BB }
.cloud ul li:hover { border-radius: 0; text-shadow: #000 1px 1px 1px }

/*图文列表*/
.tuwen { width: 100%; clear: both; overflow: hidden; margin: 15px 0 }
.tuwen h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px; margin-bottom: 30px }
.tuwen li { overflow: hidden; clear: both; margin-bottom: 10px }
.tuwen li img { width: 70px; float: left; margin-right: 15px }
.tuwen li b { overflow: hidden; width: 100%; font-weight: normal; color: #333; font-size: 14px; line-height: 30px }
.tuwen li a b:hover { text-decoration: underline; color: #F60 }
.tuwen li span { color: #999; margin-right: 10px }
.tuwen p { margin-top: 5px }
.tulanmu { background: url(../images/lanmbq.png) no-repeat center left; padding-left: 17px }
.tulanmu a { color: #999; }
.tulanmu a:hover { color: #066 }
.tutime { background: url(../images/datepng.png) no-repeat left center; padding-left: 15px }
.tuwen li:hover { background: #f4f3f3 }

/*首页右侧广告 310*/
.ad { width: 310px; overflow: hidden; margin: 15px 0 }
.ad img { width: 310px; }

/*友情链接*/
.links { width: 100%; overflow: hidden; clear: both }
.links h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px; margin-bottom: 20px }
.links h3 span { float: right; font-size: 12px; }
.links h3 span a { color: #999; padding: 0 5px }
.links h3 span a:hover { color: #F60; text-decoration: underline }
.links ul { background: #f9f9f9; padding: 10px; overflow: hidden; border: #e9e9e9 1px solid }
.links ul li { float: left; padding: 5px 8px }
.links ul li a:hover { color: #000 }

/*文章分类*/
.article-fenlei { width: 100%; clear: both; overflow: hidden; padding-top:0px;}
.article-fenlei h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px; margin-bottom: 15px }

/*文章详情内容*/
.c_titile { font-size: 22px; margin: 15px 0; text-align: center;color: #333;}
.box_c { border: #ccc 1px dashed; text-align: center; padding: 5px 0; color: #999;}
.box_c span { margin: 0 10px; }
.box_c span a{color: #099;}
.content .detail-body{ font-size:16px; color: #000; margin:20px 0;}

/* Detail页 */
.detail-box{margin-bottom: 15px; padding: 0px 0px;}
.detail h1{font-size: 24px; line-height: 30px; padding: 0px 0;}
.detail-about{position:relative; margin-top:5px; line-height:20px; background-color: #F2F2F2; padding: 15px; color:#999;}
.detail-about span,
.jie-about span,
.detail-about .jie-user{margin-right:10px; display:inline-block; *display:inline; *zoom:1; vertical-align:top; font-size:12px;}
.detail-about .jie-status, .detail-about .jie-status-ok{color:#fff;}
.detail-about .fly-jing{padding:0 6px; background-color:#c00; color:#fff;}
.detail-about .jie-user{position:relative;}
.detail-about .jie-user cite{top: -3px; left: 56px; width: 260px; color: #4f99cf; font-size: 14px;}
.detail-about .jie-user cite em{padding-left:5px; color:#999; cursor:default; font-size:12px; font-style: normal;}
.detail-about .jie-user img{position: relative; display: block; margin: 0; top: 0; border-radius: 2px;}
.detail-hits{position:absolute; left: 71px; bottom: 15px; font-size: 0;}
.detail-hits span{margin-top: 0; font-size: 12px;}
.detail-hits .layui-btn{border-radius: 0;}
.detail-hits .layui-btn+.layui-btn{margin-left: 5px;}
.detail-hits .jie-admin{margin-right: 1px;}
.detail-body{margin: 20px 0 50px; min-height: 202px; line-height:26px; font-size:16px; word-wrap: break-word;}
.detail-body p{margin-bottom:15px;}
.detail-body a{color:#4f99cf;}
.detail-body img{max-width: 100%; cursor: crosshair;}
.detail-body table{margin: 10px 0 15px;}
.detail-body table thead{background-color:#f2f2f2;}
.detail-body table th, 
.detail-body table td{padding: 10px 20px; line-height: 22px; border: 1px solid #DFDFDF; font-size: 14px; font-weight: 400;}
.detail-about-reply{background: none; padding: 0;}
.detail-about-reply .detail-hits{left: 56px; bottom: 0;}
.detail .page-title{ border: none; background-color: #f2f2f2;}

/* 回答 */
.jieda{margin-bottom: 30px;}
.jieda li{position: relative; padding: 20px 0 10px; border-bottom:1px dotted #DFDFDF;}
.jieda li:last-child{border-bottom: none;}
.jieda .fly-none{height: 50px; min-height: 0; padding: 50px 0 0;}
.jieda .icon-caina{position:absolute; right:10px; top:15px; font-size:60px; color: #58A571;}
.jieda-body{margin: 25px 0 20px; min-height: 0; line-height: 24px; font-size:14px;}
.jieda-body p{margin-bottom: 10px;}
.jieda-body a{color:#4f99cf}
.jieda-reply{position:relative;}
.jieda-reply span{padding-right:20px; color:#999; cursor:pointer;}
.jieda-reply span:hover{color:#666;}
.jieda-reply span i{margin-right:5px; font-size:16px;}
.jieda-reply span em{font-style: normal;}
.jieda-reply span .icon-zan{font-size: 22px;}
.jieda-reply .zanok,
.jieda-reply .jieda-zan:hover{color:#c00}
.jieda-reply span .icon-svgmoban53{position: relative; top: 1px;}

.jie-user img{position:absolute; left:0; top:50%; width:46px; height:46px; margin-top:-23px;}
.jie-user cite{position:absolute; right:0; top:10px; line-height:26px; color:#999;}
.jie-user cite i{font-style: normal;}

/* 求解管理 */
.jieda-admin{position:absolute; right:0; top:0;}

/*文章发布*/
.page-title{position: relative; font-size: 14px; margin: 0 0 20px; padding: 10px 15px; line-height:30px; background-color: #F2F2F2}

/*404页面*/
.fly-none{min-height: 500px; text-align: center; padding-top:50px; color: #999;}
.fly-none .iconfont{line-height: 300px; font-size: 300px; color: #393D49;}
.fly-none .icon-tishilian{display: inline-block; margin: 30px 0 20px;}
.fly-none p{margin-top: 50px; padding: 0 15px; font-size: 20px; color: #999; font-weight: 300;}


/* 用户中心 */
body .fly-user-main{position: relative; width: 100%; min-height: 600px;}
.fly-user-main>.layui-nav{position: absolute; left: 0; top: 0; z-index: 1000; height: 100%;}
.fly-user-main>.layui-nav .layui-icon{position: relative; top: 2px; font-size: 20px; margin-right: 10px;}
.fly-user-main>.fly-panel{width: 753px; min-height: 575px; margin: 0 0 10px 215px;}
.fly-user-main .fly-none{min-height: 0;}

.fly-form-app{margin-top:30px;}
.fly-form-app .iconfont{font-size:26px; padding: 0 5px;}
.fly-form-app .icon-qq{color:#7CA9C9}
.fly-form-app .icon-weibo{color:#E6162D}

.user-about{position:relative; padding:0 0 0px 20px; border-left:1px solid #DFDFDF; text-align:center;}
.user-about .user-avatar{width:100px; height:100px; border-radius:100%;}
.user-about p{line-height:30px;}
.user-about p span{padding:0 5px; color:#999;}

/* 我的消息 */
#LAY-minemsg{min-height:420px;}
.mine-msg li{position:relative; margin-bottom: 15px; padding: 10px 0 5px; line-height:24px; border-bottom:1px dotted #E9E9E9}
.mine-msg li cite{padding: 0 5px; color: #4F99CF;}
.mine-msg li i{color:#4F99CF; padding-right:5px;}
.mine-msg li>p{position: relative; margin-top: 5px; line-height: 26px; text-align: right;}
.mine-msg li>p span{position: absolute; left: 0; top: 0; color:#999;}
.mine-msg li .fly-delete{position: relative; top: -3px;}
.mine-msg li .layui-elem-quote p[download]{padding: 10px 0 5px;}

/* 设置 */
.avatar-add{position:relative; width:373px; height:373px; background-color:#F2F2F5;}
.avatar-add .upload-img{position:absolute; left:50%; top:35px; margin:0 0 0 -60px;}
.avatar-add img{position:absolute; left:50%; top:50%; width:168px; height:168px; margin:-50px 0 0 -84px; border-radius:100%;}
.avatar-add .loading{display:none; position:absolute; width:100%; height:100%; left:0; top:0; padding: 0; background-color:#000; opacity:0.5; filter: Alpha(opacity=50);}
.avatar-add p{position:absolute; top:70px; width:100%; margin-top: 10px;; font-size:12px; text-align:center; color:#999;}
.app-bind li{margin-bottom:10px; line-height:30px; color:#999;}
.app-bind li .iconfont{position: relative; top: 3px; margin-right: 5px; font-size:28px; }
.app-bind .app-havebind{color:#333;}
.app-bind .app-havebind .icon-qq{color:#7CA9C9}
.app-bind .app-havebind .icon-weibo{color:#E6162D}

/* 求解 */
.jie-row li{position: relative; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #E9E9E9; font-size: 0;}
.jie-row li *{display:inline-block; *display:inline; *zoom:1; vertical-align:top; line-height: 24px; font-size:12px;}
.jie-row li span{height: 24px; line-height: 24px; padding: 0 10px; margin-right: 10px; background-color: #DADADA; color:#fff; font-size:12px;}
.jie-row li .fly-stick{background-color:#393D49;}
.jie-row li .fly-jing{background-color:#CC0000;}
.jie-row li .jie-status{margin:0 10px 0 0;}
.jie-row li .jie-status-ok{background-color:#8FCDA0;}
.jie-row li a{ padding-right:15px; font-size:14px;}
.jie-row li cite{padding-right:15px;}
.jie-row li i, .jie-row li em, .jie-row li cite{font-size:12px; color:#999; font-style: normal;}
.jie-row li .mine-edit{margin-left:15px; padding:0 6px; background-color: #8FCDA0; color:#fff; font-size:12px;}
.jie-row li em{position:absolute; right:0; top:0;}
.jie-row li .jie-user{}
.jie-row li .jie-title{max-width: 330px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.jie-row li .jie-user img{position:relative; top: 16px; width: 35px; height: 35px;}

/* 面板 */
.fly-panel{background-color: #fff; border-radius: 2px;}
.fly-panel-title{position: relative; height: 40px; line-height: 40px; margin-bottom: 5px; background-color: #f8f8f8; color: #6C9; border-radius: 2px 2px 0 0; font-size: 14px;}

/* 个人主页 */
.fly-home{position: relative; padding: 30px 0 30px; text-align: center; background-color: #fff;}
.fly-home img{width:120px; height:120px; border-radius:100%;}
.fly-home h1{font-size:26px; line-height:30px; margin-top:10px;}
.fly-home h1 span{font-size:14px; color:#999;}
.fly-home h1 .icon-nan{color:#4EBBF9}
.fly-home h1 .icon-nv{color:#F581B1}
.fly-home-sign{padding: 0 10px; color: #999; margin-top: 10px;}

.fly-home-info i{padding-right: 5px; padding-left: 10px; color: #666;}
.fly-home-info span{color: #999;}
.fly-sns{margin-top: 10px;}
.fly-home-main{margin-top: 15px; font-size: 0; text-align: center;}
.fly-home-main>.layui-inline{width: 100%; vertical-align: top; font-size: 14px; text-align: left;}
.fly-home-da{margin-left: 0px;}

.fly-home-jie .jie-row,
.fly-home-da .home-jieda{padding: 5px 15px;}

/*.home-jieda li{margin-bottom:20px; padding-bottom:10px; line-height:24px; border-bottom: 1px dotted #DFDFDF;}*/
.home-jieda li{ margin-bottom:20px; line-height:24px;}
.home-dacontent{margin-top:10px; padding:10px 15px; background-color:#F2F2F5; border-radius:5px; word-wrap: break-word;;}
.home-dacontent pre{ background-color:#F2F2F5;}
.home-dacontent img{max-width:100%;}
.home-jieda li a{padding:0 5px; color:#4F99CF;}
.home-jieda li p{color:#999;}
.home-jieda li p span{padding-right:5px;}


