html,body{
	height: 100%;
}

body{
	background-color: #f1f1f1;
	&.white{
		background-color: #fff;
		.login-hd{
			background: #fff;
			.left-bg{
				display: none;
			}
			.right-bg{
				display: none;
			}
			.logo{
				background: url(../../images/login_logo_w.png) no-repeat;
			}
			.split{
				background-color: #ccc;
			}
		}
		.login-bd{
			background-color: #f1f1f1;
			.lg-zone{
				background: url(../../images/login_bg_tubiao.png) center 46px no-repeat;
				.lg-box{
					/*background: url(../../images/login_box_w.png) no-repeat;*/
					.lg-label h4{
						border-left:none;
					}
				}
			}
		}
	}
}

.login-hd{
	position: relative;
	height: 94px;
	background: #1da02b;
	line-height: 94px;
	min-width: 1200px;
	.left-bg{
		position: absolute;
		width: 348px;
		height: 92px;
		left: 0;
		top: 0;
		background: url(../../images/login_top_left.png) no-repeat;
	}
	.right-bg{
		position: absolute;
		width: 267px;
		height: 92px;
		right: 0;
		top: 0;
		background: url(../../images/login_top_right.png) no-repeat;
	}
	.hd-inner{
		width: 1200px;
		height: 94px;
		line-height: 94px;
		margin: 0 auto;
		.logo{
			position: relative;
			display: inline-block;
			width: 245px;
			height: 73px;
			margin-left: 15px;
			margin-top: 10px;
			margin-right: 10px;
			background: url(../../images/login_logo.png) no-repeat;
		}
		.split{
			position: relative;
			display: inline-block;
			height: 32px;
			width: 1px;
			top: -17px;
			margin-right: 10px;
			background-color: #51b65d;
		}
		.sys-name{
			display: inline-block;
			position: relative;
			color: #000;
			font-size: 22px;
			top: -26px;

		}
	}
}

.login-bd{
	position: relative;
/*	height: 541px;*/
	border: 1px solid #e5e5e5;
	background-color: #fff;
	min-width: 1200px;
	.bd-inner{
		width: 1200px;
		margin: 0 auto;
		.inner-wrap{
			position: relative;
			padding-right: 504px;
			.lg-zone{
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				width: 504px;
				.alert{
					margin: 0 33px 10px;
				}
				.lg-box{
					position: absolute;
					right: 30px;
					top: 46px;
					/*background: url(../../images/login_box.png) no-repeat;*/
					background: #fff;
		    		box-shadow: 2px 2px 3px #ddd, -2px 0 3px #ddd;
					width: 364px;
					padding-bottom: 20px;
					.line{
						position: absolute;
						left: 0;
						top: 0;
						height: 6px;

						&.line-y{
							width: 127px;
							background: #ff9d02;
						}

						&.line-g{
							left: 127px;
							right: 0;
							background: #1da02b;
						}

					}
					.lg-label{
						color: #000;
						font-size: 22px;
						height: 44px;
						line-height: 44px;
						margin-top:23px; 
						text-indent: 30px;
						margin-bottom: 20px;
						h4{
							border-left: 4px solid #1da02b;
						}
					}
					.input-item{
						margin-bottom: 22px;
						width:296px;
						line-height: 40px;
						height: 40px;
						border-top: 1px solid #adadad;
						border-left: 1px solid #adadad;
						border-right: 1px solid #cfcfcf;
						border-bottom: 1px solid #cfcfcf;
						margin-left: 34px;
						i{
							float: left;
							display: inline-block;
							width: 40px;
							height: 40px;
							line-height: 40px;
							text-align: center;
							color: #5d5c68;
						}
						input{	
							border: 0;
							height: 40px;
							padding: 0;
							width: 236px;
							float: left;
							outline: none;
							text-decoration: none;
							&:focus{
								outline: none;	
								text-decoration: none;
							};
						}
					}
					.lg-check{
						margin-bottom: 10px;
						.input-item{
							float: left;
							width: 172px;
							margin-right: 10px;
							input{
								width: 132px;
							}
						}
						.check-code{
							float: left;
							display: inline-block;
							height: 42px;
							line-height: 42px;
							background-color: #ff9d02;
							color: #fff;
							width: 114px;
							text-align: center;
							font-size: 14px;
						}
					}
					.tips{
						height: 20px;
						line-height: 20px;
						margin-bottom: 30px;
						input[type=checkbox]{
							position: relative;
							margin-left: 34px;
						}
						label{
							font-size: 14px;
							color: #a3a3a3;
						}
						a{
							float: right;
							font-size: 12px;
							text-decoration: none;
							&:hover{
								text-decoration:underline;
							};
							&.register{
								color: #1da02b;
								margin-left: 12px;
								margin-right: 34px;
							}
							&.forget-pwd{
								color: #000;
							}
						}
					}
					.enter{
						a{
							display: inline-block;
							text-decoration: none;
							height: 48px;
							line-height: 48px;
							text-align: center;
							color: #fff;
							font-size: 16px;
							width: 142px;
							font-weight: bold;
							&.purchaser{
								margin-left: 34px;
								background-color: #f45438;
								margin-right: 9px;
							}
							&.supplier{
								background-color: #1da02b;
							}
						}

					}
				}

			}
			.lg-poster{
				height:541px;
				background: url(../../images/loginbg.png) right center no-repeat; 
			}
		}
	}
	
}

.login-ft{
	padding-top: 20px;
	min-width: 1200px;
	.ft-inner{
		margin: 0 auto;
		.about-us{
			height: 20px;
			line-height: 20px;
			width:295px;
			margin: 0 auto;
			margin-bottom: 10px;
			a{
				color: #666;
				text-decoration: none;
				font-size: 14px;
				float: left;
				margin-left: 15px;
				&:hover{
					text-decoration:underline;
				};
			}
		}
		.address{
			text-align: center;
			color: #999;
			font-size: 12px;
			margin-bottom: 10px;
		}
		.other-info{
			text-align: center;
			color: #999;
			font-size: 12px;
			margin-bottom: 50px;
		}
	}
}
