<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <!-- Use title if it's in the page YAML frontmatter -->
  <title>Whitemin Theme</title>

  <link href="../../stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
  <script src="../../javascripts/application.js" type="text/javascript"></script>

  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!-- there's an IE separated stylesheet with the following resets for IE -->
  <!--[if lte IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="../../javascripts/html5shiv.js" type="text/javascript"></script>
        <script src="../../javascripts/excanvas.js" type="text/javascript"></script>
        <script src="../../javascripts/ie_fix.js" type="text/javascript"></script>
        <link href="../../stylesheets/ie_fix.css" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>

<body>
<nav id="primary" class="main-nav collapsible-nav">
  <!-- Brand -->
  <a id="sidebar-brand" href="../pages/dashboard.html">
    Whitemin
  </a>
  <button type="button" class="btn btn-navbar btn-inverse" data-toggle="collapse" data-target=".nav-collapse">
    <i class="icon-reorder"></i>
  </button>

  <ul class="nav-collapse collapse">

  <!-- Profile -->
    <li class="profile">
      <a href="#profile-opts" class="accordion-toggle" data-toggle="collapse">
         <img class="avatar user3">
          <span class="text" id="profile-text">
            Jane Doe <b class="caret"></b>
          </span>
      </a>

      <ul id="profile-opts" class="collapse secondary">
        <li class="">
          <a href="#">
            Settings
          </a>
        </li>
        <li class="">
          <a href="#">
            Change password
          </a>
        </li>
        <li class="">
          <a href="#">
            Logout
          </a>
        </li>
      </ul>
    </li>

    <!-- Dashboard -->
    <li class="">
      <a href="../dashboard.html">
          <span class="icon">
            <i class="icon-dashboard"></i>
          </span>
          <span class="text">
            Dashboard
          </span>
      </a>
    </li>

    <!-- Components -->
    <li class="active">
      <a href="#components-list" class="accordion-toggle" data-toggle="collapse">
          <span class="icon">
            <i class="icon-microformats"></i>
          </span>
          <span class="text">
            Components <b class="caret"></b>
          </span>
      </a>

      <ul id="components-list" class="collapse secondary">
        <li class="">
          <a href="buttons.html">
              Buttons
          </a>
        </li>
        <li class="">
          <a href="forms.html">
              Forms
          </a>
        </li>
        <li class="">
          <a href="elements.html">
              Elements
          </a>
        </li>
        <li class="">
          <a href="widgets.html">
              Widgets
          </a>
        </li>
        <li class="active">
          <a href="charts.html">
              Charts
          </a>
        </li>
        <li class="">
          <a href="tables.html">
              Tables
          </a>
        </li>
        <li class="">
          <a href="grid.html">
              Grid
          </a>
        </li>
      </ul>
    </li>

    <!-- Sample pages -->
    <li class="">
      <a href="#sample-pages" class="accordion-toggle" data-toggle="collapse">
          <span class="icon">
            <i class="icon-pushpin"></i>
          </span>
          <span class="text">
            Pages <b class="caret"></b>
          </span>
      </a>

      <ul id="sample-pages" class="collapse secondary">
        <li class="">
          <a href="../samples/gallery.html">
              Gallery
          </a>
        </li>
        <li class="">
          <a href="../samples/faq.html">
              FAQ
          </a>
        </li>
        <li class="">
          <a href="../samples/pricing_plans.html">
              Pricing Plans
          </a>
        </li>
        <li class="">
          <a href="../samples/login.html">
              Login
          </a>
        </li>
        <li class="">
          <a href="../samples/register.html">
              Register
          </a>
        </li>
        <li class="">
          <a href="../samples/reports.html">
              Reports
          </a>
        </li>
        <li class="">
          <a href="../samples/error.html">
              Error 404
          </a>
        </li>
      </ul>
    </li>

    <!-- Extras dropdown -->
    <li class="">
      <a href="#extras" class="accordion-toggle" data-toggle="collapse">
          <span class="icon">
            <i class="icon-gift"></i>
          </span>
          <span class="text">
            Extras <b class="caret"></b>
          </span>
      </a>

      <ul id="extras" class="collapse secondary">
        <li class="">
          <a href="../extras/fullcalendar.html">
              Fullcalendar
          </a>
        </li>
        <li class="">
          <a href="../extras/icons.html">
              Icons
          </a>
        </li>
        <li class="">
          <a href="../extras/world-map.html">
              World map
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav><div class="top-bar">
  <a id="topbar-brand" class="brand" href="../dashboard.html">
    Whitemin
  </a>

  <ul class="top-notifications">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Messages  <span class="badge dark-blue">3</span>
      </a>
      <ul id="messages" class="dropdown-menu top-bar-list">
        <li><a>New message</a></li>
        <li><a>Inbox <span class="count">(8)</span></a></li>
        <li><a>Sent</a></li>
        <li><a>Drafts</a></li>
      </ul>

    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Orders  <span class="badge dark-plum">45</span>
      </a>
      <ul id="orders" class="dropdown-menu top-bar-list">
        <li><a>New orders <span class="count">(6)</span></a></li>
        <li><a>Refunds</a></li>
        <li><a>History</a></li>
      </ul>
    </li>
  </ul>
</div>
<section id="main">
  <div class="row-fluid">
  <div class="span12">

    <hr class="main">
    <ul class="breadcrumbs">
      <li>
        <a class="crumb" href="#">Some</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a class="crumb" href="#">Pretty</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a class="crumb" href="#">Cool</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a class="crumb active" href="#">Crumbs</a>
      </li>
    </ul>
    <hr class="main">
  </div>
</div>

  <div class="container-fluid">
  <div class="row-fluid">
  <div class="span6">
    <div class="box bordered">
      <div class="box-header">
        <i class="icon-bar-chart"></i> Oil prices
      </div>

      <div class="padded">
        <div class="row-fluid">
          <div class="span12">
            <div class="chart" id="oil-price-chart" style="width: 100%; height: 300px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="span6">
    <div class="box bordered">
      <div class="box-header">
        <i class="icon-bar-chart"></i> Interactive chart
      </div>

      <div class="padded">
        <div class="row-fluid">
          <div class="span12">
            <div class="chart" id="interactive-chart" style="width: 100%; height: 300px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <div class="box bordered">
      <div class="box-header">
        <i class="icon-bar-chart"></i> Chart with annotations
      </div>

      <div class="padded">
        <div class="row-fluid">
          <div class="span12">
            <div class="chart" id="bar-chart" style="width: 100%; height: 300px;"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="span6">
    <div class="box bordered">
      <div class="box-header">
        <i class="icon-bar-chart"></i> Real-time updates chart
      </div>

      <div class="padded">
        <div class="row-fluid">
          <div class="span12">
            <div class="chart" id="real-time-chart" style="width: 100%; height: 300px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <div class="box bordered">
      <div class="box-header">
        <i class="icon-bar-chart"></i> Pie chart with legend
      </div>

      <div class="padded">
        <div class="row-fluid">
          <div class="span12">
            <div class="chart" id="pie-chart" style="width: 100%; height: 300px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="box bordered">
      <div class="box-header">
        <i class="icon-bar-chart"></i> Donut chart with legend
      </div>

      <div class="padded">
        <div class="row-fluid">
          <div class="span12">
            <div class="chart" id="donut-chart" style="width: 100%; height: 300px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <div class="box bordered">
      <div class="box-header">
        <i class="icon-bar-chart"></i> Site visits
      </div>

      <div class="padded">
        <div class="row-fluid">
          <div class="span12">
            <div class="chart" id="barchart" style="width: 100%; height: 300px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="span6">
    <div class="box bordered">
      <div class="box-header">
        <i class="icon-bar-chart"></i> Area chart
      </div>

      <div class="padded">
        <div class="row-fluid">
          <div class="span12">
            <div class="chart" id="area-chart" style="width: 100%; height: 300px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="box footer">
        <div class="copyright text-transparent center">
          <div>2013 &copy; Whitemin Template</div>
          <div>Created by Adritha84</div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>


<!-- Modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer">
    <a class="btn modal-download light-blue inverse" target="_blank"><i class="icon-download"></i> Download</a>
    <a class="btn modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
    <a class="btn modal-prev medium-blue"><i class="icon-arrow-left icon-white"></i> Previous</a>
    <a class="btn modal-next medium-blue">Next <i class="icon-arrow-right icon-white"></i></a>
  </div>
</div>

</body>
</html>