<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <!-- Use title if it's in the page YAML frontmatter -->
  <title>Whitemin Theme</title>

  <link href="../../stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
  <script src="../../javascripts/application.js" type="text/javascript"></script>

  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!-- there's an IE separated stylesheet with the following resets for IE -->
  <!--[if lte IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="../../javascripts/html5shiv.js" type="text/javascript"></script>
        <script src="../../javascripts/excanvas.js" type="text/javascript"></script>
        <script src="../../javascripts/ie_fix.js" type="text/javascript"></script>
        <link href="../../stylesheets/ie_fix.css" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>

<body>
<nav id="primary" class="main-nav collapsible-nav">
  <!-- Brand -->
  <a id="sidebar-brand" href="../pages/dashboard.html">
    Whitemin
  </a>
  <button type="button" class="btn btn-navbar btn-inverse" data-toggle="collapse" data-target=".nav-collapse">
    <i class="icon-reorder"></i>
  </button>

  <ul class="nav-collapse collapse">

  <!-- Profile -->
    <li class="profile">
      <a href="#profile-opts" class="accordion-toggle" data-toggle="collapse">
         <img class="avatar user3">
          <span class="text" id="profile-text">
            Jane Doe <b class="caret"></b>
          </span>
      </a>

      <ul id="profile-opts" class="collapse secondary">
        <li class="">
          <a href="#">
            Settings
          </a>
        </li>
        <li class="">
          <a href="#">
            Change password
          </a>
        </li>
        <li class="">
          <a href="#">
            Logout
          </a>
        </li>
      </ul>
    </li>

    <!-- Dashboard -->
    <li class="">
      <a href="../dashboard.html">
          <span class="icon">
            <i class="icon-dashboard"></i>
          </span>
          <span class="text">
            Dashboard
          </span>
      </a>
    </li>

    <!-- Components -->
    <li class="active">
      <a href="#components-list" class="accordion-toggle" data-toggle="collapse">
          <span class="icon">
            <i class="icon-microformats"></i>
          </span>
          <span class="text">
            Components <b class="caret"></b>
          </span>
      </a>

      <ul id="components-list" class="collapse secondary">
        <li class="">
          <a href="buttons.html">
              Buttons
          </a>
        </li>
        <li class="">
          <a href="forms.html">
              Forms
          </a>
        </li>
        <li class="active">
          <a href="elements.html">
              Elements
          </a>
        </li>
        <li class="">
          <a href="widgets.html">
              Widgets
          </a>
        </li>
        <li class="">
          <a href="charts.html">
              Charts
          </a>
        </li>
        <li class="">
          <a href="tables.html">
              Tables
          </a>
        </li>
        <li class="">
          <a href="grid.html">
              Grid
          </a>
        </li>
      </ul>
    </li>

    <!-- Sample pages -->
    <li class="">
      <a href="#sample-pages" class="accordion-toggle" data-toggle="collapse">
          <span class="icon">
            <i class="icon-pushpin"></i>
          </span>
          <span class="text">
            Pages <b class="caret"></b>
          </span>
      </a>

      <ul id="sample-pages" class="collapse secondary">
        <li class="">
          <a href="../samples/gallery.html">
              Gallery
          </a>
        </li>
        <li class="">
          <a href="../samples/faq.html">
              FAQ
          </a>
        </li>
        <li class="">
          <a href="../samples/pricing_plans.html">
              Pricing Plans
          </a>
        </li>
        <li class="">
          <a href="../samples/login.html">
              Login
          </a>
        </li>
        <li class="">
          <a href="../samples/register.html">
              Register
          </a>
        </li>
        <li class="">
          <a href="../samples/reports.html">
              Reports
          </a>
        </li>
        <li class="">
          <a href="../samples/error.html">
              Error 404
          </a>
        </li>
      </ul>
    </li>

    <!-- Extras dropdown -->
    <li class="">
      <a href="#extras" class="accordion-toggle" data-toggle="collapse">
          <span class="icon">
            <i class="icon-gift"></i>
          </span>
          <span class="text">
            Extras <b class="caret"></b>
          </span>
      </a>

      <ul id="extras" class="collapse secondary">
        <li class="">
          <a href="../extras/fullcalendar.html">
              Fullcalendar
          </a>
        </li>
        <li class="">
          <a href="../extras/icons.html">
              Icons
          </a>
        </li>
        <li class="">
          <a href="../extras/world-map.html">
              World map
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav><div class="top-bar">
  <a id="topbar-brand" class="brand" href="../dashboard.html">
    Whitemin
  </a>

  <ul class="top-notifications">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Messages  <span class="badge dark-blue">3</span>
      </a>
      <ul id="messages" class="dropdown-menu top-bar-list">
        <li><a>New message</a></li>
        <li><a>Inbox <span class="count">(8)</span></a></li>
        <li><a>Sent</a></li>
        <li><a>Drafts</a></li>
      </ul>

    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Orders  <span class="badge dark-plum">45</span>
      </a>
      <ul id="orders" class="dropdown-menu top-bar-list">
        <li><a>New orders <span class="count">(6)</span></a></li>
        <li><a>Refunds</a></li>
        <li><a>History</a></li>
      </ul>
    </li>
  </ul>
</div>
<section id="main">
  <div class="row-fluid">
  <div class="span12">

    <hr class="main">
    <ul class="breadcrumbs">
      <li>
        <a class="crumb" href="#">Some</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a class="crumb" href="#">Pretty</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a class="crumb" href="#">Cool</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a class="crumb active" href="#">Crumbs</a>
      </li>
    </ul>
    <hr class="main">
  </div>
</div>

  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="box bordered">
        <div class="box-header">
          <i class="icon-bullhorn"></i> Interface elements
        </div>

        <div class="row-fluid">
          <div class="span6">
            <div class="padded">
              <div class="section-title">Icon labels</div>
              <div class="vpadded">
                <div class="big-label light-blue">
  <i class="icon-cloud-upload"></i>
</div>
<div class="big-label medium-blue text-inverse">
  <i class="icon-lightbulb"></i>
</div>
<div class="big-label text-blue text-inverse">
  <i class="icon-fire"></i>
</div>
<div class="big-label dark-blue text-inverse">
  <i class="icon-food"></i>
</div>
<div class="big-label dark-plum text-inverse">
  <i class="icon-beer"></i>
</div>
<div class="big-label inverse text-inverse">
  <i class="icon-coffee"></i>
</div>

<div class="big-label yellow">
  <i class="icon-eye-open"></i>
</div>
<div class="big-label orange">
  <i class="icon-bolt"></i>
</div>
<div class="big-label red">
  <i class="icon-star"></i>
</div>
<div class="big-label plum">
  <i class="icon-fire"></i>
</div>
<div class="big-label blue">
  <i class="icon-bell"></i>
</div>
<div class="big-label turquoise">
  <i class="icon-cloud-download"></i>
</div>
<div class="big-label green">
  <i class="icon-ok"></i>
</div>



              </div>
              <div class="vpadded">
                <div class="big-label round light-blue">
  <i class="icon-cloud-upload"></i>
</div>
<div class="big-label round medium-blue text-inverse">
  <i class="icon-lightbulb"></i>
</div>
<div class="big-label round text-blue text-inverse">
  <i class="icon-fire"></i>
</div>
<div class="big-label round dark-blue text-inverse">
  <i class="icon-food"></i>
</div>
<div class="big-label round dark-plum text-inverse">
  <i class="icon-beer"></i>
</div>
<div class="big-label round inverse text-inverse">
  <i class="icon-coffee"></i>
</div>

<div class="big-label round yellow">
  <i class="icon-eye-open"></i>
</div>
<div class="big-label round orange">
  <i class="icon-bolt"></i>
</div>
<div class="big-label round red">
  <i class="icon-star"></i>
</div>
<div class="big-label round plum">
  <i class="icon-fire"></i>
</div>
<div class="big-label round blue">
  <i class="icon-bell"></i>
</div>
<div class="big-label round turquoise">
  <i class="icon-cloud-download"></i>
</div>
<div class="big-label round green">
  <i class="icon-ok"></i>
</div>



              </div>
            </div>
            <div class="padded">
              <div class="section-title">Datepickers</div>
              <div class="vpadded">
                <div class="input-append date datepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
  <input type="text" value="12-02-2012">
  <button class="btn light-blue inverse date-button" type="button"><i class="icon-th"></i></button>
</div>

<h6>Viewmode: months</h6>
<div class="input-append date datepicker" data-date="102/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
  <input type="text" value="02/2012" readonly="">
  <button class="btn light-blue inverse date-button" type="button"><i class="icon-calendar"></i></button>
</div>

<h6>Viewmode: years</h6>
<div class="input-append date datepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
  <input type="text" value="12-02-2012" readonly="">
  <button class="btn light-blue inverse date-button" type="button"><i class="icon-calendar"></i></button>
</div>
              </div>
            </div>
          </div>

          <div class="span6">
            <div class="padded">
              <div class="section-title">Progress bars</div>
              <div class="row-fluid ">
  <div class="span12">
    <h6>Basic colors</h6>
    <div class="progress progress-light-blue">
      <div class="bar" style="width: 20%"></div>
    </div>
    <div class="progress progress-medium-blue">
      <div class="bar" style="width: 30%"></div>
    </div>
    <div class="progress progress-dark-blue">
      <div class="bar" style="width: 40%"></div>
    </div>
    <div class="progress progress-text-blue">
      <div class="bar" style="width: 50%"></div>
    </div>
    <div class="progress progress-dark-plum">
      <div class="bar" style="width: 60%"></div>
    </div>
  </div>
</div>

<div class="row-fluid ">
  <div class="span12">
    <h6>Extra colors</h6>
    <div class="progress progress-yellow">
      <div class="bar" style="width: 20%"></div>
    </div>
    <div class="progress progress-orange">
      <div class="bar" style="width: 30%"></div>
    </div>
    <div class="progress progress-red">
      <div class="bar" style="width: 40%"></div>
    </div>
    <div class="progress progress-plum">
      <div class="bar" style="width: 50%"></div>
    </div>
    <div class="progress progress-blue">
      <div class="bar" style="width: 60%"></div>
    </div>
    <div class="progress progress-turquoise">
      <div class="bar" style="width: 70%"></div>
    </div>
    <div class="progress progress-green">
      <div class="bar" style="width: 80%"></div>
    </div>
  </div>
</div>

<div class="row-fluid ">
  <div class="span12 padded5">
    <h6>Bootstrap</h6>
    <div class="progress progress-info">
      <div class="bar" style="width: 30%"></div>
    </div>
    <div class="progress progress-warning">
      <div class="bar" style="width: 50%"></div>
    </div>
    <div class="progress progress-success progress-striped">
      <div class="bar" style="width: 70%"></div>
    </div>
    <div class="progress progress-danger progress-striped active">
      <div class="bar" style="width: 80%"></div>
    </div>
  </div>
</div>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            <div class="padded">
              <div class="section-title">Labels and badges</div>
              <section id="labels-badges">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Labels</th>
      <th>Badges</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <span class="label">Default</span>
      </td>
      <td>
        <span class="badge">1</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label light-blue">Light</span>
      </td>
      <td>
        <span class="badge light-blue">2</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label medium-blue">Medium</span>
      </td>
      <td>
        <span class="badge medium-blue">3</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label dark-blue">Dark</span>
      </td>
      <td>
        <span class="badge dark-blue">4</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label text-blue">Darker</span>
      </td>
      <td>
        <span class="badge text-blue">5</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label dark-plum">Plum</span>
      </td>
      <td>
        <span class="badge dark-plum">6</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label label-inverse">Inverse</span>
      </td>
      <td>
        <span class="badge badge-inverse">7</span>
      </td>
    </tr>
    </tbody>
  </table>
</section>

            </div>
          </div>
          <div class="span6">
            <div class="padded">
              <div class="section-title">Labels and badges: EXTRA COLORS</div>
              <section id="labels-badges">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Labels</th>
      <th>Badges</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <span class="label yellow">Yellow</span>
      </td>
      <td>
        <span class="badge yellow">1</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label orange">Orange</span>
      </td>
      <td>
        <span class="badge orange">2</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label red">Red</span>
      </td>
      <td>
        <span class="badge red">3</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label plum">Lilac</span>
      </td>
      <td>
        <span class="badge plum">4</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label blue">Blue</span>
      </td>
      <td>
        <span class="badge blue">5</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label turquoise">Turquoise</span>
      </td>
      <td>
        <span class="badge turquoise">6</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label green">Green</span>
      </td>
      <td>
        <span class="badge green">7</span>
      </td>
    </tr>
    </tbody>
  </table>
</section>

            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span12">
            <div class="padded">
              <div class="section-title">Circle stats</div>
              <div class="center">
  <div class="percent-stat">
    <span class="percent"> %</span>
    <input type="text" value="61" data-min="0" data-max="100" class="circle-stat light-blue">
    <span class="indicator">Phisical memory</span>
  </div>
  <div class="percent-stat">
    <span class="percent"> %</span>
    <input type="text" value="38" data-min="0" data-max="100" class="circle-stat medium-blue">
    <span class="indicator">Kernel memory</span>
  </div>
  <div class="percent-stat">
    <span class="percent"> %</span>
    <input type="text" value="44" data-min="0" data-max="100" class="circle-stat dark-blue">
    <span class="indicator">CPU Usage</span>
  </div>
  <div class="percent-stat">
    <span class="percent"> %</span>
    <input type="text" value="65" data-min="0" data-max="100" class="circle-stat dark-blue">
    <span class="indicator">Bandwidth</span>
  </div>
  <div class="percent-stat">
    <span class="percent"> %</span>
    <input type="text" value="54" data-min="0" data-max="100" class="circle-stat medium-blue">
    <span class="indicator">Disk space usage</span>
  </div>
  <div class="percent-stat">
    <span class="percent"> %</span>
    <input type="text" value="83" data-min="0" data-max="100" class="circle-stat light-blue">
    <span class="indicator">Network</span>
  </div>
</div>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span12">
            <div class="padded">
              <div class="section-title">Tags</div>
              <div class="row-fluid">
  <div class="span6">
    <h6>Base colors</h6>

    <div class="light-blue-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="medium-blue-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="dark-blue-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="text-blue-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="dark-plum-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>


    <div class="inverse-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>
  </div>

  <div class="span6">
    <h6>Extra colors</h6>

    <div class="yellow-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="orange-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="red-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="plum-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="turquoise-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="green-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>
  </div>
</div>

            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span5">
            <div class="padded">
              <div class="section-title">Horizontal sliders</div>
              <div class="slider-light-blue slider-min slider-20"></div>
<div class="slider-medium-blue slider-min slider-40"></div>
<div class="slider-dark-blue slider-min slider-60"></div>
<div class="slider-light-blue slider-max slider-20"></div>
<div class="slider-medium-blue slider-max slider-40"></div>
<div class="slider-dark-blue slider-max slider-60"></div>

<div class="slider-light-blue slider-range slider-20-40"></div>
<div class="slider-medium-blue slider-range slider-20-60"></div>
<div class="slider-dark-blue slider-range slider-20-80"></div>

<div class="slider-yellow slider-min slider-40"></div>
<div class="slider-orange slider-min slider-60"></div>
<div class="slider-red slider-max slider-20"></div>
<div class="slider-plum slider-max slider-40"></div>
<div class="slider-blue slider-max slider-60"></div>
<div class="slider-turquoise slider-range slider-20-60"></div>
<div class="slider-green slider-range slider-20-80"></div>

            </div>
          </div>
          <div class="span7">
            <div class="padded">
              <div class="section-title">Vertical sliders</div>
              <div class="row-fluid">
  <div class="span6">
    <div class="slider-light-blue slider-vertical slider-20"></div>
    <div class="slider-medium-blue slider-vertical slider-30"></div>
    <div class="slider-dark-blue slider-vertical slider-40"></div>
    <div class="slider-light-blue slider-vertical slider-50"></div>
    <div class="slider-medium-blue slider-vertical slider-60"></div>
    <div class="slider-dark-blue slider-vertical slider-80"></div>
  </div>

  <div class="span6">
    <div class="slider-green slider-vertical slider-40"></div>
    <div class="slider-yellow slider-vertical slider-60"></div>
    <div class="slider-orange slider-vertical slider-70"></div>
    <div class="slider-red slider-vertical slider-90"></div>
    <div class="slider-plum slider-vertical slider-80"></div>
    <div class="slider-turquoise slider-vertical slider-30"></div>
  </div>
</div>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            <div class="padded">
              <div class="section-title">Alerts</div>
              <div class="alert yellow fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert orange fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert red fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert blue fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert turquoise fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert green fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert light-blue fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert medium-blue fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert dark-blue fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>
            </div>
          </div>
          <div class="span6">
            <div class="padded">
              <div class="section-title">Block alerts</div>
              <div class="alert medium-blue alert-block fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Oh snap! You got an error!</h4>
  <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
  <p>
    <a class="btn btn-mini btn-inverse">Take this action</a>
    <a class="btn btn-mini">Or do this</a>
  </p>
</div>

<div class="alert dark-blue alert-block fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Oh snap! You got an error!</h4>
  <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
  <p>
    <a class="btn btn-mini btn-inverse">Take this action</a>
    <a class="btn btn-mini">Or do this</a>
  </p>
</div>

<div class="alert dark-plum alert-block fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Oh snap! You got an error!</h4>
  <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
  <p>
    <a class="btn btn-mini btn-inverse">Take this action</a>
    <a class="btn btn-mini">Or do this</a>
  </p>
</div>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span8">
            <div class="padded">
              <div class="section-title">Quick links</div>
              <button class="big-button" href="#">
  <i class="icon-cogs icon-large"></i>
  <span class="button-text">Users</span>
</button>

<button class="big-button active" href="#">
  <i class="icon-group icon-large"></i>
  <span class="button-text">Requests</span>
</button>

<button class="big-button" href="#">
  <i class="icon-envelope icon-large"></i>
  <span class="button-text">Messages</span>
</button>

<button class="big-button" href="#">
  <i class="icon-comments icon-large"></i>
  <span class="button-text">Comments</span>
</button>

<button class="big-button" href="#">
  <i class="icon-flag icon-large"></i>
  <span class="button-text">Events</span>
</button>

<button class="big-button" href="#">
  <i class="icon-bar-chart icon-large"></i>
  <span class="button-text">Orders</span>
</button>
            </div>
          </div>
          <div class="span4">
            <div class="padded">
              <div class="section-title">Growl</div>
              <a class="btn btn-small medium-blue regular-notification">Regular</a>
<a class="btn btn-small medium-blue  sticky-notification">Sticky</a>
<a class="btn btn-small medium-blue noimage-notification">No image</a>
<a class="btn btn-small medium-blue light-notification">Light</a>
<a class="btn btn-small medium-blue max-notification">Maximum 3</a>
<a class="btn btn-small medium-blue remove-all-notifications">Remove all</a>

            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span7">
            <div class="padded">
              <div class="section-title">Accordions</div>
              <div class="accordion" id="accordion2" xmlns="http://www.w3.org/1999/html">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Accordion number One
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non arcu nec tellus tristique egestas sed sed elit. Integer facilisis elit dictum elit ornare adipiscing.
        Sed cursus laoreet urna. Cras rutrum porta leo, ut semper nisl venenatis sit amet. In hac habitasse platea dictumst.
        </p>
        <p>
            In odio neque, sagittis non condimentum eu, posuere et turpis. Vivamus quis lectus urna.
          Sed commodo ligula laoreet purus rutrum porttitor adipiscing diam pretium. Nulla nec neque sed ipsum ultrices faucibus. Integer lobortis varius arcu eu laoreet.
        </p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Accordion number Two
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non arcu nec tellus tristique egestas sed sed elit. Integer facilisis elit dictum elit ornare adipiscing.
          Sed cursus laoreet urna. Cras rutrum porta leo, ut semper nisl venenatis sit amet. In hac habitasse platea dictumst.
        </p>
        <p>
          In odio neque, sagittis non condimentum eu, posuere et turpis. Vivamus quis lectus urna.
          Sed commodo ligula laoreet purus rutrum porttitor adipiscing diam pretium. Nulla nec neque sed ipsum ultrices faucibus. Integer lobortis varius arcu eu laoreet.
        </p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Accordion number Three
      </a>
    </div>
    <div id="collapseThree" class="accordion-body in collapse" style="height: auto;">
      <div class="accordion-inner">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non arcu nec tellus tristique egestas sed sed elit. Integer facilisis elit dictum elit ornare adipiscing.
          Sed cursus laoreet urna. Cras rutrum porta leo, ut semper nisl venenatis sit amet. In hac habitasse platea dictumst.
        </p>
        <p>
          In odio neque, sagittis non condimentum eu, posuere et turpis. Vivamus quis lectus urna.
          Sed commodo ligula laoreet purus rutrum porttitor adipiscing diam pretium. Nulla nec neque sed ipsum ultrices faucibus. Integer lobortis varius arcu eu laoreet.
        </p>
      </div>
    </div>
  </div>
</div>
            </div>
          </div>
          <div class="span5">
            <div class="padded">
              <div class="section-title">Pagination</div>
              <div class="pagination">
  <ul>
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>

<div class="pagination dark-pag">
  <ul>
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>

<div class="pagination blue-pag">
  <ul>
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">&hellip;</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>

              <div class="section-title">Modal dialogs</div>
              <a href="#responsive-modal" class="btn btn-large medium-blue" data-toggle="modal">Launch demo modal</a>

<div id="responsive-modal" class="modal hide fade" tabindex="-1" data-width="760">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Responsive</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span6">
        <h4>Inputs</h4>
        <p><input type="text" class="span12"></p>
        <p><input type="text" class="span12"></p>
        <p><input type="text" class="span12"></p>
        <p><input type="text" class="span12"></p>
        <p><input type="text" class="span12"></p>
        <p><input type="text" class="span12"></p>
        <p><input type="text" class="span12"></p>
      </div>
      <div class="span6">
        <h4>Text</h4>
        <div class="well">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non mi odio.
            Integer eu dolor erat, quis vehicula magna.</p>
          <p>Maecenas varius auctor arcu, eget laoreet dui interdum in.
            Sed sollicitudin massa sed purus sollicitudin luctus.
            Curabitur luctus metus in tellus rhoncus id laoreet nunc dapibus.</p>
          <p>Cras augue lorem, varius et dapibus ut, vehicula quis erat. Phasellus vitae sollicitudin leo.
            Fusce et neque leo, mollis malesuada magna. Vivamus rhoncus suscipit lacus scelerisque aliquet.</p>
          <p>Nullam aliquam cursus erat id scelerisque. Ut ultrices, augue id consectetur faucibus.</p>
          <p>Cras augue lorem, varius et dapibus ut, vehicula quis erat. Phasellus vitae sollicitudin leo.
            Fusce et neque leo, mollis malesuada magna. Vivamus rhoncus suscipit lacus scelerisque aliquet.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-small">Close</button>
    <button type="button" class="btn btn-small medium-blue">Save changes</button>
  </div>
</div>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span12">
            <div class="padded">
              <div class="section-title">Gauges</div>
              <div class="center">
                <div class="center">
  <div class="gauge" id="visits-gauge"></div>
  <div class="gauge" id="visitors-gauge" ></div>
  <div class="gauge" id="unique-gauge" ></div>
  <div class="gauge" id="views-gauge"></div>
  <div class="gauge" id="likes-gauge"></div>
  <div class="gauge" id="requests-gauge"></div>
</div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="box footer">
        <div class="copyright text-transparent center">
          <div>2013 &copy; Whitemin Template</div>
          <div>Created by Adritha84</div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>


<!-- Modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer">
    <a class="btn modal-download light-blue inverse" target="_blank"><i class="icon-download"></i> Download</a>
    <a class="btn modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
    <a class="btn modal-prev medium-blue"><i class="icon-arrow-left icon-white"></i> Previous</a>
    <a class="btn modal-next medium-blue">Next <i class="icon-arrow-right icon-white"></i></a>
  </div>
</div>

</body>
</html>