.well {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff8f8f8', GradientType=0);
  border-color: #dfdfdf;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
/* Begin UI Features - Button */
.btn-demo .btn {
  margin: 0 10px 10px 0;
}
.btn-group-demo .btn-group {
  margin: 0 10px 10px 0;
}
/* End UI Features - Button */
/* Begin UI Features - General - Background Colors */
.background-colors-demo .col-md-6 {
  margin-bottom: 10px;
  text-align: center;
}
/* End UI Features - General - Background Colors */
/* Begin UI Features - General - Dropdown Colors */
.dropdown-demo > .dropdown-menu {
  position: static;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}
/* End UI Features - General - Dropdown Colors */
/* Begin Icon Sets - FontAwesome */
.font-awesome-demo i {
  font-size: 18px;
  width: 40px;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.font-awesome-demo div:hover i {
  -webkit-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  transform: scale(2, 2);
}
/* End Icon Sets - FontAwesome */
/* Begin Icon Sets - Simple Line Icons */
.simple-line-icons-demo i {
  font-size: 18px;
  width: 40px;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.simple-line-icons-demo div:hover i {
  -webkit-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  transform: scale(2, 2);
}
/* End Icon Sets - Simple Line Icons */
/* Begin Icon Sets - Ionicons */
.ionicons-demo i {
  font-size: 25px;
  width: 40px;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.ionicons-demo div:hover i {
  -webkit-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  transform: scale(2, 2);
}
/* End Icon Sets - Ionicons */
/* Begin Icon Sets - Social Icons */
.social-icon-demo a {
  margin: 0 5px 5px 0;
}
/* End Icon Sets - Social Icons */
/* Begin Animations */
.animation-text {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 20px;
}
/* End Animations */
/* Begin Widgets */
#form-company-website > h4 {
  border-bottom: 1px solid #f0f0f0 !important;
}
#form-company-website .list-group {
  margin-bottom: 10px;
}
#form-company-website .list-group .list-group-item:first-child {
  border-left: 4px solid #4e8ef7 !important;
  margin-left: -4px;
}
#form-company-website .list-group .list-group-item:nth-child(2) {
  border-top: 1px solid #f0f0f0 !important;
}
#form-company-website .list-group .list-group-item:nth-child(2) .date {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 10px;
}
#form-company-website .list-group .list-group-item:nth-child(3) {
  border-top: 1px solid #f0f0f0 !important;
}
#form-marketing-materials > h4 {
  border-bottom: 1px solid #f0f0f0 !important;
}
#form-marketing-materials > h4 .avatar {
  margin-top: -12px;
}
#form-marketing-materials .list-group {
  margin-bottom: 10px;
}
#form-marketing-materials .list-group .list-group-item:first-child {
  border-left: 4px solid #de1771 !important;
  margin-left: -4px;
}
#form-marketing-materials .list-group .list-group-item:nth-child(2) {
  border-top: 1px solid #f0f0f0 !important;
}
#form-marketing-materials .list-group .list-group-item:nth-child(3) {
  border-top: 1px solid #f0f0f0 !important;
}
#form-landing-page > h4 {
  border-bottom: 1px solid #f0f0f0 !important;
}
#form-landing-page > h4 .avatar {
  margin-top: -12px;
}
#form-landing-page .list-group {
  margin-bottom: 10px;
}
#form-landing-page .list-group .list-group-item:first-child {
  border-left: 4px solid #68b828 !important;
  margin-left: -4px;
}
#form-landing-page .list-group .list-group-item:nth-child(2) {
  border-top: 1px solid #f0f0f0 !important;
}
#form-landing-page .list-group .list-group-item:nth-child(2) .info {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 10px;
  margin: 0 0 9.5px;
  float: left;
  display: block;
  width: 100%;
}
#form-landing-page .list-group .list-group-item:nth-child(3) {
  border-top: 1px solid #f0f0f0 !important;
}
#form-users .list-group {
  margin-bottom: 10px;
}
#form-users .list-group .list-group-item .avatar {
  position: relative;
}
#form-users .list-group .list-group-item .avatar i {
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 10px;
  height: 10px;
  margin: 2px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}
#form-users .list-group .list-group-item .avatar i.online {
  background-color: #68b828;
}
#form-users .list-group .list-group-item .avatar i.busy {
  background-color: #f2233b;
}
#form-users .list-group .list-group-item .avatar i.idle {
  background-color: #ffba00;
}
#form-users .list-group .list-group-item .avatar i.offline {
  background-color: #e5e5e5;
}
#form-users .list-group .list-group-item .actions {
  float: right;
  display: inline-table;
}
#form-users .list-group .list-group-item .actions a {
  margin-left: 10px;
  font-size: 14px;
}
/* End Widgets */
/* Begin Animation Demo */
#animation-text {
  color: #68b828;
  font-size: 50px;
  font-weight: bold;
  z-index: 9999;
}
