.well {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff8f8f8', GradientType=0);
  border-color: #dfdfdf;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
/* Begin jQuery Sparkline */
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* End jQuery Sparkline */
/* Begin Bootstrap Slider */
.slider .slider-track,
.slider .slider-selection,
.slider .slider-handle {
  background-image: none;
}
.slider .slider-track {
  border-radius: 0;
}
.slider .slider-selection {
  background-color: #4e8ef7;
  opacity: 0.5;
  border-radius: 0;
}
.slider .slider-handle {
  background-color: #FFFFFF;
  opacity: 1;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.slider.slider-vertical {
  margin-right: 12px;
}
.slider.slider-horizontal .slider-track {
  height: 3px;
}
.slider.slider-horizontal .slider-handle {
  margin-top: -9px;
}
.slider.slider-vertical .slider-track {
  width: 3px;
}
.slider.slider-vertical .slider-handle {
  margin-left: -9px;
}
/* End Bootstrap Slider */
/* Begin jQuery Selectize */
.selectize-control.multi .selectize-input > div {
  background-color: #4e8ef7;
  color: #FFFFFF;
}
.selectize-control.multi .selectize-input > div.active {
  background: #367ef6;
  color: #FFFFFF;
}
.selectize-input .name {
  margin-right: 5px;
}
.selectize-input .email {
  color: #0b61ee;
}
.selectize-dropdown-content .label {
  color: #666666;
}
.selectize-dropdown-content .caption {
  color: #aaaaaa;
}
/* End jQuery Selectize */
/* Begin jQuery DateTimePicker */
.xdsoft_datetimepicker {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  color: #666666;
  border: 1px solid #e5e5e5;
}
/* End jQuery DateTimePicker */
/* Begin jQuery DateRangePicker */
.daterangepicker .calendar-date {
  border-radius: 0;
}
.daterangepicker td,
.daterangepicker th {
  text-shadow: none;
  border-radius: 0;
}
.daterangepicker td.available + td.start-date,
.daterangepicker td.in-range + td.end-date {
  border-radius: 0 !important;
}
.daterangepicker td.start-date.end-date {
  border-radius: 0 !important;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #4e8ef7;
  background-image: none;
  filter: none;
}
.daterangepicker .ranges .input-mini {
  border-radius: 0;
}
.daterangepicker .ranges input[type="text"] {
  width: 70px !important;
  font-size: 11px;
  vertical-align: middle;
}
.daterangepicker .ranges label {
  font-weight: 300;
  display: block;
}
.daterangepicker .ranges .btn {
  margin-top: 10px;
}
.daterangepicker.dropdown-menu {
  padding: 5px;
}
.daterangepicker .ranges li {
  color: #666666;
  border-radius: 0;
}
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
  background: #4e8ef7 !important;
  border: 1px solid #4e8ef7 !important;
  color: #fff;
}
.daterangepicker .range_inputs input {
  margin-bottom: 0 !important;
}
.daterangepicker .fa-angle-right:before {
  content: "\f105";
}
.daterangepicker .fa-angle-left:before {
  content: "\f104";
}
/* End jQuery DateRangePicker */
/* Begin jQuery Mini Colors */
.minicolors-theme-bootstrap .minicolors-swatch {
  border-radius: 0;
}
.minicolors-panel {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
/* End jQuery Mini Colors */
/* Begin jQuery Dropzone */
.dropzone {
  min-height: 200px;
  border-radius: 0;
}
/* End jQuery Dropzone */
/* Begin jQuery Maplace */
.gmap_controls ul > li.active > a {
  color: #FFFFFF !important;
  background-color: #4e8ef7;
}
.gmap_controls ul > li > a {
  padding: 5px 10px !important;
  background-color: #EEEEEE;
}
.gmap_controls ul.tabs {
  background-color: #FFFFFF;
}
.gmap_controls ul.tabs > li.active > a:hover {
  opacity: 0.8;
  background-color: #4e8ef7;
}
.gmap_controls ul.tabs > li > a {
  padding: 5px 10px !important;
  margin-right: 3px;
  border-radius: 2px;
}
/* End jQuery Maplace */
/* Begin jQuery jVectorMap */
.jvectormap-zoomin,
.jvectormap-zoomout {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  padding: 4px 0;
}
.jvectormap-zoomout {
  top: 40px;
}
/* End jQuery jVectorMap */
/* Begin jQuery Flot Chart */
.legend-container table {
  width: auto;
  margin: 20px 0 0 20px;
}
.legend-container table tr {
  background: transparent;
}
.legend-container .legendColorBox > div {
  border: 0 !important;
}
.legend-container .legendColorBox > div > div {
  border-width: 6px !important;
}
.legendColorBox {
  padding: 3px 0;
}
.legendColorBox > div {
  border: 0 !important;
}
.legendColorBox div {
  border-radius: 50%;
  margin-right: 5px;
}
.legendColorBox div div {
  margin-right: 0;
}
#flotTip {
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0;
}
/* End jQuery Flot Chart */
/* Begin jQuery Rickshaw Chart */
.rickshaw_legend .swatch {
  border: 0;
}
.rickshaw_legend .line .swatch {
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
}
/* End jQuery Rickshaw Chart */
