.news-section{
    padding:100px 0 0;
}
.news-footer{
    margin-top:90px;
}
.grid{
    margin:0 auto;
}
.grid>div:first-child{
    margin-top:60px;
}
.grid>div:nth-child(2){
    margin-top:30px;
}
.grid-item{
    float: left;
    width: 314px;
    margin:15px;
    color: #FFFFFF;
    background: rgba(255,255,255,0.05);
    overflow: hidden;
    cursor: pointer;
}
.news-black{
    background:#000;
}
.grid-item>p{
    padding:3px 0 13px 6px;
    margin:0;
}
.grid-item.news-topDate>p{
    position: absolute;
    top:0;
}
.grid-item.news-topDate div.news-img{
    width: 314px;height:180px;
}
.grid-item.news-topDate>div:first-child{
    width: 314px;height:180px;
    overflow: hidden;padding:0;
}
@media only screen and (max-width: 767px) {
    .grid-item{
        width:100%;
        margin:15px 0;
    }
    .grid-item.news-topDate>div:first-child{
        width:100%;
    }
    .grid-item.news-topDate div.news-img{
        width:100%;
    }
}
@media only screen and (min-width: 767px) {
    .grid-item{
        width: 314px;
        margin:15px;
    }
    .grid-item.news-topDate>div:first-child{
        width: 314px;
    }
    .grid-item.news-topDate div.news-img{
        width: 314px;
    }
}
.grid-item.news-topDate>div>h4{
    padding-top:29px;
}
.grid-item>p b{
    font-size: 36px;
    color: #61BC46;
    vertical-align: top
}
.grid-item>p span{
    font-size: 16px;
    display: inline-block;
    padding-top: 8px;
    color: #61BC46;
}
.grid-item>div{
    padding:0 30px;
}
.grid-item>div h4{
    font-size: 20px;
    /*font-weight: bold;*/
    margin:0;
    line-height:28px;
}
.grid-item>div p{
    margin:23px 0 0 0;
    font-size: 14px;
    color: rgba(255,255,255,0.81);
    letter-spacing: 1px;
    text-align: justify;
    line-height: 28px;
}
.grid-item>div div{
    text-align: right;
    padding:28px 0 21px 0;
}
.grid-item>div div a{
    color:#fff;
}
.grid-item.news-topDate>div:first-child div{
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}
.grid-item.news-topDate>div:first-child:hover div{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

/*详情页*/
.newDet-section{
    padding-top:109px;
    padding-bottom:50px;
    text-align: center;
    min-height:100vh;
}
.newDet-header h2{
    font-size: 30px;
    color: #FFFFFF;
    line-height: 60px;
    margin:50px 0 0 0;
}
.newDet-header p{
    line-height: 28px;
    margin:10px 0;
}
.newDet-divide{
    width:100%;
    height:1px;
    background-color: #D9D9D9;
    margin-bottom:50px;
}
.newDet-content .newDet-text{
    margin-bottom:50px;
}
.newDet-content>div{
    font-size: 16px;
    line-height: 32px;
    margin:0 auto;
    color:#fff;
    max-width:800px;
}
.newDet-content>div.newDet-text.left-stage{
    /*text-align: left;*/
    text-align: justify;
    text-indent:20px;
}
.newDet-content img{
    width:800px;
    margin-bottom:50px;
}