
#map,#map1,#map2,#map3{
  display: block;
  height: 350px;
  margin: 0 auto;
}
#map.large,#map1.large,#map2.large,#map3.large{
  height:500px;
}

.overlay{
  display:block;
  text-align:center;
  color:#fff;
  font-size:60px;
  line-height:80px;
  opacity:0.8;
  background:#4477aa;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 4px;
}

.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}
.span11 {
    background: #fff;
    padding: 15px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
    border-radius: 2px;
}
/*--responsive--*/
@media (max-width:640px){
#map, #map1, #map2, #map3 {
    height: 250px;
}
}
@media (max-width:320px){
#map, #map1, #map2, #map3 {
    height: 140px !important;
}
.span11 {
    padding: 5px;
}
}