body {
  font-family: 'Open Sans', sans-serif;
  background-color: #252d3a;
  position: relative;
  margin: 0px;
  font-size: 12px;
  padding: 0px;
  }

body.onepage {
  font-family: 'Open Sans', sans-serif;
  background-color: #e7ebee; 
  margin: 0px;
  font-size: 12px;
  padding: 0px;
  }

a {
  color: #43aea8;
  text-decoration: none;
  }

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: inherit;
  color: #29323d; 
  }

h1 small, h2 small, h3 small, h4 small, h5 small {
  margin-left: 15px;
  }

body.menu {
  overflow-x: hidden; 
  }

body.menu .content {
  margin-left: 178px;
  position: relative;
  width: 850px; 
  }

body.menu #sidebar-nav {
  position: absolute;
  left: 0;
  border-right: 0px;
  box-shadow: none; 
  }

input.search {
  background: url("../../images/lens.png") #fcfcfc no-repeat 95%;
  box-shadow: none;
  height: 25px;
  width: 220px;
  font-size: 13px;
  padding: 2px 6px;
  border: 1px solid #d0dde9;
  margin: 0;
  border-radius: 2px;
  top: 11px; }


.no-padding {
  padding: 0px !important;
  }

.custom-left{
    float: left !important;
    }

.custom-right{
    float: right !important;
    }


.header {
  margin-bottom: 60px; 
  }
.header h1, .header h2, .header h3, .header h4, .header h5 {
  float: left;
  margin-top: 5px; 
  }


.navbar-inverse {
  /* navbar settings and logout icons */
  /* notification menu with custom dropdowns */
  /* navbar popup dialog */
  }

.navbar-inverse input.search {
  height: 30px;
  width: 220px;
  padding: 3px 6px;
  background: url("../../images/lens.png") #fff no-repeat 95%;
  border: 1px solid #ddd;
  position: relative;
  top: 9px;
  color: #000;
  font-size: 13px;
  margin-right: 10px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear; 
  }

  .navbar-inverse input.search:focus {
    background-color: #fff;
    border: 0; 
    }

  .navbar-inverse .notification-dropdown {
    position: relative; 
    }

  .navbar-inverse .notification-dropdown > a:hover,
  .navbar-inverse .notification-dropdown > a.active {
    
    }

  /*nav icon*/
  .navbar-inverse .notification-dropdown i {
    font-size: 17px;
    color: #9ba3ad; 
    }

  .navbar-inverse .notification-dropdown i:hover {
    color: #43aea8; 
    }


  .navbar-inverse .notification-dropdown .count {
    position: absolute;
    top: 2px;
    left: 58%;
    background-color: rgb(129, 189, 130);
    padding: 0px 5px;
    border-radius: 30px;
    color: #fff;
    line-height: 16px;
    z-index: 9999;
    text-align: center;
    font-size: 11px; 
    }

  .navbar-inverse .pop-dialog {
    position: absolute;
    right: -10px;
    top: 55px;
    display: none;
    /* navbar popup dialog for notifications */
    /* navbar popup dialog for messages */ 
    }

  .navbar-inverse .pop-dialog.is-visible {
    display: block;
    -webkit-animation: reveal .2s ease-out;
      -moz-animation: reveal .2s ease-out;
        animation: reveal .2s ease-out; 
    }

  .navbar-inverse .pop-dialog .body {
    box-shadow: 0px 1px 9px 1px #c2c2c2; 
    }

  .navbar-inverse .pop-dialog .close-icon {
    float: right;
    text-decoration: none;
    z-index: 9999;
    position: relative; 
    }

.navbar-inverse .pop-dialog .footer {
  border-top: 1px solid #e6e8e9;
  background-color: #eff4f7;
  margin: 15px 0px -10px 0px;
  border-radius: 0px 0px 5px 5px;
  padding: 12px 20px;
  text-align: center; 
  }

.navbar-inverse .pop-dialog .footer a {
  font-weight: 600;
  color: #7d91a8; 
  }

.navbar-inverse .pop-dialog .notifications {
  width: 330px;
  margin: 10px -10px 0px -10px; 
  }

.navbar-inverse .pop-dialog .notifications h3 {
  font-size: 13px;
  color: #404951;
  font-weight: bold;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 15px; 
  }

.navbar-inverse .pop-dialog .notifications .item {
  display: block;
  padding: 10px 0px 8px 20px;
  border-top: 1px solid #e7e8ea;
  color: #363636;
  text-decoration: none;
  padding-left: 50px;
  position: relative;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear; 
  }

.navbar-inverse .pop-dialog .notifications .item:hover {
  background: #f5f6fa; 
  }

/* Notification color icon */
.navbar-inverse .pop-dialog .notifications .item > i {
  color: #fc827b;
  position: absolute;
  left: 19px;
  font-size: 18px; 
  }

.navbar-inverse .pop-dialog .notifications .item > i.fa-cloud-download {
  color:#81bd82;
  }
.navbar-inverse .pop-dialog .notifications .item > i.fa-cogs {
  color:#333;
  }

.navbar-inverse .pop-dialog .notifications .item > i.icon-user {
  left: 18px; 
  }

.navbar-inverse .pop-dialog .notifications .item .time {
  float: right;
  color: #82a3c1;
  font-style: italic;
  font-weight: 600;
  font-size: 11px;
  min-width: 60px;
  margin-right: 5px; 
  }

.navbar-inverse .pop-dialog .notifications .item .time i {
  font-size: 13px;
  color: #cfcfcf;
  margin-right: 1px; 
  }

.navbar-inverse .pop-dialog .messages {
  width: 325px;
  margin: 10px -10px 0px -10px; 
  }

.navbar-inverse .pop-dialog .messages .item {
  display: block;
  padding: 10px 20px 15px 20px;
  height: 80px;
  border-bottom: 1px solid #e7e8ea;
  color: #363636;
  text-decoration: none;
  position: relative;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear; 
  }

.navbar-inverse .pop-dialog .messages .item.last {
  border-bottom: 0px; 
  }

.navbar-inverse .pop-dialog .messages .item:hover {
  background: #f5f6fa; 
  }

.navbar-inverse .pop-dialog .messages .item .display {
  float: left;
  border-radius: 50px;
  margin-right: 15px; 
  }

.navbar-inverse .pop-dialog .messages .item .name {
  font-size: 12px;
  color: #404951;
  font-weight: bold; 
  }

.navbar-inverse .pop-dialog .messages .item .msg {
  font-size: 11px;
  color: #636363;
  line-height: 13px;
  position: relative;
  top: 2px; 
  }

.navbar-inverse .pop-dialog .messages .item .time {
  position: absolute;
  right: 0px;
  bottom: 6px;
  color: #82a3c1;
  font-style: italic;
  font-weight: 600;
  font-size: 11px;
  min-width: 60px;
  margin-right: 5px; 
  }

.navbar-inverse .pop-dialog .messages .item .time i {
  font-size: 13px;
  color: #cfcfcf;
  margin-right: 1px; 
  }

.navbar-inverse .pop-dialog .messages .footer {
  margin-top: 6px; 
  }


.navbar-nav>li>a img {
  float: left;
  width: 34px;
  height: 34px;
  margin-top: 2px;
  margin-right: 10px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: -8px;
  cursor: pointer;
  }

.nav>li>a>img {
  max-width: none;
}

.img-circle {
  border-radius: 50%;
}



/* ######## Sidebar #########  */ 
#sidebar-nav {
  position: fixed;
  width: 180px;
  height: 100%;
  float: left;
  margin: 0em;
  padding-top: 50px;
  z-index: 900; 
  }

#sidebar-nav #dashboard-menu {
  list-style: none;
  padding-right: 15px;
  padding-left:0px;
  margin-bottom: 0;
  margin-left: 10px;
  }
    
#sidebar-nav #dashboard-menu > li > a {
  display: block;
  padding: 20px 14px 6px 5px;
  margin-left: -15px;
  margin-bottom: 5px;
  color: #8b939e;
  outline: 0px;
  line-height: 21px; 
  }

#sidebar-nav #dashboard-menu > li {
  position: relative;
  }

#sidebar-nav #dashboard-menu > li .icon-group {
  font-size: 17px; 
  }

#sidebar-nav #dashboard-menu > li i {
  font-size: 17px;
  top: 22px; 
  }

#sidebar-nav #dashboard-menu > li:hover i {
  opacity: 1; 
  }

/*#sidebar-nav #dashboard-menu > li.active > a,*/
#sidebar-nav #dashboard-menu > li > a:hover {
  color: #fff;
  text-decoration: none; 
  }

#sidebar-nav #dashboard-menu > li.active a {
  font-weight: 600;
  color:#fff;
  }

#sidebar-nav #dashboard-menu > li.active i {
  opacity: 1; 
  }

#sidebar-nav #dashboard-menu .pointer {
  position: absolute;
  right: 9px;
  top: 20px; 
  }

#sidebar-nav #dashboard-menu .pointer .arrow,
#sidebar-nav #dashboard-menu .pointer .arrow_border {
  border-color: transparent #e7ebee transparent transparent;
  border-width: 11px;
  border-style: solid;
  font-size: 0;
  left: 50%;
  line-height: 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 1002;
  left: 0;
  margin-left: 45%; 
  }

#sidebar-nav #dashboard-menu .pointer .arrow_border {
  border-color: transparent #e7ebee transparent transparent;
  border-width: 11px;
  margin-left: -1px;
  border-style: solid;
  z-index: 1001;
  top: 0px; 
  }

#sidebar-nav #dashboard-menu a span {
  margin-left: 35px;
  transition: color .1s linear;
  -moz-transition: color .1s linear;
  -webkit-transition: color .1s linear;
  -o-transition: color .1s linear; 
  }

#sidebar-nav #dashboard-menu a.ui-elements span {
  margin-left: 25px; 
  }

#sidebar-nav #dashboard-menu a i {
  position: absolute;
  left: 0;
  height: 24px;
  width: 24px;
  opacity: 0.7;
  transition: opacity .1s ease;
  -moz-transition: opacity .1s ease;
  -webkit-transition: opacity .1s ease;
  -o-transition: opacity .1s ease; 
  }

#sidebar-nav #dashboard-menu a i.icon-chevron-down {
  position: relative;
  float: right;
  top: 5px;
  font-size: 11px;
  color: #686868;
  width: initial;
  height: initial; 
  }
  
#sidebar-nav #dashboard-menu > li.active .dropdown-toggle,
#sidebar-nav #dashboard-menu > li.open .dropdown-toggle {
  border-bottom: 0px;
  box-shadow: none; 
  }

#sidebar-nav #dashboard-menu ul.submenu {
  list-style-type: none;
  display: none;
  margin-top: 7px;
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: -15px;
  padding-left: 35px;
  border-bottom: 1px solid #2c3645;
  padding-bottom: 10px; 
  }

#sidebar-nav #dashboard-menu ul.submenu.active {
        display: block; }

#sidebar-nav #dashboard-menu ul.submenu a {
  font-weight: normal;
  font-size: 13px;
  color: #ddd;
  text-decoration: none;
  display: block;
  margin-bottom: 7px; 
  }

#sidebar-nav #dashboard-menu ul.submenu a:hover {
  text-decoration: none;
  color: #fff; 
  }

#sidebar-nav #dashboard-menu ul.submenu a.active {
  font-weight: bold;
  text-shadow: none; 
  }

#pad-wrapper {
  padding: 0px 20px;
  margin-top: 55px; 
  }

#pad-wrapper h4 {
  color: #696d73;
  margin: 35px 0 10px 15px !important;
  }

.content {
  background-color: #e7ebee;
  /*background: url(../../images/body_bg.png) #fff;*/
  min-width: 400px;
  min-height: 800px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  overflow: hidden;
  position: relative;
  margin-left: 177px;
  -webkit-transition: margin-left .3s ease;
  -moz-transition: margin-left .3s ease;
  -o-transition: margin-left .3s ease;
  -ms-transition: margin-left .3s ease;
  transition: margin-left .3s ease;
  }

.content.wide-content {
  margin-left: 0;
  border-radius: 0; 
  }
  
  
footer{
  margin-top: 50px;
  }

footer i{
  color: #344154;
  }

footer i:hover{
  color: #60b1cc;
  }

/* ######## RESPONSIVE #########  */ 
@media (min-width: 992px) {  
  li.nav-profile {
    display: none; 
    }



}


@media(min-width: 768px) and (max-width: 991px) {
    .navbar-inverse input.search {
    width: 200px;
    } 
    
    li.nav-profile {
    display: none; 
    }

    .custom-left{
    float: none !important;
    }

    .custom-right{
    float: none !important;
    }


}

@media(min-width: 480px) and (max-width: 767px) {

    .custom-left{
    float: none !important;
    }

    .custom-right{
    float: none !important;
    }

    #main-stats .stat {
    width: 50%;
    float: left; 
    } 

    #sidebar-nav .nav>li.nav-profile {
    padding: 15px 0 20px 10px;
    color: #333;
    background-color: #1d232d;
    width:177px;
    }

    #sidebar-nav .nav>li.nav-profile .image {
    float: left;
    width: 34px;
    height: 34px;
    margin-top: 2px;
    margin-right: 10px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    }

    #sidebar-nav .nav>li.nav-profile .image img {
    max-width: 100%;
    max-height: 100%;
    }

    #sidebar-nav .nav>li.nav-profile .info a, 
    #sidebar-nav .nav>li.nav-profile .info a:hover {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    }


    #sidebar-nav .nav>li.nav-profile .info small {
    display: block;
    color: #889097;
    font-size: 11px;
    }

    #pad-wrapper {
    padding: 0px 15px; 
    }

    .content {
    min-width: 0px;
    margin: 0; 
    }

    #dashboard-menu .pointer {
    display: none; 
    }

    #sidebar-nav {
    left: -200px;
    position: fixed;
    z-index: 900;
    background-color: #252d3a;
    padding-top: 50px;
    width: 178px;
    height: 100%;
    box-shadow: 1px 1px 4px 1px #e9e9e9;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -o-transition: left .3s ease;
    -ms-transition: left .3s ease;
    transition: left .3s ease; 
    }

    #sidebar-nav #dashboard-menu {
    margin-left: 10px; 
    }

    #sidebar-nav #dashboard-menu li a span {
    visibility: visible; 
    }

    #sidebar-nav #dashboard-menu li:last-child a {
    border-bottom: 0px;
    box-shadow: none; 
    } 

}


@media(max-width:480px) { 


    .custom-left{
    float: none !important;
    }

    .custom-right{
    float: none !important;
    }

    #sidebar-nav .nav>li.nav-profile {
    padding: 15px 0 20px 10px;
    color: #333;
    background-color: #1d232d;
    width:177px;
    }

    #sidebar-nav .nav>li.nav-profile .image {
    float: left;
    width: 34px;
    height: 34px;
    margin-top: 2px;
    margin-right: 10px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    }

    #sidebar-nav .nav>li.nav-profile .image img {
    max-width: 100%;
    max-height: 100%;
    }

    #sidebar-nav .nav>li.nav-profile .info a, 
    #sidebar-nav .nav>li.nav-profile .info a:hover {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    }

    #sidebar-nav .nav>li.nav-profile .info small {
    display: block;
    color: #889097;
    font-size: 11px;
    }

    #pad-wrapper {
    padding: 0px 15px; 
    }

    .content {
    min-width: 0px;
    margin: 0; 
    }

    #dashboard-menu .pointer {
    display: none; 
    }

    #sidebar-nav {
    left: -200px;
    position: fixed;
    z-index: 900;
    background-color: #252d3a;
    padding-top: 50px;
    width: 178px;
    height: 100%;
    box-shadow: 1px 1px 4px 1px #e9e9e9;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -o-transition: left .3s ease;
    -ms-transition: left .3s ease;
    transition: left .3s ease; 
    }

    #sidebar-nav #dashboard-menu {
    margin-left: 10px; 
    }

    #sidebar-nav #dashboard-menu li a span {
    visibility: visible; 
    }

    #sidebar-nav #dashboard-menu li:last-child a {
    border-bottom: 0px;
    box-shadow: none; 
    } 

}
