/*
    ==============================================================
    Kentut - Responsive Admin Bootstrap templates
    ==============================================================
*/

/*
    =================================
    LARGE DESKTOP > 1200px
    =================================
*/
@media (min-width: 1200px) {

}


/*
    =================================
    STANDARD DESKTOP 992px <> 1200px
    =================================
*/
@media (min-width: 992px) and (max-width: 1199px) {

}


/*
    =========================
    TABLET < 1025px
    =========================
*/

@media (max-width: 1025px) {
    .sidebar-left,
    .sidebar-right{
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        -moz-overflow-scrolling: touch;
        -o-overflow-scrolling: touch;
        overflow-scrolling: touch;
    }
}


/*
    ==============================
    SMALL DESKTOP 768px <> 991px
    ==============================
*/

@media (min-width: 768px) and (max-width: 991px) {

    body{overflow-x: hidden;}
    .wrapper{overflow-x: hidden;}
    .top-navbar.toggle{
    }
    .sidebar-left{
        top: 0;
    }
    .sidebar-left.toggle{
        left: 0px;
    }
    .icon-dinamic{
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .icon-dinamic.rotate-180{
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .page-content{
        margin-left: 0px;
    }
    .page-content.toggle{
        margin-left: 200px;
    }
    .page-content.toggle-left{
        margin-left: -200px;
        margin-right: 200px;
    }
}

/*
    =========================
    TABLET < 800px
    =========================
*/
@media (max-width: 800px) {

    body{
        padding-top: 120px;
    }
    .wrapper{overflow-x: hidden;}
    .top-navbar{
        height: auto;
    }
    .logo-brand {
        width: 100%;
        height: 40px;
        position: relative;
        padding-left: 10px;
        text-align: left;
    }
    .top-nav-content{
        margin-left: 0px;
        height: 40px;
    }

}

/*
    =========================
    TABLET < 767px
    =========================
*/
@media (max-width: 768px) {

    body{
        padding-top: 120px;
    }
    .wrapper{overflow-x: hidden;}
    .top-navbar{
        height: auto;
    }
    .top-navbar.toggle{
        left: 200px;
        right: -200px;
    }
    .logo-brand {
        width: 100%;
        height: 40px;
        position: relative;
    }
    .top-nav-content{
        margin-left: 0px;
        height: auto;
        padding: 0;
    }
    .sidebar-left{
        top: 0;
        left: -200px;
    }
    .sidebar-right{
        top: 40px;
        right: -200px;
        bottom: 0;
        width: 200px;
    }
    .sidebar-left.toggle{
        left: 0px;
    }
    .page-content{
        margin-left: 0px;
        left: 0;
    }
    .page-content.toggle{
        left: 0;
        margin-left: 200px;
        margin-right: -200px;
    }
    .page-content.toggle-left{
        margin-left: -200px;
        margin-right: 200px;
    }
    .sidebar-right.toggle-left{
        right: 0px;
    }
    .nav-dropdown-content{
        height: auto;
        max-width: 100%;
    }

    .btn-collapse-sidebar-right{
        top: -40px;
    }
    .btn-collapse-nav{
        display: block;
    }
    .icon-dinamic{
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .icon-dinamic.rotate-180{
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .icon-plus{
        -webkit-transition:All 0.2 ease;
        -moz-transition:All 0.2s ease;
        -o-transition:All 0.2s ease;
    }
    .icon-plus.rotate-45{
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .top-nav-content .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
    }

    .top-nav-content .navbar-nav > li > a .icon-count {
        top: 10px;
        right: auto;
        left: 40px;
    }
    ul.nav-user{
        right: 0px;
        left: 0px;
        text-align: center;
        position: relative;
        margin-left: 50px;
        margin-right: 50px;
    }
    ul.nav-user li.dropdown{
        display: block;
    }
    ul.nav-user li.dropdown .dropdown-menu{
        text-align: left;
        left: 0;
        right: 0;
    }
    ul.nav-user li.dropdown a.dropdown-toggle{
        height: 60px;
        max-width: 100%;
    }
    .navbar-collapse {
        max-height: 280px;
    }

}

@media (max-width: 768px){

    .top-navbar.toggle{
        left: 0px !important;
        right: -200px !important;
    }

    .sidebar-left{
        top: 0;
        left: -200px !important;
    }

    .sidebar-left.toggle{
        left: 0px !important;
    }

    .page-content{
        margin-left: 0 !important;
    }

    .page-content.toggle{
        margin-left: 200px !important;
    }

    .page-content.toggle-left{
        margin-left: -200px !important;
        margin-right: 200px;
    }
    .sidebar-right.toggle-left{
        right: 0px;
    }

    .logo-brand{
        position: none;
    }

    .top-nav-content .navbar-form{
        display: none;
    }

    ul.nav-user{
        margin: 0 50px 0 100px !important;
    }

    ul.nav-user li.dropdown{
        margin: 0 50px !important;
    }

    ul.nav-user li.dropdown a.dropdown-toggle{
        margin: 0 50px;
    }
}

/*
    =========================
    PHONE < 640px
    =========================
*/

@media (max-width: 640px){

}


/*
    =========================
    PHONE < 600px
    =========================
*/
@media (max-width: 600px){

}


/*
    =========================
    PHONE < 548px
    =========================
*/
@media (max-width: 548px){

}

/*
    =========================
    PHONE < 480px
    =========================
*/
@media (max-width: 480px){
    ul.nav-user{
        display: none !important;
    }
}


/*
    =========================
    PHONE < 360px
    =========================
*/
@media (max-width: 360px){

}


/*
    =========================
    PHONE < 320px
    =========================
*/
@media (max-width: 320px){
}