/**
 * 
 * Wintermin - Bootstrap Admin Theme - Page Common Stylesheet
 * 
 * Author: @geedmo
 * Website: http://geedmo.com
 * License: Codecanyon Regular License
 * 
 */
/* ========================================================================
   Component: bootstrap-reset.less
 ========================================================================== */
a {
  outline: none !important;
}
hr {
  border-top: 1px solid #e1e1e1;
}
.row::-webkit-scrollbar {
  display: none;
}
.page-header {
  border-bottom-color: #e1e1e1;
}
.panel {
  border: 1px solid #e1e2e3;
  box-shadow: 0 0 0 #000;
}
.panel .panel-heading {
  border-bottom: 0;
  font-size: 14px;
}
.panel .panel-heading a {
  text-decoration: none !important;
}
.panel.panel-default .panel-heading {
  position: relative;
}
.panel.panel-default .panel-heading:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 15px;
  height: 1px;
  background-color: #f1f2f3;
}
.well {
  border: 1px solid #d1d2d3;
}
.jumbotron {
  border: 1px solid #d1d2d3;
}
.nav-tabs > li > a {
  font-weight: bold;
  color: #515253;
  background-color: #fafafa;
  margin: 0;
  border: 1px solid #d1d2d3;
  border-radius: 0;
  padding: 10px 20px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: inherit;
  border-bottom-color: #fff;
}
.tab-content {
  padding: 10px 20px 0px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #d1d2d3;
}
.nav-pills + .tab-content {
  border: 0;
  padding: 0;
}
.btn {
  border-radius: 3px;
  font-size: 13px;
  border-color: transparent;
  -webkit-appearance: none;
  outline: none !important;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.btn.btn-link {
  box-shadow: none;
  border: 0;
}
.btn.btn-default {
  border-color: #ccc;
}
.form-control,
.input-group-addon {
  border-color: #dbd9d9;
}
.form-control {
  box-shadow: 0 0 0 #000 !important;
}
.input-group-addon {
  background-color: #f8f9fb;
}
.input-sm,
select.input-sm {
  height: 31px;
}
fieldset {
  padding-bottom: 20px;
  border-bottom: 1px dashed #eee;
  margin-bottom: 20px;
}
fieldset.last-child,
fieldset:last-child {
  border-bottom: 0;
}
fieldset .form-group {
  margin-bottom: 0;
}
.table > thead > tr > th {
  border-bottom-width: 1px;
}
.table > tbody + tbody {
  border-bottom-width: 1px;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
.progress {
  -webkit-box-shadow: 0 0 0 #000000;
  box-shadow: 0 0 0 #000000;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
}
.progress .progress-bar {
  -webkit-box-shadow: 0 0 0 #000000;
  box-shadow: 0 0 0 #000000;
}
.popover {
  box-shadow: 0 0 0 #000;
  border-color: #eee;
  border-bottom: 2px solid #e1e1e1;
  border-radius: 3px;
}
.popover .popover-title {
  border: 0;
}
.nav.nav-pills > li > a {
  font-weight: 600;
  color: #89949b;
  margin: 5px 0;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.nav.nav-pills > li > a:hover,
.nav.nav-pills > li > a:focus {
  background-color: #e9eeef;
}
.nav.nav-pills > li.active > a {
  color: #fff;
  background-color: #0094cb !important;
}
.dropdown-menu {
  border-radius: 3px;
}
.dropdown-header {
  color: #a1a2a3;
}
.navbar-top .navbar-nav > .active > a {
  color: #999;
}
.navbar-top .navbar-nav > .active > a:hover,
.navbar-top .navbar-nav > .active > a:focus {
  color: #d1d2d3;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #666;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #222;
}
.carousel .carousel-indicators {
  bottom: 0;
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
  background-image: none;
}
.carousel .carousel-control em {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}
/* ========================================================================
   Component: button-extra.less
 ========================================================================== */
.btn-inverse {
  color: #ffffff;
  background-color: #494d4d;
  border-color: #494d4d;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #303333;
  border-color: #2b2e2e;
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  background-image: none;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled.focus,
.btn-inverse[disabled].focus,
fieldset[disabled] .btn-inverse.focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #494d4d;
  border-color: #494d4d;
}
.btn-inverse .badge {
  color: #494d4d;
  background-color: #ffffff;
}
.btn-green {
  color: #ffffff;
  background-color: #01b6ad;
  border-color: transparent;
}
.btn-green:hover,
.btn-green:focus,
.btn-green.focus,
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  color: #ffffff;
  background-color: #01837d;
  border-color: rgba(0, 0, 0, 0);
}
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  background-image: none;
}
.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled.focus,
.btn-green[disabled].focus,
fieldset[disabled] .btn-green.focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
  background-color: #01b6ad;
  border-color: transparent;
}
.btn-green .badge {
  color: #01b6ad;
  background-color: #ffffff;
}
.btn-purple {
  color: #ffffff;
  background-color: #ac8dd1;
  border-color: transparent;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple.focus,
.btn-purple:active,
.btn-purple.active,
.open > .dropdown-toggle.btn-purple {
  color: #ffffff;
  background-color: #9269c2;
  border-color: rgba(0, 0, 0, 0);
}
.btn-purple:active,
.btn-purple.active,
.open > .dropdown-toggle.btn-purple {
  background-image: none;
}
.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled.focus,
.btn-purple[disabled].focus,
fieldset[disabled] .btn-purple.focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
fieldset[disabled] .btn-purple:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
  background-color: #ac8dd1;
  border-color: transparent;
}
.btn-purple .badge {
  color: #ac8dd1;
  background-color: #ffffff;
}
.btn-pink {
  color: #ffffff;
  background-color: #ff3366;
  border-color: transparent;
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink.focus,
.btn-pink:active,
.btn-pink.active,
.open > .dropdown-toggle.btn-pink {
  color: #ffffff;
  background-color: #ff0040;
  border-color: rgba(0, 0, 0, 0);
}
.btn-pink:active,
.btn-pink.active,
.open > .dropdown-toggle.btn-pink {
  background-image: none;
}
.btn-pink.disabled,
.btn-pink[disabled],
fieldset[disabled] .btn-pink,
.btn-pink.disabled:hover,
.btn-pink[disabled]:hover,
fieldset[disabled] .btn-pink:hover,
.btn-pink.disabled:focus,
.btn-pink[disabled]:focus,
fieldset[disabled] .btn-pink:focus,
.btn-pink.disabled.focus,
.btn-pink[disabled].focus,
fieldset[disabled] .btn-pink.focus,
.btn-pink.disabled:active,
.btn-pink[disabled]:active,
fieldset[disabled] .btn-pink:active,
.btn-pink.disabled.active,
.btn-pink[disabled].active,
fieldset[disabled] .btn-pink.active {
  background-color: #ff3366;
  border-color: transparent;
}
.btn-pink .badge {
  color: #ff3366;
  background-color: #ffffff;
}
.btn-outline {
  background-color: transparent;
  border-color: #fff;
}
.btn-outline:hover,
.btn-outline:focus {
  background-color: #fff;
  color: #0094cb;
}
.btn-flat {
  border-bottom-width: 1px;
  border-radius: 0;
  box-shadow: 0 0 0 #000;
}
.btn-xl {
  padding: 20px 16px;
  font-size: 18px;
}
.btn-square {
  border-radius: 0;
}
.btn-pill-left,
.btn-oval {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 18px;
}
.btn-pill-right,
.btn-oval {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-right: 18px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.btn-label {
  position: relative;
  background: transparent;
  background: rgba(0, 0, 0, 0.05);
  display: inline-block;
  padding: 7px 18px;
  left: -18px;
  border-radius: 3px 0 0 3px;
}
.btn-label.btn-label-right {
  left: auto;
  right: -18px;
  border-radius: 0 3px 3px 0;
}
.btn-lg .btn-label {
  padding: 10px 16px;
  left: -16px;
  border-radius: 5px 0 0 5px;
}
.btn-lg .btn-label.btn-label-right {
  left: auto;
  right: -16px;
  border-radius: 0 5px 5px 0;
}
.btn-sm .btn-label {
  padding: 5px 10px;
  left: -10px;
  border-radius: 2px 0 0 2px;
}
.btn-sm .btn-label.btn-label-right {
  left: auto;
  right: -10px;
  border-radius: 0 2px 2px 0;
}
.btn-xs .btn-label {
  padding: 1px 5px;
  left: -5px;
  border-radius: 2px 0 0 2px;
}
.btn-xs .btn-label.btn-label-right {
  left: auto;
  right: -5px;
  border-radius: 0 2px 2px 0;
}
.btn-fw {
  min-width: 80px;
}
.btn-fw.btn-sm {
  min-width: 40px;
}
.btn-fw.btn-md {
  min-width: 60px;
}
.btn-fw.btn-lg {
  min-width: 140px;
}
body {
  min-height: 400px;
}
@media only screen and (min-width: 768px) {
  html,
  body {
    height: 100%;
  }
}
.page-wrapper {
  height: 100%;
  padding: 50px 0;
  background-color: #e8ebec;
}
