.well {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff8f8f8', GradientType=0);
  border-color: #dfdfdf;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
.page-wrapper {
  float: left;
  width: 100%;
  position: relative;
}
/* Layouts */
.wrapper {
  width: 100%;
  min-height: 100%;
  float: left;
}
.wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}
.wrapper:after {
  clear: both;
}
.wrapper .wrapper-content {
  float: left;
}
/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.content,
.page-sidebar {
  min-height: 100%;
  display: block;
}
.content {
  background-color: #262123;
  margin-left: 220px;
}
/* Begin Page Sidebar */
.page-sidebar {
  *position: absolute;
  width: 220px;
  float: left;
  background-color: #2b2628;
  z-index: 10;
}
.page-sidebar .sidebar {
  color: #FFFFFF;
}
.page-sidebar .sidebar ul.sidebar-menu li.active > a {
  background-color: #4e8ef7 !important;
  color: #FFFFFF;
}
.page-sidebar .sidebar ul.sidebar-menu li.sidebar-title {
  padding: 12px 5px 12px 15px;
  font-size: 18px;
}
.page-sidebar .sidebar ul.sidebar-menu li > a {
  background-color: #2b2628;
  color: #bcbcbc;
}
.page-sidebar .sidebar ul.sidebar-menu li > a .label,
.page-sidebar .sidebar ul.sidebar-menu li > a .badge {
  float: right;
}
.page-sidebar .sidebar ul.sidebar-menu li ul.nav-second-level li.active > a {
  background-color: #201c1e !important;
  color: #fff;
}
.page-sidebar .sidebar ul.sidebar-menu li ul.nav-second-level li > a {
  padding: 7px 15px 7px 45px;
  background-color: #262123;
  color: #bcbcbc;
}
.page-sidebar .sidebar ul.sidebar-menu li ul.nav-second-level li > a:hover,
.page-sidebar .sidebar ul.sidebar-menu li ul.nav-second-level li > a:focus {
  background-color: #201c1e;
  color: #fff;
}
.page-sidebar .sidebar ul.sidebar-menu li ul.nav-second-level li > a > i[class*="icon-"] {
  margin-right: 10px;
  font-size: 14px;
  opacity: 0.5;
}
.page-sidebar .sidebar ul.sidebar-menu li ul.nav-second-level li ul.nav-third-level li.active > a {
  color: #4e8ef7;
}
.page-sidebar .sidebar ul.sidebar-menu li ul.nav-second-level li ul.nav-third-level li > a {
  padding: 7px 15px 7px 70px;
  background-color: #1b1819 !important;
}
.page-sidebar .sidebar ul.sidebar-menu li ul.nav-second-level li ul.nav-third-level li > a:hover,
.page-sidebar .sidebar ul.sidebar-menu li ul.nav-second-level li ul.nav-third-level li > a:focus {
  color: #4e8ef7;
}
.page-sidebar .sidebar ul.sidebar-menu li ul.nav-second-level li ul.nav-third-level li > a > i[class*="icon-"] {
  margin-right: 10px;
  font-size: 14px;
  opacity: 0.5;
}
/* End Page Sidebar */
.main-content {
  float: left;
  width: 100%;
  padding: 20px 15px;
  background-color: #f5f6f6;
}
/* Page Header */
.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;
}
.page-header > small {
  color: #666767;
  display: block;
  margin-top: 5px;
}
/********************/
/* header */
body .header {
  position: relative;
  max-height: 100px;
}
body .header .navbar {
  height: 50px;
  margin-bottom: 0;
  margin-left: 220px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
body .header .navbar .sidebar-toggle {
  float: left;
  padding: 16px 5px 12px;
  margin: 0px 10px;
  background-color: transparent;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 0 !important;
}
body .header .navbar .sidebar-toggle i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}
body .header .navbar .search-form {
  padding: 8px 10px;
}
body .header .navbar .search-form .input-icon input {
  width: 200px;
  -webkit-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
}
body .header .navbar .search-form .input-icon input:focus {
  width: 350px;
}
body .header .navbar .search-form .input-icon i {
  cursor: pointer;
}
body .header .navbar .navbar-right ul.navbar-nav > li {
  height: 50px;
}
body .header .navbar .navbar-right ul.navbar-nav > li.open > a {
  background-color: #f5f5f5;
}
body .header .navbar .navbar-right ul.navbar-nav > li a:hover,
body .header .navbar .navbar-right ul.navbar-nav > li a:focus {
  background-color: #f5f5f5;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-extra ul.dropdown-menu {
  min-width: 160px;
  max-width: 300px;
  width: 233px;
  background-color: #ffffff;
}
body .header .navbar .navbar-right ul.navbar-nav > li ul.dropdown-menu > li:first-child a {
  border-top: none;
  border-bottom: 1px solid #f4f4f4;
}
body .header .navbar .navbar-right ul.navbar-nav > li ul.dropdown-menu > li:last-child a {
  border-bottom: 1px solid #f4f4f4;
}
body .header .navbar .navbar-right ul.navbar-nav > li ul.dropdown-menu > li.footer > a > i {
  margin-top: 3px;
  float: right;
}
body .header .navbar .navbar-right ul.navbar-nav > li ul.dropdown-menu > li a {
  display: block;
  clear: both;
  line-height: 20px;
  white-space: normal;
  padding: 10px;
  border-bottom: 1px solid #f4f4f4 !important;
  color: #666666;
}
body .header .navbar .navbar-right ul.navbar-nav > li ul.dropdown-menu > li a:hover {
  background-color: #f5f5f5;
  color: #666666;
}
body .header .navbar .navbar-right ul.navbar-nav > li ul.dropdown-menu > li p {
  padding: 10px;
  background-color: #e5e5e5;
  margin: 0px;
  color: #666666;
}
body .header .navbar .navbar-right ul.navbar-nav > li ul.dropdown-menu > li ul.dropdown-menu-list {
  padding-right: 0 !important;
  padding-left: 0;
  list-style: none;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-messages .dropdown-menu p {
  background-color: #4e8ef7;
  color: #FFFFFF;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-messages .dropdown-menu .avatar {
  float: left;
  padding-right: 6px;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-messages .dropdown-menu .avatar img {
  height: 40px;
  width: 40px;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-messages .dropdown-menu .subject {
  display: block;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-messages .dropdown-menu .subject .from {
  font-size: 14px;
  font-weight: 400;
  color: #4e8ef7;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-messages .dropdown-menu .time {
  font-size: 12px;
  font-style: italic;
  position: relative;
  float: right;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-notifications .dropdown-menu p {
  background-color: #de1771;
  color: #FFFFFF;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-notifications .dropdown-menu .time {
  font-size: 12px;
  text-align: right;
  font-style: italic;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-tasks .dropdown-menu p {
  background-color: #68b828;
  color: #FFFFFF;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-tasks .dropdown-menu .task {
  margin-bottom: 5px;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-tasks .dropdown-menu .task .percent {
  float: right;
  display: inline-block;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-tasks .dropdown-menu .progress {
  margin-bottom: 0;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-user img {
  margin-top: -3px;
  margin-right: 7px;
  height: 25px;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-user i.fa.fa-angle-down {
  font-size: 13px;
  margin-left: 5px;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-user i[class*="icon-"] {
  margin-right: 10px;
}
body .header .navbar .navbar-right ul.navbar-nav > li.dropdown-user .dropdown-menu li a i {
  font-size: 16px;
}
body .header .navbar .nav a {
  padding-top: 14px;
  padding-bottom: 14px;
}
body .header .navbar .nav a.fullscreen-toggle:hover i,
body .header .navbar .nav a.toggle-quick-sidebar:hover i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
body .header .navbar .nav a i {
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  font-size: 18px;
  color: #999999;
}
body .header .navbar .nav > li > a > .badge {
  position: absolute;
  top: 7px;
  right: 2px;
}
body .header .logo {
  font-family: 'Squada One';
  float: left;
  font-size: 30px;
  text-align: left;
  padding: 0 15px;
  width: 220px;
  height: 50px;
  display: block;
  background-color: #393235;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
body .header .logo a.logo-text {
  color: #ffba00;
  -webkit-text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
body .header .logo a.logo-text:hover {
  color: #68b828;
  -webkit-text-shadow: none;
  text-shadow: none;
}
body .header .logo a.sidebar-toggle {
  font-size: 22px;
  color: #bcbcbc;
  opacity: 0.5;
  line-height: 50px;
}
body .header .logo a.sidebar-toggle i {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
body .header .logo a.sidebar-toggle i:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.content > .content-header {
  position: relative;
  float: left;
  width: 100%;
  padding: 12px 15px;
  background-color: #f9fafa;
}
.content > .content-header > h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: #999999;
}
.content > .content-header > h1 > small {
  font-size: 12px;
  display: block;
  margin-top: 7px;
  color: #aaaaaa;
}
.content > .content-header > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 13px;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0px;
}
.content > .content-header > .breadcrumb > li > a {
  color: #666666;
  text-decoration: none;
}
.content > .content-header > .breadcrumb > li > a > i {
  margin-right: 5px;
  font-size: 16px;
  color: #666666;
}
.content > .content-header > .breadcrumb > li + li:before {
  font-family: 'Simple-Line-Icons';
  content: '\e051';
}
@media screen and (max-width: 768px) {
  .content > .content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #efefef;
  }
}
/* header */
/* sidebar */
.sidebar .sidebar-form input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent!important;
}
.sidebar .sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-menu > li {
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-menu > li > a {
  padding: 10px 15px;
  display: block;
}
.sidebar .sidebar-menu > li > a > i[class*="fa-"],
.sidebar .sidebar-menu > li > a > i[class*="glyphicon-"],
.sidebar .sidebar-menu > li > a > i[class*="icon-"] {
  margin-right: 15px;
  font-size: 15px;
  opacity: 0.5;
}
.sidebar .sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .sidebar-menu .treeview-menu > li {
  margin: 0;
}
.sidebar .sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  margin: 0px 0px;
}
.sidebar .sidebar-menu .treeview-menu > li > a > .fa,
.sidebar .sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar .sidebar-menu .treeview-menu > li > a > .ion {
  width: 20px;
}
.user-panel {
  padding: 10px;
}
.user-panel:before,
.user-panel:after {
  content: " ";
  display: table;
}
.user-panel:after {
  clear: both;
}
.user-panel > .image {
  float: left;
}
.user-panel > .image > img {
  width: 45px;
  height: 45px;
}
.user-panel > .info {
  font-weight: 600;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  line-height: 1;
}
.user-panel > .info > p {
  margin-bottom: 9px;
}
.user-panel > .info > a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px;
  font-weight: normal;
}
.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
  margin-right: 3px;
}
/* sidebar */
/* Begin Page Header Fixed */
.page-header-fixed .header {
  position: fixed;
}
.page-header-fixed .page-wrapper {
  margin-top: 50px;
}
@media screen and (max-width: 480px) {
  .page-header-fixed .wrapper {
    margin-top: 50px;
  }
}
/* End Page Header Fixed */
/* Begin Page Sidebar Fixed */
.page-sidebar-fixed .page-wrapper .wrapper .page-sidebar {
  position: fixed;
}
.page-sidebar-fixed.page-sidebar-right .page-wrapper .wrapper .page-sidebar {
  margin-right: 0;
  right: 0;
}
.page-sidebar-fixed.page-sidebar-right.page-quick-sidebar-push-open .page-wrapper .wrapper .page-sidebar {
  margin-right: 250px;
  right: 0;
}
.page-sidebar-fixed.page-sidebar-right-closed .page-wrapper .wrapper .page-sidebar {
  margin-right: 0;
  right: 0;
  left: auto;
}
.page-sidebar-fixed.page-sidebar-right-closed.page-quick-sidebar-push-open .page-wrapper .wrapper .page-sidebar {
  margin-right: 250px;
  right: 0;
}
/* End Page Sidebar Fixed */
/* Begin Sidebar Right */
.page-sidebar-right .page-wrapper .header .logo {
  width: 220px;
  float: right;
}
.page-sidebar-right .page-wrapper .header .navbar {
  margin-right: 220px;
  margin-left: 0;
}
.page-sidebar-right .page-wrapper .wrapper .page-sidebar {
  *left: auto;
  *right: 0;
  float: right;
}
.page-sidebar-right .page-wrapper .wrapper .content {
  margin-left: 0;
  margin-right: 220px;
}
/* End Sidebar Right */
/* Begin Sidebar Right Fixed */
.page-sidebar-right-fixed .page-wrapper .header .logo {
  width: 220px;
  float: right;
}
.page-sidebar-right-fixed .page-wrapper .header .navbar {
  margin-right: 220px;
  margin-left: 0;
}
.page-sidebar-right-fixed .page-wrapper .wrapper .page-sidebar {
  position: fixed;
  left: auto;
  right: 0;
}
.page-sidebar-right-fixed .page-wrapper .wrapper .content {
  margin-left: 0;
  margin-right: 220px;
}
/* End Sidebar Right Fixed */
/* Begin Sidebar Left Closed */
.page-sidebar-left-closed .header .logo {
  width: 50px;
}
.page-sidebar-left-closed .header .logo a.logo-text {
  display: none;
}
.page-sidebar-left-closed .header .navbar {
  margin-left: 50px;
}
.page-sidebar-left-closed .wrapper .page-sidebar {
  width: 50px;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar .user-panel {
  padding: 8px 5px;
  text-align: center;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar .user-panel .image {
  float: none !important;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar .user-panel .image img {
  width: 35px;
  height: 35px;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar .user-panel .info {
  display: none;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li {
  position: relative;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a {
  position: relative;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a .sidebar-text {
  display: none;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a .badge {
  position: absolute;
  top: 3px;
  right: 7px;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a .label {
  position: absolute;
  top: 3px;
  right: -15px;
  z-index: 100;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > ul.nav-second-level {
  display: none;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li.sidebar-title {
  display: none;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > a .sidebar-text {
  display: block;
  position: absolute;
  top: 0;
  left: 50px;
  padding: 10px 15px;
  margin-left: 0;
  background-color: #4e8ef7;
  color: #ffffff;
  width: 180px;
  z-index: 10;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > a .sidebar-text:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #4e8ef7;
  border-width: 8px;
  margin-top: -8px;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > ul.nav-second-level {
  display: block;
  position: absolute;
  top: 40px;
  left: 50px;
  width: 180px;
  z-index: 10;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > ul.nav-second-level > li > a {
  padding-left: 15px;
  padding-right: 15px;
}
.page-sidebar-left-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > ul.nav-second-level > li > ul.nav-third-level > li > a {
  padding-left: 15px;
  padding-right: 15px;
}
.page-sidebar-left-closed .wrapper .content {
  margin-left: 50px;
}
/* End Sidebar Left Closed */
/* Begin Sidebar Left Fixed Closed */
.page-sidebar-left-fixed-closed .header .logo {
  width: 50px;
}
.page-sidebar-left-fixed-closed .header .logo a.logo-text {
  display: none;
}
.page-sidebar-left-fixed-closed .header .navbar {
  margin-left: 50px;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar {
  width: 50px;
  position: fixed;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar .user-panel {
  padding: 8px 5px;
  text-align: center;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar .user-panel .image {
  float: none !important;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar .user-panel .image img {
  width: 35px;
  height: 35px;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar .user-panel .info {
  display: none;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li {
  position: relative;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a {
  position: relative;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a .sidebar-text {
  display: none;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a .badge {
  position: absolute;
  top: 3px;
  right: 7px;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a .label {
  position: absolute;
  top: 3px;
  right: -15px;
  z-index: 100;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > ul.nav-second-level {
  display: none;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li.sidebar-title {
  display: none;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > a .sidebar-text {
  display: block;
  position: absolute;
  top: 0;
  left: 50px;
  padding: 12px 15px;
  margin-left: 0;
  background-color: #4e8ef7;
  color: #ffffff;
  width: 180px;
  z-index: 10;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > a .sidebar-text:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #4e8ef7;
  border-width: 8px;
  margin-top: -8px;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > ul.nav-second-level {
  display: block;
  position: absolute;
  top: 40px;
  left: 50px;
  width: 180px;
  z-index: 10;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > ul.nav-second-level > li > a {
  padding-left: 15px;
  padding-right: 15px;
}
.page-sidebar-left-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > ul.nav-second-level > li > ul.nav-third-level > li > a {
  padding-left: 15px;
  padding-right: 15px;
}
.page-sidebar-left-fixed-closed .wrapper .content {
  margin-left: 50px;
}
/* End Sidebar Left Fixed Closed */
/* Begin Sidebar Right Closed */
.page-sidebar-right-closed .header .logo {
  width: 50px;
  float: right;
}
.page-sidebar-right-closed .header .logo a.logo-text {
  display: none;
}
.page-sidebar-right-closed .header .navbar {
  margin-right: 50px;
  margin-left: 0;
}
.page-sidebar-right-closed .wrapper .page-sidebar {
  width: 50px;
  *left: auto;
  *right: 0;
  float: right;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar .user-panel {
  padding: 8px 5px;
  text-align: center;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar .user-panel .image {
  float: none !important;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar .user-panel .image img {
  width: 35px;
  height: 35px;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar .user-panel .info {
  display: none;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li {
  position: relative;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a {
  position: relative;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a .sidebar-text {
  display: none;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a .badge {
  position: absolute;
  top: 3px;
  left: 7px;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a .label {
  position: absolute;
  top: 3px;
  left: -15px;
  z-index: 100;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > ul.nav-second-level {
  display: none;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li.sidebar-title {
  display: none;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > a .sidebar-text {
  display: block;
  position: absolute;
  top: 0;
  right: 50px;
  left: auto;
  padding: 12px 15px;
  margin-right: 0;
  background-color: #4e8ef7;
  color: #ffffff;
  width: 180px;
  z-index: 10;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > a .sidebar-text:after {
  right: auto;
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #4e8ef7;
  border-width: 8px;
  margin-top: -8px;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > ul.nav-second-level {
  display: block;
  position: absolute;
  top: 40px;
  right: 50px;
  left: auto;
  width: 180px;
  z-index: 10;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > ul.nav-second-level > li > a {
  padding-left: 15px;
  padding-right: 15px;
}
.page-sidebar-right-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > ul.nav-second-level > li > ul.nav-third-level > li > a {
  padding-left: 15px;
  padding-right: 15px;
}
.page-sidebar-right-closed .wrapper .content {
  margin-left: 0;
  margin-right: 50px;
}
/* End Sidebar Right Closed */
/* Begin Sidebar Right Closed */
.page-sidebar-right-fixed-closed .header .logo {
  width: 50px;
  float: right;
}
.page-sidebar-right-fixed-closed .header .logo a.logo-text {
  display: none;
}
.page-sidebar-right-fixed-closed .header .navbar {
  margin-right: 50px;
  margin-left: 0;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar {
  width: 50px;
  position: fixed;
  left: auto;
  right: 0;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar .user-panel {
  padding: 8px 5px;
  text-align: center;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar .user-panel .image {
  float: none !important;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar .user-panel .image img {
  width: 35px;
  height: 35px;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar .user-panel .info {
  display: none;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li {
  position: relative;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a {
  position: relative;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a .sidebar-text {
  display: none;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a .badge {
  position: absolute;
  top: 3px;
  left: 7px;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > a .label {
  position: absolute;
  top: 3px;
  left: -15px;
  z-index: 100;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li > ul.nav-second-level {
  display: none;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li.sidebar-title {
  display: none;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > a .sidebar-text {
  display: block;
  position: absolute;
  top: 0;
  right: 50px;
  left: auto;
  padding: 12px 15px;
  margin-right: 0;
  background-color: #4e8ef7;
  color: #ffffff;
  width: 180px;
  z-index: 10;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > a .sidebar-text:after {
  right: auto;
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #4e8ef7;
  border-width: 8px;
  margin-top: -8px;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > ul.nav-second-level {
  display: block;
  position: absolute;
  top: 40px;
  right: 50px;
  left: auto;
  width: 180px;
  z-index: 10;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > ul.nav-second-level > li > a {
  padding-left: 15px;
  padding-right: 15px;
}
.page-sidebar-right-fixed-closed .wrapper .page-sidebar .sidebar ul.sidebar-menu > li:hover > ul.nav-second-level > li > ul.nav-third-level > li > a {
  padding-left: 15px;
  padding-right: 15px;
}
.page-sidebar-right-fixed-closed .wrapper .content {
  margin-left: 0;
  margin-right: 50px;
}
/* End Sidebar Right Fixed Closed */
/* Begin Sidebar Horizontal */
.page-horizontal-sidebar #horizontal-sidebar {
  background-color: #4e8ef7;
}
.page-horizontal-sidebar #horizontal-sidebar > ul > li.active > a {
  background-color: #FFFFFF;
  color: #666666;
}
.page-horizontal-sidebar #horizontal-sidebar > ul > li.open > a {
  background-color: #FFFFFF;
  color: #666666;
}
.page-horizontal-sidebar #horizontal-sidebar > ul > li > a {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  min-width: 100px;
  color: #f9f9f9;
}
.page-horizontal-sidebar #horizontal-sidebar > ul > li > a i {
  display: block;
  margin-right: 0;
  margin-bottom: 5px;
  font-size: 20px;
}
.page-horizontal-sidebar #horizontal-sidebar > ul > li > a .badge {
  margin-left: 0;
  vertical-align: middle;
  position: absolute;
  top: 10px;
  right: 15px;
}
.page-horizontal-sidebar #horizontal-sidebar > ul > li > a:hover {
  background-color: #FFFFFF;
  color: #666666;
}
.page-horizontal-sidebar #horizontal-sidebar > ul > li ul li > a {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* End Sidebar Horizontal */
/* Begin Page Quick Sidebar Wrapper */
.page-quick-sidebar-wrapper {
  background-color: #302b2d;
  color: #a5a5a5;
  overflow: hidden;
  z-index: 10;
}
.page-quick-sidebar-wrapper .page-quick-sidebar-content {
  position: relative;
}
/* Begin Page Quick Sidebar Wrapper */
/* Begin Layout Page Quick Sidebar Push */
.page-quick-sidebar-push .page-wrapper {
  -webkit-transition: margin-left 0.2s;
  -o-transition: margin-left 0.2s;
  transition: margin-left 0.2s;
}
.page-quick-sidebar-push .page-quick-sidebar-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -250px;
  width: 250px;
  -webkit-transition: right 0.2s;
  -o-transition: right 0.2s;
  transition: right 0.2s;
}
.page-quick-sidebar-push.page-header-fixed .page-wrapper .header {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.page-quick-sidebar-push-open.page-header-fixed .page-wrapper .header {
  right: 250px;
  left: -250px;
}
.page-quick-sidebar-push-open .page-wrapper {
  margin-left: -250px;
}
.page-quick-sidebar-push-open .page-quick-sidebar-wrapper {
  right: 0;
}
/* Begin Layout Page Quick Sidebar Push */
/* Begin Layout Page Quick Sidebar Push Inside Content */
.page-quick-sidebar-content-push .page-wrapper .wrapper {
  float: left;
  width: 100%;
  -webkit-transition: margin-left 0.2s;
  -o-transition: margin-left 0.2s;
  transition: margin-left 0.2s;
}
.page-quick-sidebar-content-push .page-wrapper .page-quick-sidebar-wrapper {
  position: fixed;
  top: 50px;
  bottom: 0;
  right: -250px;
  width: 250px;
  -webkit-transition: right 0.2s;
  -o-transition: right 0.2s;
  transition: right 0.2s;
}
.page-quick-sidebar-content-push-open .page-wrapper .wrapper {
  margin-left: -250px;
}
.page-quick-sidebar-content-push-open .page-wrapper .page-quick-sidebar-wrapper {
  right: 0;
}
/* End Layout Page Quick Sidebar Push Inside Content */
/* Begin Layout Page Quick Sidebar Over Inside Content */
.page-quick-sidebar-content-over .page-wrapper .wrapper {
  float: left;
  width: 100%;
}
.page-quick-sidebar-content-over .page-wrapper .page-quick-sidebar-wrapper {
  position: fixed;
  top: 50px;
  bottom: 0;
  right: -250px;
  width: 250px;
  -webkit-transition: right 0.2s;
  -o-transition: right 0.2s;
  transition: right 0.2s;
}
.page-quick-sidebar-content-over-open .page-wrapper .page-quick-sidebar-wrapper {
  right: 0;
}
/* End Layout Page Quick Sidebar Over Inside Content */
/* Begin Layout Boxed */
.page-layout-boxed .page-wrapper {
  float: none;
}
/* End Layout Boxed */
/* Begin Layout Full Width */
.page-layout-full-width .page-wrapper .header .logo {
  background-color: #fff;
}
.page-layout-full-width .page-wrapper .header .logo a.logo-text {
  color: #68b828;
}
.page-layout-full-width .page-wrapper .header .sidebar-toggle {
  display: none;
}
.page-layout-full-width .page-wrapper .wrapper .page-sidebar {
  display: none;
}
.page-layout-full-width .page-wrapper .wrapper .content {
  margin: 0;
}
.page-layout-full-width .page-wrapper .wrapper .content .content-header {
  display: none;
}
/* End Layout Full Width */
/* Begin Admin Setting */
#admin-setting .admin-setting-content ul.admin-setting-list > li {
  padding: 15px;
}
#admin-setting .admin-setting-content ul.admin-setting-list > li:nth-child(even) {
  background-color: #393235;
}
#admin-setting .admin-setting-content ul.admin-setting-list > li > ul.theme-option > li {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #888888;
}
#admin-setting .admin-setting-content ul.admin-setting-list > li > ul.theme-option > li.active {
  border: 2px solid #f9f9f9;
}
#admin-setting .admin-setting-content ul.admin-setting-list > li > ul.theme-option > li.dark {
  background-color: #2B2628;
}
#admin-setting .admin-setting-content ul.admin-setting-list > li > ul.theme-option > li.blue {
  background-color: #385578;
}
#admin-setting .admin-setting-content ul.admin-setting-list > li > ul.theme-option > li.purple {
  background-color: #584F8D;
}
#admin-setting .admin-setting-content ul.admin-setting-list > li > ul.theme-option > li.grey {
  background-color: #385578;
}
#admin-setting .admin-setting-content ul.admin-setting-list > li > ul.theme-option > li.light {
  background-color: #FFFFFF;
}
/* End Admin Setting */
/* Begin Layout Responsive */
@media (max-width: 480px) {
  .header .logo {
    width: 100% !important;
    background-color: #100e0f;
  }
  .header .navbar {
    margin-top: 50px;
    margin-left: 0 !important;
    width: 100%;
  }
  .header .navbar .navbar-right .navbar-nav {
    margin: 0;
  }
  .header .navbar .navbar-right .navbar-nav > li {
    float: left;
  }
  .header .navbar .navbar-right .navbar-nav > li > a {
    float: left;
  }
  /* Begin Sidebar Off Canvas */
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -70%;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -70%;
  }
  .row-offcanvas-right.active {
    right: 70%;
  }
  .row-offcanvas-left.active {
    left: 70%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 70%;
  }
  /* End Sidebar Off Canvas */
  body .page-wrapper .wrapper .page-sidebar {
    position: absolute !important;
  }
  body .page-wrapper .wrapper .content {
    margin-left: 0;
  }
}
/* End Layout Responsive */
