/**
 * Pages Signin - Type 2
 */
body#signin-type-2 {
  background-color: #5a44ff;
  background-image: url("../../images/required/bg-transparent.png");
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
