/**
 * Pages Search Results
 */
/* Search Results - General */
.search-term-highlight {
  color: #ff4db6;
}
/* Search Results - Classic */
.search-results-classic {
  margin: 0 0 20px 0;
}
/* Search Results - Data */
#data-search-form .checkbox label {
  padding-left: 0;
}
#data-search-form-advanced-search td {
  display: none;
}
/* Search Results - Profiles */
.search-results-profile {
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-top: 1px solid #e6e6e6;
  -moz-border-radius: 0 0 5px 5px !important;
  -webkit-border-radius: 0 0 5px 5px !important;
  border-radius: 0 0 5px 5px !important;
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2) !important;
  padding: 10px 0;
}
.search-results-profile:hover {
  border-bottom: 3px solid #ff4db6;
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-top: 1px solid #bbbbbb;
  margin-bottom: 17px;
}
.search-results-profile.highlight-color-blue,
.search-results-profile.highlight-color-green,
.search-results-profile.highlight-color-orange,
.search-results-profile.highlight-color-yellow,
.search-results-profile.highlight-color-blue,
.search-results-profile.highlight-color-red,
.search-results-profile.highlight-color-lime,
.search-results-profile.highlight-color-purple {
  border-bottom: 1px solid #dedede;
}
.search-results-profile.highlight-color-green:hover,
.search-results-profile.highlight-color-green:focus {
  border-bottom: 3px solid #6ec06e;
}
.search-results-profile.highlight-color-orange:hover,
.search-results-profile.highlight-color-orange:focus {
  border-bottom: 3px solid #ff8b1a;
}
.search-results-profile.highlight-color-yellow:hover,
.search-results-profile.highlight-color-yellow:focus {
  border-bottom: 3px solid #ffd040;
}
.search-results-profile.highlight-color-blue:hover,
.search-results-profile.highlight-color-blue:focus {
  border-bottom: 3px solid #4596f1;
}
.search-results-profile.highlight-color-red:hover,
.search-results-profile.highlight-color-red:focus {
  border-bottom: 3px solid #f14141;
}
.search-results-profile.highlight-color-lime:hover,
.search-results-profile.highlight-color-lime:focus {
  border-bottom: 3px solid #b2cd4d;
}
.search-results-profile.highlight-color-purple:hover,
.search-results-profile.highlight-color-purple:focus {
  border-bottom: 3px solid #ff4db6;
}
.search-results-profile .search-results-profile-image {
  float: left;
  width: 150px;
  text-align: center;
}
.search-results-profile .search-results-profile-content {
  position: relative;
  margin-left: 165px;
  min-height: 113px;
}
.search-results-profile .search-results-profile-content .search-results-profile-title.h3 {
  line-height: 17px;
  margin-bottom: 10px;
}
.search-results-profile .search-results-profile-content .search-results-profile-more-block {
  display: block;
}
.search-results-profile .search-results-profile-content .search-results-profile-button {
  margin-top: 10px;
}
