h3#download-section {
    margin-top: 50px;
    padding-top: 40px; }


button.sw-btn, .button {
  background-color: #AEDEF4;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  font-weight: 600;
  border-radius: 3px;
  padding: 15px 35px;
  margin: 26px 5px 0 5px;
  cursor: pointer; 
}
button.sw-btn:focus, .button:focus {
  outline: none; 
}
button.sw-btn:hover, .button:hover {
  background-color: #a1d9f2;
}
button.sw-btn:active, .button:active {
  background-color: #81ccee; 
}
button.cancel, .button.cancel {
  background-color: #D0D0D0; 
}
button.sw-btn.cancel:hover, .button.cancel:hover {
  background-color: #c8c8c8; 
}
button.sw-btn.cancel:active, .button.cancel:active {
  background-color: #b6b6b6; 
}
button.sw-btn.download, .button.download {
  position: fixed;
  right: 30px;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: #ABCADA;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 3; 
}
@media all and (max-width: 1278px) {
  button.sw-btn.download, .button.download {
    display: none; 
  }
}

.showcase {
  background-color: #eceef0;
  padding: 20px;
  display: inline-block;
  width: 383px;
  vertical-align: top;
  position: relative; 
}
@media all and (max-width: 865px) {
  .showcase {
    margin: 5px auto;
    padding: 46px 20px;
  } 
}
@media all and (max-width: 440px) {
  .showcase {
    width: auto; 
  }
}
.showcase h4 {
  font-size: 16px;
  color: #BCBCBC;
  line-height: 22px;
  margin: 0 auto;
  font-weight: 400; 
}
.showcase.sweet h4 {
  width: 117px;
  height: 25px;
  margin-top: -3px;
  text-indent: -9999px;
  background-image: url("images/logo_small.png");
  background-image: -webkit-image-set(url("images/logo_small.png") 1x, url("images/logo_small@2x.png") 2x); 
}
.showcase h5 {
  margin-bottom: -7px;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
  color: #c2c2c2; 
}
.showcase button {
  margin-bottom: 10px; 
}

ul.examples {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; 
}
ul.examples li {
  margin-bottom: 30px;
  text-align: center;
}
ul.examples .ui {
  text-align: center;
}
ul.examples .ui button {
  margin-top: 6px;
}
ul.examples .ui p {
  text-align: center;
  margin-bottom: 0;
}
