/*=============================================================
    
    Authour URI: http://www.binarytheme.com
    License: MIT
    100% Free To use For Personal And Commercial Use.
      
    ========================================================  */

@import url(http://fonts.googleapis.com/css?family=Armata);
/*Custom Style Sheet*/

body {
	background: #6BC5A4;
      font-family: 'Armata', sans-serif;
    font-weight: 300;
    font-size: 16px;
     color:#FFFFFF;
  
}

/* Heading Styles*/
h1 {
    padding-top:50px;
	font-size: 90px;
    font-weight:700;
    margin-bottom:60px;
}
h2 {
	font-size: 35px;
    font-weight:500;
     margin-bottom:100px;
}

h3 {
    font-size: 30px;
	font-weight: 300;
    margin-bottom:50px;  
    color:#27956d; 
}

/* Button Style*/
.btn {
    margin:5px;
}

/* Social Link  Style*/
.social-link {
     padding-top:50px;
}
/* force right Style*/
.move-right {
    padding-top:20px;
    float:right;
}

/* Main Wrapper Style*/
#wrapper {
	text-align: center;
	padding: 30px 0;
	background-position: center center;
	
	width: 100%;	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn-500 {
    color: #FFF;
    background-color: #4eaf8b;
    border-color: #46B8DA;
}




