

/*style 1*/
#social .label{
margin-right:10px;
}

#social .menu-wrap {
	width:100%;
	height:auto;
	background:#FFF;
/*	border-bottom:#09F thin solid;
	border-bottom-width:3px;*/
	padding:0px 0px 0px 0px;
	margin:11px 0px 24px 0px;
	text-align:center;
	line-height:13px;
}

#social .menu-wrap .menu-item {
    width: 38px;
    height: 55px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

#social .menu-wrap .menu-item i {
    width:100%;
	padding:7px 0px 5px 0px;
	border-radius:3px;
}

#social .menu-wrap .menu-item i.fa-facebook {
	background:#3B5998;
	color:#FFF;
}
#social .menu-wrap .menu-item i.fa-twitter {
	background:#44CCF6;
	color:#FFF;
}
#social .menu-wrap .menu-item i.fa-youtube {
	background:#CE332D;
	color:#FFF;
}
#social .menu-wrap .menu-item i.fa-linkedin {
	background:#0275B6;
	color:#FFF;
}
#social .menu-wrap .menu-item i.fa-google-plus {
	background:#D13F2D;
	color:#FFF;
}
#social .menu-wrap .menu-item i.fa-dribbble {
	background:#EA4C89;
	color:#FFF;
}
#social .menu-wrap .menu-item i.fa-pinterest-square {
	background:#CB2027;
	color:#FFF;
}
#social .menu-wrap .menu-item i.fa-stack-overflow {
	background:#FEA501;
	color:#FFF;
}
#social .menu-wrap .menu-item i.fa-tumblr {
	background:#274152;
	color:#FFF;
}
#social .menu-wrap .menu-item i.fa-instagram {
	background:#517FA3;
	color:#FFF;
}
#social .menu-wrap .menu-item i.fa-vimeo-square {
	background:#86C9EF;
	color:#FFF;
}
	
#social .menu-wrap .menu-item span {
	width:32px;
	height:32px;
    position: absolute;
    top: 5px;
    left: 0px;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: block;
	color:#445878;
	background:#FFF;
/*	border:#09F thin solid;
	border-width:2px;*/
	border-radius:50%;
}

#social .menu-wrap .menu-item span:hover {
    top: -29px;
	font-size:20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

span.active {
	top:-20px !important;
	font-size:0px !important;
}

#social .menu-wrap .menu-item a {
	font-size:12px;
	color:#445878;
	text-decoration:none;
}

#social .menu-wrap .menu-item .text {
	text-decoration: none;
    font-size: 0px;
    padding:20px 0px 17px 0px;
    text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
    width: 100%;
    position: absolute;
    bottom: -54px;
    display: block;
	border-top:#09F thin solid;
	border-top-width:9px;
	border-radius:6px;
     background-color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#social .menu-wrap .menu-item:hover > .text {
    bottom: 0;
	font-size:25px;
	padding:0px 0px 0px 0px;
    -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	text-align:center;
	border-top:#09F thin dotted;
	border-top-width:0px;
}

#social .menu-wrap .menu-item .icon {
    width: 32px;
    height: 32px;
	padding:15px 9px 5px 4px;
	font-size:25px;
	text-align:center;
}

/*Style 2*/
#social .menu-wrap .menu-item2 {
    width: 38px;
    height: 55px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

#social .menu-wrap .menu-item2 i {
    width:100%;
	padding:7px 0px 5px 0px;
	border-radius:3px;
}

#social .menu-wrap .menu-item2 i.fa-facebook {
	background:#3B5998;
	color:#FFF;
}
#social .menu-wrap .menu-item2 i.fa-twitter {
	background:#44CCF6;
	color:#FFF;
}
#social .menu-wrap .menu-item2 i.fa-youtube {
	background:#CE332D;
	color:#FFF;
}
#social .menu-wrap .menu-item2 i.fa-linkedin {
	background:#0275B6;
	color:#FFF;
}
#social .menu-wrap .menu-item2 i.fa-google-plus {
	background:#D13F2D;
	color:#FFF;
}
#social .menu-wrap .menu-item2 i.fa-dribbble {
	background:#EA4C89;
	color:#FFF;
}
#social .menu-wrap .menu-item2 i.fa-pinterest-square {
	background:#CB2027;
	color:#FFF;
}
#social .menu-wrap .menu-item2 i.fa-stack-overflow {
	background:#FEA501;
	color:#FFF;
}
#social .menu-wrap .menu-item2 i.fa-tumblr {
	background:#274152;
	color:#FFF;
}
#social .menu-wrap .menu-item2 i.fa-instagram {
	background:#517FA3;
	color:#FFF;
}
#social .menu-wrap .menu-item2 i.fa-vimeo-square {
	background:#86C9EF;
	color:#FFF;
}
	
#social .menu-wrap .menu-item2 span {
	width:32px;
	height:32px;
    position: absolute;
    top: 10px;
    left: 0px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block;
	color:#445878;
	background:#FFF;
/*	border:#09F thin solid;
	border-width:2px;*/
	border-radius:50%;
}

#social .menu-wrap .menu-item2 span:hover {
    top: -29px;
	font-size:20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

span.active {
	top:-20px !important;
	font-size:0px !important;
}

#social .menu-wrap .menu-item2 a {
	font-size:12px;
	color:#445878;
	text-decoration:none;
}

#social .menu-wrap .menu-item2 .text {
	text-decoration: none;
    font-size: 0px;
    padding:0px 0px 17px 0px;
    text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
    width: 100%;
    position: absolute;
    bottom: -27px;
    display: block;
/*	border-top:#CCC thin solid;
	border-top-width:1px;*/
     background-color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#social .menu-wrap .menu-item2:hover > .text {
    bottom: 0;
	font-size:25px;
	padding:0;
    -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	text-align:center;
}

#social .menu-wrap .menu-item2 .icon {
    width: 32px;
    height: 32px;
	padding:13px 9px 5px 4px;
	font-size:25px;
	text-align:center;
}

/*Style 3*/


#social .menu-wrap .menu-item3 {
    width: 38px;
    height: 55px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

#social .menu-wrap .menu-item3 i {
    width:100%;
	padding:7px 0px 5px 0px;
	border-radius:3px;
}

#social .menu-wrap .menu-item3 i.fa-facebook {
	background:#3B5998;
	color:#FFF;
}
#social .menu-wrap .menu-item3 i.fa-twitter {
	background:#44CCF6;
	color:#FFF;
}
#social .menu-wrap .menu-item3 i.fa-youtube {
	background:#CE332D;
	color:#FFF;
}
#social .menu-wrap .menu-item3 i.fa-linkedin {
	background:#0275B6;
	color:#FFF;
}
#social .menu-wrap .menu-item3 i.fa-google-plus {
	background:#D13F2D;
	color:#FFF;
}
#social .menu-wrap .menu-item3 i.fa-dribbble {
	background:#EA4C89;
	color:#FFF;
}
#social .menu-wrap .menu-item3 i.fa-pinterest-square {
	background:#CB2027;
	color:#FFF;
}
#social .menu-wrap .menu-item3 i.fa-stack-overflow {
	background:#FEA501;
	color:#FFF;
}
#social .menu-wrap .menu-item3 i.fa-tumblr {
	background:#274152;
	color:#FFF;
}
#social .menu-wrap .menu-item3 i.fa-instagram {
	background:#517FA3;
	color:#FFF;
}
#social .menu-wrap .menu-item3 i.fa-vimeo-square {
	background:#86C9EF;
	color:#FFF;
}
	
#social .menu-wrap .menu-item3 span {
	width:32px;
	height:32px;
    position: absolute;
    top: 10px;
    left: 5px;
    text-align: center;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    display: block;
	color:#445878;
	background:#FFF;
/*	border:#09F thin solid;
	border-width:2px;*/
	border-radius:50%;
}

#social .menu-wrap .menu-item3 span:hover {
    top: -29px;
	font-size:20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

span.active {
	top:100px !important;
	font-size:0px !important;
}

#social .menu-wrap .menu-item3 a {
	text-decoration:none;
}

#social .menu-wrap .menu-item3 .text {
	text-decoration: none;
    font-size: 25px;
    padding:0px 0px 0px 0px;
    text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
    width: 100%;
    position: absolute;
    bottom: -37px;
	left:0;
    display: block;
     background-color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#social .menu-wrap .menu-item3:hover > .text {
	padding:0px 0px 17px 0px;
	bottom:-10px;
	font-size:25px;
    -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	text-align:center;
}

#social .menu-wrap .menu-item3 .icon {
    width: 0px;
    height: 32px;
	padding:13px 9px 5px 4px;
	font-size:25px;
	text-align:center;
}

/*Style 4*/
#social .menu-wrap .menu-item4 {
    width: 38px;
    height: 55px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

#social .menu-wrap .menu-item4 i {
    width:100%;
	padding:7px 0px 5px 0px;
	border-radius:3px;
}

#social .menu-wrap .menu-item4 i.fa-facebook {
	background:#3B5998;
	color:#FFF;
}
#social .menu-wrap .menu-item4 i.fa-twitter {
	background:#44CCF6;
	color:#FFF;
}
#social .menu-wrap .menu-item4 i.fa-youtube {
	background:#CE332D;
	color:#FFF;
}
#social .menu-wrap .menu-item4 i.fa-linkedin {
	background:#0275B6;
	color:#FFF;
}
#social .menu-wrap .menu-item4 i.fa-google-plus {
	background:#D13F2D;
	color:#FFF;
}
#social .menu-wrap .menu-item4 i.fa-dribbble {
	background:#EA4C89;
	color:#FFF;
}
#social .menu-wrap .menu-item4 i.fa-pinterest-square {
	background:#CB2027;
	color:#FFF;
}
#social .menu-wrap .menu-item4 i.fa-stack-overflow {
	background:#FEA501;
	color:#FFF;
}
#social .menu-wrap .menu-item4 i.fa-tumblr {
	background:#274152;
	color:#FFF;
}
#social .menu-wrap .menu-item4 i.fa-instagram {
	background:#517FA3;
	color:#FFF;
}
#social .menu-wrap .menu-item4 i.fa-vimeo-square {
	background:#86C9EF;
	color:#FFF;
}
	
#social .menu-wrap .menu-item4 span {
	width:32px;
	height:55px !important;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: block;
	color:#445878;
	background:#F5F5F5;
	border-bottom:#CCC thin solid;
	border-bottom-width:3px;
}

#social .menu-wrap .menu-item4 span:hover {
    top: -29px;
	font-size:20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

span.active {
	top:-20px !important;
	font-size:0px !important;
}

#social .menu-wrap .menu-item4 a {
	font-size:12px;
	color:#445878;
	text-decoration:none;
}

#social .menu-wrap .menu-item4 .text {
	text-decoration: none;
    font-size: 0px;
    padding:20px 0px 17px 0px;
    text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
    width: 100%;
    position: absolute;
    bottom: -54px;
    display: block;
	border-top:#FFF thin solid;
	border-top-width:3px;
     background-color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#social .menu-wrap .menu-item4:hover > .text {
    bottom: 0;
	font-size:25px;
	padding:0px 0px 0px 0px;
    -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	text-align:center;
}

#social .menu-wrap .menu-item4 .icon {
    width: 32px;
    height: 32px;
	padding:15px 9px 5px 4px;
	font-size:25px;
	text-align:center;
}

	/* Social Igniter ICON */
	
	
	
	/* Just for the demo */
	.Social_Igniter{
   
}
	.Social_Igniter ul { list-style: none; overflow: hidden; }
	.Social_Igniter li { float:left; }
	
	/* Put these styles in your stylesheet. If you change the location of the si_sprite.png make sure to update the paths as well */
	.si-icon { display:block; width:32px; height:34px; margin:0 15px 15px 0; background-image: url(si_sprite.png); background-repeat: no-repeat; text-indent: -999em; }
	.si-icon.path { background-position: 0 0; }
	.si-icon.path:hover, .si-icon.nh-path { background-position: 0 -40px; }
	.si-icon.linkedin { background-position: -40px 0; }
	.si-icon.linkedin:hover, .si-icon.nh-linkedin { background-position: -40px -40px; }
	.si-icon.vimeo { background-position: -80px 0; }
	.si-icon.vimeo:hover, .si-icon.nh-vimeo { background-position: -80px -40px; }
	.si-icon.rss { background-position: -119px 0; }
	.si-icon.rss:hover, .si-icon.nh-rss { background-position: -119px -40px; }
	.si-icon.dribbble { background-position: -159px 0; }
	.si-icon.dribbble:hover, .si-icon.nh-dribbble { background-position: -159px -40px; }
	.si-icon.evernote { background-position: -199px 0; }
	.si-icon.evernote:hover, .si-icon.nh-evernote { background-position: -199px -40px; }
	.si-icon.lastfm { background-position: -239px 0; }
	.si-icon.lastfm:hover, .si-icon.nh-lastfm { background-position: -239px -40px; }
	.si-icon.skype { background-position: -279px 0; }
	.si-icon.skype:hover, .si-icon.nh-skype { background-position: -279px -40px; }
	.si-icon.behance { background-position: -319px 0; }
	.si-icon.behance:hover, .si-icon.nh-behance { background-position: -319px -40px; }
	.si-icon.youtube { background-position: -358px 0; }
	.si-icon.youtube:hover, .si-icon.nh-youtube { background-position: -358px -40px; }
	.si-icon.wordpress { background-position: -398px 0; }
	.si-icon.wordpress:hover, .si-icon.nh-wordpress { background-position: -398px -40px; }
	.si-icon.facebook { background-position: -478px 0; }
	.si-icon.facebook:hover, .si-icon.nh-facebook { background-position: -478px -40px; }
	.si-icon.pinterest { background-position: -438px 0; }
	.si-icon.pinterest:hover, .si-icon.nh-pinterest { background-position: -438px -40px; }
	.si-icon.googleplus { background-position: -518px 0; }
	.si-icon.googleplus:hover, .si-icon.nh-googleplus { background-position: -518px -40px; }
	.si-icon.flickr { background-position: -558px 0; }
	.si-icon.flickr:hover, .si-icon.nh-flickr { background-position: -558px -40px; }
	.si-icon.zerply { background-position: -597px 0; }
	.si-icon.zerply:hover, .si-icon.nh-zerply { background-position: -597px -40px; }
	.si-icon.tumblr { background-position: -637px 0; }
	.si-icon.tumblr:hover, .si-icon.nh-tumblr { background-position: -637px -40px; }
	.si-icon.twitter { background-position: -677px 0; }
	.si-icon.twitter:hover, .si-icon.nh-twitter { background-position: -677px -40px; }
	
	
	
	
	
	/*Social Icon Sprites*/
	


.icons a {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 10px;
	vertical-align: middle;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
}

.icons a.twitter { background: url(social-icons/twitter.png) left top no-repeat; }
.icons a.dribbble { background: url(social-icons/dribbble.png) left top no-repeat; }
.icons a.rss { background: url(social-icons/rss.png) left top no-repeat; }
.icons a.pinterest { background: url(social-icons/pinterest.png) left top no-repeat; }
.icons a.digg { background: url(social-icons/digg.png) left top no-repeat; }
.icons a.flickr { background: url(social-icons/flickr.png) left top no-repeat; }
.icons a.forrst { background: url(social-icons/forrst.png) left top no-repeat; }
.icons a.vimeo { background: url(social-icons/vimeo.png) left top no-repeat; }
.icons a.reddit { background: url(social-icons/reddit.png) left top no-repeat; }
.icons a.linkedin { background: url(social-icons/linkedin.png) left top no-repeat; }
.icons a.facebook { background: url(social-icons/facebook.png) left top no-repeat; }
.icons a.paypal { background: url(social-icons/paypal.png) left top no-repeat; }
.icons a.stumbleupon { background: url(social-icons/stumbleupon.png) left top no-repeat; }
.icons a.email { background: url(social-icons/email.png) left top no-repeat; }
.icons a.deviantart { background: url(social-icons/deviantart.png) left top no-repeat; }
.icons a.netvibes { background: url(social-icons/netvibes.png) left top no-repeat; }
.icons a.yahoo { background: url(social-icons/yahoo.png) left top no-repeat; }
.icons a.github { background: url(social-icons/github.png) left top no-repeat; }
.icons a.addthis { background: url(social-icons/addthis.png) left top no-repeat; }
.icons a.behance { background: url(social-icons/behance.png) left top no-repeat; }
.icons a.blogger { background: url(social-icons/blogger.png) left top no-repeat; }
.icons a.slashdot { background: url(social-icons/slashdot.png) left top no-repeat; }
.icons a.technorati { background: url(social-icons/technorati.png) left top no-repeat; }
.icons a.googleplus { background: url(social-icons/googleplus.png) left top no-repeat; }
.icons a.apple { background: url(social-icons/apple.png) left top no-repeat; }
.icons a.myspace { background: url(social-icons/myspace.png) left top no-repeat; }
.icons a.sharethis { background: url(social-icons/sharethis.png) left top no-repeat; }
.icons a.yelp { background: url(social-icons/yelp.png) left top no-repeat; }
.icons a.delicious { background: url(social-icons/delicious.png) left top no-repeat; }
.icons a.lastfm { background: url(social-icons/lastfm.png) left top no-repeat; }
.icons a.youtube { background: url(social-icons/youtube.png) left top no-repeat; }
.icons a.skype { background: url(social-icons/skype.png) left top no-repeat; }
.icons a.tumblr { background: url(social-icons/tumblr.png) left top no-repeat; }
.icons a.aim { background: url(social-icons/aim.png) left top no-repeat; }
.icons a.google { background: url(social-icons/google.png) left top no-repeat; }

.icons a:hover { background-position: left -34px; }




/*Icon MOON */

.demo
{
  
    margin: 3px auto;
}

.demo ul
{
    padding: 0;
    list-style: none;
    font-size: 16px;
}
.demo li
{
    float: left;
    width: 80px;
    text-align: center;
}
.demo li span
{
    display: block;
}
.demo a
{
    display: block;
    color: #ffffff;
    text-decoration: none;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.demo ul:hover a
{
    color: rgba(255, 255, 255, 0.6);
}
.demo ul:hover a:hover
{
    color: #ffffff;
}
.demo li:nth-child(1) i
{
    background: rgb(59, 89, 152);
    box-shadow: 0 0 0 0 rgba(59, 89, 152,0.6);
}
.demo li:nth-child(2) i
{
    background: rgb(210, 64, 46);
    box-shadow: 0 0 0 0 rgba(210, 64, 46,0.6);
}
.demo li:nth-child(3) i
{
    background: rgb(0, 172, 238);
    box-shadow: 0 0 0 0 rgba(0, 172, 238, 0.6);
}
.demo li:nth-child(4) i
{
    background: rgb(203, 34, 41);
    box-shadow: 0 0 0 0 rgba(203, 34, 41, 0.6);
}
.demo li:nth-child(5) i
{
    background: rgb(240, 150, 0);
    box-shadow: 0 0 0 0 rgba(240, 150, 0, 0.6);
}
.demo li:nth-child(6) i
{
    background: rgb(234, 75, 36);
    box-shadow: 0 0 0 0 rgba(234, 75, 36, 0.6);
}
.demo i
{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 12px;
    border-radius: 50%;
    font-size: 30px;
    transition: box-shadow .4s ease-in-out;
    -moz-transition: box-shadow .4s ease-in-out;
    -webkit-transition: box-shadow .4s ease-in-out;
    -o-transition: box-shadow .4s ease-in-out;
}
.demo a:hover i, .demo a:active i
{
    box-shadow: 0 0 0 25px transparent;
}
.demo .icon + span
{
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
    -moz-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
    -ms-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
    -o-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
    transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
}
.demo a:hover span, .demo a:active span
{
    opacity: 1;
}
/* ICOMOON Starts Here */

@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot');
	src:url('../../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/icomoon.woff') format('woff'),
		url('../../fonts/icomoon.ttf') format('truetype'),
		url('../../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-stumbleupon, .icon-pencil, .icon-tag, .icon-clock, .icon-users, .icon-user, .icon-disk, .icon-lab, .icon-arrow-left, .icon-mail, .icon-google-plus, .icon-facebook, .icon-twitter, .icon-feed, .icon-delicious, .icon-stackoverflow, .icon-pinterest, .icon-html5, .icon-css3 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e000";
}
.icon-stumbleupon:before {
	content: "\e006";
}
.icon-pencil:before {
	content: "\e008";
}
.icon-tag:before {
	content: "\e009";
}
.icon-clock:before {
	content: "\e00a";
}
.icon-users:before {
	content: "\e00b";
}
.icon-user:before {
	content: "\e00c";
}
.icon-disk:before {
	content: "\e00d";
}
.icon-lab:before {
	content: "\e00e";
}
.icon-arrow-left:before {
	content: "\e001";
}
.icon-mail:before {
	content: "\e00f";
}
.icon-google-plus:before {
	content: "\e010";
}
.icon-facebook:before {
	content: "\e002";
}
.icon-twitter:before {
	content: "\e003";
}
.icon-feed:before {
	content: "\e004";
}
.icon-delicious:before {
	content: "\e005";
}
.icon-stackoverflow:before {
	content: "\e011";
}
.icon-pinterest:before {
	content: "\e012";
}
.icon-html5:before {
	content: "\e007";
}
.icon-css3:before {
	content: "\e013";
}


/*Social Icon 4*/



/*===================================================================================== */
/* The source of demo preview has been stripped and compressed for security reasons.
====================================================================================== */

.social-icons li {
    display: inline;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.social-icons li a {
    width: 42px;
    height: 42px;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;
    background: #D9EDF7;
}

.social-icons li a i {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: absolute;
    z-index: 20;
    top: -30px;
    opacity: 0;
}

.social-icons li a:hover,.social-icons li a i {
    color: #fff;
}

.social-icons li a:hover i {
    top: 0;
    opacity: 1;
}

.o-twitter:before,.o-wordpress:before,.o-facebook:before,.o-linkedin:before,.o-steam:before,.o-tumblr:before,.o-github:before,.o-delicious:before,.o-instagram:before,.o-xing:before,.o-amazon:before,.o-dropbox:before,.o-paypal:before,.o-lastfm:before,.o-gplus:before,.o-yahoo:before,.o-pinterest:before,.o-dribbble:before,.o-flickr:before,.o-reddit:before,.o-vimeo:before,.o-spotify:before,.o-rss:before,.o-youtube:before,.o-blogger:before,.o-appstore:before,.o-digg:before,.o-evernote:before,.o-fivehundredpx:before,.o-forrst:before,.o-stumbleupon:before,.o-dribbble:before {
    color: #77c1e6;
    -webkit-transition: all .o-15s ease-in-out;
    -moz-transition: all .o-15s ease-in-out;
    -o-transition: all .o-15s ease-in-out;
    -ms-transition: all .o-15s ease-in-out;
    transition: all .o-15s ease-in-out;
    position: absolute;
    z-index: 20;
    font: 16px/16px "fontello";
}

.o-twitter:before {
    font-size: 14px;
    content: "\54";
    top: 0;
    opacity: 1;
}

.o-twitter i,.o-twitter:before {
    margin: 13px 0 0 12px;
}

.o-twitter:hover:before {
    top: 30px;
    opacity: 0;
}

.o-twitter:hover {
    background: #3bc1ed;
}

.o-dribbble i,.o-dribbble:before {
    margin: 13px 0 0 13px;
    margin: 13px 0 0 13px;
}

.o-dribbble:before {
    content: "\44";
    top: 0;
    opacity: 1;
    content: "\44";
    top: 0;
    opacity: 1;
}

.o-dribbble:hover:before {
    top: 30px;
    opacity: 0;
    top: 30px;
    opacity: 0;
}

.o-dribbble:hover {
    background-color: #ef5a92;
    background: #ef5a92;
}

.o-facebook i,.o-facebook:before {
    margin: 13px 0 0 16px;
}

.o-facebook:before {
    content: "\66";
    top: 0;
    opacity: 1;
}

.o-facebook:hover:before {
    top: 30px;
    opacity: 0;
}

.o-facebook:hover {
    background: #4a6d9d;
}

.o-linkedin i,.o-linkedin:before {
    margin: 13px 0 0 13px;
}

.o-linkedin:before {
    content: "\4c";
    top: 0;
    opacity: 1;
}

.o-linkedin:hover:before {
    top: 30px;
    opacity: 0;
}

.o-linkedin:hover {
    background: #0b7bb5;
}

.o-delicious i,.o-delicious:before {
    margin: 13px 0 0 13px;
}

.o-delicious:before {
    content: "\23";
    top: 0;
    opacity: 1;
}

.o-delicious:hover:before {
    top: 30px;
    opacity: 0;
}

.o-delicious:hover {
    background: #3274d1;
}

.o-paypal i,.o-paypal:before {
    margin: 13px 0 0 13px;
}

.o-paypal:before {
    content: "\24";
    top: 0;
    opacity: 1;
}

.o-paypal:hover:before {
    top: 30px;
    opacity: 0;
}

.o-paypal:hover {
    background: #2e689a;
}

.o-gplus i,.o-gplus:before {
    margin: 13px 0 0 13px;
}

.o-gplus:before {
    content: "\2b";
    top: 0;
    opacity: 1;
}

.o-gplus:hover:before {
    top: 30px;
    opacity: 0;
}

.o-gplus:hover {
    background: #d53824;
}

.o-stumbleupon i,.o-stumbleupon:before {
    margin: 13px 0 0 11px;
}

.o-stumbleupon:before {
    content: "\2f";
    top: 0;
    opacity: 1;
}

.o-stumbleupon:hover:before {
    top: 30px;
    opacity: 0;
}

.o-stumbleupon:hover {
    background: #eb4924;
}

.o-fivehundredpx i,.o-fivehundredpx:before {
    margin: 13px 0 0 11px;
}

.o-fivehundredpx:before {
    content: "\30";
    top: 0;
    opacity: 1;
}

.o-fivehundredpx:hover:before {
    top: 30px;
    opacity: 0;
}

.o-fivehundredpx:hover {
    background: #444;
}

.o-pinterest i,.o-pinterest:before {
    margin: 13px 0 0 15px;
}

.o-pinterest:before {
    content: "\31";
    top: 0;
    opacity: 1;
}

.o-pinterest:hover:before {
    top: 30px;
    opacity: 0;
}

.o-pinterest:hover {
    background: #cb1f25;
}

.o-forrst i,.o-forrst:before {
    margin: 13px 0 0 15px;
}

.o-forrst:before {
    content: "\3a";
    top: 0;
    opacity: 1;
}

.o-forrst:hover:before {
    top: 30px;
    opacity: 0;
}

.o-forrst:hover {
    background: #40833e;
}

.o-digg i,.o-digg:before {
    margin: 13px 0 0 12px;
}

.o-digg:before {
    content: "\3b";
    top: 0;
    opacity: 1;
}

.o-digg:hover:before {
    top: 30px;
    opacity: 0;
}

.o-digg:hover {
    background: #205685;
}

.o-spotify i,.o-spotify:before {
    margin: 13px 0 0 13px;
}

.o-spotify:before {
    content: "\3d";
    top: 0;
    opacity: 1;
}

.o-spotify:hover:before {
    top: 30px;
    opacity: 0;
}

.o-spotify:hover {
    background: #6ca405;
}

.o-reddit i,.o-reddit:before {
    margin: 13px 0 0 12px;
}

.o-reddit:before {
    content: "\3e";
    top: 0;
    opacity: 1;
}

.o-reddit:hover:before {
    top: 30px;
    opacity: 0;
}

.o-reddit:hover {
    background: #404040;
}

.o-appstore i,.o-appstore:before {
    margin: 13px 0 0 14px;
}

.o-appstore:before {
    content: "\41";
    top: 0;
    opacity: 1;
}

.o-appstore:hover:before {
    top: 30px;
    opacity: 0;
}

.o-appstore:hover {
    background: silver;
}

.o-blogger i,.o-blogger:before {
    margin: 13px 0 0 15px;
    font-size: 14px!important;
}

.o-blogger:before {
    content: "\42";
    top: 0;
    opacity: 1;
}

.o-blogger:hover:before {
    top: 30px;
    opacity: 0;
}

.o-blogger:hover {
    background: #ff6501;
}

.o-evernote i,.o-evernote:before {
    margin: 13px 0 0 15px;
}

.o-evernote:before {
    content: "\45";
    top: 0;
    opacity: 1;
}

.o-evernote:hover:before {
    top: 30px;
    opacity: 0;
}

.o-evernote:hover {
    background: #6bb130;
}

.o-flickr i,.o-flickr:before {
    margin: 13px 0 0 13px;
}

.o-flickr:before {
    content: "\46";
    top: 0;
    opacity: 1;
}

.o-flickr:hover:before {
    top: 30px;
    opacity: 0;
}

.o-flickr:hover {
    background: #136dd5;
}

.o-rss i,.o-rss:before {
    margin: 13px 0 0 14px;
    font-size: 14px!important;
}

.o-rss:before {
    content: "\52";
    top: 0;
    opacity: 1;
}

.o-rss:hover:before {
    top: 30px;
    opacity: 0;
}

.o-rss:hover {
    background: #fe8f00;
}

.o-youtube i,.o-youtube:before {
    margin: 13px 0 0 14px;
    font-size: 18px!important;
}

.o-youtube:before {
    content: "\55";
    top: 0;
    opacity: 1;
}

.o-youtube:hover:before {
    top: 30px;
    opacity: 0;
}

.o-youtube:hover {
    background: #bf2f29;
}

.o-vimeo i,.o-vimeo:before {
    margin: 13px 0 0 13px;
    font-size: 14px!important;
}

.o-vimeo:before {
    content: "\56";
    top: 0;
    opacity: 1;
}

.o-vimeo:hover:before {
    top: 30px;
    opacity: 0;
}

.o-vimeo:hover {
    background: #4c8ab0;
}

.o-xing i,.o-xing:before {
    margin: 13px 0 0 14px;
}

.o-xing:before {
    content: "\58";
    top: 0;
    opacity: 1;
}

.o-xing:hover:before {
    top: 30px;
    opacity: 0;
}

.o-xing:hover {
    background: #036568;
}

.o-yahoo i,.o-yahoo:before {
    margin: 13px 0 0 11px;
}

.o-yahoo:before {
    content: "\59";
    top: 0;
    opacity: 1;
}

.o-yahoo:hover:before {
    top: 30px;
    opacity: 0;
}

.o-yahoo:hover {
    background: #9251a2;
}

.o-amazon i,.o-amazon:before {
    margin: 13px 0 0 12px;
}

.o-amazon:before {
    content: "\61";
    top: 0;
    opacity: 1;
}

.o-amazon:hover:before {
    top: 30px;
    opacity: 0;
}

.o-amazon:hover {
    background: #2f3842;
}

.o-steam i,.o-steam:before {
    margin: 13px 0 0 11px;
}

.o-steam:before {
    content: "\62";
    top: 0;
    opacity: 1;
}

.o-steam:hover:before {
    top: 30px;
    opacity: 0;
}

.o-steam:hover {
    background: #383838;
}

.o-dropbox i,.o-dropbox:before {
    margin: 13px 0 0 13px;
}

.o-dropbox:before {
    content: "\64";
    top: 0;
    opacity: 1;
}

.o-dropbox:hover:before {
    top: 30px;
    opacity: 0;
}

.o-dropbox:hover {
    background: #2c92dd;
}

.o-github i,.o-github:before {
    margin: 13px 0 0 13px;
}

.o-github:before {
    content: "\67";
    top: 0;
    opacity: 1;
}

.o-github:hover:before {
    top: 30px;
    opacity: 0;
}

.o-github:hover {
    background: #5c7381;
}

.o-lastfm i,.o-lastfm:before {
    margin: 13px 0 0 11px;
}

.o-lastfm:before {
    content: "\6c";
    top: 0;
    opacity: 1;
}

.o-lastfm:hover:before {
    top: 30px;
    opacity: 0;
}

.o-lastfm:hover {
    background: #d21309;
}

.o-tumblr i,.o-tumblr:before {
    margin: 13px 0 0 15px;
}

.o-tumblr:before {
    content: "\74";
    top: 0;
    opacity: 1;
}

.o-tumblr:hover:before {
    top: 30px;
    opacity: 0;
}

.o-tumblr:hover {
    background: #3d658d;
}

.o-wordpress i,.o-wordpress:before {
    margin: 13px 0 0 14px;
}

.o-wordpress:before {
    content: "\77";
    top: 0;
    opacity: 1;
}

.o-wordpress:hover:before {
    top: 30px;
    opacity: 0;
}

.o-wordpress:hover {
    background: #383838;
}

.o-instagram i,.o-instagram:before {
    margin: 13px 0 0 14px;
}

.o-instagram:before {
    content: "\f31f";
    top: 0;
    opacity: 1;
}

.o-instagram:hover:before {
    top: 30px;
    opacity: 0;
}

.o-instagram:hover {
    background: #3f6f94;
}
@font-face {
    font-family:"fontello";src:url(../../fonts/fontello.eot?31771571);src:url(../../fonts/fontello.eot?31771571#iefix) format("embedded-opentype"),url(../../fonts/fontello.woff?31771571) format("woff"),url(../../fonts/fontello.ttf?31771571) format("truetype"),url(../../fonts/fontello.svg?31771571#fontello) format("svg");font-weight:400;font-style:normal;
}

.social-icons li i {
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    text-transform: none;
    width: auto;
    font: 400 16px/16px "fontello";
}
.social-icons li a:hover{
text-decoration:none;
}
.icon-o-delicious:before {
    content: "\23";
}

.icon-o-paypal:before {
    content: "\24";
}

.icon-o-gplus:before {
    content: "\2b";
}

.icon-o-stumbleupon:before {
    content: "\2f";
}

.icon-o-fivehundredpx:before {
    content: "\30";
}

.icon-o-pinterest:before {
    content: "\31";
}

.icon-o-forrst:before {
    content: "\3a";
}

.icon-o-digg:before {
    content: "\3b";
}

.icon-o-spotify:before {
    content: "\3d";
}

.icon-o-reddit:before {
    content: "\3e";
}

.icon-o-appstore:before {
    content: "\41";
}

.icon-o-blogger:before {
    content: "\42";
}

.icon-o-dribbble:before {
    content: "\44";
}

.icon-o-evernote:before {
    content: "\45";
}

.icon-o-flickr:before {
    content: "\46";
}

.icon-o-linkedin:before {
    content: "\4c";
}

.icon-o-rss:before {
    content: "\52";
}

.icon-o-twitter:before {
    content: "\54";
}

.icon-o-youtube:before {
    content: "\55";
}

.icon-o-vimeo:before {
    content: "\56";
}

.icon-o-xing:before {
    content: "\58";
}

.icon-o-yahoo:before {
    content: "\59";
}

.icon-o-amazon:before {
    content: "\61";
}

.icon-o-steam:before {
    content: "\62";
}

.icon-o-dropbox:before {
    content: "\64";
}

.icon-o-facebook:before {
    content: "\66";
}

.icon-o-github:before {
    content: "\67";
}

.icon-o-lastfm:before {
    content: "\6c";
}

.icon-o-tumblr:before {
    content: "\74";
}

.icon-o-wordpress:before {
    content: "\77";
}

.icon-o-linkedin-rect:before {
    content: "\f31b";
}

.icon-o-instagram:before {
    content: "\f31f";
}