
#wall {
	
}

#wall .item{
	border: 1px solid #fafafa;
	border-top: 2px solid #fafafa;
	background: #f6f6f6; /* Old browsers */
	
	
	padding: 10px;
	text-shadow: 0px 1px 0px #fff;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
	   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
    		box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
	margin-bottom: 10px;
}

#wall .item {
	margin: 0px;
	margin-bottom: 5px;
	
}

#wall .item .meta {
	margin-top: 10px;
}

#wall .item .meta span {
	font-size: 12px !important;
	line-height: 16px !important;
	margin-right:5px;
}

#wall .item .meta span i {
	font-size: 16px;
	margin: 0px 2px 0px 0px !important;
	padding-top: 4px !important;
}

#wall .item .meta span a {
	color: #000;
}

#wall .item .picture,
#portfolio .item .picture {
	display: block;
	position: relative;
	z-index:5;
}

#wall .item .picture a.image,
#portfolio .item .picture a.image {
	width: 100%; 
	height: auto;
	display: block;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
	-webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,.35);
	   -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,.35);
		    box-shadow: inset 0px 0px 5px rgba(0,0,0,.35);
}

#wall .item .picture img,
#portfolio .item .picture img {
	width: 100%; 
	height: auto; 
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
	position: relative;
	z-index: -1;
}
#wall .item .picture .description {
	margin-top: 10px;
}


#wall .item .quotes {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
	-webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,.35);
	   -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,.35);
			box-shadow: inset 0px 0px 5px rgba(0,0,0,.35);
	font-family: "Boogaloo";
	overflow: hidden;
	
}

#wall .item .quote, 
#wall .item .author {
	line-height: 22px;
	font-size: 18px;
	padding: 15px;
	color: #fff;
	font-family: "Boogaloo";
	background: #82B33A;
}
	
#wall .item .author {
	font-size: 14px;
	text-align: center;
}

#wall .item .flex-video {
  	position: relative;
  	/*padding-top: 25px; */
  	padding-bottom: 67.5%;
  	height: 0;
  	overflow: hidden;
	-webkit-border-radius: 2px !important;
	   -moz-border-radius: 2px !important;
			border-radius: 2px !important;
	border: 2px solid #000;		
}

#wall .item .flex-video.widescreen { padding-bottom: 57.25%; }
#wall .item .flex-video.vimeo { padding-top: 0; }

#wall .item .flex-video iframe,
#wall .item .flex-video object,
#wall .item .flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  #wall .item .flex-video { padding-top: 0; }
}
	/* Isotope Filtering
=================================================================== */

.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/* Isotope CSS3 transitions
=================================================================== */
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	 -moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	 transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:         top, left, opacity;
	transition-property:         transform, opacity;
}

/* Disabling Isotope CSS3 transitions
=================================================================== */

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	 transition-duration: 0s;
}

/* Disable CSS transitions for containers with infinite scrolling
====================================*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}