.tab-wrapper {
    margin-bottom: 20px;
}

.navs {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navs:before,.navs:after {
    display: table;
    content: " ";
}

.navs:after {
    clear: both;
}

.navs:before,.navs:after {
    display: table;
    content: " ";
}

.navs:after {
    clear: both;
}

.navs>li {
    position: relative;
    display: block;
}

.navs>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navs>li>a:hover,.navs>li>a:focus {
    text-decoration: none;
    background-color: #eee;
}

.navs>li.disabled>a {
    color: #999;
}

.navs>li.disabled>a:hover,.navs>li.disabled>a:focus {
    color: #999;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

.navs .open>a,.navs .open>a:hover,.navs .open>a:focus {
    background-color: #eee;
    border-color: #428bca;
}

.navs .navs-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.navs>li>a>img {
    max-width: none;
}
/* NAV TABS */
.nav-tabs-custom {
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.nav-tabs-custom > .nav-tabs {
  margin: 0;
  border-bottom-color: #f4f4f4;
}
.nav-tabs-custom > .nav-tabs > li {
  border-top: 3px solid transparent;
  margin-bottom: -2px;
  margin-right: 5px;
}
.nav-tabs-custom > .nav-tabs > li > a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.nav-tabs-custom > .nav-tabs > li > a,
.nav-tabs-custom > .nav-tabs > li > a:hover {
  background: transparent;
  margin: 0;
}
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover,
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus,
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:active {
  border-color: transparent;
}
.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #3c8dbc;
}
.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li.active:hover > a {
  background-color: #fff;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
  border-top: 0;
  border-left-color: #f4f4f4;
  border-right-color: #f4f4f4;
}
.nav-tabs-custom > .nav-tabs > li:first-of-type {
  margin-left: 0px;
}
.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
  border-left-width: 0;
}
.nav-tabs-custom > .nav-tabs.pull-right {
  float: none!important;
}
.nav-tabs-custom > .nav-tabs.pull-right > li {
  float: right;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type {
  margin-right: 0px;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
  border-left-width: 1px;
  border-right-width: 0px;
}
.nav-tabs-custom > .nav-tabs > li.header {
  font-weight: 400;
  line-height: 35px;
  padding: 0 10px;
  font-size: 20px;
  color: #444;
  cursor: default;
}
.nav-tabs-custom > .nav-tabs > li.header > .fa,
.nav-tabs-custom > .nav-tabs > li.header > .glyphicon,
.nav-tabs-custom > .nav-tabs > li.header > .ion {
  margin-right: 10px;
}
.nav-tabs-custom > .tab-content {
  background: #fff;
  padding: 10px;
 
}
.tab-pane{
text-align:justify;
}
.tab-primary.tab-wrapper.tab-bottom>.nav-tabs>li.active>a{
	border-bottom-color:#1abc9c
}
.tab-wrapper.tab-bottom>.nav-tabs>li.active>a{
	margin-top:-2px;
	border-top-color:transparent!important;
	border-bottom:2px solid #1abc9c
}
.tab-wrapper.tab-bottom>.tab-content{
	border-top:1px solid #ddd
}

.tab-wrapper.tab-bottom>.nav-tabs{
	border-bottom:none;
	margin-top:0
}
.tab-wrapper.tab-bottom>.tab-content{
	border-top:1px solid #ddd
}
.tab-wrapper.tab-left .tab-content,.tab-wrapper.tab-right .tab-content{
	overflow:auto;
	border-top:1px solid #ddd
}
.tab-wrapper .tab-content{
	border:1px solid #ddd;
	border-top:0;
	padding:10px 15px
}
.tab-primary.tab-wrapper.tab-left>.nav-tabs>li.active{
	border-left-color:#1abc9c
}
.tab-wrapper.tab-left>.nav-tabs>li.active>a{
	border-left:2px solid #1abc9c
}
.tab-wrapper.tab-left .tab-content,.tab-wrapper.tab-right .tab-content{
	overflow:auto;
	border-top:1px solid #ddd
}

.tab-wrapper.tab-left>.nav-tabs{
	float:left;
	margin-right:-3px
}

.tab-wrapper.tab-left>.nav-tabs>li>a{
	border-right:0
}

.tab-wrapper.tab-left>.nav-tabs>li.active>a{
	border-left:2px solid #1abc9c
}
.tab-wrapper.tab-left>.nav-tabs>li.active>a,.tab-wrapper.tab-right>.nav-tabs>li.active>a{
	border-top-color:#ddd!important
}
.tab-wrapper.tab-left>.nav-tabs>li,.tab-wrapper.tab-right>.nav-tabs>li{
	float:none;
	min-width:75px
}

.tab-wrapper.tab-left>.nav-tabs>li>a,.tab-wrapper.tab-right>.nav-tabs>li>a{
	border:1px solid #ddd
}

.tab-primary.tab-wrapper.tab-left>.nav-tabs>li.active{
	border-left-color:#1abc9c
}
.tab-wrapper.tab-left>.nav-tabs>li>a,.tab-wrapper.tab-right>.nav-tabs>li>a{
	border:1px solid #ddd
}
.tab-wrapper.tab-left>.nav-tabs>li,.tab-wrapper.tab-right>.nav-tabs>li{
	float:none;
	min-width:75px
}
.tab-primary.tab-wrapper.tab-right>.nav-tabs>li.active{
	border-right-color:#1abc9c
}
.tab-wrapper.tab-right>.nav-tabs{
	float:right;
	margin-left:-1px
}

.tab-wrapper.tab-right>.nav-tabs>li>a{
	border-left:0
}

.tab-wrapper.tab-right>.nav-tabs>li.active>a{
	border-right:2px solid #1abc9c
}
.tab-wrapper.tab-left>.nav-tabs>li.active>a,.tab-wrapper.tab-right>.nav-tabs>li.active>a{
	border-top-color:#ddd!important
}

.tab-wrapper.tab-left .tab-content,.tab-wrapper.tab-right .tab-content{
	overflow:auto;
	border-top:1px solid #ddd
}
.panel-title a:hover,a:active{
text-decoration:none;
font-weight:bold;

}


/*CALLOUT*/
.callout {
  margin: 20px 0;
  padding: 15px;
  border-left: 3px solid #eee;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bold;
}
.callout p:last-child {
  margin-bottom: 0;
}

.callout-success {
  background-color: #f3faf3;
  border-color: #82a253;
}
.callout-success h4 {
  color: #82a253;
}

.callout-info {
  background-color: #f4f8fa;
  border-color: #67b2d3;
}
.callout-info h4 {
  color: #67b2d3;
}

.callout-warning {
  background-color: #fcf8f2;
  border-color: #dbb747;
}
.callout-warning h4 {
  color: #dbb747;
}

.callout-danger {
  background-color: #fdf7f7;
  border-color: #dd694c;
}
.callout-danger h4 {
  color: #dd694c;
}


