.fontawesome-icon-list div {
    font-size: 18px;
    padding: 10px 10px 5px 10px;
}
.fontawesome-icon-list div:hover {
    background-color:#D9EDF7;
	 font-size: 18px;
	 transition: all 0.5s ease-in-out 0s;
	 cursor:pointer;
	 color:#3294c5;
	 border-radius:3px;
}
.fontawesome-icon-list{
margin-left:10px;
margin-right:10px;
}

/*glyphicons*/

.bs-glyphicons {
    padding-left: 0px;
    padding-bottom: 1px;
    margin-bottom: 20px;
    list-style: none outside none;
    overflow: hidden;
}
.bs-glyphicons li {
    width: 12.5%;
}
.bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    margin: 0px -1px -1px 0px;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #DDD;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.glyphicon:empty {
    width: 1em;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
	font-size: 14px !important;
margin-right: 5px;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.bs-glyphicons li:hover{
cursor:pointer;
background-color:#73d1eb;
color:#1e7994;
transition: all 1.0s ease-in-out 0s;
}
.bs-glyphicons li:hover > span.glyphicon{
transition: all 0.3s ease-in-out 0s;
font-size:26px;
}
.bs-glyphicons li{
cursor:pointer;
background-color:#f4f5f6;
color:#7c7d7d;
border:1px solid #acacac;
}
