.panel-box .panel-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.panel-box .panel-icon{
    display: table-cell;
    padding: 29px;
    width: 1%;
    vertical-align: top;
    border-radius: 0px;
	text-align: center;
}
 .dashboard-stats .stat-icon {
    line-height: 65px;
}

.text-large {
    font-size: 50px;
}
.size-h1 {
    font-size: 33px;
}
.no-margin {
    margin: 0px;
}
.panel-icon  i {
text-align:center;
}
.panel-icon:hover > i {
   cursor:pointer;
  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.8, 1.8); 
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.8, 1.8);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;

  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.80, 1.80);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}

.panel-icon  p.text{
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

.panel-box .panel-top {
    padding: 20px 20px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
.bg-instagram {
    background-color: #3F729B !important;
    color: #FFF;
}
.bg-vimeo {
    background-color: #4BF !important;
    color: #FFF;
}

.bg-github {
   background-color: #666 !important;
    color: #FFF;
}
.divider {
    display: block;
    height: 10px;
}
.panel-box .list-justified-container {
   /* padding: 15px 0px;*/
}
.panel-box ul.list-justified {
    display: table;
    width: 100%;
    list-style: none outside none;
    padding: 0px;
}
.panel-box ul.list-justified > li {
    float: none;
    display: table-cell;
    padding: 10px;
    width: 1%;
    border-right: 1px solid #EEE;
}
.panel-box ul.list-justified > li p {
    margin: 0px;
}
.size-h3 {
    font-size: 23px;
}
.size-h1 {
    font-size: 33px;
}
.panel-box {
    text-align: center;
}

/*TODO List CSS*/
.add-task{
margin-bottom:35px;

}
 .todo-list {
  margin: 0;
  padding: 0px 0px;
  list-style: none;
}
 .todo-list > li {
  padding: 10px 15px;
  background-color: #FFF;
  border:1px solid #8CA2B7;
  border-bottom:none;
  color: #8CA2B7;
}
 .todo-list > li.last-item {
   border-bottom:1px solid #8CA2B7;
} 
.todo-list > li:hover {
  cursor:pointer;
}
 .todo-list > li:last-of-type {
  margin-bottom: 0;
}
 .todo-list > li.danger {
  border-left-color: #f56954;
}
.todo-list > li.warning {
  border-left-color: #f39c12;
}
 .todo-list > li.info {
  border-left-color: #00c0ef;
}
 .todo-list > li.success {
  border-left-color: #00a65a;
}
 .todo-list > li.primary {
  border-left-color: #3c8dbc;
}
 .todo-list > li > input[type='checkbox'] {
  margin: 0 10px 0 5px;
}
 .todo-list > li .text {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
}
 .todo-list > li .label {
  margin-left: 10px;
  font-size: 9px;
}
 .todo-list > li .tools {
  display: none;
  float: right;
  color: #f56954;
}
 .todo-list > li .tools > .fa,
.todo-list > li .tools > .glyphicon,
 .todo-list > li .tools > .ion {
  margin-right: 5px;
  cursor: pointer;
}
 .todo-list > li:hover .tools {
  display: inline-block;
}
. .todo-list > li.done {
  color: #999;
}
 .todo-list > li.done .text {
  text-decoration: line-through;
  font-weight: 500;
}
 .todo-list > li.done .label {
  background: #eaeaec !important;
}
.todo-list .handle {
  display: inline-block;
  cursor: move;
  margin: 0 5px;
}
li.task-done .text {
    text-decoration: line-through;
    color: #BBB;
}
.drag{
	color:#8CA2B7;
	vertical-align: middle;
	font-size: 17px;
}

/*USER INFO*/
.usr-info .thumb {
    width: 80px;
    height: 80px;
    border-radius: 8px;
	border:4px solid #73d1eb; 
}
.usr-info h4 {
    color: #858585;
    margin-bottom: 0px;
}
.usr-info .media-body span {
    font-size: 12px;
    margin-bottom: 6px;
    display: inline-block;
}
.usr-info .media-body p {
    color: #B6BCBC;
}


/*Chat*/
.300-scroll{
height:300px !imoportant;
}
/* Chat widget */

.chat-widget ul{
	list-style-type: none;
	margin: 0px;
	padding:0px;
}

.chat-widget li{
	margin-bottom: 15px;
}

.chat-widget img{
	border-radius:4px;
	background:#fff;
}
.chat-widget .chat-meta{
	font-size: 14px;
	color: #aaa;
	margin-bottom: 5px;
}
.chat-meta i{
margin-right:3px;
font-size: 15px;
}
.chat-widget .ME .chat-content{
	background-color: #EFF1F3;
	margin-left: 70px;
	position: relative; 
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 14px;
	line-height:20px;
	color:#94979a;
}



.chat-widget .OTHER .chat-content{
	background-color: #E0E2E4;
	margin-right: 70px;
	position: relative; 
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 14px;
	line-height:20px;
	color:#898989;
}
.chat-widget .form-group{
	width:80% !important;
}

/*Activites*/

.activity-icon {
    width: 24px;
    display: inline-block;
    text-align: center;
    height: 18px;
    vertical-align: middle;
	display: inline-block;
	padding: 6px 4px 16px 5px;
	vertical-align: middle;
	text-align: center;
}
.activity-time {
    float: right;
}
