#lockScreen {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
#lockScreen.in .modal-dialog {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
#lockScreen .modal-dialog {
  display: table-cell;
  width: 270px !important;
  vertical-align: middle;
  transform: translate(0, -40px);
  -webkit-transform: translate(0, -40px);
  -moz-transform: translate(0, -40px);
  -ms-transform: translate(0, -40px);
  -o-transform: translate(0, -40px);
}
#lockScreen .modal-dialog .modal-content {
  background-color: transparent;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
}
#lockScreen .modal-dialog .modal-content .input-group {
  width: 270px;
  margin: 0 auto;
}
#lockScreen .lock-screen-img {
  text-align: center;
  margin-bottom:20px;
}
#lockScreen .lock-screen-img img {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  width: 70px;
  height: 70px;
  border:3px solid #fff;
}
.m-top-sm .h4{
margin-bottom:10px;
color:#fff;
font-weight:bold;
font-size:20px;
}