.name-tag{
padding:15px;
border-radius:3px;
background-color:rgba(255,255,255,0.3);
color:#1e7994;
font-weight:bold;
}

.m-t-lg {
    margin-top: 20px;
}
.nav-brand {
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    display: block;
}
.m-n {
    margin: 0px;
}
.panels {
    border-radius: 2px !important;
    border-color: #EBEFF6 !important;
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active,.btn-facebook {
    color: #FFF !important;
    background-color: #294279;
    border-color: #243A69;
}
.btn-block {
    padding-left: 12px;
    padding-right: 12px;
}
.btn-twitter {
    color: #FFF !important;
    background-color: #00C7F7;
    border-color: #00C7F7;
}