@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*********** TYPE 1 **********/

.ccr-pricing-table {
	margin-bottom: 30px;
}
.ccr-pricing-header {
	position: relative;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background: #fff;
}
.ccr-pricing-header:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 5px 0;
	display: block;
	width: 0;
	z-index: 1;
	bottom: 0px;
	left: 50%;
	margin-left: -5px;
}
p.ccr-price-titles {
	background: #78cfbf;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	color: #fff;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
}
.ccr-price-value {
	font-size: 64px;
	color: #fff;
	position: relative;
	text-align: center;
	 margin-top: -10px;
}
.ccr-price-value sup {
	font-size: 24px;
	position: relative;
	top: -25px;
}
.ccr-price-value span {
	font-size: 12px;
}
.ccr-price-quality { 
	font-size: 12px;
	color: #fff;
	text-align: center;
	position: relative;
	padding-bottom: 10px;
	 margin-top: -10px;
}

.ccr-pricing-ul {
	top:0px;
	padding:20px 0 20px 0;
	background: #fff;
}
.ccr-pricing-ul ul {
	display: table;
	margin: 0 auto;
}
.ccr-pricing-ul ul li {
	list-style: none;
	color:#8b8b8b;
	font-size: 12px;
	line-height: 32px;
}
.ccr-pricing-ul ul li i {
	list-style: none;
	color:#c8c8c8;
	font-size: 18px;
	position: relative;
	top: 1px;
	margin-right: 10px;
}
.ccr-pricing-footer {
	position: relative;
}
.ccr-pricing-footer:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 5px 0;
	border-color: #fff transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: 33px;
	left: 50%;
	margin-left: -5px;
}
.ccr-price-host {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
	width: 100%;
	border:none;
}
button.ccr-price-host  {
	color: #fff;
	font-size: 14px;
	line-height: 36px;
	outline: none;
}

.green .ccr-pricing-header:after {
	border-color: #81dac9 transparent;
}
.green p.ccr-price-titles{
	background: #78cfbf;
}
.green .ccr-price-value, .green .ccr-price-quality {
	background: #81dac9;
}
.green .ccr-price-host {
	background: #81dac9;
	box-shadow:-1px 2px 0 0 #7cd1c1;
}

.blue .ccr-pricing-header:after {
	border-color: #53cfe9 transparent;
}
.blue p.ccr-price-titles{
	background: #3ec6df;
}
.blue .ccr-price-value, .blue .ccr-price-quality {
	background: #53cfe9;
}
.blue .ccr-price-host {
	background: #53cfe9;
	box-shadow:-1px 2px 0 0 #47c7e1;
}


.red .ccr-pricing-header:after {
	border-color: #eb6378 transparent;
}
.red p.ccr-price-titles{
	background: #e2536b;
}
.red .ccr-price-value, .red .ccr-price-quality {
	background: #eb6378;
}
.red .ccr-price-host {
	background: #eb6378;
	box-shadow:-1px 2px 0 0 #e05e72;
}

.yellow .ccr-pricing-header:after {
	border-color: #f39c12 transparent;
}
.yellow p.ccr-price-titles{
	background: #e67e22;
}
.yellow .ccr-price-value, .yellow .ccr-price-quality {
	background: #f39c12;
}
.yellow .ccr-price-host {
	background: #f39c12;
	box-shadow:-1px 2px 0 0 #e67e22;
}

.pricing  p{
font-family: 'Open Sans', sans-serif;
}


/************** TYPE 2 ***********/
.ccr-pricing-tables {
	width: 280px;
	float: left;
	margin:15px;
	display: block;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	border:1px solid #ccc;
}
.ccr-pricing-tables:hover {	
	-webkit-transform: scale(1.05);	
	-moz-transform: scale(1.05);	
	-ms-transform: scale(1.05);	
	-o-transform: scale(1.05);	
	transform: scale(1.05);	
	box-shadow: 0px 0px 13px 2px #d7d7d7;
}
.ccr-price-title {	
	background: #19c8a7;	
	font-size: 30px;	
	color: #fff;	
	text-align: center;	
	height: 120px;	
	padding: 10px 0;
}
.ccr-price {	
	position: relative;	
	height: 75px;
}
.ccr-price .ccr-price-value {	
	color: #504f4f;	
	border-radius: 20px;
	width: 122px;
	height: 118px;	
	margin: 0 auto;	
	position: relative;	
	top: -65px;	
	text-align: center;	
	border: 4px solid #fff;	
	box-shadow: inset 0px 5px 13px -4px #585858;	
	text-shadow: 1px 1px 0px #fff;	
	background: #dedede;
	 /* Old browsers */
	background: -moz-linear-gradient(top, #dedede 0%, #b4b4b4 100%);
	 /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(100%,#b4b4b4));
	 /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dedede 0%,#b4b4b4 100%);
	 /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dedede 0%,#b4b4b4 100%);
	 /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dedede 0%,#b4b4b4 100%);
	 /* IE10+ */
	background: linear-gradient(to bottom, #dedede 0%,#b4b4b4 100%);
	 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#b4b4b4',GradientType=0 );	
	padding: 10px;
	 /* IE6-9 */
}
.ccr-pricing-tables:hover .ccr-price-value {	
	background: #73d1eb;
	 /* Old browsers */
	background: -moz-linear-gradient(top,  #73d1eb 0%, #1e7994 100%);
	 /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#73d1eb), color-stop(100%,#1e7994));
	 /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #73d1eb 0%,#1e7994 100%);
	 /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #73d1eb 0%,#1e7994 100%);
	 /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #73d1eb 0%,#1e7994 100%);
	 /* IE10+ */
	background: linear-gradient(to bottom,  #73d1eb 0%,#1e7994 100%);
	 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73d1eb', endColorstr='#1e7994',GradientType=0 );
	 /* IE6-9 */
	color: #fff;	
	text-shadow: none;	
	text-shadow: 1px 1px 0px #73d1eb;	
	box-shadow: inset 0px 5px 5px 0px #1e7994;
}
.ccr-pricing-tables p.pricing-decription {	
	padding: 0 10px;
}
ul.ccr-price-list li {	
	padding: 0px;	
	margin:0px;
}


.ccr-price-list li {	
	list-style: none;	
	text-align: center;	
	border-top:1px solid #F1F1F1;	
	color: #504f4f;
}
.ccr-price-list li:hover {	
	background: #19c8a7;	
	color: #fff;	
	border-top:1px solid #fff;
}
.ccr-price-list li {	
	line-height: 50px;	
	font-size: 16px;	
	position: relative;	
}
.ccr-pricing-tables .ccr-price-link {	
	background: #19c8a7;	
	border:0px;	
	color: #fff;	
	font-size: 20px;	
	padding:5px 20px;	
	text-align: center;	
	margin: 10px auto 20px auto;	
	display: table;
}
.ccr-pricing-tables .ccr-price-link:hover {	
	background: #e9595d;
}
.ccr-price-list li:hover:before, .ccr-price-list li:hover:after {
	opacity: 1;
}
.ccr-price-value .price, .ccr-price-value .cycle {	
	margin: 0px;
}
.ccr-price-value .price {	
	font-size: 60px;	
	line-height: 70px;
}
.ccr-price-value .cycle {	
	font-size: 20px;	
}
.ccr-pricing-tables.purple:hover .ccr-price-title,
.ccr-pricing-tables.purple li:hover,
.ccr-pricing-tables.purple .ccr-price-link:hover,
.ccr-pricing-tables.deep_green:hover .ccr-price-title,
.ccr-pricing-tables.deep_green li:hover,
.ccr-pricing-tables.deep_green .ccr-price-link:hover,
.ccr-pricing-tables.light_green:hover .ccr-price-title,
.ccr-pricing-tables.light_green li:hover,
.ccr-pricing-tables.light_green .ccr-price-link:hover,
.ccr-pricing-tables.light_blue:hover .ccr-price-title,
.ccr-pricing-tables.light_blue li:hover,
.ccr-pricing-tables.light_blue .ccr-price-link:hover,
.ccr-pricing-tables.deep_gray:hover .ccr-price-title,
.ccr-pricing-tables.deep_gray li:hover,
.ccr-pricing-tables.deep_gray .ccr-price-link:hover,
.ccr-pricing-tables.light_gray:hover .ccr-price-title,
.ccr-pricing-tables.light_gray li:hover,
.ccr-pricing-tables.light_gray .ccr-price-link:hover,
.ccr-pricing-tables.yellow:hover .ccr-price-title,
.ccr-pricing-tables.yellow li:hover,
.ccr-pricing-tables.yellow .ccr-price-link:hover,
.ccr-pricing-tables.orange:hover .ccr-price-title,
.ccr-pricing-tables.orange li:hover,
.ccr-pricing-tables.orange .ccr-price-link:hover,
.ccr-pricing-tables.red:hover .ccr-price-title,
.ccr-pricing-tables.red li:hover,
.ccr-pricing-tables.red .ccr-price-link:hover {	
	-o-transition: .2s;	
	-ms-transition: .2s;	
	-moz-transition: .2s;	
	-webkit-transition: .2s;	
	transition: .2s;
}
ul.ccr-price-list{
padding: 0px;
}
.ccr-pricing-tables.purple .ccr-price-title,
.ccr-pricing-tables.purple .ccr-price-link {
	background: #9b59b6;
}
.ccr-pricing-tables.purple:hover .ccr-price-title,
.ccr-pricing-tables.purple li:hover,
.ccr-pricing-tables.purple .ccr-price-link:hover {	
	background: #824999;
}
.ccr-pricing-tables.deep_green .ccr-price-title,
.ccr-pricing-tables.deep_green .ccr-price-link {	
	background: #1abc9c;
}
.ccr-pricing-tables.deep_green:hover .ccr-price-title,
.ccr-pricing-tables.deep_green li:hover,
.ccr-pricing-tables.deep_green .ccr-price-link:hover {	
	background: #17AD90;
}
.ccr-pricing-tables.light_green .ccr-price-title,
.ccr-pricing-tables.light_green .ccr-price-link {	
	background: #2ecc71;
}
.ccr-pricing-tables.light_green:hover .ccr-price-title,
.ccr-pricing-tables.light_green li:hover,
.ccr-pricing-tables.light_green .ccr-price-link:hover {
	background: #2DAD63;
}


.ccr-pricing-tables.light_blue .ccr-price-title,
.ccr-pricing-tables.light_blue .ccr-price-link {
	
	background: #3498db;
	

}


.ccr-pricing-tables.light_blue:hover .ccr-price-title,
.ccr-pricing-tables.light_blue li:hover,
.ccr-pricing-tables.light_blue .ccr-price-link:hover {
	
	background: #308DCC;
	

}


.ccr-pricing-tables.deep_gray .ccr-price-title,
.ccr-pricing-tables.deep_gray .ccr-price-link {
	
	background: #34495e;
	

}


.ccr-pricing-tables.deep_gray:hover .ccr-price-title,
.ccr-pricing-tables.deep_gray li:hover,
.ccr-pricing-tables.deep_gray .ccr-price-link:hover {
	
	background: #24394E;
	

}


.ccr-pricing-tables.light_gray .ccr-price-title,
.ccr-pricing-tables.light_gray .ccr-price-link {
	
	background: #95a5a6;
	

}


.ccr-pricing-tables.light_gray:hover .ccr-price-title,
.ccr-pricing-tables.light_gray li:hover,
.ccr-pricing-tables.light_gray .ccr-price-link:hover {
	
	background: #8A9899;
	

}


.ccr-pricing-tables.yellow .ccr-price-title,
.ccr-pricing-tables.yellow .ccr-price-link {
	
	background: #f1c40f;
	

}


.ccr-pricing-tables.yellow:hover .ccr-price-title,
.ccr-pricing-tables.yellow li:hover,
.ccr-pricing-tables.yellow .ccr-price-link:hover {
	
	background: #E2B70B;
	

}


.ccr-pricing-tables.orange .ccr-price-title,
.ccr-pricing-tables.orange .ccr-price-link {
	
	background: #e67e22;
	

}


.ccr-pricing-tables.orange:hover .ccr-price-title,
.ccr-pricing-tables.orange li:hover,
.ccr-pricing-tables.orange .ccr-price-link:hover {
	
	background: #D67118;
	

}


.ccr-pricing-tables.red .ccr-price-title,
.ccr-pricing-tables.red .ccr-price-link {
	
	background: #e74c3c;
	

}


.ccr-pricing-tables.red:hover .ccr-price-title,
.ccr-pricing-tables.red li:hover,
.ccr-pricing-tables.red .ccr-price-link:hover {
	
	background: #CF4335;
	

}



/*.hot-ribbon {
	
	position: absolute;
	

}

*/

.hot-ribbon {
	
  width: 85px;
	
  height: 88px;
	
  overflow: hidden;
	
  position: absolute;
	
  top: -3px;
	
  right: -3px;
	

}



.ribbon-right {
	
  font: bold 15px Sans-Serif;
	
  text-align: center;
	
  text-shadow: rgba(117, 7, 7, 0.5) 0px 1px 0px;
	
  -webkit-transform: rotate(45deg);
	
  -moz-transform:    rotate(45deg);
	
  -ms-transform:     rotate(45deg);
	
  -o-transform:      rotate(45deg);
	
  position: relative;
	
  padding: 7px 0;
	
  left: -5px;
	
  top: 15px;
	
  width: 120px;
	
  background-color: #FF6F6F;
	  
  color: #FFFFFF;
	

}



.ribbon-right:before, .ribbon-right:after {
	
  content: "";
	
  border-top:   3px solid #E0271F;
	   
  border-left:  3px solid transparent;
	
  border-right: 3px solid transparent;
	
  position:absolute;
	
  bottom: -3px;
	

}



.ribbon-right:before {
	
  left: 0;
	

}


.ribbon-right:after {
	
  right: 0;
	

}



.view-details {
	
	display: none;
	

}

.ccr-pricing-tables {
	
	position: relative;
	
	font-family: 'Open Sans', sans-serif;
	

}

/*For Responsive*/

@media (max-width: 649px) {
	
	/*Reset Animation*/

	.ccr-pricing-tables {
		
		width: 100%;
		
		float: left;
		
		margin:0;
		
		margin-bottom: 50px;
		
	
	}

	


}



