.panel-box {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    border: medium none;
}
.panel-box .panel-top {
    padding: 21px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.text-center {
    text-align: center;
}
.text-center  p {
    margin: 0px 0px 10px;
}
.divider-lg {
    height: 30px;
}
.divider {
    display: block;
}
.panel-box .panel-img {
    display: block;
    margin: -75px auto 0px;
    border-radius: 25px;
    border: 10px solid #FFF;
    width: 150px;
    height: 150px;
    line-height: 80px;
    text-align: center;
    font-size: 58px;
    text-shadow: -6px 8px 5px rgba(0, 0, 0, 0.3);
}
.panel-box .panel-img {
    padding: 0px;
}

.panel-box ul.list-justified {
    display: table;
    width: 100%;
    list-style: none outside none;
    padding: 0px;
}
.panel-box ul.list-justified > li {
    float: none;
    display: table-cell;
    padding: 10px;
    width: 1%;
    border-right: 1px solid #EEE;
}
.panel-box ul.list-justified > li p {
    margin: 0px;
}
.size-h3 {
    font-size: 24px;
}
.panel-box ul.list-justified > li p {
    margin: 0px;
}
.text-muted {
    color: #999;
}
.panel-box .panel-img img {
    width: 100%;
    max-width: 100%;
}
.img-circle {
    border-radius: 14px;
}
img {
    vertical-align: middle;
}
 .profile-desk h1 {
    color: #81DAF6;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
}
.profile-desk {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
}
.profile-desk  p{
    text-align:justify;
}
.mini-box {
    min-height: 120px;
    padding: 25px;
}
.mini-box .box-icon.rounded {
    border-radius: 50%;
}
.mini-box .box-icon {
    display: block;
float: left;
margin: 0px 10px 10px 0px;
width: 60px;
height: 60px;
line-height: 60px;
vertical-align: middle;
text-align: center;
font-size: 35px;
border-radius: 4px;
}
.mini-box .box-info p {
    margin: 0px;
}
.size-h2 {
    font-size: 30px;
}
.mini-box .box-info p {
    margin: 0px;
}
.m-t-20 {
    margin-top: 20px;
}
.list-unstyled {
    padding-left: 0px;
    list-style: none outside none;
}
.list-info li {
    padding: 10px;
    border-bottom: 1px solid #EEE;
}
.list-info li .icon {
    margin-right: 10px;
    color: #248AAF;
}
.olive {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.olive:after, .olive:before {
    display: table;
}

.olive-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #E7EAEC;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
}

.olive-content {
    background-color: #FFFFFF;
    color: inherit;
    padding: 15px 20px 20px 20px;

    border-color: #E7EAEC;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.mail-body {
    border-top: 1px solid #E7EAEC;
    padding: 20px;
}

.mail-text {
    border-top: 1px solid #E7EAEC;
}

.mail-text .note-toolbar {
    padding: 10px 15px;
}

.mail-body .form-group {
    margin-bottom: 5px;
}

.mail-text .note-editor .note-toolbar {
    background-color: #F9F8F8;
}

.mail-attachment {
    border-top: 1px solid #E7EAEC;
    padding: 20px;
    font-size: 12px;
}

.mailbox-content {
    background: none;
    border: none;
    padding: 10px;
}

.mail-ontact {
    width: 23%;
}

table.table-mail tr td {
    padding: 12px;
}

.table-mail .check-mail {
    padding-left:20px ;
}

.table-mail .mail-date {
    padding-right: 20px;
}

.star-mail, .check-mail {
    width: 40px;
}

.unread td a, .unread td {
    font-weight: 600;
    color: inherit;
}

.read td a, .read td {
    font-weight: normal;
    color: inherit;
}

.unread td {
    background-color: #f9f8f8;
}

.olive-content {
    clear: both;
}

.olive-heading {
    background-color: #f3f6fb;
    border-bottom: none;
}

.olive-heading h3 {
    font-weight: 200;
    font-size: 24px;
}
.olive-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.olive-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    position: relative;
    padding: 0;
}

.olive-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #c4c4c4;
}

.olive-tools .dropdown-menu > li > a {
    padding: 4px 10px;
    font-size: 12px;
}
.olive-content {
    background-color: #FFF;
    color: inherit;
    padding: 15px 20px 20px;
    border-color: #E7EAEC;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}
.feed-element:first-child {
    margin-top: 0px;
}
.feed-activity-list .feed-element {
    border-bottom: 1px solid #E7EAEC;
}
.feed-element {
    padding-bottom: 15px;
}
.feed-element, .media-body {
    overflow: hidden;
}
.feed-element img.img-circle, .dropdown-messages-box img.img-circle {
    width: 38px;
    height: 38px;
}
.text-navy {
    color: #1AB394;
}
.feed-element .actions {
    margin-top: 10px;
}
.feed-element, .feed-element .media {
    margin-top: 15px;
    margin-bottom: 15px;
}
.feed-element > .pull-left {
    margin-right: 10px;
}
.img-crl {
    border-radius: 7px;
}
.feed-element .well {
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 16px;
}
.widget {
    background-color: #FFF;
    margin-bottom: 10px;
    position: relative;
}
