
/*********** BASIC SEARCH CSS *******/
.m-b-20 {
    margin-bottom: 20px !important;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0px;
}
.input-group-btn {
    position: relative;
    font-size: 0px;
    white-space: nowrap;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
   /* margin-left: -1px;*/
}
.m-t-o{
margin-top:0px !important;
}
.m-l-10 {
    margin-left: 10px !important;
}
.m-b-20 {
    margin-bottom: 20px !important;
}

.info > .active > a{
color: #FFF;
background-color: #5BC0DE;
border-color: #5BC0DE;

}
.info > li > a{
color:#5BC0DE;
}

.primary > .active > a{
color: #FFF;
background-color: #428BCA;
border-color: #428BCA;
}
.primary > li > a{
color:#428BCA;
}
.danger > .active > a{
color: #FFF;
background-color: #D9534F;
border-color: #D9534F;
}
.danger > li > a{
color:#D9534F;
}
.success > .active > a{
color: #FFF;
background-color: #5CB85C;
border-color: #5CB85C;
}
.success > li > a{
color:#5CB85C;
}

/********** booking search CSS  ***********/
.result-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
	margin-top:45px;
}
.result-list > li {
    background: none repeat scroll 0% 0% #FFF;
	border:1px solid #ccc;
    border-radius: 3px;
    
}
.result-list {
    list-style-type: none;
}
.result-list .result-image {
    width: 240px;
    padding: 0px;
    overflow: hidden;
    background: none repeat scroll 0% 0% #1ABC9C;
    vertical-align: middle;
}
.result-list > li > div {
    display: table-cell;
    vertical-align: top;
    position: relative;
}
.result-info,.result-price{
padding:20px;
}
.result-list .result-image a {
    display: block;
}
.result-list .result-image img {
    width: 100%;
}
.result-list .result-image img:hover {
    opacity:0.7;
}
.result-list .title {
    margin: 0px 0px 8px;
    font-size: 20px;
    line-height: 24px;
}
.result-list .location {
    color: #999;
}
.result-list .desc {
    margin-bottom: 20px;
    max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
}
.result-list .btn-row a {
    color: #666;
    font-size: 20px;
    line-height: 14px;
    opacity: 0.2;
}	
.result-list .result-price {
    width: 240px;
    font-size: 28px;
    text-align: center;
    border-left: 1px dashed #DDD;
    padding-top: 30px;
}
.result-list .result-price small {
    display: block;
    font-size: 12px;
    color: #999;
}
.result-list .result-price .btn {
    margin-top: 30px;
}
.result-list > li + li {
    margin-top: 10px;
}
.location i{
margin-right:5px;
color:#e66d6a;
}
.result-list .btn-row a + a {
    margin-left: 10px;
}
.stars {
    padding: 0px;
    margin: 0px 0px 5px;
}
.stars li {
    padding: 0px;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.stars li i {
    color: #F8BE2C;
    cursor: pointer;
    font-size: 16px;
}
.stars li i.emp{
   border-color: #F8BE2C;
   border:1px solid ;
    cursor: pointer;
    font-size: 16px;
}
.label-trq{
background-color:#1ABC9C;
}
.result-list > li:after, .result-list > li:before {
    content: "";
    display: table;
    clear: both;
}
@media only screen and (max-width:480px){

 .result-image{
		width:100% !important;
		float:none
	}

	.result-list .result-image a{
		position:relative
	}

	.result-list>li>div{
		display:block;
		width:100%
	}

	.result-list>li>.result-price{
		border-left:none;
		border-top:1px dashed #ddd;
		width:100%;
		padding:15px
	}

	.result-list .btn-row{
		text-align:center
	}

	.result-list .result-price .btn{
		margin-top:15px
	}

}
@media only screen and (max-width:980px){
	 .result-image,.result-list .result-price{
		width:200px ;
	}

}
@media only screen and  (max-width:767px){
	

	 .result-image{
		width:160px
	}

	.result-list .result-price{
		width:100px;
		font-size:20px
	}

	.result-list>li>div{
		padding:15px
	}

}

/************ Classic search **********/
.line-dashed {
    border-top: 1px dashed #cdd1d3;
    color: #FFF;
    background-color: #FFF;
    height: 1px;
    margin: 20px 0px;
}
.search-result h3 {
    margin-bottom: 0px;
    color: #1E0FBE;
}
.search-result h3 a {
    color: #428BCA;
    text-decoration: none;
}
.search-result .search-link {
    color: #006621;
}
.search-result p {
    font-size: 12px;
    margin-top: 5px;
	text-align:justify;
}

/********* User Search ********/

.media-sm .media-object {
    width: 70px;
	
}
.media-object {
    display: block;
}
.img-square {
    border-radius: 10px !important;
   
}
.media_new{
border-radius:5px;
border:1px solid #ccc;
padding:5px;
}
.rght{
text-align:right;
}
.pad .media{
overflow:visible !important;
}
.pad .media-body{
	overflow:visible  !important;
}
.media-heading{
margin-top:5px;
}
ul.media-dotted{
margin-bottom:0px !important ;
}
.member {
    border: medium none;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: -15px;
    padding: 0px;
}
.member {
    border: 1px solid #EBEBEB;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px rgba(0, 1, 1, 0.03);
    transition: all 300ms ease-in-out 0s;
    border-radius: 3px;
    margin-right: 10px;
}
 .member-entry img {
    max-width: 96px;
	border-radius:10px;
}
.member-entry img {
    max-height: 160px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.m-t-0 {
    margin-top: 0px !important;
}
.align-right {
    text-align: right;
}
.c-gray-light {
    color: #DADADA !important;
}
.p-r-10 {
    padding-right: 10px !important;
}
.pad{
padding:10px;
}
.search-user li{
border:1px solid #ECECEC;
padding:10px;
border-radius:1px;
margin-bottom:10px;
}
.search-user .img-circle {
    border-radius: 3px;
}
.text-center{
vertical-align: middle;
}
.themed-background-muted {
    background-color: #F9F9F9 !important;
}
.widget-icon {
    width: 74px;
    height: 74px;
    line-height: 70px;
    font-size: 28px;
    text-align: center;
    border-radius: 50%;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.05);
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.push {
    margin-bottom: 15px !important;
}
.file .text-file{
color:#454E59;
}
.file p{
margin-bottom:3px;
}