.w-100{
width:100%;
}

.tiles {
    padding: 15px;
    margin-bottom: 30px;
    background: none repeat scroll 0% 0% #FFF;
}
.text-center {
    text-align: center;
}
.tiles.facebook-tile {
    color: #FFF !important;
    background-color: #4B66A0;
}
.icon-lg-size {
    font-size: 45px;
    padding: 15px 0px;
}
.tiles.twitter-tile {
    color: #FFF !important;
    background-color: #55ACEE;
}
.tiles.dribbble-tile {
    color: #FFF !important;
    background-color: #E04C86;
}
.tiles.youtube-tile {
	color: #FFF !important;
    background-color: #E9573F;

}
.tiles.linkdin-tile {
	color: #FFF !important;
    background-color: #007BB6;

}

.tiles.tumbler-tile {
	color: #FFF !important;
    background-color: #2C4762;

}
.tiles a{
 color: #FFF !important;
}
.widget span.label{
margin-left:12px;
}
.widget-content {
    padding: 15px;
}
.widget-social{
	background-color:#fff;
	margin-bottom:10px;
}
.bgcolor-success {
    background-color: #1A83A0 !important;
    color: #FFF !important;
    border-color: #1A83A0 !important;
}
.list-unstyled {
    padding-left: 0px;
    list-style: none outside none;
}
.mt15 {
    margin-top: 15px !important;
}
.mb15 {
    margin-bottom: 15px !important;
}
.text-center {
    text-align: center;
}
.size-65 {
    width: 65px;
    height: 65px;
}
.img-circle {
    border-radius: 9px;
}
.img-bordered {
    box-shadow: 0px 0px 0px 3px #FFF;
}
.nav-justified {
    width: 100%;
}
.nav-section.nav-justified > li {
    display: table-cell;
    width: 1%;
}
.nav-section > li {
    position: relative;
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.thumbs {
    width: 64px;
    display: inline-block;
}
.b-3x {
    border-width: 3px;
}
.m-r {
    margin-right: 15px;
}
.thumbs img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.avatar img {
    border-radius: 4px;
}
.text-xs {
    font-size: 10px;
}
.icon-muted {
    color: #CCC;
}
.nav-tabs.nav-justified>li {
    float: none;
}

.nav-tabs.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center;
}

.nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }

    .nav-tabs.nav-justified>li>a {
        margin-bottom: 0;
    }
}

.nav-tabs.nav-justified>li>a {
    margin-right: 0;
    border-radius: 4px;
}

.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus {
    border: 1px solid #ddd;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }

    .nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus {
        border-bottom-color: #fff;
    }
}
.nm {
    margin: 0px !important;
}
.nav-section > li > .section, .nav-section > li > a {
    position: relative;
    padding: 5px 10px;
    margin: 0px;
    text-align: center;
}
.panel > .thumb {
    border-radius: 0px;
    border-width: 0px;
    margin: 0px;
}
.panel .thumb {
    border-radius: 0px;
    border: 0px none;
    margin-bottom: 0px;
}
.thumb {
    position: relative;
    padding: 0px;
    border-width: 0px;
    border-radius: 3px;
}
.thumb {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    transition: all 0.2s ease-in-out 0s;
}
.thumb .media {
    position: relative;
    overflow: hidden;
    margin-top: 0px;
}
.thumb .media > .indicator {
    display: block;
    z-index: 1;
}
.indicator {
    display: none;
    position: absolute;
    z-index: 999;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    cursor: progress;
}
.indicator > .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
    width: 18px;
    height: 18px;
    background-image: url('../image/spinner.gif');
    background-repeat: no-repeat;
}
.thumb .media > img.unveiled[data-toggle="unveil"] {
    opacity: 1;
}

.thumb .media > img[data-toggle="unveil"] {
    opacity: 0;
    transition: opacity 0.2s ease 0s;
}
.thumb .media > img {
    z-index: 2;
    border-radius: 3px;
    border: 0px none;
    position: relative;
}
.thumb .media .meta.bottom {
    top: auto;
    bottom: 0px;
    border-radius: 0px 0px 3px 3px;
}
.thumb .media .meta {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    right: 0px;
    color: #FFF;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.size-75 {
    width: 75px;
    height: 75px;
}
.border {
    border: 3px solid #FFF;
}
.panel-body.full {
    padding: 0px;
}
 .right-action {
    position: absolute;
    top: 0px;
    right: 19px;
    z-index: 9;
}
.btn.btn-square {
    border-radius: 0px;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.no-border {
    border: medium none;
}
.user-info {
    padding-top: 50px;
    position: relative;
}
.user-info .social-avatar.absolute {
    top: -40px;
}
.social-avatar.absolute {
    position: absolute;
    left: 50%;
    margin-left: -40px;
}
.has-white-shadow {
    box-shadow: 0px 0px 0px 3px #FFF;
}
.social-avatar {
    width: 80px;
    height: 80px;
}
p.bordered {
    border-top: 1px solid #EDF0F2;
    border-bottom: 1px solid #EDF0F2;
    padding: 10px 0px;
    margin: 5px 0px 20px;
}
.text-muted {
    color: #AAB2BD;
}
.social-icon {
    margin: 15px 0px 15px 15px;
}
.icon-facebook, a .icon-facebook, a:focus .icon-facebook {
    background-color: #4B66A0;
    color: #FFF;
    text-decoration: none;
}
.icon-xs {
    width: 30px;
    height: 30px;
    padding: 7px 0px;
}
.icon-circle {
    border-radius: 10px;;
    text-align: center;
    display: inline-block;
}
.social-icon i {
    margin: 0px 5px;
	margin-bottom:15px;
}
a .icon-twitter, a:focus .icon-twitter, .icon-twitter {
    background-color: #55ACEE;
    color: #FFF;
    text-decoration: none;
}
.icon-dribbble, a .icon-dribbble, a:focus .icon-dribbble {
    background-color: #E04C86;
    color: #FFF;
    text-decoration: none;
}
.icon-google-plus, a .icon-google-plus, a:focus .icon-google-plus {
    background-color: #D24333;
    color: #FFF;
    text-decoration: none;
}
.panel-profile .profile {
    margin: 5px 15px 5px 5px;
    border-radius: 10px;
   border:3px solid #fff;
}
.pull-left {
    float: left !important;
}
.panel-profile .profile img {
    border-radius: 10px;
}
img.img80_80 {
    width: 80px;
    height: 80px;
}
.the-box.no-border {
    border: medium none;
}
.bg-primary {
    background-color: #81DAF6 !important;
    color: #FFF;
}
.bg-light {
    background-color: #5be2c7;
    color: #FFF;
}
h4.bolded{
	color: #1e7994;
}
h4.bold{
	font-weight:bold;
}
.text-lights{
 color: #1e7994 !important;
}
.btn-d {
    color: #FFF;
    background-color: #1e7994;
    border-color: #1e7994;
}
.img-bordered-primary {
    box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 4px #2189a6;
}
.s-avatar.has-margin {
    margin: 10px 0px;
}
.has-dark-shadow {
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.s-avatar {
    width: 80px;
    height: 80px;
	border:5px solid #1e7994;
}
.the-box {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #D5DAE0;
    position: relative;
	background: none repeat scroll 0% 0% #FFF;
}
.the-box.no-margin {
    margin: 0px;
}
.the-box.no-border {
    border: medium none;
}
.bg-pri {
    background-color: #81DAF6;
    color: #FFF;
}
.white-text {
    color: #FFF;
}
.panel-dark {
    border-color: #17708a;
}
.weather-widget {
    position: relative;
}
.no-padding {
    padding: 0px !important;
}
.weather-widget .row {
    border-radius: 2px;
}
.bg-dark, .bg-dark footer {
    background-color: #535A6C;
    color: #CBCED3;
}
.bg-white, .bg-white footer {
    background-color: #FFF;
    color: #4D4D4D;
}
.pd-md {
    padding: 15px;
}
.mg-t-sm {
    margin-top: 10px;
}
.weather-widget .current-date {
    padding: 39px 0px;
}
.weather-widget .current-date {
    padding: 39px 0px;
}
.text-uppercase {
    text-transform: uppercase;
}
.weather-widget li {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.weather-widget span {
    display: inline-block;
}
.list-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.list-table > li:first-child {
    padding-left: 0px;
}
.list-table > li {
    display: table-cell;
    table-layout: fixed;
    vertical-align: middle;
    width: auto;
    padding: 0px 5px;
}
.panel-box .panel-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.panel-box .panel-item {
    display: table-cell;
    padding: 30px;
    width: 1%;
    vertical-align: top;
    border-radius: 0px;
}
.panel-box .panel-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.panel-box .panel-item {
    display: table-cell;
    padding: 30px;
    width: 1%;
    vertical-align: top;
    border-radius: 0px;
}
.size-h1 {
    font-size: 33px;
}
.text-muted {
    color: #999;
}
.text-huge {
    font-size: 72px;
}
.plan-block {
    text-align: center;
}
.data-block {
    position: relative;
    margin-bottom: 20px;
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 6px;
}
.data-block section {
    padding: 20px;
}
.plan-block i {
    margin-top:30px;
    margin-bottom:30px;
}
.plan-block h3 {
    margin: 0px;
	color:#fff !important;
}
.pro-box {
    border-collapse: collapse;
    border-spacing: 0px;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.post-highlight.purple {
    background: none repeat scroll 0% 0% #8175C7;
    border-radius: 4px 0px 0px 4px;
}
.post-wrap aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding-top: 50px;
padding-bottom: 43px;
    vertical-align: top;
}
.v-align {
    vertical-align: middle !important;
}
.post-highlight.purple h2 {
    font-size: 16px;
    color: #FFF;
    font-style: italic;
    padding: 0px 20px;
    line-height: 22px;
    margin: 0px;
    font-weight: 300;
}
.post-highlight.purple small {
color:#fff;
}
.post-info {
    position: relative;
}
.arrow-pro.left:after {
    border-left-color: #8175C7;
    border-right-width: 0px;
    top: 70px;
    content: " ";
}
.text-center {
    text-align: center;
}
.twite i {
    font-size: 70px;
    margin-top: 10px;
    color: #58C9F3;
}
.twite h1 {
    margin: 30px 0px 15px;
}
.post-info h1 {
    margin: 0px;
    font-size: 16px;
    color: #909090;
    font-weight: 300;
}
.custom-trq-footer {
    background: none repeat scroll 0px 0px #4EB6B7;
    color: #FFF;
    border-top: medium none;
}
ul.user-states {
    list-style-type: none;
    padding-bottom: 20px;
}
ul.user-states li {
    text-align: center;
    float: left;
    width: 33%;
    font-size: 18px;
}
ul.share-list {
    padding: 0px;
    margin: 0px;
    width: 100%;
    float: left;
    background: none repeat scroll 0% 0% #57c5d5;
    list-style-type: none;
	margin-bottom:17px;
}
.red ul.share-list {
    padding: 0px;
    margin: 0px;
    width: 100%;
    float: left;
    background: none repeat scroll 0% 0% #f17455 !important;
    list-style-type: none;
	margin-bottom:17px;
}
.red ul.share-list li a {
	border-right: 1px solid #f17455;
}
.red ul.share-list li.active a {
    background: none repeat scroll 0% 0% #d3654a;
}
.lblue ul.share-list {
    padding: 0px;
    margin: 0px;
    width: 100%;
    float: left;
    background: none repeat scroll 0% 0% #7ACBEE  !important;
    list-style-type: none;
	margin-bottom:17px;
}
.lblue ul.share-list li a {
	border-right: 1px solid #7ACBEE ;
}
.lblue ul.share-list li.active a {
    background: none repeat scroll 0% 0% #5EADCF;
}
ul.share-list li a {
    padding: 28px;
    font-size: 23px;
    color: #FFF;
    border-right: 1px solid #52bdcd;
}
ul.share-list li a {
    width: 25%;
    float: left;
    text-align: center;
}
ul.share-list li.active a {
    background: none repeat scroll 0% 0% #41a5b4;
}
.weather h1,.weather h4{
color:#fff !important;
} 
