/**
 * UI Icons
 */
/*
   DEMO ONLY: Used for demo purposes only
 */
/* General */
.metrize-icon-list,
.bs-glyphicons {
  margin: 0 0 20px 0;
  padding: 0;
}
/* Metrize Icons */
.metrize-icon-list .box1 {
  font-size: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 30px;
  display: block;
}
.metrize-icon-list .box1:hover {
  background: #eeeeee;
}
.metrize-icon-list .box1 span {
  font-size: 32px;
  float: left;
  margin-right: 3px;
}
.metrize-icon-list .box1:hover span {
  color: #ffd040;
}
/* Glyphicons */
.bs-glyphicons li {
  padding-bottom: 10px;
  padding-top: 10px;
  list-style: none;
}
.bs-glyphicons li:hover {
  background: #eeeeee;
}
.bs-glyphicons li .glyphicon {
  font-size: 14px;
  margin-right: 10px;
}
.bs-glyphicons li:hover .glyphicon {
  color: #ffd040;
}
.glyphicon-class {
  font-size: 12px;
}
