html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, textarea, select, p, blockquote, th, td {margin: 0;padding: 0;}
html, body {height: 100%;width: 100%;}
body {font-family:'Microsoft YaHei',Arial,Verdana;font-size:12px;}
label{font-weight:400;}
.hr{height:5px; overflow:hidden;clear:both;}/*分隔符*/
.btnlrm {margin:0 3px; cursor:pointer}
/*easyui通用样式*/
.panel-body{ overflow:auto;}/*iframe 100% q*/
.cc .panel-title{height:35px; line-height:35px;}
.datagrid .panel-title{height:20px; line-height:20px;}
.window .window-header .panel-title {padding-left:30px; line-height:33px;}

.exceed{white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;} /*datagrid超出内容...*/
.switchbutton,.switchbutton-handle{-webkit-border-radius:15px;border-radius:15px;} /*开关边缘*/

.accordion-header .panel-tool .fa {color:#575765}
.accordion-header-selected .panel-tool .fa {color:#fff}

.user-header {height:150px;}

.tree-folder {background:url('');line-height:20px;margin-top:3px;font:normal normal normal 14px/1 FontAwesome;font-size:small;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.tree-folder:before{content:"\f07b"}
.tree-folder-open {background:url('');margin-top:3px;font:normal normal normal 14px/1 FontAwesome;font-size:small;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.tree-folder-open:before{content:"\f07c"}
.tree-file { background:url('');line-height:20px;margin-top:3px;font:normal normal normal 14px/1 FontAwesome;font-size:small;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.tree-file:before{content:"\f0f6"}
.tree-collapsed {background:url(''); margin-top:3px; margin-right:-5px; display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.tree-collapsed:before{content:"\f0da"}
.tree-expanded {background:url('');margin-top:3px; margin-right:-5px; display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.tree-expanded:before{content:"\f0d7"}

.tree-icon{margin-top: 3px;}
.tree-hit{margin-top: 6px;}
.tree-node{padding-left:20px;height: 20px;line-height:20px;}
.tree-title{ padding-left:4px;color:#444;line-height: 20px;}
.tree-file{overflow:auto;background: url('');vertical-align: middle;}
.tree-folder, .tree-folder-open{background: url('');line-height: 19px;}
.tree-node-selected{background: #e7eaec;color:#444;}
.tree-node-hover{background: #e7eaec;color: #000000;}
.tree-node-hover .tree-title{color: #000000;}


.tabs{padding-left:0;}
.tabs-header{border-width: 0px;}
.tabs-icon{margin-top:-8px;left:12px;}
/*.tabs li a.tabs-inner{padding: 0 15px;}*/

.btns,.btns:hover{color: #fff;border-color:#4cae4c;background:#5cb85c;width:60px;height:26px;}
a.btns:hover{background-color:#449d44;border-color:#398439;filter: none;}

.btnc,.btnc:hover{color: #fff;border-color: #d43f3a;background: #d9534f;width:60px;height:26px;}
a.btnc:hover{background-color:#c9302c;border-color:#ac2925;filter: none;}

.mvctool .l-btn-left {margin:7px;}
.mvctool .rightdiv {height:32px; line-height:32px;float:right;margin-right:30px;}
.mvctool .datagrid-btn-separator {margin:7px 2px;height:20px; }
.combobox-item {cursor:pointer}
.combo-p .panel-body {overflow:auto}
/*color*/
.color-red{color:red}
.color-green{color:green}
.color-blue{color:#142ea7}
.color-gray{color:gray}
.color-yellow{color:#eb9d20}
.color-white {color:#fff}
.color-grayblack {color:#666}
.color-black {color:#444}
.bgcolor-org {background:#ff6600}
.bgcolor-green {background:#23a50f}
.bgcolor-blue {background:#116cc4}
/*font size*/
.fx14{font-size:14px;}
.fx16{font-size:16px;}
.fx18{font-size:18px;}
/*tools*/
.mvctool {height: 36px;}
.bgb {background-color: #fafafa;border-bottom: 1px solid #e7eaec;padding-top:4px;padding-left:5px;}

/*通用
===============================================*/
table {border-spacing: 0;}
.tablespacing {border-spacing: 3px;}
.clear{ clear:both}
fieldset, img {border: 0 none;}
li {list-style: none outside none;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
cite, em {font-style: normal;}
.clearfix:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}
label[disabled="true"], label[disabled=""], label[disabled="disabled"] {color: #000000;}
a:link, a:visited {text-decoration: none;}
a:hover {text-decoration:none;}
.left {float: left;}
.right {float:right}
.displaynone{display:none}
.fl{ float:left}
.fr{ float:right}
.tl {text-align:left}
.tr {text-align:right}
.tc {text-align:center}
.nobegin {color:#038bff; font-size:14px;font-weight:bold}
.spanpass {color:#2adc59; font-size:14px;font-weight:bold}
.spanfail {color:#ff0000; font-size:14px ;font-weight:bold}
header,footer,nav,section {display: block;}
.pd10{ padding:10px}
.pd3{ padding:3px}
.pd0{ padding:0px}
.pt5{ padding-top:5px}
.pt10{ padding-top:10px}
.pr5{ padding-right:5px}
.pr10{ padding-right:10px}
.pr20{ padding-right:20px}
.pb5{ padding-bottom:5px}
.pb10{ padding-bottom:10px}
.pl5{ padding-left:5px}
.pl10{ padding-left:10px}
.pl20{ padding-left:20px}
.mt2{ margin-top:2px}
.mb2{ margin-bottom:2px}
.mt5{ margin-top:5px}
.mb5{ margin-bottom:5px}
.mb-3{ margin-bottom:-3px}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.lh24{ line-height:24px}
.lh30{ line-height:30px}
.gray {color:gray}
.wid100f{width:100%}.wid50f{width:50%}.wid80{ width:80px}.wid100{ width:100px}.wid120{ width:120px}.wid150{ width:150px}.wid590{ width:590px}

.label {display: inline;padding: .2em .4em .2em;line-height: 1;/*color: #fff;*/text-align: center;border-radius: 4px;font-size: 12px;text-shadow: none;font-weight: normal;display: inline-block;}
.label-success {background-color: #5cb85c;}
.label-info {background-color: #5bc0de;}
.label-error {background-color: #c81f1f;}

.custom-panel {width:100%;border-bottom:1px #d3d3d3 solid;height:35px;}
.custom-panel-icon {margin:10px 0 10px 2px;color:#666;float:left;}
.custom-panel-title {color:#666;margin-left:8px;margin-top:6px; font-size:14px;float:left;}

/*file容器样式*/
a.files{ margin:0 auto; float:left; margin-left:5px; line-height:26px; text-align:center;color:#444; width:48px; height:26px; overflow:hidden; display:block; border:1px solid #d7d7d7; background:url(Images/upbtn_bg.png) left top no-repeat;text-decoration:none; }
/*file设为透明，并覆盖整个触发面*/
a.files input{ margin-left:-270px; font-size:24px; cursor:pointer; filter:alpha(opacity=0); opacity:0; }
/*取消点击时的虚线框*/
a.files, a.files input{ outline:none;/*ff*/hide-focus:expression(this.hideFocus=true);/*ie*/ }
.uploading{ float:left; background:url(loading2.gif) no-repeat left center; padding-left:18px;display:none; line-height:24px; height:24px; color:#333; }
.expic{cursor: pointer; width: 140px; height: 140px; border: 1px #ccc solid;}
.uploading{ float:left; background:url(Images/loading2.gif) no-repeat left center; padding-left:18px;display:none; line-height:24px; height:24px; color:#333; }
#FileUpload{ width:140px;}

/*full setting*/
.fullSet{width:0;height:0;border-width:35px 0 35px 35px;border-style:solid;border-color:rgba(0,0,0,0.6) transparent transparent;background-clip:padding-box;position:fixed;right:0;top:0}
#fullSetButton{color:#fff;cursor:pointer;position:fixed;right:0;top:0;padding:2px;}

.upload_btn{ *padding:5px 0 0 5px; border:1px solid #d7d7d7; background:url(Images/upbtn_bg.png) repeat-x left 1px; color: #707070; cursor:pointer; overflow:hidden; vertical-align:middle; }
/*from*/
/* Styles for validation helpers
-----------------------------------------------------------*/
.text-box{}
input[type="text"],input[type="number"],input[type="datetime"],input[type="password"],select,textarea{height:18px;/*display:block;*/padding:5px 3px;font-size:14px;line-height:14.3px;color:#555;vertical-align:middle;background:#fff;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border:1px #ccc solid;}
input[type="text"] {width:280px;}
select {height:32px;}
textarea{border:1px #ccc solid;}
.searchText{float:left; margin:1px 5px 0 0;height:12px;border:1px #ccc solid;}
.searchDrop{float:left; margin:1px 5px 0 0;height:30px;border:1px #ccc solid;font-size:12px;padding:2px 2px;}
.formtable {width:100%;border-collapse:collapse;font-size:12px;}
.formtable th{height:50px; font-weight:normal; text-align:right;font-size:12px;}
.formtablenormal {width:100%;border-collapse:collapse;font-size:12px;}
.formtablenormal th{height:30px; font-weight:normal; text-align:right;font-size:12px;}
.formtablenormal td { padding:3px;
    }



.field-validation-error{background:url(Images/icons.png) no-repeat 0px -271px;padding-left:18px; margin-bottom:-3px;color: #ff0000; font-size:13px;display:block  }

.field-validation-valid{display: none;}
input.input-validation-error,select.input-validation-error,textarea.input-validation-error{border: 1px solid #ff0000;background-color: #ffeeee;}
.validation-summary-errors{font-weight: bold;color: #ff0000;}
.validation-summary-valid{display: none;}



/*easyui inherit*/

/* Styles for editor and display helpers----------------------------------------------------------*/
fieldset{width: 100%;margin-left: 4px;padding: 1em;border: 1px solid #CCC;}
legend{font-size: 1.1em;font-weight: 600;padding: 2px 4px 8px 4px;}
.search{width: 600px;float: left;}




#ErrMesList{ display:none; }
#ErrMesListContent{padding-left:10px;min-width:200px; line-height:22px;}
#ErrMesListContent ul li{list-style:disc}



/* 即时消息 */
.webim-logo{}
.webim-logo2{color:#1e5dda; background:url('/Content/WebIM/css/images/webimlogo2.gif') no-repeat; padding-left:22px;}
.webim-logo img{ }
.icon-webim{ background:url(WebIM/css/images/webimlogo.gif) no-repeat left 0; height:20px; width:20px;}

.webim-lfbox{ float:left; width:546px; border-right:1px solid #ddd}
.webim-rtbox{ float:right;width:158px; padding:0 10px}

.webim-info-tit{ line-height:30px; overflow:hidden; padding:0 10px}
.webim-info-tit h2{ float:left; font-size:12px; padding-right:20px}
.webim-info-tit-name{ float:left; width:450px; padding-top:5px; line-height:0}
.webim-info-tit-name li{ display:inline-block; margin-right:5px; margin-bottom:5px; line-height:20px; padding-right:2px; border:1px solid #77b8de; background:#cbebfb; border-radius:4px;}
.webim-info-tit-name li a{ display:inline-block;}
.webim-info-tit-name li a.webim-info-tit-thename{ padding:0 2px}
.webim-info-tit-name li a img{ vertical-align:middle; padding-right:2px}
a.webim-info-tit-name-close{ background:url(WebIM/css/images/webim-02.gif) no-repeat; display:inline-block; padding-top:1px; width:7px; height:7px; cursor:pointer;}
.webim-info-tit-name li:hover{background:#ebf9ff;}
.webim-info-tit-name li:hover a{ color:#ff6600}
.webim-info-tit-name li.current{ border:1px solid #c6ad56; background:#fffadb;}
.webim-info-tit-name li.current a,.webim-info-tit-name li.current a:visited,.webim-info-tit-name li.current a:hover{ color:#e98e18}
.webim-info-tit-name li.current a.webim-info-tit-name-close{ background:url(WebIM/css/images/webim-02b.gif) no-repeat;}
.webim-info-tit-name li.current:hover a.webim-info-tit-name-close{ background:url(WebIM/css/images/webim-02.gif) no-repeat;}

.webim-info-contentbox{ background:#fff; padding:10px;}
.webim-info-content p{ padding-bottom:10px}
.webim-info-content .tit{ color:#666; padding-bottom:0}

.webim-send-about{  height:22px; line-height:22px; padding:0 10px}
.webim-send-about .fl a{ padding-right:10px}
.webim-send-about .fr a{ padding-left:10px}
.webim-send-butbox{  height:36px; line-height:36px; padding:0 10px}
.webim-send-butbox p{ float:left; width:460px; display:table; height:36px}
.webim-send-butbox p span.inter{ display:table-cell; vertical-align:middle; line-height:18px}
.webim-send-butbox p span.inter-ps{ text-overflow:ellipsis; overflow:hidden}
span.inter-ps span{ display:inline-block; padding-right:5px}
.webim-send-but{ float:right; background:url(WebIM/css/images/webim-09.gif) no-repeat; width:63px; height:26px; margin-top:5px; border:none; cursor:pointer}

.webim-person{ margin:5px 0 5px 0;}
.webim-list-tab{ margin-bottom:5px; overflow:hidden}
.webim-list-tab li{ float:left; height:20px; line-height:20px; border-bottom:2px solid #fff; padding:0 5px}
.webim-list-tab li.current{border:2px solid #ccc; border-bottom:none; font-weight:bold}
    .webim-list-tab li a {
    color:#444;
    }
.webim-org-search{ padding-bottom:5px}
.webim-org-search input[type="text"]{ width:132px; height:16px; line-height:16px; border:1px solid #a6d2e8; background:#fff}
.webim-org-search input[type="button"]{ background:url(WebIM/css/images/webim-04.gif) no-repeat; width:37px; height:20px; line-height:20px; vertical-align:top; border:none; cursor:pointer}
.webim-latest ul li{ background:url(WebIM/css/images/webim-01.gif) no-repeat 0 2px; padding-left:20px; padding-bottom:5px}

.psselect-lf,.psselect-rt{ float:left; width:160px; height:350px; padding:10px; border:1px solid #C5DBEC}
.psselect-lf .webim-list-tab li{ float:left; height:20px; line-height:20px; border-bottom:1px solid #c6dbef; padding:0 5px}
.psselect-lf .webim-list-tab li.current{border:1px solid #c6dbef; border-bottom:none; font-weight:bold}

.psselect-rt{ float:right; line-height:22px;}
.psselect-md{ float:left; width:30px; height:350px; line-height:350px; text-align:center; font-family:"宋体"}

.memberlist{ background:#f3f3f3; border:1px solid #ccc; height:300px; overflow:auto}
/* 信息系统样式 */
.article-content{ background:#edf6ff; border:1px solid #a5cbe7; border-radius:5px; padding:10px; margin-bottom:10px; overflow:hidden; width:100%}
.article-content tr td{ vertical-align:top}
.article-content .lf{ width:150px; color:#999; line-height:18px}
.comment-tit{ background:#D3EBF8; border:1px solid #A5CBE7; border-bottom:none; border-radius:5px 5px 0 0; height:24px; line-height:24px; text-indent:10px}
.comment-content{ border:1px solid #a5cbe7; border-radius:0 0 5px 5px; padding:10px; margin-bottom:10px}
.comment-content .mymes{ border-bottom:1px dashed #ddd; padding:10px 0}
.mytitle{ padding-bottom:5px; color:#999}
.mytitle span{ color:#ab7100}
.mycomment{ text-indent:24px}
#comment-txt-input{ margin-bottom:5px}
.infolist-icon{ padding:2px 2px 2px 17px; background:url(../../content/Images/status.gificon/text.png) no-repeat;}

.thefile-tit{ font:normal 18px/36px Microsoft YaHei; text-align:center}
.thefile-about{ border-bottom:1px dashed #cecfce; text-align:center; color:#999}
.thefile-about span{ padding:0 10px}
.thefile-compress{ padding:10px 0; line-height:18px}
.fabu-tit{ background:#D3EBF8; border-bottom:1px solid #90C1DD; padding:10px; margin-bottom:5px; font-size:14px; font-weight:bold; color:#296d9c}
/*导航按钮*/
.arrow-first,.arrow-pre,.arrow-next,.arrow-last{ background:url(../../content/Images/status.gifarrow.gif) no-repeat; display:inline-block; height:16px; width:16px; cursor:pointer; vertical-align:middle}
.arrow-first{ background-position:-7px 0}
.arrow-pre{ background-position:-35px 0}
.arrow-next{ background-position:-63px 0}
.arrow-last{ background-position:-91px 0}
.but-row a,.but-row a:visited{ border:1px solid #B4C1C9; border-radius:5px; display:inline-block; height:16px; line-height:16px; padding:2px 4px; margin-left:5px}
.but-row a:hover{ border:1px solid #4994de; background:#eff7ff}
.but-row a.but-disabled,.but-row a.but-disabled:visited,.but-row a.but-disabled:hover{ color:#bdd3e7; background:none; border:1px solid #B4C1C9; cursor:default}
.but-row a.but-disabled span{ opacity:0.35; cursor:default}
/* 页码样式 */
.pages-box{ clear:both; border:2px solid #ddd; border-top:1px solid #ddd; overflow:hidden; height:100%; width:100%}
.pages-box tr td{ padding:15px 10px}
.pages .item{padding:1px 0;} /*数字页索引样式*/
.pages .cpb {color:#ff6600; font-weight:bold; padding: 1px 6px;} /*当前页样式*/
.pages a { text-decoration:none;padding: 2px 6px; margin:0 1px; border: 1px solid #ddd;}
.pages a:hover { background-color: #ff8800; color:#fff; border:1px solid #ff8800; text-decoration:none;font-weight:normal;}
.pages input{ width:40px; border:1px solid #c1d2e2; text-align:center; padding:2px}


#selIcon {border:1px #ccc solid;width:500px;height:200px;margin-top:5px;overflow:auto;background-color:#fff;position:absolute;display:none;}
#selIcon li{float:left;margin:2px;cursor:pointer}

/*Flow steyle*/
#setFormLayout input[type="text"], input[type="number"], input[type="datetime"], input[type="datetime"], select, textarea {display: normal;}
#setFormLayout{position:relative;overflow:hidden;width:100%;height:500px}
#setFormLayout .easyui-draggable{border:1px #000 solid;overflow:hidden;background:#fff;width:300px;height:40px;}
#setFormLayout .inputtable { height: 100%;width: 100%;}
#setFormLayout .inputtable .inputtitle {border-right: 1px #000 solid;width: 80px;padding-right: 10px;text-align: right;vertical-align: middle;}
#setFormLayout .inputtable .inputcontent {text-align: right;vertical-align: middle;padding: 5px;}
#setFormLayout .inputtable .inputcontent .input {width: 96%;}
#setFormLayout .inputtable .inputcontent textarea {height: 90%;min-height: 40px;}

