@import url(http://fonts.googleapis.com/css?family=PT+Sans|Montserrat:700,400);
body{
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    height: 100%;
    min-height: 900px;
}
a, a:hover, a:focus{
    outline:none;
    text-decoration: none;

}
.landing-bg{
    position: relative;
    background: rgba(0, 0, 0, 0.84);
    width: 100%;
    min-height: 900px;
}
.landing-bg:after{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 900px;
    background: url("image/bg.jpg") no-repeat scroll 50% 50% / cover #000;
    box-sizing: border-box;
    height: 800px;
    z-index: -1;

}
.theme-box{
    text-align: center;
    color: #ffffff;
    margin-bottom: 70px;
}
.theme-box h1{
    font: 28px 'Montserrat', sans-serif;
}
.landing-content{
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
}
.box-view{
    text-align: center;
}
.box-view a{
    text-align: center;
    display: block;
}
.box-view  img{
    width: 60%;
    height: auto;
}
.box-view a.btn{
    width: 60%;
    text-align: center;
    display: block;
    float: none;
    margin: 10px auto;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -vebkit-border-radius: 1px;
    background: #ff7878;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.box-view a.btn:hover{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #e74c3c;
}
.footer-content{
    text-align: center;
    color: #ffffff;
    opacity: 0.5;
    margin-top: 70px;
}
.footer-content a{
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer-content a:hover{
    color: #ff7878;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.social-link{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.social-link li{
    display: inline;
    padding: 0 10px;
}
ul.social-link li a{
    font-size: 20px;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.social-link li a:hover{
    color: #ff7878;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*
 * Animation for webkit
*/
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

/*
 * Adding the animation to our element
*/
.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
@media all and (min-width: 0px) and (max-width: 650px) {
    .landing-content{
        position: absolute;
    }
    .box-view{
        margin-bottom: 50px;
    }
    .theme-box{
        margin-bottom: 50px;
    }
    .footer-content{
        margin-top: 50px;
    }
}