.linyer {
  font-family:"linyer" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before { content: "\3486"; }

.icon-excel:before { content: "\e624"; }

.icon-copy:before { content: "\e625"; }

.icon-print:before { content: "\e6bb"; }

.icon-delect:before { content: "\e619"; }

.icon-bianji2:before { content: "\e61a"; }

.icon-bianji1:before { content: "\e66e"; }

.icon-pdf:before { content: "\e63a"; }

.icon-gou:before { content: "\e623"; }

.icon-home:before { content: "\e638"; }

.icon-setting:before { content: "\e63f"; }

.icon-userplus:before { content: "\e641"; }

.icon-users:before { content: "\e642"; }

.icon-zanting:before { content: "\e621"; }

.icon-xgpwd4:before { content: "\e6a8"; }

.icon-xiugai:before { content: "\e69c"; }

.icon-xgpwd3:before { content: "\e63c"; }

.icon-xgpwd2:before { content: "\e608"; }

.icon-xgpwd1:before { content: "\e657"; }

.icon-stop:before { content: "\e61d"; }

.icon-add-no:before { content: "\e693"; }

.icon-close-no:before { content: "\e695"; }

.icon-true-no:before { content: "\e696"; }

.icon-time:before { content: "\e69d"; }

.icon-time-active:before { content: "\e69e"; }

.icon-warning-active:before { content: "\e6a1"; }

.icon-warning:before { content: "\e6a2"; }

.icon-download-active:before { content: "\e6ab"; }

.icon-download:before { content: "\e6ac"; }

.icon-bottom:before { content: "\e600"; }

.icon-right:before { content: "\e601"; }

.icon-left:before { content: "\e602"; }

.icon-top:before { content: "\e603"; }

.icon-tool:before { content: "\e604"; }

.icon-help:before { content: "\e606"; }

.icon-more:before { content: "\e607"; }

.icon-msg:before { content: "\e609"; }

.icon-msg-active:before { content: "\e60a"; }

.icon-user:before { content: "\e60b"; }

.icon-user-active:before { content: "\e60c"; }

.icon-email:before { content: "\e60d"; }

.icon-email-active:before { content: "\e60e"; }

.icon-mini:before { content: "\e60f"; }

.icon-mini-active:before { content: "\e610"; }

.icon-add:before { content: "\e611"; }

.icon-add-active:before { content: "\e612"; }

.icon-close-active:before { content: "\e613"; }

.icon-close:before { content: "\e614"; }

.icon-love:before { content: "\e616"; }

.icon-love-active:before { content: "\e617"; }

.icon-edit:before { content: "\e618"; }

.icon-zhiding:before { content: "\e61b"; }

.icon-exports:before { content: "\e626"; }

.icon-qiyong:before { content: "\e605"; }

.icon-gift:before { content: "\e61c"; }

.icon-qrcode:before { content: "\e61e"; }

.icon-hot:before { content: "\e646"; }

.icon-alipay:before { content: "\e61f"; }

.icon-weixin:before { content: "\e620"; }

.icon-check:before { content: "\e622"; }

.icon-arrow-top:before { content: "\e628"; }

.icon-arrow-bottom:before { content: "\e629"; }

.icon-arrow-left:before { content: "\e62a"; }

.icon-arrow-right:before { content: "\e62b"; }

.icon-triangle-bottom:before { content: "\e62c"; }

.icon-triangle-left:before { content: "\e62d"; }

.icon-triangle-right:before { content: "\e62e"; }

.icon-dollar:before { content: "\e631"; }

.icon-rmb:before { content: "\e634"; }

.icon-triangle-top:before { content: "\e822"; }

.icon-star-active:before { content: "\e6c9"; }

.icon-star:before { content: "\e6ca"; }

.icon-zan:before { content: "\e823"; }

.icon-zan-active:before { content: "\e615"; }

.icon-search:before { content: "\e630"; }

