/*------------------------------------------------------------------
[Blog Page Stylesheet]

Project:    Edumix Foundation Dashboard Template
Version:    1.2
Last change:    11/03/2014 [fixed Float bug, vf]
Author: matirasa
-------------------------------------------------------------------*/

.blog-header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.blog-nest {
    background: #E9ECF3;
    padding: 20px;
}
.reading-nest {} .reading-nest h3 a {
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
.reading-nest img {
    margin: 0 30px 20px 0;
}
.reading-nest p {
    line-height: 1.9em!important;
    color: #6D727C!important;
    font-size: 13px!important;
}
.reading-nest h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    margin: 0px 0px 40px !important;
    color: #8C92A3;
}
.reading-nest h6 a {
    color: #4F5B7D;
}
.reading-nest span {
    border: 2px solid #6D727C;
    padding: 8px 15px;
    color: #6D727C;
    font-weight: bold;
    margin: 20px 0;
    float: right;
}
.widget-blog h5 {
    border: 3px solid rgba(86, 86, 86, 0.2);
    padding: 4px 15px;
    color: #565656;
    font-weight: bold;
    margin: 40px 0 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
}
.widget-blog ul {
    margin: 0;
}
.widget-blog ul li {
    list-style: none;
    margin: 10px 0;
}
.widget-blog ul li a {
    font-size: 14px;
    border-bottom: 1px solid rgba(225, 255, 255, 0.3);
    color: #565656;
    font-weight: bold;
}
.widget-blog .panel {
    border: none;
    color: #6D727C!important;
}
.widget-blog p, .panel p {
    color: #6D727C!important;
    line-height: 1.9em!important;
    font-size: 13px!important;
}
.panel a {
    color: #6D727C!important;
    border: 2px solid #6D727C;
    padding: 4px 15px;
    font-weight: bold;
    margin: 20px 0;
    font-size: 12px;
}
blockquote {
    margin: 0 0 1.25rem;
    padding: 0.5625rem 1.25rem 0 1.1875rem;
    border-left: 3px solid #ddd;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #222;
}
.blog-comment {
    padding: 0;
}
.blog-comment h3 {
    padding: 0;
    font-size: 16px;
    color: #454545;
    font-family: 'Montserrat', sans-serif;
    background: #F2F2F2;
    padding: 4px 15px;
}
.blog-comment ul {
    margin: 0;
    padding: 10px 0;
    border-radius: 0;
    /*  border-left: 1px solid #D5DAE6; */
}
.blog-comment ul li {
    list-style: none;
    font-size: 13px;
    margin: 0 0 30px 0;
    padding: 0 20px;
}
.blog-comment ul li ul {
    margin: 0 0 0 30px;
}
.blog-comment ul li b {
    padding: 0;
    font-size: 16px;
    color: #454545;
    font-family: 'Montserrat', sans-serif;
}
.blog-comment ul li small {
    font-size: 11px;
    float: right;
    background: rgba(98, 113, 155, 0.63);
    color: #fff;
    padding: 0 5px;
    border-radius: 2px;
}
.blog-comment ul li p {
    display: inline-block;
    padding: 0;
    width: 100%;
    font-size: 13px!important;
    margin: -5px 0 15px 0;
    color: #8c92a3;
}
.blog-comment ul li span {
    background: #8c92a3;
    color: #fff;
    border-radius: 3px;
    padding: 1px 5px;
    cursor: pointer;
    position: relative;
    top: 15px;
}
.blog-comment ul li h5 {
    display: inline-block;
    padding: 5px 0 15px;
    width: 100%;
    font-size: 13px!important;
    margin: 0;
    color: #8c92a3;
    font-family: 'Open Sans', sans-serif!important;
    font-style: italic;
}
.blog-comment ul li img {
    float: left;
    margin: 0 10px 0 0;
    border-radius: 50%;
}
.blog-comment-input label {
    color: #454545;
    font-family: 'Montserrat', sans-serif;
}
.blog-comment-input p {
    width: 100%;
    font-size: 13px!important;
    color: #8c92a3;
    margin: 40px 0 20px 0;
}
