/*------------------------------------------------------------------
[Login Page Stylesheet]

Project:    Edumix Foundation Dashboard Template
Version:    1.2
Last change:    11/03/2014 [fixed Float bug, vf]
Author: matirasa
-------------------------------------------------------------------*/
/* maki */

.edumix-login-title span {
    background: none repeat scroll 0% 0% #395F97;
    padding: 4px 10px;
    text-transform: uppercase;
    font-weight: 400 !important;
    font-family: "Montserrat", sans-serif !important;
    font-size: 20px !important;
    border-radius: 3px;
    color: #fff;
    margin: 0 0 0 20px;
}
.edumix-signup-panel a span {
    display: block;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    background: #92CD18;
}
.edumix-signup-panel h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}
.edumix-signup-panel h2 span {
    background: #fff;
    z-index: 1;
    position: relative;
    padding: 0 15px;
}
.edumix-signup-panel h2:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    position: relative;
    top: 8px;
    z-index: 0;
}
.edumix-footer-panel a span {
    display: block;
    padding: 6px 0;
    text-align: center;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    font-size: 10px;
    text-transform: capitalize;
    margin: 0 0 10px 0;
}
.profile {
    background: #111;
    width: 100%;
    position: relative;
    top: -13px;
    left: 0;
    height: 100px;
    font-size: 13px;
    margin: 0;
    padding: 15px 5px;
    border-radius: 4px 4px 0 0;
}
.profile h3 small {
    margin-left: 6px;
    color: #fff;
    letter-spacing: 2px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 2px 6px;
    border-radius: 15px;
    position: relative;
    top: -3px;
}
