/*------------------------------------------------------------------
[Mail Page Stylesheet]

Project:    Edumix Foundation Dashboard Template
Version:    1.2
Last change:    11/03/2014 [fixed Float bug, vf]
Author: matirasa
-------------------------------------------------------------------*/

.star {
    color: #fff!important;
    background: #B7C1D3;
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    border-radius: 50%;
  
}
.side-mail {
    margin-top: 20px;
}
.button-mail {
    margin: 0 0 15px;
    text-align: left;
    width: 100%;
}
.list-btn-mail {
    margin-bottom: 15px;
}
.list-btn-mail > span {
    float: left;
    font-size: 16px;
    font-style: bold;
    width: 33px;
    height: 33px;
    line-height: 20px;
    color: #888;
    font-weight: bold;
}
.list-btn-mail > i {
    background: none repeat scroll 0 0 #39B3D7;
    border-radius: 12px;
    color: #FFFFFF;
    float: right;
    font-style: normal;
    padding: 0 5px;
}
.list-btn-mail > a {
    color: #666;
}
.list-btn-mail.active {
    border-bottom: 1px solid #39B3D7;
    padding: 0 0 14px;
}
#content-mail {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    margin-top: 5px;
    min-height: 500px;
    padding: 17px 0;
    width: 100%;
}
.mail_header {
    border-radius: 4px;
    margin: 10px 0 0;
    width: 100%;
}
.mail-btn {
    position: relative;
    left: 35px;
}
.mail-btn li {
    display: inline;
    height: 40px;
    min-width: 40px;
    background: none repeat scroll 0 0 #58719c;
    margin-left: 5px;
    color: #fff;
    line-height: 40px;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 0 0 8px;
    cursor: pointer;
    text-align: center;
    position: relative;
    float: left;
    left: -35px;
    top: 3px;
}
.mail-btn li b {
    font-weight: normal;
    font-size: 13px;
    margin: 0px 15px 0 0px;
    position: relative;
    top: -2px;
}
.mail-btn li b small {
    background: rgba(0, 0, 0, 0.1);
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    margin: 0 0 0 5px;
}
.mail-btn li i {
    float: left;
}
.mail-btn li p {
    float: left;
}
.mail-btn li span {
    position: absolute;
    top: 0;
    right: 0;
}
/* compost nest */

.compose {
    padding: 20px 0;
}
.compose hr {
    border: solid rgba(98, 113, 155, 0.2);
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25rem 0 1.1875rem;
    height: 0;
}
.compose ul {
    margin: 0px 0 0 -5px;
}
.compose ul li {
    list-style: none;
    font-size: 14px;
    padding: 10px 0;
    color: rgba(98, 113, 155, 0.7);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.compose ul li a {
    color: rgba(98, 113, 155, 0.7);
}
.compose ul li:before {
    margin: 0 10px 0 0;
}
.inbox-menu {
    background: #ffffff;
    margin: 5px -15px!important;
    padding: 10px 15px!important;
    border-radius: 5px;
}
/* Inbox nest */

.inbox-nest {
    padding: 0;
}
.inbox-nest ul {
    margin: 0;
    background: #ffffff;
    padding: 10px 0;
    border-radius: 0;
    /*  border-left: 1px solid #D5DAE6; */
}
.inbox-nest ul li {
    list-style: none;
    font-size: 13px;
    border-bottom: 1px solid #D5DAE6;
    margin: 0 0 15px 0;
    padding: 0 20px;
}
.inbox-nest ul li b {
    padding: 0 10px;
    font-size: 14px;
    color: #454545;
    font-family: 'Montserrat', sans-serif;
}
.inbox-nest ul li small {
    font-size: 11px;
    float: right;
    background: rgba(98, 113, 155, 0.63);
    color: #fff;
    padding: 0 5px;
    border-radius: 2px;
}
.inbox-nest ul li p {
    display: inline-block;
    padding: 0 0 0 45px;
    width: 100%;
    font-size: 13px!important;
    margin: 0 0 15px 0;
    color: #8c92a3;
}
.inbox-nest ul li h5 {
    display: inline-block;
    padding: 0 0 0 45px;
    width: 100%;
    font-size: 13px!important;
    margin: 0 0 3px;
    color: #8c92a3;
    font-family: 'Open Sans', sans-serif!important;
    font-weight: bold;
}
.inbox-nest ul li img {
    float: left;
    margin: 0 5px 0 0;
}
.star {
    float: left;
    margin: 0 5px 0 0;
}
span.prefix, label.prefix {
    /* background: #f2f2f2; */
    
    border-left: none;
    /* color: #333333; */
    
    border-color: #D5DAE6;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #D5DAE6;
    box-shadow: none;
    color: #D5DAE6;
    display: block;
    font-size: 12px;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
.inbox-header h1 {
    font-size: 24px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif!important;
}
.inbox-header h2 {
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif!important;
    color: #fff;
}
.inbox-header ul {
    margin: 0;
    padding: 0;
    background: transparent;
    margin: 0;
    border-left: 0px solid #D5DAE6;
}
.inbox-header ul li {
    background: transparent;
    margin: 10px 0;
    display: inline-block;
    border-bottom: 0px solid #D5DAE6;
    padding: 0 5px 0 0;
}
.inbox-header ul li a {
    font-size: 11px;
    color: rgba(98, 113, 155, 0.5);
    top: 2px;
    position: relative
}
.inbox-header ul li span {
    height: 25px;
    width: 25px;
    border: 1px solid #BFC7D8;
    display: block;
    text-align: center;
    line-height: 25px;
    border-radius: 50px;
    color: #BFC7D8;
    cursor: pointer;
}
