/*
PORTFOLIO
*/

.label-social h6 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
    border-bottom: 1px solid rgba(119, 138, 166, 0.4);
    padding: 0 0 10px 0;
}
.label-social h6 small {
    font-size: 10px;
    float: right;
    margin: 12px 0 0;
}
.label-social i {
    font-size: 16px;
    margin: 0 3px 0 0;
    color: #778AA6;
}
.grayscale {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    border-radius: 4px;
}
.grayscale:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
}
#info {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    width: 95%;
    max-width: 900px;
    margin: 0 auto 40px auto;
    font-family: arial;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
#info .info-wrapper {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
#info a {
    color: #c09853;
    text-decoration: none;
}
#info p {
    margin: 5px 0 0 0;
}
.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#filters {
    margin: 10px 1% 25px 1%;
    padding: 0;
    list-style: none;
}
#filters li {
    float: left;
}
#filters li span {
    display: block;
    padding: 4px 10px;
    text-decoration: none;
    color: #8c92a3;
    cursor: pointer;
    font-size: 12px;
    background: #E9ECF3;
    margin: 0 7px 0 0;
    border-radius: 3px;
}
#filters li span.active {
    background: #2E3639;
    color: #fff;
}
#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 23%;
    margin: 1%;
    display: none;
    float: left;
    overflow: hidden;
}
.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #666;
    cursor: pointer;
}
.portfolio img {
    max-width: 100%;
    position: relative;
}
.portfolio .label {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: -40px;
}
.portfolio .label-bg {
    background: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.portfolio .label-text {
    color: #fff!important;
    position: relative;
    z-index: 500!important;
    padding: 5px 8px;
    text-align: left;
}
.portfolio .text-tittle {
    color: #fff;
    font-size: 16px;
}
.portfolio .text-category {
    display: block;
    font-size: 13px;
}
/* #Tablet (Portrait) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px;
    }
}
/*  #Mobile (Portrait) - Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .container {
        width: 95%;
    }
    #portfoliolist .portfolio {
        width: 48%;
        margin: 1%;
    }
    #ads {
        display: none;
    }
}
/* #Mobile (Landscape) - Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 70%;
    }
    #ads {
        display: none;
    }
}
