/*------------------------------------------------------------------
[White Theme Page Stylesheet]

Project:    Edumix Foundation Dashboard Template
Version:    1.2
Last change:    11/03/2014 [fixed Float bug, vf]
Author: matirasa
-------------------------------------------------------------------*/

body {
    background: #92CD18;
}
.profile {
    background: #333;
}
#skin-select #toggle, #skin-select #toggle.active, #skin-select #toggle:hover, #skin-select #toggle.active:hover {
    background: #333;
}
.profile span {
    color: #222;
}
#skin-select {
    background: #92CD18;
}
ul.topnav ul {
    background: #77ad03;
}
#paper-bg {
    background: #F5F5F5;
}
.breadcrumbs {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 50px;
}
ul.topnav li a, .bottom-list-menu li {
    color: #000!important;
}
ul.topnav li a:hover {
    background-color: #77ad03;
    color: #000;
}
ul.topnav ul li a:hover {
    color: rgba(255, 255, 255, 0.5)!important;
}
ul.topnav li a:hover:before {
    background: #fff;
}
.top-bar .name h1 span {
    background: #3B5998;
    color: #fff;
}
ul.topnav ul:after {
    left: -10px;
    border-color: transparent #fff;
}
.edumix-msg-noft {
    border: 2px solid #000;
}
.edumix-noft {
    border: 2px solid #92CD18;
}
#skin-select li b {
    color: rgba(0,0,0,0.5);
}
#menuwrapper ul li ul li a {
    color: #fff!important;
}
#menuwrapper ul li:hover ul, #menuwrapper ul li.iehover ul {
    background: #77ad03;
    margin: 0 0 0 1px;
}
/* SLICKNAV */

.slicknav_nav a {
    color: #fff;
}
/* RIGHT NAV */

.right-off-canvas-menu {
    background: #000;
}
