/*------------------------------------------------------------------
[White Theme Page Stylesheet]

Project:    Edumix Foundation Dashboard Template
Version:    1.2
Last change:    11/03/2014 [fixed Float bug, vf]
Author: matirasa
-------------------------------------------------------------------*/

body {
    background: #fff;
}
.profile {
    background: #fff;
}
.profile span {
    color: #222;
}
.profile h3 {
    color: #222;
}
.profile img {
    background: #222;
    border-radius: 50%;
    padding: 7px;
}
.input-top{
    background: #fff!important;
    border:1px solid #eee!important;
}
.dark:before{
    top: 13px;
}
.skin-part h3 small {
    color: #ccc;
    border: 2px solid #ccc;
}
#skin-select #toggle, #skin-select #toggle.active, #skin-select #toggle:hover, #skin-select #toggle.active:hover {
    background: #fff;
    color: #222;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}
#skin-select {
    background: #fff;
}
#skin-select li span {
    color: #222!important;
}
#skin-select li b {
    color: #eee;
}
ul.topnav ul {
    background: #eee;
}
#paper-bg {
    background: #f9f9f9;
    border-left: 1px solid #eee;
}
.breadcrumbs {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 50px;
}
#menu-select {
    background: #fff;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}
ul.topnav li a, .bottom-list-menu li {
    color: #222!important;
}
ul.topnav li a:hover {
    background-color: #eee;
    color: #222!important;
}
ul.topnav ul li a:hover {
    color: #222!important;
}
.top-bar .name h1 span {
    background: #f1f1f1;
    color: #222;
}
ul.topnav ul:after {
    left: -10px;
    border-color: transparent #fff;
}
#menuwrapper ul li:hover ul, #menuwrapper ul li.iehover ul {
    background: #eee;
    margin: 0 0 0 1px;
}
/* SLICKNAV */

.slicknav_nav a {
    color: #454545;
}
/* RIGHT NAV */

.right-off-canvas-menu {
    background: #181D27;
}
