/*
 * Examples
 */
.ark-example:before,
.ark-example:after {
  content: " ";
  display: table;
}
.ark-example:after {
  clear: both;
}
.ark-example .dropdown > .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 5px;
}
/*
 * Nestable lists
 */
#nestable-menu {
  padding: 0;
}
#nestable-output,
#nestable2-output {
  width: 100%;
  min-height: 20px;
  color: #555;
  font-size: 0.9em;
  line-height: 1.333333em;
  font-family: "Open sans", Helvetica, Arial;
  padding: 5px;
  margin: 5px 0 0 0;
}
