/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
.pln {
  color: #5c5c5c;
}
/* plain text */
@media screen {
  .str {
    color: #f38d05;
  }
  /* string content */
  .kwd {
    color: #3a67bd;
  }
  /* a keyword */
  .com {
    color: #949494;
  }
  /* a comment */
  .typ {
    color: #789306;
  }
  /* a type name */
  .lit {
    color: #066;
  }
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun,
  .opn,
  .clo {
    color: #660;
  }
  .tag {
    color: #3a67bd;
  }
  /* a markup tag name */
  .atn {
    color: #789306;
  }
  /* a markup attribute name */
  .atv {
    color: #f38d05;
  }
  /* a markup attribute value */
  .dec,
  .var {
    color: #606;
  }
  /* a declaration; a variable name */
  .fun {
    color: red;
  }
  /* a function name */
}
/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  padding: 5px;
  color: #5c5c5c;
  border: 1px solid #ededed;
  background-color: #FFF;
  font-size: 11px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
code {
  font-size: 90%;
  color: #5c5c5c;
  white-space: nowrap;
  background-color: #FFF;
  border: 1px solid #ededed;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
/* IE indents via margin-left */
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #f8f8f8;
}
