/**
==============================================================
 * Sentir - Responsive admin & dashboard template
 * Version 		1.2.0
 * Release		July 19, 2014
 * Additional	Sentir Agency Template
==============================================================
**/



/**
=================================
LARGE DESKTOP > 1200px
=================================
**/
@media (min-width: 1200px) {

}





/**
=================================
STANDARD DESKTOP 992px <> 1200px
=================================
**/
@media (min-width: 992px) and (max-width: 1199px) {
	/**
	-------------------------------------------
	HAPPY CLIENT
	-------------------------------------------
	**/
	.testimonial-item .rates{
		bottom: -30px;
		right: 15px;
	}
	.testimonial-item .body {
		padding-top: 30px;
	}
}





/**
=================================
STANDARD DESKTOP < 1024px
=================================
**/
@media (max-width: 1023px) {
	body{
		padding-top: 60px;
	}
	
	
	
	/**
	-------------------------------------------
	NAVBAR
	-------------------------------------------
	**/
	.top-navbar .logo{
		float: none;
		padding: 0;
	}
	.top-navbar.shrink-nav{
		min-height: 60px;
		height: auto;
	}
	.top-navbar{
		min-height: 60px;
		height: auto;
		background: #2C343E;
	}
	.top-navbar ul.menus {
		display: block;
		float: none;
		height: 0px;
		-webkit-transition:All 0.2s ease;
		-moz-transition:All 0.2s ease;
		-o-transition:All 0.2s ease;
		overflow: hidden;
	}
	.top-navbar ul.menus.toggle-nav {
		height: 250px;
		overflow-y: auto;
	}
	.top-navbar ul.menus li.parent{
		display: block;
		float: none;
	}
	.top-navbar ul.menus li.parent a,
	.top-navbar.shrink-nav ul.menus li.parent a{
		height: 50px;
		padding: 16px 25px;
		background: #1A212B;
		border-bottom: 1px solid #171C24;
	}
	.top-navbar ul.menus li.parent.right-icon,
	.top-navbar.shrink-nav ul.menus li.parent.right-icon{
		display: none;
	}
	.top-navbar ul.menus li.parent ul.sub-menus{
		display: block;
		width: 100%;
		position: relative;
		left: 0;
		top: 0;
		background: #1A212B;
	}
	.top-navbar ul.menus li.parent ul.sub-menus li.sub-list a:hover,
	.top-navbar ul.menus li.parent ul.sub-menus li.sub-list a:focus{
		color: #fff;
		background: #1A212B;
	}
	.top-navbar ul.menus li.parent ul.sub-menus li.sub-list a,
	.top-navbar ul.menus li.parent ul.sub-menus li.sub-list a{
		height: 40px;
		padding: 15px 35px;
	}
	.top-navbar ul.menus li.parent ul.sub-menus li.sub-list a:hover,
	.top-navbar ul.menus li.parent ul.sub-menus li.sub-list a:focus,
	.top-navbar.dark-color ul.menus li.parent ul.sub-menus li.sub-list a:hover,
	.top-navbar.dark-color ul.menus li.parent ul.sub-menus li.sub-list a:focus{
		background: #1A212B;
	}
	.top-navbar ul.menus ul.sub-menus li.sub-list:hover ul.subsub-menus li.subsub-list a,
	.top-navbar ul.menus ul.sub-menus ul.subsub-menus li.subsub-list a{
		color: #fff;
		color: rgba(255,255,255,0.71);
	}
	.top-navbar ul.menus ul.sub-menus li.sub-list:hover ul.subsub-menus li.subsub-list a:hover,
	.top-navbar ul.menus ul.sub-menus li.sub-list:hover ul.subsub-menus li.subsub-list a:hover
	.top-navbar ul.menus ul.sub-menus ul.subsub-menus li.subsub-list a:hover,
	.top-navbar ul.menus ul.sub-menus ul.subsub-menus li.subsub-list a:focus{
		color: #fff;
		color: rgba(255,255,255,1);
	}
	.top-navbar ul.menus ul.sub-menus ul.subsub-menus{
		display: block;
		width: 100%;
		position: relative;
		left: 0;
		top: 0;
		background: #1A212B;
	}
	.top-navbar ul.menus ul.sub-menus ul.subsub-menus li.subsub-list a{
		padding: 15px 35px 15px 50px;
	}
	.top-navbar.light-color.shrink-nav ul.menus ,
	.top-navbar.light-color ul.menus,
	.top-navbar.fancy-color.shrink-nav ul.menus ,
	.top-navbar.fancy-color ul.menus {
		background: #e8e9ee;
	}
	.top-navbar.fancy-color ul.menus li.parent a,
	.top-navbar.fancy-color.shrink-nav ul.menus li.parent a,
	.top-navbar.light-color ul.menus li.parent a,
	.top-navbar.light-color.shrink-nav ul.menus li.parent a{
		background: #e8e9ee;
		border-bottom: 1px solid #dddfe7;
		color: #777f8c;
	}
	.top-navbar.fancy-color ul.menus li.parent ul.sub-menus,
	.top-navbar.light-color ul.menus li.parent ul.sub-menus{
		background: #e8e9ee;
		-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0);
		-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0);
		box-shadow: 0px 3px 3px 0px rgba(0,0,0,0);
	}
	.top-navbar.light-color ul.menus li.parent ul.sub-menus li.sub-list a{
		color: #777f8c;
	}
	.top-navbar.fancy-color ul.menus li.parent ul.sub-menus li.sub-list a:hover,
	.top-navbar.fancy-color ul.menus li.parent ul.sub-menus li.sub-list a:focus,
	.top-navbar.light-color ul.menus li.parent ul.sub-menus li.sub-list a:hover,
	.top-navbar.light-color ul.menus li.parent ul.sub-menus li.sub-list a:focus{
		color: #676b74;
		background: #d3d8de;
	}
	.top-navbar.light-color ul.menus ul.sub-menus li.sub-list:hover ul.subsub-menus li.subsub-list a,
	.top-navbar.light-color ul.menus ul.sub-menus ul.subsub-menus li.subsub-list a{
		color: #777f8c;
	}
	.top-navbar.light-color ul.menus ul.sub-menus li.sub-list:hover ul.subsub-menus li.subsub-list a:hover,
	.top-navbar.light-color ul.menus ul.sub-menus li.sub-list:hover ul.subsub-menus li.subsub-list a:hover
	.top-navbar.light-color ul.menus ul.sub-menus ul.subsub-menus li.subsub-list a:hover,
	.top-navbar.light-color ul.menus ul.sub-menus ul.subsub-menus li.subsub-list a:focus{
		color: #676b74;
	}
	.top-navbar.fancy-color ul.menus ul.sub-menus ul.subsub-menus,
	.top-navbar.light-color ul.menus ul.sub-menus ul.subsub-menus{
		background: #e8e9ee;
		-webkit-box-shadow: 3px 0px 3px 0px rgba(0,0,0,0);
		-moz-box-shadow: 3px 0px 3px 0px rgba(0,0,0,0);
		box-shadow: 3px 0px 3px 0px rgba(0,0,0,0);
	}
	
	.top-navbar.fancy-color ul.menus li.parent a{
		-webkit-box-shadow: inset 0px 0px 0px 0px #fff;
		-moz-box-shadow: inset 0px 0px 0px 0px #fff;
		box-shadow: inset 0px 0px 0px 0px #fff;
	}
	.top-navbar.fancy-color ul.menus li.parent.primary a{
		-webkit-box-shadow: inset 0px 0px 0px 0px #34BC9B;
		-moz-box-shadow: inset 0px 0px 0px 0px #34BC9B;
		box-shadow: inset 0px 0px 0px 0px #34BC9B;
		background: #34BC9B;
		border-bottom-color: #48CFAE;
		color: #fff;
	}
	.top-navbar.fancy-color ul.menus li.parent.primary li.sub-list a,
	.top-navbar.fancy-color ul.menus li.parent.success li.sub-list a,
	.top-navbar.fancy-color ul.menus li.parent.info li.sub-list a,
	.top-navbar.fancy-color ul.menus li.parent.danger li.sub-list a,
	.top-navbar.fancy-color ul.menus li.parent.warning li.sub-list a,
	.top-navbar.fancy-color ul.menus li.parent.pink li.sub-list a{
		color: #fff;
	}
	.top-navbar.fancy-color ul.menus li.parent.success a{
		-webkit-box-shadow: inset 0px 0px 0px 0px #8EC051;
		-moz-box-shadow: inset 0px 0px 0px 0px #8EC051;
		box-shadow: inset 0px 0px 0px 0px #8EC051;
		background: #8EC051;
		border-bottom-color: #A2D368;
		color: #fff;
	}
	.top-navbar.fancy-color ul.menus li.parent.info a{
		-webkit-box-shadow: inset 0px 5px 0px 0px #3EAFDB;
		-moz-box-shadow: inset 0px 5px 0px 0px #3EAFDB;
		box-shadow: inset 0px 5px 0px 0px #3EAFDB;
		background: #3EAFDB;
		border-bottom-color: #4EC0E8;
		color: #fff;
	}
	.top-navbar.fancy-color ul.menus li.parent.danger a{
		-webkit-box-shadow: inset 0px 5px 0px 0px #E7573E;
		-moz-box-shadow: inset 0px 5px 0px 0px #E7573E;
		box-shadow: inset 0px 5px 0px 0px #E7573E;
		background: #E7573E;
		border-bottom-color: #FF7257;
		color: #fff;
	}
	.top-navbar.fancy-color ul.menus li.parent.warning a{
		-webkit-box-shadow: inset 0px 5px 0px 0px #F6BB43;
		-moz-box-shadow: inset 0px 5px 0px 0px #F6BB43;
		box-shadow: inset 0px 5px 0px 0px #F6BB43;
		background: #F6BB43;
		border-bottom-color: #FFCE54;
		color: #fff;
	}
	.top-navbar.fancy-color ul.menus li.parent.pink a{
		-webkit-box-shadow: inset 0px 5px 0px 0px #D971AC;
		-moz-box-shadow: inset 0px 5px 0px 0px #D971AC;
		box-shadow: inset 0px 5px 0px 0px #D971AC;
		background: #D971AC;
		border-bottom-color: #EB88BF;
		color: #fff;
	}
	.nav-right-info{
		left: 200px;
	}
	.nav-right-info p.phone{
		font-size: 35px;
		margin: 0px 5px;
	}
	.nav-right-info .times-icon{
		font-size: 22px;
		padding: 20px 0;
		width: 40px;
	}
	.nav-right-info form{
		margin: 0 40px 0 0;
	}
	.nav-right-info .form-control{
		height: 30px;
		font-size: 16px;
		padding: 5px 10px;
		margin: 5px 0;
	}
	.btn-toggle-nav{display: block;}
	.btn-toggle-search{display: block;}
	.btn-toggle-phone{display: block;}
	
	
	
	/**
	-------------------------------------------
	BACK TO TOP
	-------------------------------------------
	**/
	#back-top{
		right: 0px;
		bottom: 0px;
		border-radius: 0;
	}
}





/**
=================================
SMALL DESKTOP 768px <> 991px
=================================
**/
@media (min-width: 768px) and (max-width: 991px) {
	/**
	-------------------------------------------
	LATEST WORK
	-------------------------------------------
	**/
	ul.work-category-wrap li{
		width: 100px;
		height: 30px;
		font-size: 13px;
		margin: 10px 5px;
		padding: 5px 0;
	}
	
	
	
	
	/**
	-------------------------------------------
	TESTIMONIAL
	-------------------------------------------
	**/
	.testimonial-item .heading {
		height: auto;
		min-height: 60px;
	}
	.testimonial-item .client-content {
		position: relative;
		display: block;
		left: auto;
		top: auto;
		bottom: auto;
		right: auto;
		margin-left: 85px;
	}
	.testimonial-item .rates{
		bottom: -30px;
		right: 15px;
	}
	.testimonial-item .body {
		padding-top: 30px;
	}
	
	
	
	
	/**
	-------------------------------------------
	FUN FACTS
	-------------------------------------------
	**/
	h1.number-fact{
		font-size: 40px;
	}
	
	
	
	
	/**
	-------------------------------------------
	THE TEAM
	-------------------------------------------
	**/
	.team-item .avatar{
		width: 100px;
	}
	.team-item h4.name{
		font-size: 18px;
	}
	.team-item .position{
		font-size: 14px;
	}
	
	
	
	
	/**
	-------------------------------------------
	BLOG
	-------------------------------------------
	**/
	.blog-list .media .img-post{
		display: none;
	}
	
	
	
	/**
	-------------------------------------------
	SIDEBAR
	-------------------------------------------
	**/
	.sidebar .media-list .media .img-post{
		display: none;
	}
	
	
	
	
	/**
	-------------------------------------------
	FOOTER
	-------------------------------------------
	**/
	footer h4{
		margin-top: 40px;
		margin-bottom: 10px;
	}
}




/**
=================================
TABLET < 767px
=================================
**/
@media (max-width: 767px) {
	/**
	-------------------------------------------
	HEADER SLIDE
	-------------------------------------------
	**/
	.slide-inner.more-padding	{padding:60px 0 0 0;}
	.slide-text-content{
		padding: 130px 0 110px;
	}
	.slide-text-content h1{
		font-size: 35px;
	}
	.slide-text-content h3{
		font-size: 18px;
		line-height: 24px;
	}
	
	
	
	/**
	-------------------------------------------
	FEATURE
	-------------------------------------------
	**/
	.box-feature{margin: 0 0 30px 0;}

	
	
	
	/**
	-------------------------------------------
	TOP FEATURE
	-------------------------------------------
	**/
	.section-top-features h5.text-heading{
		margin-top: 15px;
	}
	
	
	
	/**
	-------------------------------------------
	LATEST WORK
	-------------------------------------------
	**/
	ul.work-category-wrap li{
		width: 120px;
		height: 30px;
		font-size: 13px;
		margin: 10px 5px;
		padding: 5px 0;
	}
	
	
	
	
	/**
	-------------------------------------------
	TESTIMONIAL
	-------------------------------------------
	**/
	.testimonial-item .heading {
		min-height: 60px;
		height: auto;
	}
	.testimonial-item .heading {
		height: auto;
		min-height: 60px;
	}
	.testimonial-item .client-content {
		position: relative;
		display: block;
		left: auto;
		top: auto;
		bottom: auto;
		right: auto;
		margin-left: 85px;
	}
	.testimonial-item .rates{
		bottom: -30px;
		right: 15px;
	}
	.testimonial-item .body {
		padding-top: 30px;
	}
	
	
	
	
	/**
	-------------------------------------------
	FUN FACTS
	-------------------------------------------
	**/
	h1.number-fact{
		font-size: 40px;
	}
	
	
	
	/**
	-------------------------------------------
	THE TEAM
	-------------------------------------------
	**/
	.team-item{
		margin: 0 0 30px 0;
	}
	
	
	
	/**
	-------------------------------------------
	FOOTER
	-------------------------------------------
	**/
	footer{padding: 10px 0 50px;}
	footer h4{
		margin-top: 40px;
		margin-bottom: 10px;
	}
	.footer{
		min-height: 80px;
		height: auto;
		text-align: center;
	}
	.footer .text-right{text-align: center;}
	.footer .list-inline {
		margin-top: 15px;
	}
	.footer .list-inline > li {
		padding-left: 3px;
		padding-right: 3px;
	}
}




/**
=================================
PHONE < 640px
=================================
**/
@media (max-width: 640px){
	/**
	-------------------------------------------
	NAVBAR
	-------------------------------------------
	**/
	/** TOP NAVBAR SHRINK **/
	.top-navbar.shrink-nav .nav-right-info p.phone,
	.nav-right-info p.phone{
		font-size: 28px;
		margin: 5px 0;
	}
	
	
	

	/**
	-------------------------------------------
	HEADER SLIDE
	-------------------------------------------
	**/
	.slide-text-content{
		padding: 80px 0 60px;
	}
	.slide-text-content h1{
		font-size: 35px;
	}
	.slide-text-content h3{
		font-size: 18px;
		line-height: 24px;
	}
	.slide-text-content .btn-learn-more{
		padding: 17px 40px;
		font-size: 14px;
		font-weight: 700;
		line-height: 100%;
		margin: 30px 10px;
	}
}




/**
=================================
PHONE < 600px
=================================
**/
@media (max-width: 600px){
	/**
	-------------------------------------------
	NAVBAR
	-------------------------------------------
	**/
	/** TOP NAVBAR SHRINK **/
	.top-navbar.shrink-nav .nav-right-info,
	.nav-right-info{
		left: 0px;
		background: #2C343E;
	}
	.top-navbar.fancy-color.shrink-nav .nav-right-info,
	.top-navbar.fancy-color .nav-right-info,
	.top-navbar.light-color.shrink-nav .nav-right-info,
	.top-navbar.light-color .nav-right-info{
		left: 0px;
		background: #fff;
	}
	.top-navbar.shrink-nav .nav-right-info p.phone,
	.nav-right-info p.phone{
		font-size: 35px;
		margin: 0px 5px;
	}
	.top-navbar.shrink-nav .nav-right-info .times-icon,
	.nav-right-info .times-icon{
		padding: 18px 0;
		width: 60px;
	}
	.top-navbar.shrink-nav .nav-right-info form,
	.nav-right-info form{
		margin: 0 60px 0 0;
	}
	
	
	
	/**
	-------------------------------------------
	BLOG
	-------------------------------------------
	**/
	.blog-list .media .img-post{
		width: 120px;
		margin-right: 5px;
	}
	.blog-detail img.img-detail{
		margin: 0 0 20px 0;
	}
}



/**
=================================
PHONE < 548px
=================================
**/
@media (max-width: 548px){

}



/**
=================================
PHONE < 480px
=================================
**/
@media (max-width: 480px){
	/**
	-------------------------------------------
	HEADER SLIDE
	-------------------------------------------
	**/
	.slide-text-content{
		padding: 80px 0 60px;
	}
	.slide-text-content h1{
		font-size: 28px;
	}
	.slide-text-content h3{
		font-size: 16px;
		line-height: 20px;
	}
	.slide-text-content .btn-learn-more{
		padding: 13px 20px;
		font-size: 14px;
		font-weight: 700;
		line-height: 100%;
		margin: 15px 10px;
	}
	
	
	
	/**
	-------------------------------------------
	FEATURE
	-------------------------------------------
	**/
	p.text-slogan{
		font-size: 16px;
		line-height: 25px;
		padding-top: 10px;
	}
	
	
	
	/**
	-------------------------------------------
	SECTION
	-------------------------------------------
	**/
	body.onepage .section{
		padding: 80px 0;
	}
	.section{
		padding: 25px 0;
	}
	.section-top-features .btn-lg-text-xs{width: 100%;}
	
	
	
	
	/**
	-------------------------------------------
	BLOG
	-------------------------------------------
	**/
	.comment-wrap .media .media-object{
		width: 40px;
		margin-right: 5px;
	}
	.blog-list .media .pull-left{
		display: none;
	}
	.blog-list .media .img-post{
		width: auto;
		max-width: 100%;
	}
}




/**
=================================
PHONE < 360px
=================================
**/
@media (max-width: 360px){
	/**
	-------------------------------------------
	NAVBAR
	-------------------------------------------
	**/
	/** TOP NAVBAR SHRINK **/
	.top-navbar.shrink-nav .nav-right-info p.phone,
	.nav-right-info p.phone{
		font-size: 20px;
		padding: 10px 0;
	}
}




/**
=================================
PHONE < 320px
=================================
**/
@media (max-width: 320px){
	/**
	-------------------------------------------
	HEADER SLIDE
	-------------------------------------------
	**/
	.slide-text-content h1{
		font-size: 24px;
	}
	.slide-text-content{
		padding: 50px 0 40px;
	}
}