h4{
    padding: 0.5rem;
    font-size: 0.7rem;

    font-weight: normal;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom:0.5rem;
}

.list-wrap{
    margin-bottom: 0.1rem;
}

.app-list {
    overflow: hidden;
    padding:0 0.25rem;
 }
.app-list li {
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding-right: 0.25rem;
    margin-bottom: 0.45rem;
}

.app-list li:nth-child(4n){
    padding-right:0;
}


.app-list li .app-wrap{
    background: #f1f1f1;
    min-height: 74px;
    height: 2.0rem;
    font-size: 0.35rem;
    border:1px solid #bebebe;
    text-align: center;
}

.app-list li .app-wrap:hover{
    background: #1da02b;
    border-color: #1da02b;
    color: #fff !important;
}

.app-list li .app-wrap:hover .iconfont{
    color: #fff !important;
}

.app-list li .app-wrap a{
    color: #000;
}
.app-list li .app-wrap .fa,.app-list li .app-wrap .iconfont{
    margin-top: 0.2rem;
    margin-bottom: 0.25rem;
    font-size: 2.0rem;
    height: 2.0rem;
    width: 2.0rem;
        line-height: 2.0rem;
    color: #1da02b;
    text-align: center;
}
.app-list li .app-wrap:hover a{
    color: #fff;
}
.app-list li .app-wrap:hover .fa{
    color: #fff;
}


.app-list li .app-wrap span{
    display: block;
    font-size: 0.55rem;
}
