.app{
	position: absolute !important;
	top: 0.375rem !important; 
	right: 0.375rem;
}

.app .iconfont{
	font-size: 1.125rem;
	color: #fff;
}

.titlebar.reverse{
	border-color: #1da02b;
}

.weui_search_outer{
	height: 1.4rem;
}

.weui_search_text span{
	font-size: 0.6rem;
	color: #c6c6c6;
	line-height: 1.4rem;
}
.weui_cells{
	margin-top: 0;
	border-top: none;
}

.weui_search_input{
	line-height: 1.4rem;
	height: 1.4rem;
}

.weui_cells:before{
	border-top:none;
}



.weui_cell_bd .type{
	color: #b1b1b1;
	font-size: 0.55rem;
}

.weui_cell_bd .phone{
	font-size: 0.7rem;
}

.weui_cell_bd p span.green{
	float: right;
	color: #1da02b;
	font-size: 0.55rem;
	margin-top: 0.2rem;
}


.weui_cell_bd p span.order{
	float: right;
	font-size: 0.55rem;
	margin-top: 0.2rem;
}

.weui_cell_bd p span.red{
	float: right;
	color: #f45438;
	font-size: 0.55rem;
	margin-top: 0.2rem;
}



.weui_cell_bd .factory-name{
	font-size: 0.55rem;
}


.weui_cell_bd .weui_btn{
	float: right;
}

.tip-zone{
	height: 1.375rem;
	line-height: 1.375rem;
}

.weui_cell_primary .tip{
	color: #1da02b;
	text-align: center;
	font-size: 0.55rem;
	height: 1.375rem;
	line-height: 1.475rem;
}

.weui_cell_primary .tip span.chosen{
	display: none;
}

.weui_cell_primary .tip span.green{
	color: #1da02b;
}

.weui_cell_primary .tip i{
	color: #f45438;
	font-size: 1rem;
	position: relative;
	top: -0.15rem;
}

.weui_cell_primary .tip span.red{
	color: #f45438;
}

.box .choose-icon{
	display: none;
}

.box.choose{
	position: relative;
	padding-right: 1.9rem;
}

.box.choose .choose-icon{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1.9rem;
	display: block;
	text-align: center;
}

.box.choose .choose-icon .weui_icon_success{
	margin-top: 1.1rem;
}

.box.choose .choose-icon .weui_icon_success.gray:before{
	color: #bebebe;
	font-size: 1rem;
}

.box.choose .choose-icon .weui_icon_success:before{
	color: #1da02b;
	font-size: 1rem;
}

footer{
	background-color: #fff;
	display: none;
}

.button .bd{
	padding: 0 0.45rem 0.45rem 0.6rem;
}

.button .bd .weui_btn {
    font-size: 0.875rem;
    line-height: 2rem;
    height: 2rem;
    color: #fff;
}

article{
	padding-bottom: 2.9rem;
}




