.header{
	border-top: 0.35rem solid #1da02b;
	text-align: center;
	padding-top: 1.8rem;
}

::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder{
	font-size: 0.6rem;
	color: #c5c5c5;
}

.header h2{
	margin-top: 2.125rem;
	font-size: 0.9rem;
	font-weight: normal;
	margin-bottom: 1.0rem;
}

.footer{
	margin-top: 0.85rem;
	text-align: center;
	color: #676767;
	font-size: 0.55rem;
}


.login-box{
	padding: 2px 0;
	border:1px solid #afafaf;
	border-radius: 3px;
	box-sizing: border-box;
}

.login-box *{
	box-sizing: border-box;
}

.login-wrap{
	padding: 0 0.75rem;
}

.login-box input{
	outline: none;
	border:none;
	width: 100%;
	height: 2.0rem;
	line-height: 2.0rem;
	padding: 0 0.95rem;
	border-top: 1px solid #cfcfcf;
}

.login-box .input-wrap{
	position: relative;

}

.login-box .input-wrap .validate-code{
	position: absolute;
	right: 0.5rem;
	top: 0.126rem;
	height: 1.88rem;
	width: 3.0rem;
}

.login-box .input-wrap:first-child input{
	border-top: none;
}

.btns{
	overflow: hidden;
	margin-top:0.725rem;
	margin-bottom: 1.125rem;
}

.btns a{
	float: left;
	width: 50%;
	height: 1.875rem;
	background: #dddddd;
	border:1px solid #b0aeae;
	box-sizing: border-box;
	color: #000000;
	font-size: 18px;
	text-align: center;
	line-height: 1.875rem;
}

.btns a.current{
	background: #f45438;
	color: #fff;
	border-color: #f45438;
}

.btns a:first-child{
	border-radius: 3px 0 0 3px;
	border-right: none;
}

.btns a:last-child{
	border-radius: 0 3px 3px 0;
	border-left: none;
}

.login-btn{
	margin-bottom: 2.8rem;
}
