.titlebar{
	line-height: 1.63rem;
}

.titlebar.reverse{
	border-color:#1da02b; 
}

.weui_cells:before{
	border: 0;
}

.weui_cells:after{
	border: 0;
}

.weui_cell:before{
	border: 0;
}

.weui_cell:after{
	border: 0;
}

.weui_cell_bd.password{
	border: 1px solid #e4e4e4;
	border-radius: 3px;
	padding: 0 10px;
}

.weui_cell_bd p{
	font-size:0.7rem; 
}

.weui_cell.password{
	padding: 0 15px;
}

.weui_cell.tip{
	padding: 5px 15px;
	font-size: 14px;
}

.weui_input{
	font-size: 14px;
}

.weui_btn_primary{
	margin-top: 20px;
	background-color: #1da02b;
}

.button .bd {
    padding: 0 15px;
}

.button .bd .weui_btn{
    font-size: 0.875rem;
    line-height: 2.15rem;
    height: 2.15rem;
    /*width: 14.125rem;*/
}

.weui_cell:before{
	width: 0;
}

.weui_input{
	height: 1.55rem;
	line-height: 1.55rem;
}
