
.titlebar.reverse{
	border-color:#1da02b; 
}


article{
	position: relative;
}

.no-data{
	position: relative;
	width: 160px;
	height: 160px;
	top: 80px;
	margin: 0 auto;
}

.no-data span{
	display: block;
	background-color: #1da02b;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 50%;
	line-height: 120px;
	text-align: center;
	margin-bottom: 15px;
}

.no-data span i{
	color: #fff;
	font-size: 70px;
}

.no-data label{
	text-align: center;
	color: #000;
	display: inline-block;
	font-size: 0.7rem;
}

.no-data .iconfont{
	position: relative;
	top: -5px;
    line-height: 120px;
    width: auto;
    height: auto;
}
