

.weui_cells:before{
	border: 0;
}

.weui_cells:after{
	border: 0;
}

.weui_cell:before{
	border: 0;
}

.weui_cell:after{
	border: 0;
}

.weui_cell.tip{
	padding: 5px 15px;
	font-weight: bold;
	font-size: 14px;
}

.weui_btn_primary{
	margin-top: 20px;
	background-color: #1da02b;
}

.button .bd {
    padding: 0 15px;
}

.button .bd .weui_btn{
    font-size: 20px;
    font-weight: bold;
    line-height: 44px;
}

.weui_cell:before{
	width: 0;
}

.weui_cell_bd p{
	font-size: 1.0rem;
	font-weight: bold;
	width: 100%;
}

.weui_cell_bd span{
	font-size: 0.65rem;
	color: #a0a0a0;
}

.weui_cells{
	margin-top: 15px;
	margin-bottom: 10px;
}

.weui_cell.no-padding{
	padding: 0 15px;
}

article.weui_article{
	border-top: 1px solid #e4e4e4;}

.weui_article p{
	margin: 0;
	font-size: 0.65rem;
}

.weui_article p img{
	margin: 0.5rem 0;
}

footer{
	height: 140px;
}

footer .foot{
	height: 120px;
	padding: 10px 15px;
	padding-top: 0;
}

.ellipsis{
	text-overflow:ellipsis;
	white-space:nowrap; 
	overflow:hidden;
}
