
body{
	background-color: #f1f1f1;
}

.titlebar.reverse {
    background-color: #1da02b;
    border-color: #1da02b;
}

article{
	background-color: #f1f1f1;
	padding-bottom: 2.45rem;
}

article .details{
	padding: 0.375rem 0.45rem;
	padding-bottom: 0;
	background-color: #f1f1f1;
}

.details .detail-box{
	border: 1px solid #cfcfcf;
	background-color: #fff;
	padding-top: 0.4rem;
	padding-left: 0.7rem;
	padding-right: 0.7rem;
	padding-bottom: 0.3rem;
	margin-bottom: 0.375rem;
}

.details .detail-box .detail-title{
	line-height: 1.25rem;
	height: 1.25rem;
	font-size: 0.7rem;
	color: #000;
}

.details .detail-box .detail-wrap{
	height: 0.95rem;
	line-height: 0.95rem;
	font-size: 0.55rem;
}

.details .detail-box .detail-wrap span.left{
	float: left;
}

.details .detail-box .detail-wrap span.right{
	float: right;
}

.details .detail-box .detail-wrap span.red{
	color: #f45438;
}

.details .detail-box .detail-wrap span.gray{
	color: #aaa;
}

.details .detail-box .detail-wrap span.num{
	display: inline-block;
	width: 40px;
}

.details .detail-box .detail-wrap span.green{
	color: #1da02b;
}

.details .detail-box .detail-wrap input.right{
	float: right;
	border: 1px solid #bebebe;
	height: 0.95rem;
	width: 38px;
	border-radius: 3px;
}

.xunjia-box{
	background-color: #fff;
}

.xunjia-box .inner{
	position: relative;
	padding-left: 5rem;
	border-bottom: 1px solid #d9d9d9;
	height: 2.025rem;
	line-height: 2.025rem;
	font-size: 0.65rem;
}

.xunjia-box .inner:first-child{
	height: 2.125rem;
	line-height: 2.125rem;
	padding-left: 5.25rem;
}

.xunjia-box .inner.innerP{
	position: relative;
	padding-left: 110px;
	border-bottom: 1px solid #d9d9d9;
	font-size: 14px;
	height: auto;
	line-height: 24px;
}

.xunjia-box .inner .item-name{
	position: absolute;
	left: 0;
	width: 5rem;
	top: 0;
	bottom: 0;
	text-align: right;
	color: #a0a0a0;
}

.xunjia-box .inner:first-child .item-name{
	width: 5.25rem;
}

.xunjia-box .inner .item-value{
	color: #000;
	padding-left: 5px;
}

.xunjia-box .inner .item-value p{
	margin: 5px 0;
}


.xunjia-box .inner .item-value.red{
	color: #f45438;
}

.xunjia-box .inner .item-value.green{
	color: #1da02b;
}

.xunjia-box .inner .item-value .input-wrap{
	padding-right: 20px;
}

.xunjia-box .inner .item-value .p-wrap{
	padding-right: 20px;
	margin: 5px 0;
	height: 90px;
}

.xunjia-box .inner .item-value .select-wrap{
	padding-right: 10px;
}

.xunjia-box .inner .item-value .a-wrap{
	padding-right: 10px;
	padding-top: 5px;
}

.xunjia-box .inner .item-value input[type=text]{
	border: 1px solid #bebebe;
	border-radius: 3px;
	padding: 4px;
	line-height: 20px;
	width: 100%;
}

.xunjia-box .inner .item-value textarea{
	border: 1px solid #bebebe;
	border-radius: 3px;
	padding: 4px;
	line-height: 20px;
	width: 100%;
	height: 80px;
}

.xunjia-box .inner .item-value select{
	border: 1px solid #bebebe;
	border-radius: 3px;
	padding: 4px;
	line-height: 20px;
	width: 100%;
}

.xunjia-box .inner .item-value .weui_btn{
	line-height: 30px;
	background-color: #1da02b;
}


.weui_cells{
	margin-top: 0;
}

.weui_cells:before{
	border:0;
}

.button .bd{
	padding: 0 0.45rem 0.45rem 0.6rem;
}

footer{
	background-color: #f1f1f1;
}

.button .bd .weui_btn {
    font-size: 0.875rem;
    line-height: 2rem;
    height: 2rem;
    color: #fff;
}

