.weui_cell{
	padding: 10px 0;
}
.weui_cell:before{
	left: 0;
}

.weui_cell_bd {
	padding: 0 15px;
}

.weui_cells{
	font-size: 0.65rem;
}

.weui-row .weui_btn{
	font-size:  0.65rem;
	line-height: 1.05rem;
}

.weui-row div{
	line-height: 1.05rem;
	font-size: 0.65rem;
}
.weui-row .label{
	color: #c3c3c3;
}