
.titlebar.reverse {
    background-color: #1da02b;
    border-color: #1da02b;
}

.xunjia-box{

}

.xunjia-box .inner{
	position: relative;
	padding-left: 110px;
	border-bottom: 1px solid #d9d9d9;
	height: 2.025rem;
	line-height: 2.025rem;
	font-size: 14px;
}

.xunjia-box .inner.innerP{
	position: relative;
	padding-left: 110px;
	border-bottom: 1px solid #d9d9d9;
	font-size: 14px;
	height: auto;
}

.xunjia-box .inner .item-name{
	position: absolute;
	left: 0;
	width: 110px;
	top: 0;
	bottom: 0;
	text-align: right;
	color: #a0a0a0;
}

.xunjia-box .inner .item-value{
	color: #000;
	padding-left: 5px;
}

.xunjia-box .inner .item-value .input-wrap{
	padding-right: 20px;
}

.xunjia-box .inner .item-value .p-wrap{
	padding-right: 20px;
	margin: 5px 0;
	height: 90px;
}

.xunjia-box .inner .item-value .select-wrap{
	padding-right: 14px;
}

.xunjia-box .inner .item-value .a-wrap{
	padding-right: 10px;
	padding-top: 0.3125rem;
}

.xunjia-box .inner .item-value input[type=text]{
	border: 1px solid #bebebe;
	border-radius: 3px;
	padding: 0.1rem;
	line-height: 1.2rem;
	width: 100%;
}

.xunjia-box .inner .item-value textarea{
	border: 1px solid #bebebe;
	border-radius: 3px;
	padding: 0.1rem;
	line-height: 20px;
	width: 100%;
	height: 80px;
}

.xunjia-box .inner .item-value select{
	border: 1px solid #bebebe;
	border-radius: 3px;
	padding: 0.1rem;
	line-height: 1.2rem;
	width: 100%;
	appearance:menulist;
	-webkit-appearance: menulist;
}

.xunjia-box .inner .item-value .weui_btn{
	font-size: 0.7rem;
	line-height: 1.4rem;
	background-color: #1da02b;
}


.weui_cells{
	margin-top: 0;
}

.weui_cells:before{
	border:0;
}
