
.titlebar.reverse {
    background-color: #1da02b;
    border-color: #1da02b;
}

.xunjia-box{
	position: relative;
	top: -1px;
	z-index: 0;
	background-color: #fff;
	border: 1px solid #cdcdcd;
	padding: 5px;
}

.xunjia-box .inner{
	position: relative;
	padding-left: 90px;
	line-height: 1rem;
	font-size: 0.6rem;
}

.xunjia-box .inner.innerP{
	position: relative;
	padding-left: 90px;
	border-bottom: 1px solid #d9d9d9;
	font-size: 14px;
	height: auto;
	line-height: 24px;
}

.xunjia-box .inner .item-name{
	position: absolute;
	left: 0;
	width: 90px;
	top: 0;
	bottom: 0;
	text-align: right;
	color: #a0a0a0;
}

.xunjia-box .inner .item-value{
	color: #000;
	padding-left: 5px;
}

.xunjia-box .inner .item-value p{
	margin: 5px 0;
}


.xunjia-box .inner .item-value.red{
	color: #f45438;
}

.xunjia-box .inner .item-value.green{
	color: #1da02b;
}

.xunjia-box .inner .item-value .input-wrap{
	padding-right: 20px;
}

.xunjia-box .inner .item-value .p-wrap{
	padding-right: 20px;
	margin: 5px 0;
	height: 90px;
}

.xunjia-box .inner .item-value .select-wrap{
	padding-right: 10px;
}

.xunjia-box .inner .item-value .a-wrap{
	padding-right: 10px;
	padding-top: 5px;
}

.xunjia-box .inner .item-value input[type=text]{
	border: 1px solid #bebebe;
	border-radius: 3px;
	padding: 4px;
	line-height: 20px;
	width: 100%;
}

.xunjia-box .inner .item-value textarea{
	border: 1px solid #bebebe;
	border-radius: 3px;
	padding: 4px;
	line-height: 20px;
	width: 100%;
	height: 80px;
}

.xunjia-box .inner .item-value select{
	border: 1px solid #bebebe;
	border-radius: 3px;
	padding: 4px;
	line-height: 20px;
	width: 100%;
}

.xunjia-box .inner.no-padding{
	padding-left: 0;
}

.xunjia-box .inner.no-padding .weui_btn{
	line-height: 1.975rem;
	background-color: #1da02b;
	font-size: 0.875rem;
}


.weui_cells{
	margin-top: 0;
}

.weui_cells:before{
	border:0;
}


article{
	padding: 10px;
	background-color: #f1f1f1;
}

.xunjia-tab{
	position: relative;
	z-index: 1;
	margin-top: 10px;
}

.xunjia-tab li{
	float: left;
	font-size: 0.65rem;
	color: #fff;
	text-align: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	line-height: 1.15rem;
	width: 3.425rem
}

.xunjia-tab li.red{
	background-color: #f45438;
}

.xunjia-tab li.green{
	background-color: #1da02b;
}

.weui_cell{
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: 0.7rem;
}

.weui_cell{
	padding: 0;
}

.weui_cell p{
	font-size: 0.7rem;
}

.weui_cell i{
	color: #93929a;
	font-size: 0.8rem;
}

.weui_cell_bd{
	padding: 0 15px;
}