/* Author: AdminDesigns.com
 * Last Updated: 02/01/14 
 * Copyright 2014 Admin Designs
=================================================
 * This file is contains styles used ONLY 
 * for customizer.html. You can safely remove 
 * this stylesheet if you don't plan on using 
 * this page or the customizer tool.
================================================= */
.skin-items > div {
  display: inline-block;
  width: 45px;
  height: 35px;
  margin: 5px 0 5px 6px;
  padding: 1px;
  border: 1px solid #bbb;
  cursor: pointer; }

.skin-items > div:before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: url(../img/patterns/swatch-bg.png) no-repeat top left; }

.skin-items > div:hover, .skin-items > .active-skin {
  border: 2px solid #ff9c00; }

.btn-red5 {
  background-color: #e94216; }

.navbar.no-box-shadow {
  box-shadow: none; }

.navbar-menus.no-border button {
  border: 0; }

.navbar-menus.no-text-shadow button {
  text-shadow: none; }

#topbar.no-background {
  background: none; }

#topbar.no-border {
  border-bottom: none; }

.panel-heading.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 -1px 1px rgba(0, 0, 0, 0.05); }

.panel-heading.box-shadow-white {
  border-bottom: 1px solid #FFF;
  box-shadow: none; }

.panel-heading.no-box-shadow {
  box-shadow: none; }

.panel-heading .panel-title.no-text-shadow {
  text-shadow: none; }

.popover {
  max-width: 298px;
  border-radius: 2px; }

.popover .skin-items > div {
  float: left;
  width: 30px;
  height: 27px;
  margin: 3px 0 2px 5px;
  padding: 1px;
  border: 1px solid #bbbbbb; }

.popover .skin-items > div:before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: url(../img/patterns/swatch-bg.png) no-repeat top left; }

.popover-title {
  border-bottom: 1px solid #ddd; }

.popover-content {
  padding: 4px 8px 8px 4px;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(241, 241, 241, 0.9)); }

.popover.top .arrow {
  bottom: -10px;
  border-top-color: rgba(0, 0, 0, 0.15); }

.popover.top .arrow:after {
  border-top-color: whitesmoke; }

#skinModal .modal-dialog {
  min-width: 45%; }

#skinGenerate textarea {
  width: 100%;
  min-height: 300px;
  color: #d9008a;
  border: 0;
  background: transparent; }

.nav-pills li {
  margin-bottom: 0; }

.nav-pills li a {
  margin-right: 6px;
  padding: 3px 12px;
  color: #999;
  font-size: 10px;
  font-weight: bold;
  background: linear-gradient(#f9f9f9, #eeeeee);
  border: 1px solid #ddd; }

.nav-pills li.active a {
  color: #333;
  background: linear-gradient(#f9f9f9, #eeeeee); }

.nav-pills li a:hover, .nav-pills li.active a:hover {
  color: #333333; }

.tab-content {
  min-height: 0; }

.input-group-addon {
  padding: 5px 16px; }

.input-group-addon div.checker {
  margin-right: 0; }

.pattern1 {
  background: url(../img/patterns/1.png) repeat; }

.pattern2 {
  background: url(../img/patterns/2.png) repeat; }

.pattern3 {
  background: url(../img/patterns/3.png) repeat; }

.pattern4 {
  background: url(../img/patterns/4.png) repeat; }

.pattern5 {
  background: url(../img/patterns/5.png) repeat; }

.pattern6 {
  background: url(../img/patterns/6.png) repeat; }

.pattern7 {
  background: url(../img/patterns/7.png) repeat; }

.pattern8 {
  background: url(../img/patterns/8.png) repeat; }

.panel-group .panel-heading {
  background-image: none !important; }

body.boxed-layout .container .col-lg-8 {
  width: 90%; }
