/**
 * Pages Invoice Print
 */
.invoice-section-1 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}
.invoice-section-2 {
  margin-bottom: 20px;
}
.invoice-title {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -0.03em;
}
.sender-logo {
  margin-bottom: 10px;
}
.invoice-title {
  text-align: right;
}
.invoice-date {
  text-align: right;
}
