/**
 * Pages Mailbox
 */
/* Mailbox - General */
.mailbox-search {
  clear: both;
  margin-top: 32px;
}
.mailbox-menu {
  margin-bottom: 20px;
}
.mailbox-menu .mailbox-compose-outer {
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}
.mailbox-menu .mailbox-tags {
  border-top: 1px solid #dedede;
  padding-top: 10px;
}
.mailbox-menu .mailbox-tags .badge {
  margin-bottom: 5px;
}
.mailbox-container {
  padding: 20px 15px;
  border-top: 3px solid #4596f1;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede !important;
}
/* Mailbox - Email List */
.mailbox-email-list.highlight-color-green {
  border-top: 3px solid #6ec06e;
}
.mailbox-email-list.highlight-color-orange {
  border-top: 3px solid #ff8b1a;
}
.mailbox-email-list.highlight-color-yellow {
  border-top: 3px solid #ffd040;
}
.mailbox-email-list.highlight-color-blue {
  border-top: 3px solid #4596f1;
}
.mailbox-email-list.highlight-color-red {
  border-top: 3px solid #f14141;
}
.mailbox-email-list.highlight-color-lime {
  border-top: 3px solid #b2cd4d;
}
.mailbox-email-list.highlight-color-purple {
  border-top: 3px solid #ff4db6;
}
.mailbox-email-list .mailbox-controls {
  margin-bottom: 20px;
}
.mailbox-email-list .mailbox-controls .email-select-all {
  float: left;
  margin: 5px 35px 5px 0;
}
.mailbox-email-list .mailbox-controls .email-select-all label {
  padding-left: 8px;
}
.mailbox-email-list .mailbox-controls .email-select-all label input {
  display: none;
}
.mailbox-email-list .mailbox-controls .email-select-all label .checkbox-actual {
  float: left;
}
.mailbox-email-list .mailbox-controls .email-select-all label .main-text {
  float: left;
  padding-left: 6px;
  padding-top: 2px;
}
.mailbox-email-list .mailbox-controls .email-mark-read {
  margin-right: 35px;
}
.mailbox-email-list .mailbox-controls .email-mark-delete {
  margin-right: 35px;
}
.mailbox-email-list tr {
  cursor: pointer;
  font-weight: normal;
  letter-spacing: normal;
}
.mailbox-email-list tr.highlighted {
  background-color: #FFFFCC;
}
.mailbox-email-list tr.email-status-unread {
  color: #444444;
  font-weight: bold;
  letter-spacing: 0.03em;
}
.mailbox-email-list tr .email-checkbox {
  max-width: 29px;
}
.mailbox-email-list tr .email-checkbox input {
  display: none;
}
.mailbox-email-list tr .email-star .email-star-status .email-important {
  color: #F5C400;
  display: none;
}
.mailbox-email-list tr .email-star .email-star-status .email-normal {
  display: block;
}
.mailbox-email-list tr .email-star .email-star-status.checked .email-important {
  display: block;
}
.mailbox-email-list tr .email-star .email-star-status.checked .email-normal {
  display: none;
}
.mailbox-email-list tr .email-sender {
  max-width: 150px;
}
.mailbox-email-list tr .email-subject .email-extra-icons {
  float: right;
}
.mailbox-email-list tr .email-subject .email-extra-icons span {
  float: right;
  margin-left: 3px;
}
.mailbox-email-list tr .email-datetime {
  text-align: right;
  max-width: 110px;
}
.mailbox-email-list tr.empty-list {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}
.mailbox-email-list tr + .empty-list {
  display: none;
}
.mailbox-email-list .email-pager-top {
  float: right;
}
.mailbox-email-list .email-pager-top .email-pager-count {
  float: right;
  margin-right: 10px;
  margin-top: 6px;
}
.mailbox-email-list .email-pager-top .email-pager-container {
  float: right;
}
.mailbox-email-list .email-pager-top,
.mailbox-email-list .email-pager-bottom {
  text-align: right;
}
.mailbox-email-list .email-pager-top .email-pager-count,
.mailbox-email-list .email-pager-bottom .email-pager-count {
  margin-bottom: 5px;
}
/* Mailbox - Compose */
.mailbox-message-compose .email-recepient-main-container #add-cc {
  display: none;
}
.mailbox-message-compose.minimal-view .email-recepient-main-container #add-cc {
  display: inline;
}
.mailbox-message-compose .email-recepient-main-container #add-bcc {
  display: none;
}
.mailbox-message-compose.minimal-view .email-recepient-main-container #add-bcc {
  display: inline;
}
.mailbox-message-compose .email-recepient-cc-container {
  display: block;
}
.mailbox-message-compose.minimal-view .email-recepient-cc-container {
  display: none;
}
.mailbox-message-compose .email-recepient-bcc-container {
  display: block;
}
.mailbox-message-compose.minimal-view .email-recepient-bcc-container {
  display: none;
}
.mailbox-message-compose .message-compose-controls .message-compose-contols-left {
  float: left;
}
.mailbox-message-compose .message-compose-controls .message-compose-contols-right {
  float: right;
  text-align: right;
}
.mailbox-message-compose .message-attachment .message-attachment-list .attachment-action {
  text-align: right;
}
.mailbox-message-compose .message-attachment .message-attachment-list .attachment-action a {
  padding: 5px 10px;
}
/* Message - View */
.mailbox-message-view .message-subject {
  border-bottom: 1px solid #dedede;
  margin-bottom: 13px;
  padding: 0 10px 10px;
  overflow: hidden;
}
.mailbox-message-view .message-subject .badge {
  float: right;
  margin: 7px 0 0 10px;
}
.mailbox-message-view .message-subject .email-extra-icons {
  float: right;
  margin-left: 10px;
  margin-top: 9px;
}
.mailbox-message-view .message-subject .email-extra-icons span {
  float: right;
  margin-left: 3px;
}
.mailbox-message-view .message-general-info-container {
  border-bottom: 1px solid #dedede;
  min-height: 68px;
  padding: 0 10px 15px;
}
.mailbox-message-view .message-general-info-container .message-controls {
  float: right;
}
.mailbox-message-view .message-general-info-container .message-general-info .message-sender-image {
  float: left;
  margin-top: 2px;
  text-align: center;
  width: 62px;
}
.mailbox-message-view .message-general-info-container .message-general-info .message-sender-image img:hover,
.mailbox-message-view .message-general-info-container .message-general-info .message-sender-image img:focus {
  border: 1px solid #bbbbbb;
}
.mailbox-message-view .message-general-info-container .message-general-info .message-sender {
  margin: 0 0 0 62px;
}
.mailbox-message-view .message-general-info-container .message-general-info .message-sender .sender-name {
  font-weight: bold;
  letter-spacing: 0.03em;
}
.mailbox-message-view .message-general-info-container .message-general-info .message-sender .sender-email {
  color: #aaaaaa;
}
.mailbox-message-view .message-general-info-container .message-general-info .message-recepient {
  margin: 5px 0 0 62px;
}
.mailbox-message-view .message-general-info-container .message-general-info .message-recepient .recepient-name {
  font-weight: bold;
  letter-spacing: 0.03em;
}
.mailbox-message-view .message-general-info-container .message-general-info .message-recepient .send-date {
  color: #aaaaaa;
}
.mailbox-message-view .message-general-info-container .message-general-info .message-recepient-others {
  display: none;
  margin: 5px 0 0 62px;
}
.mailbox-message-view .message-general-info-container .message-general-info .message-recepient-others ul {
  padding: 0;
  list-style: none;
}
.mailbox-message-view .message-general-info-container .message-general-info .message-recepient-others ul li {
  margin-bottom: 5px;
}
.mailbox-message-view .message-body-container {
  padding: 10px;
}
.mailbox-message-view .message-body-container .message-body {
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede;
}
.mailbox-message-view .message-body-container .message-attachment-gallery {
  margin-bottom: 20px;
}
.mailbox-message-view .message-body-container .message-attachment-list .attachment-action {
  text-align: right;
}
.mailbox-message-view .message-body-container .message-attachment-list .attachment-action a {
  padding: 5px 10px;
}
