/**
 * UI Butotns
 */
/*
   DEMO ONLY: Used for demo purposes only
 */
.block.basic-buttons button,
.block.basic-buttons-rounded button,
.block.basic-links a.btn,
.block.basic-links-rounded a.btn,
.block.basic-buttons-rounded-size button,
.block.basic-buttons-size button,
.block.buttons-size button,
.block.block-buttons button,
.block.active-buttons button,
.block.disabled-buttons button,
.block.disabled-links a.btn,
.block.button-group button,
.block.rounded-button-group button,
.block.button-toolbar button,
.block.button-toolbar-size button,
.block.button-radio-checkbox button,
.block.justified-link-variation .btn-group,
.block.single-button-dropdown .btn-group,
.block.split-button-dropdown .btn-group {
  margin-bottom: 10px;
}
.block.vertical-variation .btn-group-vertical {
  margin-right: 10px;
}
.block.dropup-block .btn-group {
  clear: both;
}
