<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>关于我们，一站式外汇平台搭建商|MT4白标搭建|MT4白标出租|MT4主标搭建|MT5白标搭建|正版MT4搭建、CRM客户关系管理|CRM管理系统|CRM用户管理中心|CRM系统开发|CRM多级返佣系统|CRM多级分销系统、MT4白标|主标、MT5白标|主标、三方支付、金融网站搭建，离岸公司、监管牌照（新西兰FSP，澳洲ASIC，英国FCA，美国NFA，瓦努阿图VFSC，塞浦路斯），交易系统服务|MT4系统|MT5系统 | MT4白标|MT4系统搭建|MT5平台开发|MT4多账户管理|MT4对冲|MT4清算桥|MT4抛盘|MT4对接|MT4风控|MT4数据源|MT4盘房|正版MT4租售-有点科技有限公司Udea Technology Limited。</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
        <meta name="description" content="有点科技有限公司专业从事正版MT4交易平台搭建，提供一站式MT4白标平台搭建|MT4白标出租、MT5白标|主标外汇平台解决方案；致力于风控系统、跟单系统、CRM客户管理系统，支付接口、离岸公司申请、监管牌照、离岸账户、行情分析系统等金融软件的开发。10年行业经验，有专业交易系统研发的FinTech团队，有点科技有限公司Udea Technology Limited。">
        <meta name="keywords" content="有点科技有限公司|交易系统服务|MT4白标系统|MT5白标系统|MT4白标|MT4白标系统搭建|MT5交易平台|MT4多账户管理|MT4 EA插件|MT4 CRM管理系统|MT4对冲|MT4清算桥|MT4抛盘|MT4对接|MT4风控|MT4数据源|MT4盘房|正版MT4租售-有点科技有限公司Udea Technology Limited">
        <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-3.3.6/css/bootstrap.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/common.css">

    </head>
    <body class="home page-template-page-index page-template-page-index-php page page-id-7" oncontextmenu=self.event.returnValue=false onselectstart="return false">
        <!--导航栏-->
        <nav id="nav" class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html"></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="../index.html">首页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-angle-down fa-lg"></i>&nbsp;&nbsp;平台搭建</a>
                            <ul class="dropdown-menu">
                                <li><a href="MT4.html">MT4简介</a></li>
                                <li><a href="MT5.html">MT5简介</a></li>
                                <li><a href="white.html">白标搭建</a></li>
                                <li><a href="mainlabel.html">主标搭建</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down fa-lg"></i>&nbsp;&nbsp;解决方案</a>
                            <ul class="dropdown-menu mega-menu-2 hidden-xs">
                                <li><a href="register.html">离岸账户开设</a></li>
                                <li><a href="company.html">离岸公司注册</a></li>
                                <li><a href="paizhao.html">金融监管牌照</a></li>
                                <li><a href="sanfang.html">三方支付申请</a></li>
                                <li><a href="CRM.html">CRM管理系统</a></li>
                                <li><a href="liudong.html">流动性提供商</a></li>
                                <li><a href="site.html">金融官网搭建</a></li>
                                <li><a href="design.html">Logo&nbsp;&nbsp;VI设计</a></li>
                                <li><a href="jingxiang.html">镜像管理系统</a></li>
                                <li><a href="chajian.html">MT4插件定制</a></li>
                            </ul>
                            <ul class="dropdown-menu hidden-lg">
                            <li><a href="register.html">离岸账户开设</a></li>
                            <li><a href="company.html">离岸公司注册</a></li>
                            <li><a href="paizhao.html">金融监管牌照</a></li>
                            <li><a href="sanfang.html">三方支付申请</a></li>
                            <li><a href="CRM.html">CRM管理系统</a></li>
                            <li><a href="liudong.html">流动性提供商</a></li>
                            <li><a href="site.html">金融官网搭建</a></li>
                            <li><a href="design.html">Logo&nbsp;&nbsp;VI设计</a></li>
                            <li><a href="jingxiang.html">镜像管理系统</a></li>
                            <li><a href="chajian.html">MT4插件定制</a></li>
                        </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down fa-lg">
                                </i>&nbsp;&nbsp;关于我们</a>
                            <ul class="dropdown-menu">
                                <li><a href="aboutus.html">关于我们</a></li>
                                <li><a href="development.html">发展历程</a></li>
                                <li><a href="joinus.html">加入我们</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="news.html">&nbsp;&nbsp;新闻动态</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left">
                        <li class=""><a class="dropdown-toggle language"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="bgheader"></div>
        <section id="header-bg"></section>
        <section id="about-header" class="bg-f sub-header">
            <section class="container">
                <ul>
                    <li class="col-xs-4 text-center"><a href="aboutus.html" class="active">关于我们</a></li>
                    <li class="col-xs-4 text-center"><a href="development.html">发展历程</a></li>
                    <li class="col-xs-4 text-center"><a href="joinus.html">加入我们</a></li>
                </ul>
            </section>
        </section>

        <section id="platform-info">
            <section class="container">
                <div class="fl col-sm-3">
                    <h2>我们是怎样的公司</h2>
                    <div class="line1" style="width: 280px"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="fr col-sm-7 col-sm-offset-2">
                    <p style="line-height: 26px;margin-top: 10px">有点科技有限公司（简称：有点科技），是一家专注为外汇及期货经纪商、贵金属交易所、基金管理者、银行等金融机构，提供一站式金融技术服务和MT4/MT5平台技术解决方案科技公司。</p>
                    <p style="line-height: 26px;margin-top: 10px">公司成立在香港，核心团队拥有5年以上丰富经验，团队包括专业的金融分析师、金融工程师、金融IT开发人员、金融交易系统技术总监、OTC系统设计技术人员，曾服务于多家著名国内外金融机构。</p>
                    <p style="line-height: 26px;margin-top: 10px">有点科技主要服务于金融机构客户，公司成立1年以来，已累计签约50多家金融机构，自身定位机构客户的技术合作伙伴，并致力于为合作伙伴提供一系列的外汇及贵金属平台的整合、开发、咨询、交易服务器、云端方案设计及管理，交易算法设计及咨询等。</p>
                    <p style="line-height: 26px;margin-top: 10px">作为一家金融科技公司，有点科技创立有着明确业务运营、架构和发展目标，在细分领域内有充足的人脉和资源，充分了解当前市场的需求和竞争状况，我们做的是一件 IT 和金融跨界整 合的事情，立志成为金融业领先的云服务商。</p>
                </div>
            </section>
        </section>

        <section class="bg-f0f2f3">
            <section class="container">
                <h2 class="paddingtop60 paddingbottom10 text-center textcolor3">我们的坚持</h2>
                <h4 class="text-center textcolor1 paddingbottom20">科技助力金融</h4>
                <p class="text-center paddingbottom70 lineheight26 textcolor3">我们以满足用户需求为首要任务。我们精益求精，激情，高效，全力做好每一件事情，做到极致。 我们认为保持积极快乐的心态，勇于探 索包容互助才能够高产出地工作，获得长期更高的回报。在UDEA，我们每天都在创造独一无二的价值。</p>
            </section>
        </section>

        <section class="container textcolor3">
                <h2 class="paddingtop60 paddingbottom30 text-center">我们的信念</h2>
                <p class="text-center">UDEAEX致力于通过 SAAS 云端服务为国内外金融机构提供更便捷、成本更低的一站式 IT 技术服务，显著提升金融机构的运行效率，驱动业务增长。</p>
                <ul class="col-md-offset-3 paddingtop40 paddingbottom100">
                    <li class="col-xs-3 col-md-2 text-center"><div class="aboutimg"><img src="../static/img/about01.png"></div>用户第一</li>
                    <li class="col-xs-3 col-md-2 text-center"><div class="aboutimg"><img src="../static/img/about02.png"></div>优质服务</li>
                    <li class="col-xs-3 col-md-2 text-center"><div class="aboutimg"><img src="../static/img/about03.png"></div>高效快速</li>
                    <li class="col-xs-3 col-md-2 text-center"><div class="aboutimg"><img src="../static/img/about04.png"></div>积极进取</li>
                </ul>
                <h1 class="text-center paddingtop50">我们寻找</h1>
                <p class="text-center paddingtop40 paddingbottom80">UNLIMITED IDEAS，我们的核心，而不是简单的员工</p>
            </section>

        <div id="clickTop" style="width: 50px; height: 50px; color: red">
            <a class="top-link" href="#"></a>
        </div>
        <footer id="footerMenu">
            <div class="container">
                <div class="row">
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>平台</label>搭建</dt>
                        <dd><a href="MT4.html">MT4简介</a></dd>
                        <dd><a href="MT5.html">MT5简介</a></dd>
                        <dd><a href="white.html">白标搭建</a></dd>
                        <dd><a href="mainlabel.html">主标搭建</a></dd>
                    </dl>
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>解决</label>方案</dt>
                        <dd><a href="register.html">离岸账户开设</a></dd>
                        <dd><a href="paizhao.html">金融监管牌照</a></dd>
                        <dd><a href="CRM.html">CRM管理系统</a></dd>
                        <dd><a href="site.html">金融官网搭建</a></dd>
                        <dd><a href="jingxiang.html">镜像管理系统</a></dd>
                    </dl>
                    <dl class="col-xs-4 col-sm-2">
                        <dt></dt>
                        <dt style="visibility: hidden;padding-bottom: 16px">解决方案</dt>
                        <dd><a href="company.html">离岸公司注册</a></dd>
                        <dd><a href="sanfang.html">三方支付申请</a></dd>
                        <dd><a href="liudong.html">流动性提供商</a></dd>
                        <dd><a href="development.html">Logo VI设计</a></dd>
                        <dd><a href="chajian.html">MT4插件定制</a></dd>
                    </dl>
                    <div class="clearfix visible-xs-block"></div>
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>关于</label></dt>
                        <dd><a href="aboutus.html">关于我们</a></dd>
                        <dd><a href="development.html">发展历程</a></dd>
                        <dd><a href="joinus.html">加入我们</a></dd>
                    </dl>
                    <dl class="col-xs-8 col-sm-2">
                        <dt><label>公司</label>信息</dt>
                        <dd>技术支持：Support@udeafx.com</dd>
                        <dd>商户合作：Sales@udeafx.com</dd>
                        <dd>电话号码：+00852 6032-7386</dd>
                        <dd>公司地址：香港湾仔路骆克道53-55号<br/>&emsp;&emsp;&emsp;&emsp;&emsp;恒泽商业大厦15楼1501室</dd>
                    </dl>
                    <div class="clearfix visible-xs-block"></div>
                </div>

            </div>
            <div class="companyinfo">
                <p>Copyright © 2016-2017 Udea Technology Limited. All rights reserved.</p>
            </div>
        </footer>


    </body>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <script type="text/javascript" src="../static/js/hm.js"></script>
    <script type="text/javascript" src="../static/js/vds.js"></script>
    <script type="text/javascript" src="../static/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="../static/js/storage.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function () {
            _vds.push(['setAccountId', 'a6a54602e467dc5f']);
            (function () {
                var vds = document.createElement('script');
                vds.type = 'text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="//publicdn.cdn.duapp.com/js/wqnmlgb.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d11936d53e2cc56c9cc082a33ab9c99d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript" src="//publicdn.cdn.duapp.com/js/wqnmlgb.min.js"></script>

    <script>
        document.onkeydown=function (e){
            var currKey = 0;
            var evt = e ||window.event;
            currKey = evt.keyCode||evt.which||evt.charCode;
            if (currKey == 123) {
                window.event.cancelBubble = true;
                window.event.returnValue = false;
            }
        };
    </script>
</html>