<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>流动性提供商，一站式外汇平台搭建商|MT4白标搭建|MT4白标出租|MT4主标搭建|MT5白标搭建|正版MT4搭建、CRM客户关系管理|CRM管理系统|CRM用户管理中心|CRM系统开发|CRM多级返佣系统|CRM多级分销系统、MT4白标|主标、MT5白标|主标、三方支付、金融网站搭建，离岸公司、监管牌照（新西兰FSP，澳洲ASIC，英国FCA，美国NFA，瓦努阿图VFSC，塞浦路斯），交易系统服务|MT4系统|MT5系统 | MT4白标|MT4系统搭建|MT5平台开发|MT4多账户管理|MT4对冲|MT4清算桥|MT4抛盘|MT4对接|MT4风控|MT4数据源|MT4盘房|正版MT4租售-有点科技有限公司Udea Technology Limited。</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
        <meta name="description" content="有点科技有限公司专业从事正版MT4交易平台搭建，提供一站式MT4白标平台搭建|MT4白标出租、MT5白标|主标外汇平台解决方案；致力于风控系统、跟单系统、CRM客户管理系统，支付接口、离岸公司申请、监管牌照、离岸账户、行情分析系统等金融软件的开发。10年行业经验，有专业交易系统研发的FinTech团队，有点科技有限公司Udea Technology Limited。">
        <meta name="keywords" content="有点科技有限公司|交易系统服务|MT4白标系统|MT5白标系统|MT4白标|MT4白标系统搭建|MT5交易平台|MT4多账户管理|MT4 EA插件|MT4 CRM管理系统|MT4对冲|MT4清算桥|MT4抛盘|MT4对接|MT4风控|MT4数据源|MT4盘房|正版MT4租售-有点科技有限公司Udea Technology Limited">
        <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-3.3.6/css/bootstrap.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/common-scheme.css">

        <link rel="stylesheet" type="text/css" href="../static/css/register.css">


    </head>
    <body class="home page-template-page-index page-template-page-index-php page page-id-7" oncontextmenu=self.event.returnValue=false onselectstart="return false">
        <!--导航栏-->
        <nav id="nav" class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html"></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="../index.html">首页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-angle-down fa-lg"></i>&nbsp;&nbsp;平台搭建</a>
                            <ul class="dropdown-menu">
                                <li><a href="MT4.html">MT4简介</a></li>
                                <li><a href="MT5.html">MT5简介</a></li>
                                <li><a href="white.html">白标搭建</a></li>
                                <li><a href="mainlabel.html">主标搭建</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down fa-lg"></i>&nbsp;&nbsp;解决方案</a>
                            <ul class="dropdown-menu mega-menu-2 hidden-xs">
                                <li><a href="register.html">离岸账户开设</a></li>
                                <li><a href="company.html">离岸公司注册</a></li>
                                <li><a href="paizhao.html">金融监管牌照</a></li>
                                <li><a href="sanfang.html">三方支付申请</a></li>
                                <li><a href="CRM.html">CRM管理系统</a></li>
                                <li><a href="liudong.html">流动性提供商</a></li>
                                <li><a href="site.html">金融官网搭建</a></li>
                                <li><a href="design.html">Logo&nbsp;&nbsp;VI设计</a></li>
                                <li><a href="jingxiang.html">镜像管理系统</a></li>
                                <li><a href="chajian.html">MT4插件定制</a></li>
                            </ul>
                            <ul class="dropdown-menu hidden-lg">
                                <li><a href="register.html">离岸账户开设</a></li>
                                <li><a href="company.html">离岸公司注册</a></li>
                                <li><a href="paizhao.html">金融监管牌照</a></li>
                                <li><a href="sanfang.html">三方支付申请</a></li>
                                <li><a href="CRM.html">CRM管理系统</a></li>
                                <li><a href="liudong.html">流动性提供商</a></li>
                                <li><a href="site.html">金融官网搭建</a></li>
                                <li><a href="design.html">Logo&nbsp;&nbsp;VI设计</a></li>
                                <li><a href="jingxiang.html">镜像管理系统</a></li>
                                <li><a href="chajian.html">MT4插件定制</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down fa-lg">
                                </i>&nbsp;&nbsp;关于我们</a>
                            <ul class="dropdown-menu">
                                <li><a href="aboutus.html">关于我们</a></li>
                                <li><a href="development.html">发展历程</a></li>
                                <li><a href="joinus.html">加入我们</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="news.html">&nbsp;&nbsp;新闻动态</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left">
                        <li class=""><a class="dropdown-toggle language"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="bgheader"></div>
        <section id="header-bg"></section>
        <section id="platform-header" class="sub-header">
            <section class="container">
                <ul class="one-show clickhide">
                    <li style="width: 4.5%;float: left"></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="company.html">离岸公司注册</a>
                    </li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="register.html">离岸账户开设</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="paizhao.html">金融监管牌照</a>
                    </li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="sanfang.html">三方支付申请</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="CRM.html">CRM管理系统</a></li>
                    <li class="col-lg-1">
                        <div id="nextRE" class="clickhide"><i class="fa fa-angle-right fa-lg"></i></div>
                    </li>
                </ul>
                <ul class="two-show">
                    <li style="float:left;width: 4.5%;margin-left: 4.5%">
                        <div id="pre"><i class="fa fa-angle-left fa-lg"></i></div>
                    </li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="liudong.html" class="active">流动性提供商</a>
                    </li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="site.html">金融网站搭建</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="design.html">Logo VI设计</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="jingxiang.html">镜像管理系统</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="chajian.html">MT4插件定制</a></li>
                </ul>

            </section>
        </section>

        <section id="platform-info">
            <section class="container">
                <div class="fl col-sm-3">
                    <h2 style="padding-bottom: 10px">流动性清算</h2>
                    <div class="line1"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="fr col-sm-7 col-sm-offset-2">
                    <p>
                        在发达市场，我们知道，流动性是所有的交易者最终很重要的。这不只是传播，而且执行的质量。我们通过行业的100％，通过我们的合作伙伴的流动性，这 是在世界顶级的外汇银行的10。作为回报，他们告诉我们一贯紧绷的价格，使我们能够有一个市场领先的拒绝不到1％的税率。该公司的DMA模式使机构投资者在领先做市商银行汇总的串流报价匿名交易。通过确保从位置和其他非高频交易的DMA贸易流动，发达市场的平台比其他匿名多银行的交易场所，包括电子通讯网络定价更为强劲。发达市场也提供了福克斯-全序执行大宗交易的执行
                    </p>

                </div>
            </section>
        </section>


        <section id="clearing-adv">
            <div class="container color-666">
                <h2 class="text-center">我们的优势</h2>
                <div class="row">
                    <div class="col-md-offset-1 col-sm-6 col-md-4 col-xs-12">
                        <div class="adv-img-contact adv-img"></div>
                        <div class="adv-text">
                            我们与几十家国际投资银行、ECN电子交易网络平台和其它流动性提供商合作。
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-sm-6 col-md-4 col-xs-12">
                        <div class="adv-img adv-img-LPS"></div>
                        <div class="adv-text">
                            世界顶级投资银行 LPs （流动性提供商） ：
                            <br/>
                            <br/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-offset-1 col-sm-6 col-md-4 col-xs-12">
                        <div class="adv-img adv-img-product"></div>
                        <div class="adv-text">
                            国际主流交易品种：外汇、贵金属、原油、股指等80多个交易品种。
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-sm-6 col-md-4 col-xs-12">
                        <div class="adv-img adv-img-DB"></div>
                        <div class="adv-text">
                            报价源直接来自DB, CITI, BARX,MS, JPM, NOM, ANZ, GS, CS,UBS, BNP, HSBC, RBS,Commerz等多家顶级投行。
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-4 col-xs-6 cfn-commont clearing-SYSTEMS center-block"></div>
                    <div class="col-sm-4 col-xs-6 cfn-commont clearing-CLEARINC center-block"></div>
                    <div class="col-sm-4 col-xs-6 cfn-commont clearing-CLEARINC center-block"></div>
                </div>
            </div>
        </section>
        <section id="clearing-fast">
            <div class="container color-c8c8c8">
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-9 text-center">
                        <p>连接到整个交易市场，我们提供的机构客户对我们现有提供流动性之外的多样化的流动性提供者的经纪商访问。</p>
                        <p>流动性集合系统同时将多个流动性供应商集合到同一视图中。便于运营商更好的管理所有的流动性供应机构，并自动筛选最佳执行方案，由系统智能分配订单到多家流动性供应机构。</p>
                        <P>由于我们与我们的流动性提供者和经纪商（杰弗里斯和法国巴黎银行），强大的关系结算提供卓越的外汇价格，可以做任何的清算,并连接到多个交易平台。</P>
                    </div>

                </div>
                <div class="fast-img"><img src="../static/img/clearing-shandain.png" class="center-block"></div>
                <div>
                    <p class="text-center">业界最快的报价<br/>
                        挣脱传统Ajax技术的束缚，将报价速度提升为毫秒级。</p>
                </div>

            </div>
        </section>
        <div id="clearing-bank">
            <div class="container">
                <div class="row hidden-xs">
                    <a class="bankPay1" href="javascript:"></a>
                    <a class="bankPay2" href="javascript:"></a>
                    <a class="bankPay3" href="javascript:"></a>
                    <a class="bankPay4" href="javascript:"></a>
                    <a class="bankPay5" href="javascript:"></a>
                    <a class="bankPay6" href="javascript:"></a>
                    <a class="bankPay7" href="javascript:"></a>
                    <a class="bankPay8" href="javascript:"></a>
                </div>
                <div class="row visible-xs">
                    <div class="col-xs-6 odd"><a class="bankPay1" href="javascript:"></a></div>
                    <div class="col-xs-6 even"><a class="bankPay2" href="javascript:"></a></div>
                    <div class="col-xs-6 odd"><a class="bankPay3" href="javascript:"></a></div>
                    <div class="col-xs-6 even"><a class="bankPay4" href="javascript:"></a></div>
                    <div class="col-xs-6 odd"><a class="bankPay5" href="javascript:"></a></div>
                    <div class="col-xs-6 even"><a class="bankPay6" href="javascript:"></a></div>
                    <div class="col-xs-6 odd"><a class="bankPay7" href="javascript:"></a></div>
                    <div class="col-xs-6 even"><a class="bankPay8" href="javascript:"></a></div>
                </div>
            </div>
        </div>
        <section id="clearing-build">
            <div class="container">
                <h2 class="text-center">桥搭建</h2>
                <p>MT4 Bridge 桥</p>
                <div class="row color-only-c8c8c8">
                    <div class="col-md-4 col-xs-12 margin-bulid-65">
                        <a class="rich-img"></a>
                        <div class="bulid-mt4 rich-text">
                            丰富的功能，它提供访问超过70流动性提供商，提供重要的选择，以帮助您根据您的个人需求塑造您的产品。它还可以将您的MT4平台转变为多资产交易平台使您能够添加新的收入流，因为外汇，差价合约，期货，股票和指数都可以使用MetaTrader交易。
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 margin-bulid-65">
                        <a class="Gold-img"></a>
                        <div class="bulid-mt4 Gold-text">
                            Gold-i MT4
                            Bridge是市场上第一个包含风险管理功能的网桥。重要的是，它让你有能力决定哪些行业应该是预订的，哪些应该是B-Booked。它为您提供灵活性，以决定是否STP或仓储是客户交易的最合适的路线，并帮助您最大限度地减少您的暴露。
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 margin-bulid-65">
                        <a class="date-img"></a>
                        <div class="bulid-mt4 date-text">
                            提供24x7的外包技术支持，具有不同的支持级别，以满足不同的需求和预算。通过外包给Gold-i，您可以最大限度地减少停机时间并最大限度地提高盈利能力。
                            <br/>
                            <br/>
                            <br/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4 col-xs-12 margin-bulid-65">
                        <a class="bridge-img"></a>
                        <div class="bulid-mt4 bridge-text">
                            Bridge，处理客户订单只需要几毫秒，因此您更有可能在屏幕上获得价格，没有滑点。 Gold-i
                            Bridge的设计目的是在MetaTrader的一秒钟内处理更多交易，从而确保您每秒进行高峰现场交易的能力。
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 margin-bulid-65">
                        <a class="mt4-img"></a>
                        <div class="bulid-mt4 mt4-text">
                            Gold-i Bridge快速设置，没有重复问题。它使用MT4管理工具进行编程。一旦设置，Gold-i Bridge完全自动运行，除了一般的系统管理，不需要日常维护。
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 margin-bulid-65">
                        <a class="ddos-img"></a>
                        <div class="bulid-mt4 ddos-text">
                            它极具弹性。没有中心点的故障，因为插件和IG都安装在代理的MT4服务器上。由于没有外部组件，它不容易受到DDOS攻击
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="clearing-fortex">
            <div class="container">
                <div class="row">
                    <a class="fortex1" href="javascript:"></a>
                    <a class="fortex2" href="javascript:"></a>
                    <a class="fortex3" href="javascript:"></a>
                    <a class="fortex4" href="javascript:"></a>
                </div>
            </div>
        </section>
        <section id="clearing-solve">
            <div>
                <div class="container">
                    <div class="row">
                        <h2>有点科技解决方案</h2>
                        <div class="bulid-step scrollanimate" data-animate="fadeInDown">
                            <dl>
                                <dt class="bulid-start clear-solve-number col-xs-2 col-xs-offset-1">
                                    <img src="../static/img/clear-solve-one.png"
                                         class="img-responsive center-block">
                                </dt>
                                <dt class="bulid-walk clear-solve-number col-xs-2">
                                    <img src="../static/img/clear-solve-two.png"
                                         class="img-responsive center-block">
                                </dt>
                                <dt class="bulid-run clear-solve-number col-xs-2">
                                    <img src="../static/img/clear-solve-three.png"
                                         class="img-responsive center-block">
                                </dt>
                                <dt class="bulid-flag clear-solve-number col-xs-2">
                                    <img src="../static/img/clear-solve-four.png"
                                         class="img-responsive center-block">
                                </dt>
                                <dt class="bulid-end clear-solve-number col-xs-2">
                                    <img src="../static/img/clear-solve-five.png"
                                         class="img-responsive center-block">
                                </dt>
                            </dl>
                            <div class="clearfix"></div>
                            <dl class="solid-squre-wrap">
                                <dd class="col-xs-2 col-xs-offset-1"><i class="solid-squre"></i></dd>
                                <dd class="col-xs-2"><i class="solid-squre"></i></dd>
                                <dd class="col-xs-2"><i class="solid-squre"></i></dd>
                                <dd class="col-xs-2"><i class="solid-squre"></i></dd>
                                <dd class="col-xs-2"><i class="solid-squre"></i></dd>
                            </dl>
                            <div class="clearfix"></div>
                            <dl>
                                <dd class="col-xs-2 col-xs-offset-2"><i class="solid-line"></i></dd>
                                <dd class="col-xs-2"><i class="solid-line"></i></dd>
                                <dd class="col-xs-2"><i class="solid-line"></i></dd>
                                <dd class="col-xs-2"><i class="solid-line"></i></dd>
                            </dl>
                            <div class="clearfix"></div>
                            <dl class="col-xs-2 col-xs-offset-1 clear-top">
                                <dd>基金经理</dd>
                                <dd>在线交易商</dd>
                                <dd>只能交易</dd>
                                <dd>外汇券商</dd>
                            </dl>
                            <dl class="col-xs-2 clear-top">
                                <dd>MetaTrader系统</dd>
                            </dl>
                            <dl class="col-xs-2 clear-top step04">
                                <dd>
                                    <div style="margin-top: 13px">报价系统</div>
                                    <div style="margin-top: 13px"><img
                                        src="../static/img/clearing-double.png"></div>
                                    <div><span>集结的核心</span><span>市场价格</span></div>
                                </dd>
                                <dd>
                                    <div>Bridge OMX</div>
                                    <div><img src="../static/img/clearing-double.png"></div>
                                    <div>XBook ECN</div>
                                </dd>
                            </dl>
                            <dl class="col-xs-2 clear-top">
                                <dd>数据仓库</dd>
                                <dd>主要经济商</dd>
                            </dl>
                            <dl class="col-xs-2 clear-top">
                                <dd>银行 ECNS</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="clickTop" style="width: 50px; height: 50px; color: red">
            <a class="top-link" href="#"></a>
        </div>
        <footer id="footerMenu">
            <div class="container">
                <div class="row">
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>平台</label>搭建</dt>
                        <dd><a href="MT4.html">MT4简介</a></dd>
                        <dd><a href="MT5.html">MT5简介</a></dd>
                        <dd><a href="white.html">白标搭建</a></dd>
                        <dd><a href="mainlabel.html">主标搭建</a></dd>
                    </dl>
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>解决</label>方案</dt>
                        <dd><a href="register.html">离岸账户开设</a></dd>
                        <dd><a href="paizhao.html">金融监管牌照</a></dd>
                        <dd><a href="CRM.html">CRM管理系统</a></dd>
                        <dd><a href="site.html">金融官网搭建</a></dd>
                        <dd><a href="jingxiang.html">镜像管理系统</a></dd>
                    </dl>
                    <dl class="col-xs-4 col-sm-2">
                        <dt></dt>
                        <dt style="visibility: hidden;padding-bottom: 16px">解决方案</dt>
                        <dd><a href="company.html">离岸公司注册</a></dd>
                        <dd><a href="sanfang.html">三方支付申请</a></dd>
                        <dd><a href="liudong.html">流动性提供商</a></dd>
                        <dd><a href="development.html">Logo VI设计</a></dd>
                        <dd><a href="chajian.html">MT4插件定制</a></dd>
                    </dl>
                    <div class="clearfix visible-xs-block"></div>
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>关于</label></dt>
                        <dd><a href="aboutus.html">关于我们</a></dd>
                        <dd><a href="development.html">发展历程</a></dd>
                        <dd><a href="joinus.html">加入我们</a></dd>
                    </dl>
                    <dl class="col-xs-8 col-sm-2">
                        <dt><label>公司</label>信息</dt>
                        <dd>技术支持：Support@udeafx.com</dd>
                        <dd>商户合作：Sales@udeafx.com</dd>
                        <dd>电话号码：+00852 6032-7386</dd>
                        <dd>公司地址：香港湾仔路骆克道53-55号<br/>&emsp;&emsp;&emsp;&emsp;&emsp;恒泽商业大厦15楼1501室</dd>
                    </dl>
                    <div class="clearfix visible-xs-block"></div>
                </div>

            </div>
            <div class="companyinfo">
                <p>Copyright © 2016-2017 Udea Technology Limited. All rights reserved.</p>
            </div>
        </footer>

    </body>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <script type="text/javascript" src="../static/js/hm.js"></script>
    <script type="text/javascript" src="../static/js/vds.js"></script>
    <script type="text/javascript" src="../static/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="../static/js/storage.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function () {
            _vds.push(['setAccountId', 'a6a54602e467dc5f']);
            (function () {
                var vds = document.createElement('script');
                vds.type = 'text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d11936d53e2cc56c9cc082a33ab9c99d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript" src="//publicdn.cdn.duapp.com/js/wqnmlgb.min.js"></script>

    <script>
        document.onkeydown=function (e){
            var currKey = 0;
            var evt = e ||window.event;
            currKey = evt.keyCode||evt.which||evt.charCode;
            if (currKey == 123) {
                window.event.cancelBubble = true;
                window.event.returnValue = false;
            }
        };
    </script>
</html>