<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>离岸公司注册，一站式外汇平台搭建商|MT4白标搭建|MT4白标出租|MT4主标搭建|MT5白标搭建|正版MT4搭建、CRM客户关系管理|CRM管理系统|CRM用户管理中心|CRM系统开发|CRM多级返佣系统|CRM多级分销系统、MT4白标|主标、MT5白标|主标、三方支付、金融网站搭建，离岸公司、监管牌照（新西兰FSP，澳洲ASIC，英国FCA，美国NFA，瓦努阿图VFSC，塞浦路斯），交易系统服务|MT4系统|MT5系统 | MT4白标|MT4系统搭建|MT5平台开发|MT4多账户管理|MT4对冲|MT4清算桥|MT4抛盘|MT4对接|MT4风控|MT4数据源|MT4盘房|正版MT4租售-有点科技有限公司Udea Technology Limited。</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
        <meta name="description" content="有点科技有限公司专业从事正版MT4交易平台搭建，提供一站式MT4白标平台搭建|MT4白标出租、MT5白标|主标外汇平台解决方案；致力于风控系统、跟单系统、CRM客户管理系统，支付接口、离岸公司申请、监管牌照、离岸账户、行情分析系统等金融软件的开发。10年行业经验，有专业交易系统研发的FinTech团队，有点科技有限公司Udea Technology Limited。">
        <meta name="keywords" content="有点科技有限公司|交易系统服务|MT4白标系统|MT5白标系统|MT4白标|MT4白标系统搭建|MT5交易平台|MT4多账户管理|MT4 EA插件|MT4 CRM管理系统|MT4对冲|MT4清算桥|MT4抛盘|MT4对接|MT4风控|MT4数据源|MT4盘房|正版MT4租售-有点科技有限公司Udea Technology Limited">
        <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-3.3.6/css/bootstrap.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/common-scheme.css">
        <link rel="stylesheet" type="text/css" href="../static/css/register.css">
        <style type="text/css">
            .matched {
                font-weight: bolder;
                background-color: lightpink;
            }
        </style>

    </head>
    <body class="home page-template-page-index page-template-page-index-php page page-id-7" oncontextmenu=self.event.returnValue=false onselectstart="return false">
        <!--导航栏-->
        <nav id="nav" class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html"></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="../index.html">首页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-angle-down fa-lg"></i>&nbsp;&nbsp;平台搭建</a>
                            <ul class="dropdown-menu">
                                <li><a href="MT4.html">MT4简介</a></li>
                                <li><a href="MT5.html">MT5简介</a></li>
                                <li><a href="white.html">白标搭建</a></li>
                                <li><a href="mainlabel.html">主标搭建</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down fa-lg"></i>&nbsp;&nbsp;解决方案</a>
                            <ul class="dropdown-menu mega-menu-2 hidden-xs">
                                <li><a href="register.html">离岸账户开设</a></li>
                                <li><a href="company.html">离岸公司注册</a></li>
                                <li><a href="paizhao.html">金融监管牌照</a></li>
                                <li><a href="sanfang.html">三方支付申请</a></li>
                                <li><a href="CRM.html">CRM管理系统</a></li>
                                <li><a href="liudong.html">流动性提供商</a></li>
                                <li><a href="site.html">金融官网搭建</a></li>
                                <li><a href="design.html">Logo&nbsp;&nbsp;VI设计</a></li>
                                <li><a href="jingxiang.html">镜像管理系统</a></li>
                                <li><a href="chajian.html">MT4插件定制</a></li>
                            </ul>
                            <ul class="dropdown-menu hidden-lg">
                                <li><a href="register.html">离岸账户开设</a></li>
                                <li><a href="company.html">离岸公司注册</a></li>
                                <li><a href="paizhao.html">金融监管牌照</a></li>
                                <li><a href="sanfang.html">三方支付申请</a></li>
                                <li><a href="CRM.html">CRM管理系统</a></li>
                                <li><a href="liudong.html">流动性提供商</a></li>
                                <li><a href="site.html">金融官网搭建</a></li>
                                <li><a href="design.html">Logo&nbsp;&nbsp;VI设计</a></li>
                                <li><a href="jingxiang.html">镜像管理系统</a></li>
                                <li><a href="chajian.html">MT4插件定制</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down fa-lg">
                                </i>&nbsp;&nbsp;关于我们</a>
                            <ul class="dropdown-menu">
                                <li><a href="aboutus.html">关于我们</a></li>
                                <li><a href="development.html">发展历程</a></li>
                                <li><a href="joinus.html">加入我们</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="news.html" class="dropdown-toggle" data-toggle="dropdown"
                               data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;新闻动态</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left">
                        <li class=""><a class="dropdown-toggle language"></a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="bgheader"></div>
        <section id="header-bg"></section>
        <section id="platform-header" class="sub-header">
            <section class="container">
                <ul class="one-show">
                    <li style="width: 4.5%;float: left"></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="register.html" class="active">离岸账户开设</a>
                    </li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="company.html">离岸公司注册</a>
                    </li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="paizhao.html">金融监管牌照</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="sanfang.html">三方支付申请</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="CRM.html">CRM管理系统</a></li>
                    <li class="col-lg-1">
                        <div id="nextRE"><i class="fa fa-angle-right fa-lg"></i></div>
                    </li>
                </ul>
                <ul class="two-show clickhide">
                    <li style="float:left;width: 4.5%;margin-left: 4.5%">
                        <div id="pre" class="clickhide"><i class="fa fa-angle-left fa-lg"></i></div>
                    </li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="liudong.html">流动性提供商</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="site.html">金融网站搭建</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="design.html">Logo VI设计</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="jingxiang.html">镜像管理系统</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="chajian.html">MT4插件定制</a></li>
                </ul>

            </section>
        </section>

        <section id="platform-info">
            <section class="container">
                <div class="fl col-sm-3">
                    <h2 style="padding-bottom: 10px">离岸账户开设</h2>
                    <div class="line1"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="fr col-sm-7 col-sm-offset-2">
                    <p>
                        离岸账户也叫OSA账户，在境外（含港澳台地区）的自然人、法人（含在境外注册的中国境外投资企业）、政府机构、国际组织及其他经济组织，包括中资金融机构的海外支持机构，但不包括境内机构的境外代表机构和办事机构[1] 按规定在依法取得离岸银行业务经营资格 的境内银行离岸业务部开立的账户，属于境外账户；离岸账户相对于NRA账户受外汇管制更少些，从资金的安全性角度来看，离岸账户要安全些受国家外管局监管没那么严格。
                    </p>
                    <p>
                        离岸账户在金融学上指存款人在其居住国家以外开设账户的银行。相反，位于存款人所居住国内的银行则称为在岸银行或境内银行。
                    </p>
                </div>
            </section>
        </section>
        <section id="company">
            <div class="company-list">
                <div class="container">
                    <ul id="search_list">
                        <li>
                            <span class="tag-text">电话理财</span>
                            <span class="company-croci red"></span><span class="tag-text">网上银行</span>
                            <span class="company-croci green"></span>
                        </li>
                        <li>
                            <span class="open-bank">开户银行</span>
                            <span class="low-save">最低结存额</span>
                            <span class="low-save">低额结存月费</span>
                            <span class="open-fee">开户手续费（港币）</span>
                            <span class="fee-out">汇出手续费</span>
                            <span class="fee-in">汇入手续费</span>
                        </li>
                        <li>
                                <span class="open-bank">
                                    <label class="name-com">香港上海汇丰银行有限公司</label><br/>
                                    <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                                </span>
                            <span class="low-save">50,000</span>
                            <span class="low-save">200</span>
                            <span class="open-fee">1350</span>
                            <span class="fee-out">220</span>
                            <span class="fee-in">65</span>
                        </li>
                        <li>
                                <span class="open-bank">
                                    <label class="name-com">星展银行（香港）有限公司</label><br/>
                                    <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                                </span>
                            <span class="low-save">20,000</span>
                            <span class="low-save">100</span>
                            <span class="open-fee">1000/1000-3000</span>
                            <span class="fee-out">220</span>
                            <span class="fee-in">65</span>
                        </li>
                        <li>
                            <span class="open-bank">
                                <label class="name-com">恒生银行有限公司</label><br/>
                                <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                            </span>
                            <span class="low-save">50,000</span>
                            <span class="low-save">180</span>
                            <span class="open-fee">1350</span>
                            <span class="fee-out">220</span>
                            <span class="fee-in">65</span>
                        </li>
                        <li>
                                <span class="open-bank">
                                    <label class="name-com">交通银行股份有限有限公司香港分行</label><br/>
                                    <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci  green"></span></span>
                                </span>
                            <span class="low-save">10,000</span>
                            <span class="low-save">60</span>
                            <span class="open-fee">200</span>
                            <span class="fee-out">200</span>
                            <span class="fee-in">50</span>
                        </li>
                        <li>
                                <span class="open-bank">
                                    <label class="name-com">中国银行{香港}有限公司</label><br/>
                                    <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci  green"></span></span>
                                </span>
                            <span class="low-save">50,000</span>
                            <span class="low-save">120</span>
                            <span class="open-fee">150</span>
                            <span class="fee-out">200</span>
                            <span class="fee-in">60</span>
                        </li>
                        <li>
                                <span class="open-bank">
                                    <label class="name-com">中信银行（国际）有限公司</label><br/>
                                    <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci  green"></span></span>
                                </span>
                            <span class="low-save">50,000</span>
                            <span class="low-save">100</span>
                            <span class="open-fee">450</span>
                            <span class="fee-out">200</span>
                            <span class="fee-in">60</span>
                        </li>
                        <li>
                <span class="open-bank">
                    <label class="name-com">中国工商银行（亚洲）有限公司</label><br/>

                <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci  green"></span></span>
                </span>
                            <span class="low-save">5000</span>
                            <span class="low-save">50</span>
                            <span class="open-fee">200</span>
                            <span class="fee-out">200</span>
                            <span class="fee-in">60</span>
                        </li>
                        <li>
                <span class="open-bank">
                    <label class="name-com"> 中国建设银行（亚洲）股份有限公司</label><br/>

                    <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">5000</span>
                            <span class="low-save">50</span>
                            <span class="open-fee">300</span>
                            <span class="fee-out">200</span>
                            <span class="fee-in">60</span>
                        </li>
                        <li>
                            <span class="open-bank">
                                <label class="name-com"> 永丰银行</label><br/>
                                <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                            </span>
                            <span class="low-save">10,000</span>
                            <span class="low-save">50</span>
                            <span class="open-fee">0</span>
                            <span class="fee-out">200</span>
                            <span class="fee-in">100</span>
                        </li>
                        <li>
                <span class="open-bank">
                    <label class="name-com">中国信托商业银行股份有限公司</label><br/>
                <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">10,000</span>
                            <span class="low-save">150</span>
                            <span class="open-fee">2000</span>
                            <span class="fee-out">150</span>
                            <span class="fee-in">60</span>
                        </li>
                        <li>
                <span class="open-bank">
                    <label class="name-com">永隆银行有限公司</label><br/>
                <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">5000</span>
                            <span class="low-save">50</span>
                            <span class="open-fee">1000</span>
                            <span class="fee-out">150</span>
                            <span class="fee-in">60</span>
                        </li>
                        <li>
                <span class="open-bank">
                    <label class="name-com">大新银行有限公司</label><br/>
                <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">5000</span>
                            <span class="low-save">60</span>
                            <span class="open-fee">11,000（单层架构）</span>
                            <span class="fee-out">250</span>
                            <span class="fee-in">70</span>
                        </li>
                        <li>
                <span class="open-bank">
                    <label class="name-com">渣打银行（香港）有限公司</label><br/>
                    <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">200，000</span>
                            <span class="low-save">300</span>
                            <span class="open-fee">150</span>
                            <span class="fee-out">200</span>
                            <span class="fee-in">55</span>
                        </li>
                        <li>
                <span class="open-bank">
                    <label class="name-com">南洋商业银行有限公司</label><br/>
                    <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">500</span>
                            <span class="low-save">60</span>
                            <span class="open-fee">1000</span>
                            <span class="fee-out">180</span>
                            <span class="fee-in">15</span>
                        </li>
                        <li>
                <span class="open-bank">
                     <label class="name-com">台新国际商业银行</label><br/>
                    <label class="name-in" style="display: none">250</label>
                    <label class="name-out" style="display: none">100</label>
                <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">N/A</span>
                            <span class="low-save">0</span>
                            <span class="open-fee">0</span>
                            <span class="fee-out">250</span>
                            <span class="fee-in">100</span>
                        </li>
                        <li>
                <span class="open-bank">
                     <label class="name-com">东亚银行有限公司</label><br/>
                <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">10,000</span>
                            <span class="low-save">100</span>
                            <span class="open-fee">200</span>
                            <span class="fee-out">280</span>
                            <span class="fee-in">65</span>
                        </li>
                        <li>
                <span class="open-bank">
                     <label class="name-com">花旗银行</label><br/>
                <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">10,000</span>
                            <span class="low-save">60</span>
                            <span class="open-fee">100</span>
                            <span class="fee-out">220</span>
                            <span class="fee-in">0</span>
                        </li>
                        <li>
                <span class="open-bank">
                    <label class="name-com">华侨永亨银行有限公司</label><br/>
                    <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">50，000</span>
                            <span class="low-save">80</span>
                            <span class="open-fee">1350</span>
                            <span class="fee-out">200</span>
                            <span class="fee-in">40</span>
                        </li>
                        <li>
                <span class="open-bank">
                    <label class="name-com">创兴银行有限公司</label><br/>
                    <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">500</span>
                            <span class="low-save">0</span>
                            <span class="open-fee">150</span>
                            <span class="fee-out">120</span>
                            <span class="fee-in">50</span>
                        </li>
                        <li>
                <span class="open-bank">
                    <label class="name-com">台北富帮商业银行股份有限公司香港分行</label><br/>
                <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">500,000</span>
                            <span class="low-save">150</span>
                            <span class="open-fee">2000</span>
                            <span class="fee-out">200</span>
                            <span class="fee-in">50</span>
                        </li>
                        <li>
                <span class="open-bank">
                    <label class="name-com">大华银行</label><br/>
                <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">2000</span>
                            <span class="low-save">25</span>
                            <span class="open-fee">100</span>
                            <span class="fee-out">200</span>
                            <span class="fee-in">0</span>
                        </li>
                        <li>
                <span class="open-bank">
                    <label class="name-com">马来亚银行</label><br/>
                <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">5000</span>
                            <span class="low-save">0</span>
                            <span class="open-fee">实际费用，根据银行收取</span>
                            <span class="fee-out">200</span>
                            <span class="fee-in">120</span>
                        </li>
                        <li>
                <span class="open-bank">
                     <label class="name-com">澳新银行</label><br/>
                    <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">500，000</span>
                            <span class="low-save">300</span>
                            <span class="open-fee">100</span>
                            <span class="fee-out">150</span>
                            <span class="fee-in">150</span>
                        </li>
                        <li>
                <span class="open-bank">
                     <label class="name-com">广发银行</label><br/>
                    <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">N/A</span>
                            <span class="low-save">0</span>
                            <span class="open-fee">0</span>
                            <span class="fee-out">200</span>
                            <span class="fee-in">60</span>
                        </li>
                        <li>
                <span class="open-bank">
                     <label class="name-com">大众银行（香港）</label><br/>
                    <span class="company-site">香港<span class="company-croci red"></span><span class="company-croci green"></span></span>
                </span>
                            <span class="low-save">500,000</span>
                            <span class="low-save">0</span>
                            <span class="open-fee">0</span>
                            <span class="fee-out">150</span>
                            <span class="fee-in">50</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="affect">
            <div class="container">
                <div class="row">
                    <h4 class="text-center">账户作用</h4>
                    <div class="col-lg-offset-1 col-lg-10">
                        <p>
                            银行位于税率较低的国家或地区，因而能被用作避税港。离岸银行所在国家对保护储户隐私要求更严密。逃避存款人所在国家对于账户活动的监督管理，例如禁止开设匿名账户等。在存款人所在国家政治或经济不稳定的时候，保
                            护存款。</p>
                    </div>
                    <div class="clearfix"></div>
                    <h4 class="text-center">账号优点</h4>
                    <div class="col-sm-offset-1 col-sm-10 col-xs-12 col-xs-offset-0" style="margin-bottom: 38px;">
                        <div class="col-xs-12 company-dashed-bottom">
                            <div class="col-xs-3 company-dashed-right">资金调拨自由</div>
                            <div class="col-xs-6 company-dashed-right">免征存款利息税 提高境内外资金综合运营效率</div>
                            <div class="col-xs-3">品种不受限制</div>
                        </div>
                        <div class="col-xs-offset-1 col-xs-5 company-dashed-right" style="margin-top: 10px;">存款利率</div>
                        <div class="col-xs-6" style="margin-top: 10px;">境内操控，境外运作</div>
                    </div>
                    <div class="clearfix"></div>
                    <h4 class="text-center">开设地点</h4>
                    <div class="img-position">
                        <div class="col-xs-3 company-dashed-right " style="margin-left: 12%">
                            <i><img src='../static/img/company-position.png'></i>
                            香港
                        </div>
                        <div class="col-xs-3 company-dashed-right">
                            <i><img src='../static/img/company-position.png'></i>
                            塞浦路斯
                        </div>
                        <div class="col-xs-3">
                            <i><img src='../static/img/company-position.png'></i>
                            新西兰
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="clickTop" style="width: 50px; height: 50px; color: red">
            <a class="top-link" href="#"></a>
        </div>
        <footer id="footerMenu">
            <div class="container">
                <div class="row">
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>平台</label>搭建</dt>
                        <dd><a href="MT4.html">MT4简介</a></dd>
                        <dd><a href="MT5.html">MT5简介</a></dd>
                        <dd><a href="white.html">白标搭建</a></dd>
                        <dd><a href="mainlabel.html">主标搭建</a></dd>
                    </dl>
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>解决</label>方案</dt>
                        <dd><a href="register.html">离岸账户开设</a></dd>
                        <dd><a href="paizhao.html">金融监管牌照</a></dd>
                        <dd><a href="CRM.html">CRM管理系统</a></dd>
                        <dd><a href="site.html">金融官网搭建</a></dd>
                        <dd><a href="jingxiang.html">镜像管理系统</a></dd>
                    </dl>
                    <dl class="col-xs-4 col-sm-2">
                        <dt></dt>
                        <dt style="visibility: hidden;padding-bottom: 16px">解决方案</dt>
                        <dd><a href="company.html">离岸公司注册</a></dd>
                        <dd><a href="sanfang.html">三方支付申请</a></dd>
                        <dd><a href="liudong.html">流动性提供商</a></dd>
                        <dd><a href="development.html">Logo VI设计</a></dd>
                        <dd><a href="chajian.html">MT4插件定制</a></dd>
                    </dl>
                    <div class="clearfix visible-xs-block"></div>
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>关于</label></dt>
                        <dd><a href="aboutus.html">关于我们</a></dd>
                        <dd><a href="development.html">发展历程</a></dd>
                        <dd><a href="joinus.html">加入我们</a></dd>
                    </dl>
                    <dl class="col-xs-8 col-sm-2">
                        <dt><label>公司</label>信息</dt>
                        <dd>技术支持：Support@udeafx.com</dd>
                        <dd>商户合作：Sales@udeafx.com</dd>
                        <dd>电话号码：+00852 6032-7386</dd>
                        <dd>公司地址：香港湾仔路骆克道53-55号<br/>&emsp;&emsp;&emsp;&emsp;&emsp;恒泽商业大厦15楼1501室</dd>
                    </dl>
                    <div class="clearfix visible-xs-block"></div>
                </div>

            </div>
            <div class="companyinfo">
                <p>Copyright © 2016-2017 Udea Technology Limited. All rights reserved.</p>
            </div>
        </footer>
    </body>


    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <script type="text/javascript" src="../static/js/hm.js"></script>
    <script type="text/javascript" src="../static/js/vds.js"></script>
    <script type="text/javascript" src="../static/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="../static/js/storage.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <script src="../static/js/test.js"></script>

    <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function () {
            _vds.push(['setAccountId', 'a6a54602e467dc5f']);
            (function () {
                var vds = document.createElement('script');
                vds.type = 'text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d11936d53e2cc56c9cc082a33ab9c99d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript" src="//publicdn.cdn.duapp.com/js/wqnmlgb.min.js"></script>

    <script>
        document.onkeydown=function (e){
            var currKey = 0;
            var evt = e ||window.event;
            currKey = evt.keyCode||evt.which||evt.charCode;
            if (currKey == 123) {
                window.event.cancelBubble = true;
                window.event.returnValue = false;
            }
        };
    </script>
</html>