
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.twitter-typeahead {
    position: relative;
    width: 100%;
}
.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
    height: 34px;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.twitter-typeahead .tt-hint {
    border: 1px solid rgba(0, 0, 0, 0);
    color: #A1A1A1;
    padding: 6px 12px;
    z-index: 1;
}
.twitter-typeahead .tt-query {
    z-index: 2;
}
.tt-dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 2px;
    min-width: 160px;
    padding: 5px 0;
}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
    background-color: #898989;
    color: #FFFFFF;
}
.tt-suggestion.tt-is-under-cursor a {
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}
