/* ========================================================================
 * SIMPLE LINE ICONS
 * ======================================================================== */
.preview {
  padding: 10px 0;
  position: relative;
}
.icons {
  font-size: 16px;
  padding-right: 10px;
}
.code-preview {
  display: none;
}
.name {
  font-size: 14px;
}
.show-code {
  color: #101010;
}
.show-code:hover,
.show-code:active,
.show-code:focus {
  color: #252525;
  text-decoration: none;
}
