@import "resest.css";
html{
    font-family: Microsoft YaHei, sans-serif, Arial, '宋体';
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear:after{
    clear: both;
    overflow: hidden;
    content: '';
}
a{
    color: #333;
}
.y_content{
    width: 990px;
    margin: 50px auto 0;
    position: relative;
}
.y_logo{
    width: 990px;
    height: 65px;
}
.y_logo_inner{
    background: url(../images/logo.png) no-repeat scroll left center/108px auto;
    width: 108px;
}
.y_logo_inner a{
    display: block;
    height: 60px;
    overflow: hidden;
    text-indent: -9999em;
}
.y_logo_current{
    height: 30px;
    line-height: 30px;
    margin: 15px 0 0 10px;
    padding: 0 0 0 10px;
}
.y_logo_current a{
    background: #FF838B;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 0 10px;
    line-height: 30px;
}
.y_logo_current a:hover{
    background: #FF6767;
}
.y_logo_nav{
    /*float: right;*/
    padding: 0 40px 0 0;
    height: 60px;
}
.y_logo_nav a{
    position: relative;
    float: left;
    padding: 0 10px 5px;
    font-size: 20px;
    line-height: 60px;
}
.y_logo_nav .y_on i{
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    display: block;
    overflow: hidden;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px dashed transparent;
    border-bottom: 9px solid #ff6767;
}
.y_logo_nav .y_on b{
    position: absolute;
    bottom: -1.3px;
    left: 50%;
    z-index: 2;
    display: block;
    overflow: hidden;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px dashed transparent;
    border-bottom: 9px solid #fff;
}
.y_on{
    color: #ff6767;
}
.y_logo_nav a:hover{
    color: #ff6767;
}
.y_logo_sea{
    padding-top: 18.5px;
}
.y_logo_sea input{
    outline: none;
}
.y_search{
    width: 160px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 3px 0 0 3px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    color: #ccc;
}
.y_searchBtn{
    float: right;
    display: block;
    border-radius: 0 3px 3px 0;
    width: 80px;
    height: 28px;
    font-size: 14px;
    color: #fff;
    text-indent: 35px;
    line-height: 28px;
    background: #999 url(../images/search.png) no-repeat scroll 12px center/16px auto;
    cursor: pointer;
}
.y_searchBtn:hover{
    background: #ff6767 url(../images/search.png) no-repeat scroll 12px center/16px auto;
}
.y_nav_wrap{
    height: 34px;
    border-bottom: 1px solid #ff6767;
    border-top: 1px solid #ff6767;
    margin: auto;
    width: 990px;
}
.y_nav_wrap li{
    float: left;
    padding: 0 10px;
}
.y_nav_wrap a{
    display: block;
    padding: 0 3px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
}
.y_nav_wrap a:hover{
    color: #ff6767;
}

/*轮播*/
.y_lunbo {
    width: 640px;
    height: 240px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.y_lunbo .y_lunbo-imgs {
    width: 3840px;
    height: 240px;
    position: absolute;
    z-index: 10;
}
.y_lunbo .y_lunbo-imgs li {
    width: 640px;
    float: left;
    height: 240px;
    overflow: hidden;
}

.y_lunbo > div {
    position: absolute;
    width: 40px;
    height: 50px;
    color: white;
    text-align: center;
    background-color: #000;
    opacity: .3;
    top: 50%;
    margin-top: -10px;
    cursor: pointer;
    z-index: 20;
    font-size: 50px;
    line-height: 40px;
}

.y_prev {
    left:0;
}

.y_next {
    right: 0;
}
.y_apic{
    display: block;
    float: left;
    height: 100%;
    margin: 0 25px 0 0;
    text-align: center;
    width: 320px;
}
.y_apic img{
    width: 320px;
    height: 240px;
}
.y_Ltit{
    font-size: 20px;
    float: left;
    width: 285px;
    height: 60px;
    overflow: hidden;
    margin: 15px 0;
    color: #333;
}
.y_u{
    color: #999;
    font-size: 12px;
}
.y_u img{
    vertical-align: middle;
    border-radius: 50%;
    margin: 0 10px 0 0;
    width: 28px;
}
.y_lunbo-imgs p{
    font-size: 14px;
    padding: 10px 50px 0 0;
}



.y_max{
    background-color: #fff;
    padding: 10px 0;
    position: relative;
    top: 0;
    left: 0;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
}
.y_space_left{
    width: 640px;
    float: left;
}
.y_slider{
    height: 240px;
    overflow: hidden;
    width: 640px;
    position: relative;
    background: #F7F7F7;
    margin-top: 20px;
}
.y_title{
    margin-top: 10px;
    height: 35px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
}
.y_title h3{
    float: left;
    font-weight: 400;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    padding-bottom: 4px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
}
.y_hon{
    color: #ff6767;
    border-bottom: 3px solid #ff6767;
}
.y_title a{
    margin: 0 0 0 20px;
    font-size: 16px;
    line-height: 30px;
    color: #333;
}
.y_title a:hover{
    color: #ff6767;
}
.y_discuss{
    margin: 10px 0 0 0;
    height: 900px;
}
.y_discuss ul{
    width: 100%;
}
.y_discuss ul li{
    float: left;
    overflow: hidden;
    padding: 10px 0;
}
.y_user{
    width: 100%;
    height: 40px;
}
.y_user a img{
    margin: 0 10px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}
.y_userifon a{
    float: left;
    display: block;
    overflow: hidden;
    max-width: 590px;
    color: #111;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
.y_userifon a:hover {
    text-decoration: underline;
}
.y_userifon span{
    color: #666;
    font-size: 10px;
}
.y_comment{
    margin: 5px 0 0 50px;
    zoom: 1;
}
.y_comment p{
    overflow: hidden;
    max-height: 45px;
    color: #666;
    font-size: 14px;
}
.y_comment p:hover{
    text-decoration: underline;
}
.y_comment div{
    height: 100px;
    padding: 10px 0 0;
}
.y_comment div img{
    float: left;
    margin: 0 10px 0 0;
    width: 100px;
    height: 100px;
}
.y_comment h4{
    float: left;
    clear: both;
    padding: 10px 0 0;
    color: #666;
    font-size: 12px;
    line-height: 100%;
}
.y_alltime{
    height: 35px;
    border-bottom: 1px solid #eeeeee;
    margin-top: 10px;
    position: relative;
}
.y_moment h3{
    float: left;
    font-weight: 400;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    padding-bottom: 4px;
    outline: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ff6767;
    border-bottom: 3px solid #ff6767;
    line-height: 30px;
}
.y_list{
    width: 100%;
    clear: both;
}
.y_list ul li{
    border-bottom: 1px dotted #e6e6e6;
    zoom: 1;
    overflow: hidden;
    padding: 10px;
    padding-left: 0;
}
.y_subtitle{
    font-size: 14px;
}
.y_subtitle a{
    color: #ff6767;
}
.y_subtime{
    color: #999;
    width: 110px;
    float: right;
    text-align: right;
    font-size: 12px;
}
.y_subcontent{
    padding-top: 5px;
}
.y_sharePic{
    width: 120px;
    float: left;
}
.y_sharePic img{
    width: 120px;
    height: 120px;
}
.y_detail{
    padding-left: 140px;
    color: #666;
    font-weight: normal;
}
.y_detail p{
    color: #999;
    font-size: 12px;
    line-height: 22px;
}
.y_loading{
    height: 44px;
    line-height: 44px;
    overflow: hidden;
    margin-top: 20px;
}
.y_loading a{
    display: block;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    color: #ff6767;
    background-color: #f8f8f8;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -moz-transition: color .5s ease-in-out .3s,background-color .3s ease-in-out .3s;
    -o-transition: color .5s ease-in-out .3s,background-color .3s ease-in-out .3s;
    -ms-transition: color .5s ease-in-out .3s,background-color .3s ease-in-out .3s;
    transition: color .5s ease-in-out .3s,background-color .3s ease-in-out .3s;
}
.y_loading a:hover{
    color: white;
    background: #ff6767;
}

/*右边的内容*/
.y_space_right{
    width: 300px;
    float: right;
}
.y_space_right ul{
    margin-top: 10px;
}
.y_space_right li{
    padding: 15px 0 0;
    clear: both;
}
.y_imgLoad{
    display: block;
    height: 60px;
    width: 60px;
}
.y_space_right li>.y_mintitle>a{
    font-size: 14px;
    line-height: 16px;
}
.y_space_right li p>span{
    color: #999;
    font-size: 12px;
}
.y_space_right li p{
    padding: 0 0 0 70px;
}
.y_space_right li p>b{
    color: #ff6767;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
}
.y_take{
    border: 1px solid #ff6767;
    border-radius: 10px;
    color: #ff6767;
    display: block;
    float: right;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
}
.y_pic{
    width: 300px;
    height: 600px;
    margin-top: 20px;
}


/*底部内容的开始*/
.k_footer{
    width: 990px;
    height: 112px;
    border-top:1px solid #e8e8e8;
    margin: 0 auto;
}
.k_f1{
    float: left;
}
.k_f1 .c3b{
    margin-top:15px;
}
.k_f1 .c3b a {
    color: #f50;
    font-size: 14px;
    font-weight: 700;
}
.k_f1 .c3b a:hover {
    text-decoration: underline
}
.k_f1 .c3c{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 6px;
}
.k_f1 .c3c a{
    color: #333;
}
.k_f1 .c3c a:hover{
    color: #ff6767;
}
.k_f1 .c3d{
    font-size: 12px;
}

.k_ewm1{
    float:right;
    margin-top: 10px;
    margin-bottom: 20px
}
.k_ewm1 img{
    width: 82px;
    height: 82px;
    vertical-align: middle;
}
.k_frist{
    margin-right: 25px;
}
.k_ewm1 p{
    font-size: 14px;
    text-align: center;
}
/*底部的结束*/



/*返回*/
.gotop {
    position: fixed;
    bottom: 10px;
    left: 1179px;
    width: 58px;
    height: 58px;
    padding: 5px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    transition: 0.5s;
    opacity: 0;
}

.gotop img {
    width: 58px;
    height: 58px;
}
