@import "public/resest.css";

.le {
    float: left;
}

.ri {
    float: right;
}
.k_footer {
    height: auto;
}

.k_f1 .c3c a {
    margin-left: 0;
    margin-right: 8px;
    color: #666;
}

.k_f1 .c3d {
    color: #666;
    font-size: 11px;
}

.y_logo_nav > i {
    float: left;
    height: 18px;
    margin: 23px 4px 0;
    border-right: 1px solid #ddd;
}

.h_carousel_top {
    margin-top: 40px;
}

.h_carousel_top, .h_carousel_top a {
    height: 350px;
    width: 100%;
    display: block;
    background: url("../images/h_carousel_top.jpg") no-repeat center;
}

.h_carousel_details {
    padding-bottom: 20px;
    line-height: 28px;
    font-size: 18PX;
    color: #333;
}

.h_carousel_details ul {
    float: right;
    margin: 0 0 5px 10px;
}

.h_carousel_details ul li {
    width: 60px;
    float: left;
    font-size: 11px;
    text-align: center;
}

.h_carousel_details ul li a {
    color: #666;
}

.h_carousel_details ul li a i {
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    background: url("../images/h_carousel_ix2.png") no-repeat scroll -60px 0/auto 30px;
}

.h_carousel_details ul li a .h_carousel_ico_one {
    background-position-x: 0;
}

.h_carousel_details ul li a .h_carousel_ico_two {
    background-position-x: -150px;
}

.h_carousel_details ul li a .h_carousel_ico_three {
    background-position-x: -90px;
}

.h_carousel_details ul li a .h_carousel_ico_four {
    background-position-x: -120px;
}

.h_carousel_details ul li a:hover .h_carousel_ico_one {
    background-position-x: -30px;
}
.h_carousel_main_top {
    background: url("../images/h_mo.png") no-repeat scroll left center;
    padding: 20px 0 20px 25px;
    line-height: 20px;
}
.h_carousel_main_top p {
    color: #ff6767;
    font-size: 20px;
    line-height: 28px;
}
.h_carousel_main > p {
    padding-bottom: 20px;
    line-height: 28px;
    font-size: 18PX;
    color: #333;
}
.h_carousel_main ul li {
    float: left;
    margin: 0 23px 20px 0;
    width: 230px;
    text-align: center;
    display: block;
    font-size: 18px;
    overflow: hidden;
    padding: 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.h_carousel_main ul li a {
    color: #333;
}
.h_carousel_main ul li  img {
    width: 230px;
}
.h_carousel_main ul li a:hover {
    color: #ff6767;
}
.h_carousel_main ul .h_carousel_main_m {
    margin-right: 0;
}
.h_carousel_main ul li a span {
    color: #ff6767;
    display: block;
    font-size: 12px;
}
.h_carousel_main ul li i {
    border: 1px solid #ff6767;
    border-radius: 15px;
    color: #ff6767;
    display: block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin: 10px auto 0;
    padding: 0 10px;
    width: 30px;
}
.h_carousel_main ul li i:hover {
    background: #ff6767;
    color: #fff;
}
.k_footer .k_f1 .c3c .h_solid:hover {
    color: #ff6767;
    text-decoration: underline;
}