.k_footer .k_f1 .c3c .h_solid:hover {
    color: #ff6767;
    text-decoration: underline;
}
.k_f1 .c3c a {
    margin-right: 8px;
}
.h_event_carousel ul{
    margin-top: 40px;
    position: relative;
    height: 350px;
    width: 100%;
}
.h_event_carousel ul li {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../images/h_event_carousel1.jpg") center;
    opacity: 0;
}
.h_event_carousel ul  .h_event_carousel_tw {
    background: url("../images/h_event_carousel2.jpg") center;
}
.h_event_carousel ul  .h_event_carousel_th {
    background: url("../images/h_event_carousel3.jpg") center;
}
.h_event_carousel ul .h_event_carousel_fi {
    opacity: 1;
}
.h_event_tab_main {
    background-color: #eee;
    overflow: hidden;
}
.h_event_tab_main_info {
    background-color: #eee;
    height: 48px;
    line-height: 48px;
}
.y_content {
    margin-top: 0;
}
.h_event_tab_main_info a {
    float: left;
    background: #eee;
    color: #999;
    text-align: center;
    font-size: 22px;
    width: 33.3%;
}
.h_event_tab_main_info a:hover {
    background-color: #ccc;
    color: #666;
}
.h_event_tab_main_info .h_tit_check {
    background-color: #ccc;
    color: #666;
}
.h_event_info {
    margin: auto;
    padding: 30px 20px;
    overflow: hidden;
}
.h_event_info .h_le {
    float: left;
    text-align: justify;
    width: 625px;
    color: #333;
}
.h_event_info .h_le p {
    padding: 20px 0 0;
    line-height: 40px;
}
.h_event_info .h_le p a {
    float: right;
    margin: 0 0 0 20px;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
}
.h_event_info .h_le p .h_end {
    background: #ba2020;
}
.h_event_info .h_le p .h_set {
    background: #ff9c00;
}
.h_event_info .h_le p .h_end:hover {
    background: #d02323;
}
.h_event_info .h_le p .h_set:hover {
    background: #ffb137;
}
.h_ri {
    float: right;
    width: 285px;
    border-left: 1px solid #EDEDED;
    text-align: center;
    font-size: 12px;
}
.h_ri p {
    clear: both;
    font-size: 14px;
}
.h_live_main ul li {
    float: left;
    overflow: hidden;
    padding: 10px 0;
    width: 460px;
    height: 225px;
}
.h_live_main ul li .h_user {
    height: 40px;
}
.h_live_main ul li .h_user > a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.h_live_main ul li .h_user > a img {
    width: 100%;
}
.h_live_main ul li .h_user div  a {
    float: left;
    display: block;
    overflow: hidden;
    max-width: 590px;
    color: #111;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
.h_live_main ul li .h_user div  span {
    float: left;
    color: #666;
    font-size: 10px;
}
.h_live_main ul li  > a {
    overflow: hidden;
    max-height: 45px;
    color: #666;
    font-size: 14px;
    padding: 5px 0;
    display: block;
}
.h_live_main ul li  > p {
    clear: both;
    float: left;
    padding: 10px 0 0;
    color: #666;
    font-size: 12px;
    line-height: 100%;
    height: 15px;
}

.h_live_main ul li .h_topic_img  img {
    margin: 0 10px 0 0;
    width: 100px;
    height: 100px;
    float: left;
}
.h_live_main ul .h_topic_t {
    float: right;
}
.h_top_hover:hover {
    text-decoration: underline;
}
.h_live_main ul li .h_topic_img  i {
    width: 40px;
    height: 40px;
    display: block;
    float: left;
}
.h_live_main ul li .h_topic_img  i  s{
    width: 100%;
    height: 100%;
    display: block;
    margin: 40px 0 0 20px;
    background: rgba(0,0,0,0) url("../images/h_bts.png") no-repeat scroll 0 0;
}

.h_live_main ul li .h_topic_img  i:hover s {
    background: rgba(0,0,0,0) url("../images/h_bts.png") no-repeat scroll 0 -40px;
}
.h_live_main ul li .h_tra {
    opacity: 0;
    transition: 0.35s;
}
.h_live_main > div {
    display: none;
}
.h_live_main .h_live_main_f {
    display: block;
}
.h_live_th p {
    padding: 20px;
    color: #333;
    font-size: 16px;
    line-height: 180%;
}
.h_live_main .h_live_main_w .h_page {
    margin-top: 10px;
    line-height: 34px;
    height: 36px;
    font-size: 14px;
    margin-bottom: 20px;
}

.h_live_main .h_live_main_w .h_page ol {
    margin: auto;
    overflow: hidden;
    text-align: center;
}
.h_live_main .h_live_main_w .h_page ol li {
    margin-right: 5px;
    padding: 0 11px;
    border: 1px solid #eee;
    display: inline-block;
    background-color: #f8f8f8;
    color: #999;
}
.h_live_main .h_live_main_w .h_page ol li a {
    color: #999;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: inline-block;
}
.h_live_main .h_live_main_w .h_page ol .h_now_page{
    background-color: #ff6767;
    border: 1px solid #ff6767;
}
.h_live_main .h_live_main_w .h_page ol .h_now_page a{
    color: #fff;
    cursor: default;
}
.h_live_main .h_live_main_w .h_page ol li:hover {
    border: 1px solid #ff6767;
}
.h_live_main .h_live_main_w .h_page ol li:hover a {
    color: #ff6767;
}
.y_content .h_live_main .h_live_main_w .h_page ol .h_now_page:hover a {
    color: #fff;
}