@import "public/resest.css";

.le {
    float: left;
}

.ri {
    float: right;
}

.h_solid:hover {
    color: #ff6767;
    text-decoration: underline;
}

.h_act:hover {
    color: #ff6767;
}

.h_banner {
    position: relative;
    height: 360px;
    width: 990px;
    margin-top: 10px;
}
.h_banner > ul {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.h_banner > ul li {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.h_banner > ul li:first-of-type {
    opacity: 1;
}
.h_tab {
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    background: rgba(68, 68, 68, .4);
    z-index: 2;
}

.h_tab > ul {
    padding: 30px 0 0;
}

.h_tab > ul li a {
    padding: 20px 0;
    display: block;
    color: #fff;
    height: 20px;
    line-height: 20px;
}

.h_tab > ul li a i {
    background: url("../images/h_icon.png") no-repeat scroll 0 0/auto 20px;
    margin: 0 10px 0 20px;
    width: 20px;
    float: left;
    height: 20px;
}

.h_tab > ul li a s {
    width: 20px;
    float: right;
    height: 20px;
    margin: 0 10px 0 20px;
    background: url("../images/h_icon.png") no-repeat scroll -100px 0/auto 20px;
}

.h_tab > ul li:nth-of-type(2) a i {
    background: url("../images/h_icon.png") no-repeat scroll -20px 0/auto 20px;
    margin: 0 10px 0 20px;
    width: 20px;
    float: left;
    height: 20px;
}

.h_tab > ul li:nth-of-type(3) a i {
    background: url("../images/h_icon.png") no-repeat scroll -40px 0/auto 20px;
    margin: 0 10px 0 20px;
    width: 20px;
    float: left;
    height: 20px;
}

.h_tab > ul li:nth-of-type(4) a i {
    background: url("../images/h_icon.png") no-repeat scroll -60px 0/auto 20px;
    margin: 0 10px 0 20px;
    width: 20px;
    float: left;
    height: 20px;
}

.h_tab > ul li:nth-of-type(5) a i {
    background: url("../images/h_icon.png") no-repeat scroll -80px 0/auto 20px;
    margin: 0 10px 0 20px;
    width: 20px;
    float: left;
    height: 20px;
}

.h_tab > ul > li:hover {
    background-color: #ff6767;
}

.h_tab > ul ul {
    padding: 22px 50px 0;
    height: 338px;
    width: 390px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 219px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, .2);
    display: none;
}

.h_tab > ul ul li a {
    float: left;
    width: 130px;
    height: 70px;
    text-align: center;
    overflow: hidden;
    color: #333;
    position: relative;
}

.h_tab > ul ul .h_pic a {
    width: 50%;
    height: auto;
}

.h_tab > ul ul .h_pic a img {
    width: 165px;
    height: 165px;
}

.h_tab > ul ul .h_picw a {
    width: 100%;
    height: 50%;
    padding: 0;
}

.h_tab > ul ul .h_picw img {
    width: 120px;
}

.h_tab > ul ul .h_picw:last-of-type img {
    width: 390px;
    margin-top: 10px;
}

.h_tab > ul ul li a span {
    bottom: 4px;
    color: #999;
    display: block;
    font-size: 12px;
}
.h_banner_main {
    width: 770px;
    height: 100%;
    position: absolute;
    left: 220px;
    top: 0;
}
.h_banner_main > a:first-of-type {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 0;
    z-index: 2;
}
.h_banner_main > a:last-of-type {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    right: 0;
    z-index: 2;
}
.h_banner_main .h_ban:hover {
    background-color: rgba(0,0,0,.5);
}
.h_banner_main > a i{
    background: url("../images/h_arrow.png") no-repeat scroll 0 0/auto 30px;
    width: 17px;
    height: 30px;
    margin: 15px 12px;
    display: inline-block;
}
.h_banner_main > a:last-of-type i{
    background: url("../images/h_arrow.png") no-repeat scroll -18px 0/auto 30px;
    width: 17px;
    height: 30px;
    margin: 15px 12px;
    display: inline-block;
}
.h_banner_main ul {
    z-index: 3;
    position: absolute;
    right: 10px;
    bottom: 5px;
}
.h_banner_main ul li{
    float: left;
    margin: 5px;
}
.h_banner_main ul li:before {
    border: 3px solid #ccc;
    border-radius: 50%;
    content: "";
    display: inline-block;
    float: left;
    height: 5px;
    vertical-align: middle;
    width: 5px;
}
.h_banner_main ul .h_liche:before{
    border: 3px solid #ff6767;
}
.h_advertise {
    margin: 10px auto 0;
    padding: 15px 0;
    background: #eee;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.h_advertise_main {
    margin: auto;
    width: 910px;
    overflow: hidden;
}

.h_advertise ul {
    width: 700%;
    overflow: hidden;
    position: relative;
}
.h_advertise ul li {
    float: left;
    width: 910px;
}

.h_advertise ul li div{
    float: left;
    width: 303px;
}
.h_advertise ul li .h_ad_th {
    float: right;
}
.h_advertise ul li div p,.h_advertise ul li div a{
    padding: 0 29px;
    display: block;
}

/*.h_advertise ul li div:nth-of-type(2) {*/
    /*padding: 0 29px;*/
/*}*/

.h_advertise ul li div p {
    color: #333;
    font-size: 12px;
}

.h_advertise ul li div p span {
    color: #999;
}

.h_advertise ul li div a {
    display: inline-block;
    font-size: 20px;
    color: #333;
}

.h_advertise > a:first-of-type {
    position: absolute;
    top: 45px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    display: none;
}

.h_advertise > a:last-of-type {
    position: absolute;
    top: 45px;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    display: none;
}

.h_advertise > a i {
    background: url("../images/h_arrow.png") no-repeat scroll 0 0/auto 21px;
    width: 12px;
    height: 21px;
    display: inline-block;
    margin: 4.5px 9px;
}

.h_advertise > a:last-of-type i {
    background: url("../images/h_arrow.png") no-repeat scroll -12px 0/auto 21px;
}

.h_advertise > a:hover {
    background: #000;
    opacity: .3;
}

.h_live {
    margin: 20px auto 0;
}

.h_live > div {
    width: 310px;
    float: left;
}
.h_live .ah_live_tw {
    margin: 0 30px;
}
.h_live .ah_live_th {
    float: right;
}

.h_tit {
    height: 35px;
    border-bottom: 1px solid #E8E8E8;
    line-height: 35px;
}

.h_tit a {
    margin-right: 20px;
    font-weight: 400;
    font-size: 20px;
    color: #666;
}

.h_tit .ri a {
    margin-right: 0;
    margin-left: 20px;
    font-size: 16px;
}

.h_tit a {
    color: #333;
}

.h_tit .h_tit_check {
    color: #ff6767;
    height: 100%;
    border-bottom: 3px solid #ff6767;
    padding-bottom: 4px;
}

.h_live_main > div {
    display: none;
}
.h_coat .h_live_main .h_live_main_f{
    display: block;
}
.h_live_main_f img {
    width: 100%;
}

.h_live_main_f ul li {
    font-size: 16px;
    padding: 10px 0 0;
    line-height: 26px;
}

.h_live_main_f ul li a {
    color: #333;
}

.h_live .h_live_main_f ul li a:before {
    border: 2px solid #ccc;
    border-radius: 50%;
    content: "";
    display: inline-block;
    float: left;
    height: 5px;
    margin: 8px 8px 0 2px;
    vertical-align: middle;
    width: 5px;
}

.h_live_main_f ul li a:hover:before {
    border: 2px solid #ff6767;
}

.h_live_main_t {
    display: none;
}

.h_live_main_t ul li {
    border: 1px solid #e1e1e1;
    float: left;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 10px 17px 5px 0;
    text-align: center;
    text-decoration: none;
    width: 90px;
    cursor: pointer;
}

.h_live_main_t ul li a {
    color: #333;
}

.h_live_main_t ul .h_nth {
    margin-right: 0;
}

.h_live_main_t ul li:hover {
    border: 1px solid #ff6767;
}

.h_live_main_t ul li:hover a {
    color: #ff6767;
}

.h_menu {
    margin: 40px 0 0 0;
}

.m_tab_li {
    float: left;
    width: 230px;
    height: 305px;
    margin-right: 20px;
    margin-top: 14px;
    flex: 1;
    text-align: center;
}

.m_tab_li > .m_list_img {
    width: 230px;
    height: 230px;
    overflow: hidden;
}

.m_tab_li > .m_list_img > a > img {
    width: 100%;
    height: 230px;
    transition: 1s;
}

.m_tab_li:hover .m_list_img > a > img {
    transform: scale(1.1);
}

.m_tab_li:hover .m_list_p {
    color: #ff6767;
}

.m_tab_li_last {
    margin-right: 0;
}

.m_list_p {
    padding-top: 8px;
    font-size: 18px;
}

.m_list_p > span {
    font-size: 10px;
    color: #999;
}

.h_food {
    margin-top: 20px;
}

.h_food .h_live_main ul {
    clear: both;
}
.h_food .h_live_main ul li {
    width: 126px;
    float: left;
    margin: 10px 18px 0 0;
    text-align: center;
}

.h_food .h_live_main ul li a img {
    width: 126px;
    height: 126px;
}

.h_food .h_live_main ul li a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.h_food .h_live_main ul li span {
    color: #999;
    font-size: 12px;
}

.h_food .h_live_main ul .h_nt_se {
    margin-right: 0;
}

.h_food .h_live_main ul li:hover a {
    color: #ff6767;
    text-decoration: underline;
}

.h_topic {
    margin-top: 40px;
}

.h_topic .h_live_main_f ul li {
    padding: 10px 0;
    width: 460px;
    float: left;
    height: 225px;
    overflow: hidden;
}

.h_topic .h_live_main_f ul .h_topic_t {
    float: right;
}

.h_topic .h_live_main {
    float: left;
}
.h_user{
    height: 40px;
    overflow: hidden;
}
.h_user > a {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.h_user > a img {
    width: 100%;
}

.h_user div a {
    color: #111;
    display: block;
    font-size: 14px;
    margin-bottom: -10px;
}

.h_user div span {
    color: #666;
    font-size: 10px;
}

.h_topic .h_live_main ul li > a {
    color: #666;
    font-size: 14px;
    overflow: hidden;
}

.h_topic .h_live_main ul li > p {
    clear: both;
    padding: 10px 0 0;
    font-size: 12px;
    color: #666;
    line-height: 100%;
}

.h_topic_img img {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 0 0;
    padding: 10px 0 0;
}
.h_topic .h_live_main  {
    margin-bottom: 10px;
    overflow: hidden;
}
.h_topic .m_tab_li > .m_list_img > a > img,.h_topic .m_tab_li > .m_list_img {
    height: 173px;
}
.h_topic .m_tab_li {
    height: 248px;
}
.h_top_hover:hover {
    text-decoration: underline;
}
.h_link {
    clear: both;
    float: left;
    font-size: 12px;
    line-height: 20px;
    padding-top: 15px;
}
.h_link a {
    color: #666;
    padding-left: 12px;
}
.k_footer  {
    height: auto;
}
.k_f1 .c3c a{
    margin-left: 0;
    margin-right: 8px;
}
.h_copy {
    clear: both;
    padding: 10px 0;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #666;
}
.h_copy span {
    cursor: pointer;
}
.h_copy span:hover {
    color:#fd8712;
    text-decoration: underline;
}
.h_copy p {
    float: left;
}
.h_copy p  img {
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
.h_copy_ri {
    float: right;
}
.h_copy_ri img {
    width: 64px;
    height: 23px;
}