@import "public/resest.css";

.h_header {
    height: 40px;
    width: 100%;
    background-color: #333;
    color: #999;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
}

.h_header > ul li, .h_header_ri > ul li {
    float: left;
}

.h_header > ul li a, .h_header_ri > ul li a {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    color: #ccc;
}

.h_header_ri > ul .h_bar_text a, .h_header_ri > ul .h_blo a {
    padding: 0;
}

.h_header > ul li:first-child a i {
    background: url("../images/h_top-bar.png") no-repeat scroll 0 0/55px auto;
    display: block;
    float: left;
    width: 55px;
    height: 14px;
    margin: 13px 0 10px 10px;
    text-indent: -9999em;
}

.h_header > ul li:hover, .h_header_ri > ul li:hover {
    background-color: #000;
}

.h_header > ul li:hover > a, .h_header_ri > ul li:hover > a {
    color: #fff;
}

.h_header > ul li:first-child:hover > a i {
    background: url("../images/h_top-bar.png") no-repeat 0 -14px/55px auto;
}

.h_header > ul li:last-child {
    height: 40px;
    position: relative;
}

.h_header > ul li:last-child a i {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top: 6px solid #ccc;
    margin: 18px auto 0;
    display: inline-block;
    overflow: hidden;
}

.h_header > ul li:last-child:hover i {
    border-top: 6px solid #fff;
}

.h_pull ul {
    position: absolute;
    top: 40px;
    background-color: #333;
    left: -36px;
    text-align: center;
    display: none;
}

.h_pull ul li {
    font-size: 14px;
    color: #ccc;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    display: inline-block;
    width: 66px;
}

.h_pul ul li a {
    padding: 0 10px;
    display: block;
}

.h_header_ri {
    float: right;
}

.h_bar_text {
    font-size: 10px;
    text-align: center;
    height: 40px;
    position: relative;
}

.h_bar_text p {
    transform: scale(0.8);
    line-height: 1em;
}

.h_bar_text img {
    width: 18px;
    height: 18px;
    margin: 4px auto 0;
}

.h_header_ri ul .h_bar_text a {
    line-height: 0;
}

.h_bar_text {
    width: 60px;
}

.h_bar_text .h_pull_down li {
    font-size: 10px;
    text-align: center;
    height: 40px;
    position: relative;
    width: 60px;
}

.h_bar_text .h_pull_down img {
    margin: 4px auto;
}

.h_bar_text .h_pull_down li:first-child {
    background-color: #585757;
}

.h_bar_text .h_pull_down li:last-child {
    background-color: #a9a9a9;
}

.h_bar_text ul li {
    line-height: 0;
}

.h_bar_text ul {
    left: 0;
}

.h_header_ri .h_blo {
    width: 60px;
    height: 40px;
    text-align: center;
    position: relative;
}

.h_header_ri .h_blo .h_pull_down {
    left: 0;
    width: 60px;
}

.h_header_ri .h_blo img {
    width: 18px;
    height: 18px;
    margin: 4px auto;
}

.h_header_ri .h_blo p {
    transform: scale(0.8);
    line-height: 0;
}

.h_header_ri .h_blo a {
    line-height: 0;
}

.h_issue {
    background-color: #59C3D1;
}

.h_sign {
    background-color: #FFA859;
}

.h_client {
    background-color: #FE5761;
}

.h_header_ri .h_issue:hover {
    background-color: #59C3D1;
}

.h_header_ri .h_sign:hover {
    background-color: #FFA859;
}

.h_header_ri .h_client:hover {
    background-color: #FE5761;
}

.h_blo ul li {
    width: 60px;
}

.h_blo_pull ul li {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.h_header_ri .h_blo_pull ul li img {
    width: 100%;
    height: 100%;
}

.h_header_ri .h_issue ul li:first-of-type {
    background-color: #8ecdd8;
}

.h_header_ri .h_issue ul li:nth-of-type(2) {
    background-color: #a6dfea;
}

.h_header_ri .h_issue ul li:last-of-type {
    background-color: #adecf8;
}

html {
    font-family: Microsoft YaHei, sans-serif, Arial, '宋体';
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear:after {
    clear: both;
    overflow: hidden;
    content: '';
}

.y_content {
    width: 990px;
    margin: 50px auto 0;
    position: relative;
}

.y_logo {
    width: 990px;
    height: 65px;
}

.y_logo_inner {
    background: url(../images/h_logo.png) no-repeat scroll left center/108px auto;
    width: 108px;
}

.y_logo_inner a {
    display: block;
    height: 60px;
    overflow: hidden;
    text-indent: -9999em;
}

.y_logo_current {
    height: 30px;
    line-height: 30px;
    margin: 15px 0 0 10px;
    padding: 0 0 0 10px;
}

.y_logo_current a {
    background: #FF838B;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 0 10px;
    line-height: 30px;
}

.y_logo_nav {
    /*float: right;*/
    padding: 0 40px 0 0;
    height: 60px;
}

.y_logo_nav a {
    position: relative;
    float: left;
    padding: 0 10px 5px;
    font-size: 20px;
    line-height: 60px;
    color: #333;
}

.y_logo_nav .y_on i {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    display: block;
    overflow: hidden;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px dashed transparent;
    border-bottom: 9px solid #ff6767;
}

.y_logo_nav .y_on b {
    position: absolute;
    bottom: -1.3px;
    left: 50%;
    z-index: 2;
    display: block;
    overflow: hidden;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px dashed transparent;
    border-bottom: 9px solid #fff;
}

.y_on {
    color: #ff6767;
}

.y_logo_nav a:hover {
    color: #ff6767;
}

.y_logo_sea {
    padding-top: 18.5px;
}

.y_search {
    width: 160px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 3px 0 0 3px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    color: #ccc;
}

.y_searchBtn {
    float: right;
    display: block;
    border-radius: 0 3px 3px 0;
    width: 80px;
    height: 28px;
    font-size: 14px;
    color: #fff;
    text-indent: 35px;
    line-height: 28px;
    background: #999 url(../images/search.png) no-repeat scroll 12px center/16px auto;
}

.y_logo_nav .h_checked {
    color: #ff6767;
}

.k_footer{
    width: 990px;
    height: 112px;
    border-top:1px solid  #ccc;
    margin: 10px auto 0;
}
.k_f1{
    float: left;
}
.k_f1 .c3b{
    margin-top:15px;
}
.k_f1 .c3b a {
    color: #f50;
    font-size: 14px;
    font-weight: 700;
}
.k_f1 .c3b a:hover {
    text-decoration: underline
}
.k_f1 .c3c a{
    float: left;
    margin-left: 8px;
    color: #aaa;
    display: block;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 6px;
}
.k_f1 .c3c a:hover{
    color: #ff6767;
}
.k_f1 .c3d{
    font-size: 12px;
}

.k_ewm1{
    float:right;
    margin-top: 10px;
}
.k_ewm1 img{
    width: 82px;
    height: 82px;
    vertical-align: middle;
}
.k_frist{
    margin-right: 25px;
}
.k_ewm1 p{
    font-size: 14px;
    text-align: center;
}
.gotop {
    position: fixed;
    bottom: 70px;
    left: 1179px;
    width: 58px;
    height: 58px;
    padding: 5px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    transition: 0.5s;
    opacity: 0;
}

.gotop img {
    width: 58px;
    height: 58px;
}