@import "public/resest.css";

.le {
    float: left;
}

.ri {
    float: right;
}
html {
    height: 2000px;
}
.h_solid:hover {
    color: #ff6767;
    text-decoration: underline;
}

.h_act:hover {
    color: #ff6767;
}

.h_banner {
    position: relative;
    height: 360px;
    width: 990px;
    background-color: green;
    margin-top: 10px;
}
.h_menu {
    margin: 40px 0 0 0;
}

.h_main ul li{
    float: left;
}
.h_main ul li .h_main_th {
    margin: 0;
}
.h_food {
    margin-top: 20px;
}

.h_food .h_live_main ul li {
    width: 126px;
    float: left;
    margin: 10px 18px 0 0;
    text-align: center;
}

.h_food .h_live_main ul li a img {
    width: 126px;
    height: 126px;
}

.h_food .h_live_main ul li a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.h_food .h_live_main ul li span {
    color: #999;
    font-size: 12px;
}

.h_food .h_live_main ul li:nth-child(7n) {
    margin-right: 0;
}

.h_food .h_live_main ul li:hover a {
    color: #ff6767;
    text-decoration: underline;
}

.h_topic {
    margin-top: 40px;
}

.h_topic .h_live_main > div:first-of-type ul li {
    padding-top: 10px;
    width: 460px;
    float: left;
    height: 225px;
    overflow: hidden;
}

.h_topic .h_live_main > div:first-of-type ul li:nth-child(2n) {
    float: right;
}

.h_user > a {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.h_user > a img {
    width: 100%;
}

.h_user div a {
    color: #111;
    display: block;
    font-size: 14px;
}

.h_user div span {
    color: #666;
    font-size: 10px;
}

.h_topic .h_live_main ul li > a {
    color: #666;
    font-size: 14px;
    overflow: hidden;
}

.h_topic .h_live_main ul li > p {
    clear: both;
    padding: 10px 0 0;
    font-size: 12px;
    color: #666;
    line-height: 100%;
}

.h_topic_img img {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 0 0;
    padding: 10px 0 0;
}
.h_topic .h_live_main  {
    margin-bottom: 10px;
    overflow: hidden;
}
.h_topic .h_live_main > div:nth-of-type(2) {
    display: none;
}
.h_topic .m_tab_li > .m_list_img > a > img,.h_topic .m_tab_li > .m_list_img {
    height: 173px;
}
.h_topic .m_tab_li {
    height: 248px;
}
.h_top_hover:hover {
    text-decoration: underline;
}
.k_footer  {
    height: auto;
}
.k_f1 .c3c a{
    margin-left: 0;
    margin-right: 8px;
    color: #666;
}
.k_f1 .c3d {
    color: #666;
    font-size: 11px;
}
.y_logo_nav > i {
    float: left;
    height: 18px;
    margin: 23px 4px 0;
    border-right: 1px solid #ddd;
}
.h_main ul{
    margin-top: 10px;
    padding: 10px 0;
    display: none;
}
.h_main ul li div {
    width: 300px;
    height: 320px;
    text-align: center;
    margin: 0 45px 20px 0;
    float: left;
}
.h_main ul li div i {
    width: 300px;
    height: 250px;
    overflow: hidden;
    display: block;
}
.h_main ul li div  img {
    width: 300px;
    height: 300px;
    transition: 0.5s;
}
.h_main ul li div  p{
    font-size: 18px;
    line-height: 120%;
    padding: 5px 0;
}
.h_main ul li div:hover  img {
    transform: scale(1.1);
}
.h_main ul li div:hover  p {
    color: #ff6767;
}

.h_main .h_main_blo{
    display: block;
}
.h_page {
    margin-top: 10px;
    line-height: 34px;
    height: 36px;
    font-size: 14px;
}

.h_page ul {
    margin: auto;
    overflow: hidden;
    text-align: center;
}
.h_page ul li {
    margin-right: 5px;
    padding: 0 11px;
    border: 1px solid #eee;
    display: inline-block;
    background-color: #f8f8f8;
    color: #999;
}
.h_page ul li a {
    color: #999;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: inline-block;
}
.h_page ul .h_now_page{
    background-color: #ff6767;
    border: 1px solid #ff6767;
}
.h_page ul li:hover {
    border: 1px solid #ff6767;
}
.h_page ul li:hover a {
    color: #ff6767;
}
.y_content .h_page ul .h_now_page a {
    color: #fff;
    cursor: default;
}
.h_bt {
    margin-top: 10px;
}