/*@import "public/resest.css";*/
html,body{
    width: 100%;
    height: 100%;
}
.k_aboutus{
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}
.k_bg{
    width:100%;
    height: 350px;
    background: url("../images/k_bannerbg.jpg") no-repeat center center;
}
.k_naction{
    width: 100%;
    height: 48px;
    background-color: #ff6767;
}
.k_about_nav{
    width:990px;
    height: 48px;
    margin: 0 auto;
}
.k_about_nav li{
    float: left;
    height: 48px;
    width: 20%;
    color: #fff;
    line-height: 48px;
    text-align: center;
    font-size: 22px;
}
.k_about_nav li:hover{
    background-color:#ff8d8d;
}
.k_about_ul .active{
    width: 20%;
    background-color:#ff8d8d;
}
.k_select{
    margin-top: 48px;
}
.k_select .k_qie{
    display: none;
}
.k_select .active{
    display: block;
}
.k_qie{
    width:750px;
    margin: 0 auto 0;
}
.k_qie_con2{
    width: 750px;
}
.k_qie_img img{
    float: left;
    margin-right: 10px;
}
.k_qie_img h3{
    float: left;
    font-size:20px;
    color: #ff6767;
}
.k_qie_con2{
    float: left;
    margin-top: 20px;
}
.k_qie_con2 p{
    font-size: 18px;
}
.k_op{
    margin-top:30px;
}
.k_mo{
    float: left;
    margin-top: 40px;
}
.k_mo img{
    float: left;
    /*margin-top: 15px;*/
}
.k_mo h2{
    float: left;
    font-size: 18px;
    color: #ff6767;
    margin-bottom: 20px;
}
.k_meishi{
    margin-bottom: 30px;
}
.k_qie_con1 p{
    line-height:28px;
}
.k_qie_content{
    width: 750px;
    margin-top: 20px;
    float: left;
}
.k_qie_img2 img{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.k_qie_img2 h2{
    float: left;
    font-size: 18px;
    color: #ff6767;
    margin-bottom: 20px;
}
.k_qie_img2 p{
    font-size: 18px;
    float: left;
}
.k_qie1_img{
    width: 200px;
    display: block;
    margin-top: 15px;
    float: left;
}
.k_qie_img2 span{
    float: left;
    width: 750px;
    line-height: 40px;
}
.k_qie_content p{
    line-height: 32px;
}
.k_qie1_con3{
    width: 750px;
    margin: 0 auto;
}
.k_qie1_img3{
    float: left;
    margin-top: 20px;
}
.k_qie1_img3 img{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.k_qie1_img3 h2{
    float: left;
    font-size: 20px;
    color: #ff6677;
}
.k_qie1_ewm{
    margin: 20px auto;
}
.k_qie1_ewm div{
    float: left;
    width: 120px;
    margin-right: 40px;
}
.k_qie1_ewm p{
    text-align: center;
    font-size: 18px;
}
.k_bto{
    margin-top: 120px;
}
.k_qie2_con1{
    width: 750px;
    margin: 0 auto;
    font-size: 18px;
    line-height:30px;
}
.k_qie2_con2{
    width: 750px;
    margin-top: 20px;
}
.k_qie2_con2 img{
    float: left;
    margin-top: 5px;
}
.k_qie2_con2 h3{
    float: left;
    font-size: 18px;
    color: #ff6677;
}
.k_qie2_con2 p{
    float: left;
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
}
.k_qie3_con1{
    width: 750px;
    font-size: 18px;
    line-height: 30px;
}
.k_qie3_con1 img{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: middle;
}
.k_qie3_con1 h3{
    float: left;
}
.k_qie3_con1 p{
    float: left;
    margin-bottom:30px;
}
.k_qie3_con2 p{
    float: left;
}
.k_qie3_con1 h3{
    color: #ff6677;
}
.k_qie3_con1{
    float:left;
    width:750px;
}
.k_qie5_nav{
    margin-bottom: 20px;
}
.k_qie5_nav dl{
    float: left;
    width: 750px;
}

.k_qie5_nav dl dd a{
    float: left;
    color: #333;
    width: 124px;
    line-height:40px;
}
.k_qie5_nav dl dd a:hover{
    text-decoration: underline;
    color: #ff6677;
}
