@import "public/resest.css";
.k_banner{
    width:990px;
    height:90px;
    margin:13px auto ;
}
.nav_wrap a{
    color: #666;
}
.k_inprotcontent{
    width:990px;
    margin: 0 auto;
}
.k_content_big{
    float: left;
}
.k_content_left{
    width: 640px;
    height: 203px;
}
.k_yxbz{
    float: left;
    width:180px;
}
.k_yxbz img{
    width:180px;
}
.k_yx_right{
    float: right;
    width: 440px;
}
.k_yx_right h2{
    color: #333;
    font-size: 20px;
}
.k_yx_right h2:hover{
    text-decoration:underline;
    color:#ff6767;
}
.k_yx_right span{
    font-size: 15px;
    color: #999998;
    display: block;
    margin-top: 15px;
}
.k_yx_right p{
    font-size: 14px;
    margin-top: 5px;
}
.k_yx_btn{
    float: right;
    margin: 8px 0 0 0;
    padding: 0 25px;
    height: 30px;
    border: 1px solid #999;
    border-radius: 15px;
    color: #999;
    text-decoration: none;
    font-size: 14px;
    cursor: default;
}
.k_yx_btn a{
    color: #999;
}
.k_content_right{
    float: right;
    width: 300px;
}
.k_mf{
    width: 300px;
    height: 41px;
    font-size:20px;
    color:#ff6767;
}
.k_mf_play{
    width: 300px;
    height:90px;
    margin: 15px;
}
.k_play_img{
    float: left;
}
.k_play_img img{
    width: 75px;
    height: 75px;
}
.k_play_con{
    float: right;
    width:200px;
}
.k_play_con p{
    font-size:14px;
}
.k_play_con p:hover{
    color:#ff6767;
    text-decoration: underline;
}
.k_play_con span{
     font-size:12px;
     color: #666;
 }
.k_play_con del{
    font-size:12px;
    color: #666;
    text-decoration: line-through;
}
.k_cj{
    float: right;
    width:70px;
    font-size: 12px;
    height: 20px;
    border-radius: 15px;
    color:#ff6767;
    text-align: center;
    border: 1px solid #ff6767;
    line-height: 20px;
    margin-top: 10px;
}
.k_cj:hover{
    background-color:#ff6767;
}
.k_cj p:hover{
    color:white;
    text-decoration: none;
}

