.clear{
    clear: both;
}
/*内容导航的开始*/
.k_con_nav{
    width: 990px;
    height: auto;
    margin:0 auto;
}
.k_infoation{
    float: left;
    width: 640px;
}
#k_zhen_info{
    width: 640px;
    height: 41px;
    border-bottom: 1px solid #ccc;
}
.k_ui_title_wrap h3{
    float: left;
    font-size: 20px;
}
.k_ui_title_wrap h3 a{
    color: #666;
    display: block;
    width: 80px;
    height: 26px;
    margin-right:16px;
}
.k_con_nav{
    margin-top: 20px;
}
/*内容导航的结束*/
/*内容的开始*/
.k_content_con{
    width: 640px;
    height: 140px;
    margin-top: 20px;
}
.k_img{
    float: left;
}
.k_img img{
    width: 160px;
    height: 120px;
}
.k_eat{
    float:left;
    width:450px;
    margin-left: 20px;
}
.k_eat h3{
    font-size: 20px;
    color: #333;
}
.k_eat span{
    font-size:12px;
    color: #999;
    margin-top: 10px;
    display: block;
}
.k_eat p{
    font-size:14px;
    color: #666;
    margin-top: 5px;
    line-height:20px;
}
/*内容的结束*/
/*侧边栏内容的开始*/
.k_week{
    float: right;
    width:300px;
}
.k_week_nav p{
    font-weight: 400;
    font-size: 25px;
    color: #ff6767;
    border-bottom: 3px solid #ff6767;
}
.k_week_play{
    width: 300px;
    height: 80px;
    float: left;
    margin-top:15px;
}
.k_week_pic{
    float: left;
}
.k_week_con{
    float:left;
    margin-left:16px;
}
.k_week_con p{
    font-size: 14px;
    color: #333;
}
.k_week_con span{
    font-size: 12px;
    color: #999;
}
.k_week_pic img{
    width: 100px;
    height: 80px;
}
/*侧边栏内容的结束*/
.nav_wrap{
    width: 990px;
    overflow: hidden;
}
.k_big_navtion{
    width: 2970px;
}
.tabCon{
    float: left;
}
.k_secal{
    overflow: hidden;
}
.k_secal img:hover{
    transition: 0.7s;
    transform: scale(1.4);
}
.m_nav-all_li{
    padding: 0 3px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    cursor: pointer;
    margin-left: 200px;
    position: relative;
    right:0;
}
.m_all_down{
    width:990px;
    height:405px;
    background-color:white;
    position: absolute;
    top:36px;
    left:-854px;
    display: none;
    z-index: 55;
    box-shadow:2px 2px 10px #ccc;
}
.m_ad-one{
    line-height:5px;
}
h6>a{
    font-size:9px;
    font-weight: bolder;
}
.m_ad-one>p{
    width:90%;
    height:30px;
    font-size: 12px;
    float: left;
}
.m_ad-one>p>a{
    display: inline;
    font-size: 12px;
}