@import "public/resest.css";
.k_moble{
    width: 990px;
    height: 575px;
    margin: 50px auto 0;
    border-bottom: 2px solid #999998;
}
.k_mobile_pic{
    height: 615px;
    width:445px;
    float: left;
    margin-left:50px;
    background: url(../images/k_mobile.jpg) no-repeat left center;
}
.k_mobile_right{
    float:left;
    width: 400px;
}
.k_mobile_img{
    width: 400px;
    margin-left: 210px;
  margin-top:120px;
}
.k_mobile_img img{
   width: 90px;
}
.k_jian{
    padding: 35px 70px;
    font-size: 30px;
    color: #999;
    width: 400px;
}
.k_ewm_z{
    width: 400px;
    margin-left:90px;
    margin-top: 30px;
}
.k_ewm_l{
    float: left;
}
.k_ewm_l img{
    width:147px;
}
.k_ewm_r{
    float: left;
}
.k_ios{
    width: 176px;
    height:46px;
    line-height: 40px;
    background-color: #E8E8E8;
    color: #333;
    margin-top: 20px;
    margin-left: 20px;
}
.k_ios img{
    padding: 5px;
    float: left;
}
.k_ios span{
    padding: 5px;
    float: left;
}
.k_aboutus{
    width:990px;
    margin:50px auto;
}
.k_cai span{
    height: 40px;
    line-height: 40px;
    color: #5f5f5f;
    font-size: 28px;
    float: left;
    margin-left: 10px;
}
.k_cai img{
    float: left;
}
.k_cai{
    width: 307px;
   margin-left: 30px;
}
.k_aboutus_1{
    float: left;
    width: 307px;
    height: 243px;
    margin: 0 auto;
    border-right: 1px solid #d8d8d8;
}
.k_ewm_l1 img{
    width: 118px;
    float: left ;
}
.k_ewm_r1{
    float: left;
    margin-left: 10px;
}
.k_app{
    float: left;
    font-size: 22px;
    color: #999;
    text-align: center;
    margin: 20px;
}

.k_ios1{
    width: 140px;
    height: 44px;
    font-size: 14px;
    margin-top: 10px;
    background-color: #e8e8e8;
}
.k_ios1 img{
    float: left;
    padding: 4px 4px 0 4px;
}
.k_ios1 span{
    line-height: 44px;
    float: left;
}
.k_aboutus_2{
    float: left;
    width:370px;
    text-align: center;
    border-right: 1px solid #d8d8d8;
}
.k_aboutus_2 h2{
    font-size: 28px;
    color:#5f5f5f;
}
.k_aboutus_2 p{
    font-size: 22px;
    color: #999;
    margin-top:25px;
}
.k_aboutus_2  img{
    width:118px;
    margin-top:20px;
}
.k_aboutus_3{
    float: left;
    width:310px;
    /*height: 300px;*/
    text-align: center;
    /*background-color: #000088;*/
}
.k_aboutus_3 h2{
    font-size: 28px;
    color:#5f5f5f;
}
.k_aboutus_3 p{
    font-size: 22px;
    color: #999;
    margin-top:25px;
}
.k_aboutus_3  img{
    width:118px;
    margin-top:20px;
}
.k_footer1{
    width: 990px;
    margin:60px auto 0;
    height: 81px;
    border-top:1px solid #ccc;
}
.k_footer1 p{
    font-size: 12px;
    margin:8px 0;
}
.k_footer1 p:hover{
    color: #ff6767;
    text-decoration: underline;
}

.k_footer1 a{
    font-size: 12px;
    padding-bottom: 5px;
    color: #999998;
}
.k_footer1 a:hover{
    color: #ff6677;
}
