@import url(public-menu/resest.css);

body{
    overflow-x: hidden;
}
.left{
    float: left;
}
.right{
    float:right;
}
.clear{
    float: left;
    display: block;
    content: '';
}
a{
    color:black;
}
.m_center{
    width:990px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:40px auto 0;
}
.m_logo{
    width: 990px;
    height: 65px;
}
.y_logo_inner{
    background: url(../images/header-menu/logo.png) no-repeat scroll left center/108px auto;
    width: 108px;
}
.y_logo_inner a{
    display: block;
    height: 60px;
    overflow: hidden;
    text-indent: -9999em;
}
.y_logo_current{
    height: 30px;
    line-height: 30px;
    margin: 15px 0 0 10px;
    padding: 0 0 0 10px;
}
.y_logo_current a{
    background: #FF838B;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 0 10px;
    line-height: 30px;
}
.y_logo_nav{
    /*float: right;*/
    padding: 0 40px 0 0;
    height: 60px;
}
.y_logo_nav a{
    position: relative;
    float: left;
    padding: 0 10px 5px;
    font-size: 20px;
    line-height: 60px;
}
.y_logo_nav .y_on i{
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    display: block;
    overflow: hidden;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px dashed transparent;
    border-bottom: 9px solid #ff6767;
}
.y_logo_nav .y_on b{
    position: absolute;
    bottom: -1.3px;
    left: 50%;
    z-index: 2;
    display: block;
    overflow: hidden;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px dashed transparent;
    border-bottom: 9px solid #fff;
}
.y_on{
    color: #ff6767;
}
.y_logo_nav a:hover{
    color: #ff6767;
}
.y_logo_sea{
    padding-top: 18.5px;
}
.y_search{
    width: 160px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 3px 0 0 3px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    color: #ccc;
    outline: none;
}
.y_searchBtn{
    float: right;
    display: block;
    border-radius: 0 3px 3px 0;
    width: 80px;
    height: 28px;
    font-size: 14px;
    color: #fff;
    text-indent: 35px;
    line-height: 28px;
    background: #999 url(../images/header-menu/search.png) no-repeat scroll 12px center/16px auto;
}
.nav_wrap{
    height: 34px;
    border-bottom: 1px solid #ff6767;
    border-top: 1px solid #ff6767;
    margin: auto;
    width: 990px;
}
.nav_wrap li{
    float: left;
    padding: 0 10px;
}
.nav_wrap a{
    display:inline-block;
    padding: 0 3px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
}
.nav_wrap a:hover{
    color: #ff6767;
}
.m_nav-all_li{
    padding: 0 3px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    cursor: pointer;
    position: relative;
    right:0;
}
.m_all_down{
    width:990px;
    height:350px;
    background-color:white;
    position: absolute;
    top:36px;
    left:-868px;
    display: none;
    z-index: 55;
    box-shadow:2px 2px 10px #ccc;
}
.m_ad-one{
    line-height: 15px;
}
h6>a{
    font-size:9px;
    font-weight: bolder;
}
.m_ad-one>p{
    width:90%;
    font-size: 12px;
    float: left;
}
.m_ad-one>p>a{
    display: inline-block;
    font-size: 12px;
}
.m_h-banner{
    width:100%;
    height:100px;
    margin-top:10px;
    border-bottom: 1px solid #ccc;
}
.m_jieshao{
    width:683px;
    height:90px;
    /*line-height: ;*/
}
.m_jieshao>h1{
    font-size:32px;
    text-decoration: none;
    color:#333;
    padding:10px 0;
}
.m_jieshao>p>a{
    display: inline-block;
    font-size: 12px;
    color:#999;
}
.m-my{
    margin-top: 25px;
}
.m-my>ul li {
    width: 60px;
    float: left;
    font-size: 11px;
    text-align: center;
}

.m-my>ul li a {
    color: #666;
}

.m-my>ul li a i {
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    background: url("../images/m_pinzhi/h_carousel_ix2.png") no-repeat scroll -60px 0/auto 30px;
}

.m-my>ul li a .h_carousel_ico_one {
    background-position-x: 0;
}

.m-my>ul li a .h_carousel_ico_two {
    background-position-x: -150px;
}

.m-my>ul li a .h_carousel_ico_three {
    background-position-x: -90px;
}

.m-my>ul li a .h_carousel_ico_four {
    background-position-x: -120px;
}

.m-my>ul li a:hover .h_carousel_ico_one {
    background-position-x: -30px;
}
/*珍选中心*/
.m_start{
    font-size: 14px;
    width:640px;
    height:64px;
    padding:10px 0;
}

.m_choose_left,.m_left-main{
    width:640px;
}
.m_left-main>ul{
    width:100%;
    float: left;
}
.m_left-main>ul>li{
    float: left;
    width:100%;
    height:200px;
}
.m_img>a{
    width:180px;
    height:180px;
    display: inline-block;
    overflow: hidden;
}
.m_img>a>img{
    width:100%;
    height:180px;
    transition: 1s;
}
.m_img>a>img:hover{
    transform:scale(1.1);
}
.m_right{
    color: #666;
    margin-top: 16px;
    margin-left: 20px;
}
.m_right>h2{
    font-size: 20px;
    padding: 3px 0 10px;
}
.m_right>h2>a{
    color:#333;
}
.m_right>h2>a:hover{
    color:#ff6767;
    text-decoration:underline;
}
.m_writer{
    display: inline-block;
    width:100%;
    /*height:20px;*/
    font-size:14px;
    color:#999;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.m_yuan{
    width:440px;
    margin-top:30px;
    color:#ff6767;
    font-size:14px;
}
.m-buy>a{
    display: inline-block;
    font-size: 14px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #ff6767;
    border: 1px solid #ff6767;
    border-radius: 15px;
    padding: 0 25px;
}
.m-buy>a:hover{
    color:white;
    background-color:#ff6767;
}
.m_choose_right>ul{
    float: left;
}
.m_choose_right>ul>li{
    /*float: left;*/
    margin: 5px;
}
.m_choose_right>ul>li>a{
    display: inline-block;
    width:280px;
    height:280px;
    border:1px solid #e3e3e3;
}
.m_choose_right>ul>li>a>img{
    width:98%;
    height:98%;
    margin:3px;
}
/*分页*/
.h_page {
    margin:10px 0 0 25%;
    line-height: 34px;
    height: 36px;
    font-size: 14px;
}

.h_page ul {
    margin: auto;
    overflow: hidden;
    text-align: center;
}
.h_page ul li {
    margin-right: 5px;
    padding: 0 11px;
    border: 1px solid #eee;
    display: inline-block;
    background-color: #f8f8f8;
    color: #999;
}
.h_page ul li a {
    color: #999;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: inline-block;
}
.h_page ul .h_now_page{
    background-color: #ff6767;
    border: 1px solid #ff6767;
}
.h_page ul li:hover {
    border: 1px solid #ff6767;
}
.h_page ul li:hover a {
    color: #ff6767;
}
/*底部内容的开始*/
.k_footer{
    width: 990px;
    height: 112px;
    border-top:1px solid  #ccc;
    margin:10px auto;
    float: left;
}
.k_f1{
    float: left;
}
.k_f1 .c3b{
    margin-top:15px;
}
.k_f1 .c3b a {
    color: #f50;
    font-size: 14px;
    font-weight: 700;
}
.k_f1 .c3b a:hover {
    text-decoration: underline
}
.k_f1 .c3c {
    color: #aaa;
    display: block;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 6px;
}
.k_f1 .c3c a:hover{
    color: #ff6767;
}
.k_f1 .c3d{
    font-size: 12px;
}

.k_ewm1{
    float:right;
    margin-top: 10px;
}
.k_ewm1 img{
    width: 82px;
    height: 82px;
    vertical-align: middle;
}
.k_frist{
    margin-right: 25px;
}
.k_ewm1 p{
    font-size: 14px;
    text-align: center;
}
/*底部的结束*/


.gotop {
    position: fixed;
    bottom:140px;
    left: 1179px;
    width: 58px;
    height: 58px;
    padding: 5px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    transition: 0.5s;
    opacity: 0;
}

.gotop img {
    width: 58px;
    height: 58px;
}