@import url(public-m_reg/resest.css);
body,html{
    width:100%;
    height:100vh;
    overflow: hidden;
}
.cover{
    width:100%;
    height: 100%;
    background: url('../images/m_repeat.png');
    position: absolute;
    top:0;
    left:0;
}
.swiper-container {
    width: 100vw;
    height:100vh;
    z-index:11;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    /*display: none;*/
}

/*µÇÂ¼×¢²á²¿·Ö*/

#m_login-box{
    width:530px;
    /*height:235px;*/
    position: absolute;
    top:50%;
    left:50%;
    margin:-180px 0 0 -265px;
    background-color:rgba(255,255,255,.8);
    border-radius: 4px;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    z-index: 99;
}
.m_login_top{
    width:100%;
    height:50px;
    float: left;
}
.m_login_top>li{
    float: left;
    width:50%;
    height:50px;
    line-height: 50px;
    text-align: center;
    font-size:20px;
    cursor: pointer;
}
/*.m_login_top>li:hover{*/
    /*background-color: black;*/
    /*color:white;*/
/*}*/
.m_login_top>li>a{
    color:black;
}
.m_first{
    width:100%;
    height:185px;
    float: left;
    display: none;
}
.m_login_l{
    float: left;
    width: 300px;
    padding: 20px;
    border-right: 1px solid #999;
    margin: 20px 0 0;
}
.m_login_l>p{

}
.m_login_b{
    width:220px;
    height:60px;
    margin: 10px;
}
.m_login_b>ul{
    float: left;
}
.m_login_b>ul>li{
    width:40px;
    height:54px;
    float: left;
    text-align: center;
    margin: 5px;
}
.m_login_b>ul>li>a>img{
    width:30px;
    height:30px;
    vertical-align: middle;
    margin: 5px;
}
.m_login_b>ul>li>a{
    width:100%;
    height:100%;
    display: block;
    color:black;
}
.m_login_lr{
    float: left;
    width: 300px;
    height: 154px;
    padding: 20px;
    border-right: 1px solid #999;
    margin: 20px 0 0;
}
.m_login_r{
    float: left;
    width: 165px;
    text-align: center;
    margin: 10px;
}
.m_login_r>img{
    width:110px;
    height:110px;
    margin: 10px;
}
.input_ul{
    display: block;
    border: 1px solid #999;
    border-radius: 4px;
}
.input_ul>li{
    border-bottom: 1px solid #999;
    height: 32px;
    line-height: 32px;
}
input[type='text']{
    width: 190px;
    border: 0;
    font-size: 14px;
    background: rgba(0,0,0,0);
    outline: none;
}
input[type='submit']{
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background: #ff6767;
    color: #fff;
    font-size: 18px;
    width: 100%;
    text-align: center;
    border: 0;
    cursor: pointer;
    margin: 5px 0 0;
}
.m_login_br>ul{
    float: left;
}
.m_login_br>ul>li{
    width:40px;
    height:54px;
    float: left;
    text-align: center;
    /*margin: 5px;*/
}
.m_login_br>ul>li>a>img{
    width:30px;
    height:30px;
    vertical-align: middle;
    margin: 5px;
}
.m-checked{
    background-color: black;
    color:white;
}