@import "resest.css";
html{
    font-family: Microsoft YaHei, sans-serif, Arial, '宋体';
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear:after{
    clear: both;
    overflow: hidden;
    content: '';
}
a{
    color: #333;
}
.y_content{
    width: 990px;
    margin: 40px auto 0;
    position: relative;
}
.y_logoinner{
    width: 145px;
    background: url(../images/y_Malogo.png) no-repeat scroll left center/145px auto;
}
.y_logoinner a{
    display: block;
    height: 60px;
    overflow: hidden;
    text-indent: -9999em;
}
.y_logo_current{
    border-left: 1px solid #ddd;
    height: 30px;
    line-height: 28px;
    margin: 16px 0 0 10px;
    padding: 0 0 0 10px;
}
.y_logo_current h1{
    color: #ba2020;
    font-size: 26px;
}

.y_logo_sea{
    padding-top: 18.5px;
}
.y_logo_sea input{
    outline: none;
}
.y_search{
    width: 212px;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    color: #ccc;
}
.y_searchBtn{
    float: right;
    border-radius: 0 3px 3px 0;
    width: 80px;
    height: 28px;
    background: #5c5c5c url(../images/y_Masearch.png) no-repeat 12px center;
    font-size: 14px;
    color: #fff;
    text-indent: 35px;
    line-height: 26px;
    cursor: pointer;
}
.y_searchBtn:hover{
    text-decoration: none;
    color: #fff;
    background-color: #ba2020;
}

.y_nav_wrap{
    height: 40px;
    line-height: 40px;
    background-color: #ba2020;
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
}
.y_nav_wrap li{
    float: left;
}
.y_nav_wrap li a{
    display: block;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
}
.y_nav_wrap li a.on{
    text-decoration: none;
    background-color: #a21f25;
    color: #fff;
}

.y_wrap{
    padding-top: 10px;
}

.y_silder{
    height: 300px;
    overflow: hidden;
    margin-top: 10px;
}
.y_lunbo{
    float: left;
    width: 500px;
    height: 300px;
    background: #ccc;
    overflow: hidden;
}

.y_title1,.y_title2{
    width: 470px;
    float: right;
}
.y_title1{
    height: 184px;
}
.y_title1 h2{
    line-height: 1.1em;
    padding: 0 0 10px 0;
}
.y_title1 h2 a{
    color: #ba2020;
    font-size: 20px;
}
.y_title1 p{
    color: #666;
    padding: 0 0 15px 0;
    line-height: 180%;
    font-size: 12px;
}
.y_title2{
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    padding: 15px 0;
    font-size: 14px;
    height: 84px;
    overflow: hidden;
}
.y_title2 p{
    line-height: 200%;
}
.y_title2 p b{
    margin: 0 10px 0 0;
    color: #e8e8e8;
}
.y_title2 a{
    font-size: 14px;
    margin: 0 10px 0 0;
    color: #555;
}
.y_img{
    padding: 20px 0;
}
.y_w{
    background-color: #fff;
    padding: 10px 0;
    position: relative;
    top: 0;
    left: 0;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
    overflow: hidden;
}
.y_space_left{
    width: 650px;
    float: left;
    overflow: hidden;
}
.y_ui_title{
    height: 35px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    margin-top: 1px;
}
.y_ui_title h3 a{
    border-bottom: 1px solid #ba2020;
    text-decoration: none;
    color: #333;
    line-height: 30px;
    float: left;
    font-weight: normal;
    display: inline-block;
    font-size: 18px;
    margin-right: 20px;
    padding-bottom: 5px;
    outline: 0;
}
.y_ui_title>a{
    float: right;
    font-size: 14px;
    margin: 0 0 0 35px;
    padding: 0;
    line-height: 30px;
    color: #333;
}
.y_ui_list{
    padding: 20px 0;
    overflow: hidden;
    vertical-align: top;
    zoom: 1;
}
.y_ui_list ul li{
    height: 90px;
    margin: 20px 0;
}
.y_pic{
    float: left;
    width: 120px;
    height: 90px;
}
.y_pic img{
    width: 100%;
    height: 100%;
}
.y_detail{
    color: #999;
    padding-left: 135px;
}
.y_detail h4{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    line-height: 32px;
}
.y_detail p{
    color: #666;
    font-size: 12px;
    line-height: 19px;
}
.y_detail .y_p1{
    color: #999;
}

.y_box{
    width: 680px;
    margin: 15px 0 0;
}
.y_box li{
    float: left;
    margin: 0 25px 15px 0;
    width: 200px;
    font-size: 14px;
}
.y_box li>div{
    margin: 0 0 10px 0;
}
.y_box li>div a{
    position: relative;
    display: block;
    outline: 0;
    text-align: center;
    text-decoration: none;
    color: #333;
}
.y_box li>div a img{
    width: 200px;
    height: 200px;
}
.y_box li>div a span{
    display: block;
    overflow: hidden;
    padding: 5px 0 7px 0;
    width: 100%;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
}


.y_space_right{
    width: 300px;
}
.y_people{
    margin-top: 10px;
    height: 213px;
}
.y_people ul li{
    float: left;
    width: 75px;
    overflow: hidden;
    margin: 0 0 15px;
}
.y_people ul li a{
    width: 75px;
    height: 82px;
    display: inline-block;
    text-align: center;
}
.y_people ul li a img{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto 3px;
    border-radius: 50%;
    vertical-align: middle;
}
.y_people ul li a span{
    text-align: center;
    font-size: 12px;
    color: #333;
}
.y_rpai {
    margin-top: 10px;
}
.y_rpai ul li{
    float: left;
    margin: 0 0 15px;
    width: 100%;
}
.y_rpai ul li .y_img1{
    float: left;
    border: 1px solid #eeeeee;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: block;
}
.y_rpai ul li .y_img1 img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: 0;
}
.y_rpai ul li a.y_p2{
    float: left;
    margin: 0 0 0 5px;
    overflow: hidden;
    padding: 5px;
    width: 255px;
    height: 168px;
    color: #666;
}
.y_rpai ul li .y_p2 h3{
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
}
.y_rpai ul li .y_p2 div{
    position: relative;
    width: 120px;
    padding: 5px 0;
}
.y_rpai ul li .y_p2 div img{
    width: 100%;
    height: 100%;
}
p{
    color: #999;
    font-size: 12px;
}


/*底部内容的开始*/
.k_footer{
    width: 990px;
    height: 112px;
    border-top:1px solid #e8e8e8;
    margin: 0 auto;
}
.k_f1{
    float: left;
}
.k_f1 .c3b{
    margin-top:15px;
}
.k_f1 .c3b a {
    color: #f50;
    font-size: 14px;
    font-weight: 700;
}
.k_f1 .c3b a:hover {
    text-decoration: underline
}
.k_f1 .c3c{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 6px;
}
.k_f1 .c3c a{
    color: #333;
}
.k_f1 .c3c a:hover{
    color: #ff6767;
}
.k_f1 .c3d{
    font-size: 12px;
}

.k_ewm1{
    float:right;
    margin-top: 10px;
}
.k_ewm1 img{
    width: 82px;
    height: 82px;
    vertical-align: middle;
}
.k_frist{
    margin-right: 25px;
}
.k_ewm1 p{
    font-size: 14px;
    text-align: center;
}
/*底部的结束*/


.ck-slide { width: 500px; height: 300px; margin: 0 auto;}
.ck-slide ul.ck-slide-wrapper { height: 300px;}
img { border: 0;}
.ck-slide ul { margin: 0; padding: 0; list-style-type: none;}
.ck-slide { position: relative; overflow: hidden;}
.ck-slide ul.ck-slide-wrapper { position: absolute; top: 0; left: 0; z-index: 1; margin: 0; padding: 0;}
.ck-slide ul.ck-slide-wrapper li { position: absolute;}
.ck-slide .ck-prev, .ck-slide .ck-next { position: absolute; top: 50%; z-index: 2; width: 35px; height: 70px; margin-top: -35px;
    border-radius: 3px; opacity: .15; background: black; text-indent: -9999px; background-repeat: no-repeat; transition: opacity .2s linear 0s;}
.ck-slide .ck-prev { left: 5px; }
.ck-slide .ck-next { right: 5px;}
.ck-slidebox { position: absolute; left: 50%; bottom: 12px; z-index: 30;}
.ck-slidebox ul { height: 20px; padding: 0 4px; border-radius: 8px; background: rgba(0,0,0,0.5);}
.ck-slidebox ul li { float: left; height: 12px; margin: 4px 4px;}
.ck-slidebox ul li em { display: block; width: 12px; height: 12px; border-radius: 100%; background-color: #fff; text-indent: -9999px; cursor: pointer;}
.ck-slidebox ul li.current em { background-color: #fe6500;}
.ck-slidebox ul li em:hover { background-color: #fe6500;}


/*返回*/
.gotop {
    position: fixed;
    bottom: 10px;
    left: 1179px;
    width: 58px;
    height: 58px;
    padding: 5px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    transition: 0.5s;
    opacity: 0;
}

.gotop img {
    width: 58px;
    height: 58px;
}