@import "public-menu/resest.css";
body{
    overflow-x: hidden;
}

.left{
    float: left;
}
.right{
    float:right;
}
.clear{
    float: left;
    display: block;
    content: '';
}
a{
    color:black;
}
.m_center{
    width:990px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:40px auto 0;
}
.m_logo{
    width: 990px;
    height: 65px;
}
.y_logo_inner{
    background: url(../images/header-menu/logo.png) no-repeat scroll left center/108px auto;
    width: 108px;
}
.y_logo_inner a{
    display: block;
    height: 60px;
    overflow: hidden;
    text-indent: -9999em;
}
.y_logo_current{
    height: 30px;
    line-height: 30px;
    margin: 15px 0 0 10px;
    padding: 0 0 0 10px;
}
.y_logo_current a{
    background: #FF838B;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 0 10px;
    line-height: 30px;
}
.y_logo_nav{
    /*float: right;*/
    padding: 0 40px 0 0;
    height: 60px;
}
.y_logo_nav a{
    position: relative;
    float: left;
    padding: 0 10px 5px;
    font-size: 20px;
    line-height: 60px;
}
.y_logo_nav .y_on i{
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    display: block;
    overflow: hidden;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px dashed transparent;
    border-bottom: 9px solid #ff6767;
}
.y_logo_nav .y_on b{
    position: absolute;
    bottom: -1.3px;
    left: 50%;
    z-index: 2;
    display: block;
    overflow: hidden;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px dashed transparent;
    border-bottom: 9px solid #fff;
}
.y_on{
    color: #ff6767;
}
.y_logo_nav a:hover{
    color: #ff6767;
}
.y_logo_sea{
    padding-top: 18.5px;
}
.y_search{
    width: 160px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 3px 0 0 3px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    color: #ccc;
    outline: none;
}
.y_searchBtn{
    float: right;
    display: block;
    border-radius: 0 3px 3px 0;
    width: 80px;
    height: 28px;
    font-size: 14px;
    color: #fff;
    text-indent: 35px;
    line-height: 28px;
    background: #999 url(../images/header-menu/search.png) no-repeat scroll 12px center/16px auto;
}
.nav_wrap{
    height: 34px;
    border-bottom: 1px solid #ff6767;
    border-top: 1px solid #ff6767;
    margin: auto;
    width: 990px;
}
.nav_wrap li{
    float: left;
    padding: 0 10px;
}
.nav_wrap a{
    display:inline-block;
    padding: 0 3px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
}
.nav_wrap a:hover{
    color: #ff6767;
}
.m_nav-all_li{
    padding: 0 3px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    cursor: pointer;
    position: relative;
    /*right:0;*/
    margin-left: 100px;
}
.m_all_down{
    width:990px;
    height:370px;
    background-color:white;
    position: absolute;
    top:36px;
    left:-886px;
    display: none;
    z-index: 55;
    box-shadow:2px 2px 10px #ccc;
}
.m_ad-one{
    line-height: 15px;
}
h6>a{
    font-size:9px;
    font-weight: bolder;
}
.m_ad-one>p{
    width:90%;
    font-size: 12px;
    float: left;
}
.m_ad-one>p>a{
    display: inline-block;
    font-size: 12px;
}
/*m_lun*/
.m_lun{
    width:990px;
    height:224px;
    margin-top:20px;
    overflow: hidden;
    position: relative;
}
.m_lun>ul{
    width:4940px;
    position: absolute;
    left: 0;
    top: 0;
}
.m_lun>ul>li{
    float: left;
    width:990px;
    height:250px;
    margin-right: 44px;
}
.m_lun>ul>li>div {
    width: 300px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 45px;
}
.m_lun>ul>li>.m_lun_la{
    margin-right: 0;
}
.m_cover{
    width:300px;
    overflow: hidden;
    display: inline-block;
}
.m_lun>ul>li>div>a>img{
    width:100%;
    height: 250px;
}
.prev,.next{
    position: absolute;
    top:50%;
    z-index: 13;
    width: 30px;
    height: 50px;
    margin-top: -30px;
    background-color: rgba(0,0,0,.5);
    color:white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.prev{
    left: 5px;
}
.next{
    right: 5px;
}
.m_lunbo_cover{
    position: absolute;
    top:0;
    left:0;
    width:300px;
    height:250px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
    color:white;
    font-size: 18px;
}
.m_lunbo_cover>p{
    margin:100px auto;
}
.m_cover:hover .cover-img{
    transition: 1s;
    transform: scale(1.2);
}
.m_color_circle{
    width:990px;
    height:72px;
    margin: 20px 0 40px;
}
.m_color_circle>ul>li{
    float: left;
    width:50px;
    height:72px;
    margin: 0 24px;
    font-size:12px;
    text-align: center;
}
.m_color_circle>ul>li>img{
   width:50px;
}
.m_color_circle>ul>li>p:hover{
    color:red;
}
.m_samll_tab{
    width:990px;
}
.m_tab_top{
    width:100%;
    height:38px;
    border-bottom:1px solid #eee;
}
.m_choose_nav>li{
    float: left;
    /*width:81px;*/
    margin-right: 20px;
    height:38px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    font-size: 17px;
}
.m_tab_list{
    display: none;
}
.block{
    display: block;
}
.m_nt_one,.m_choose_nav>li:hover{
    border-bottom:2px solid red;
    color:red;
}
.m_choose_nav>li.m_nt-last{
    margin-left:270px;
    font-size: 14px;
}
.m_tab_bottom,.m_tab_bottom>ul{
    float: left;
    width:990px;
}
.m_tab_bottom>ul>li{
    width:990px;
    display: flex;
}
.m_tab_li{
    float: left;
    width:230px;
    height:305px;
    margin-right:23px;
    margin-top:14px;
    flex: 1;
    text-align: center;
}
.m_tab_li>.m_list_img{
    width:230px;
    height:230px;
    overflow: hidden;
}
.m_tab_li>.m_list_img>a>img{
    width:100%;
    height:230px;
}
.m_tab_li>.m_list_img>a>img:hover{
    transform: scale(1.1);
    transition: 1s;
}
.m_tab_li_last{
    margin-right: 0;
}
.m_list_p{
    padding-top:8px;
    font-size:18px;
}
.m_list_p>span{
    font-size:12px;
    color:#999;
}
.m_gray{
    width:990px;
    height:40px;
    background-color:#f8f8f8;
    text-align: center;
    line-height: 40px;
    color:red;
    margin-top: 20px;
}

/*底部内容的开始*/
.k_footer{
    width: 990px;
    height: 112px;
    border-top:1px solid  #ccc;
    margin:10px auto;
    float: left;
}
.k_f1{
    float: left;
}
.k_f1 .c3b{
    margin-top:15px;
}
.k_f1 .c3b a {
    color: #f50;
    font-size: 14px;
    font-weight: 700;
}
.k_f1 .c3b a:hover {
    text-decoration: underline
}
.k_f1 .c3c {
    color: #aaa;
    display: block;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 6px;
}
.k_f1 .c3c a:hover{
    color: #ff6767;
}
.k_f1 .c3d{
    font-size: 12px;
}

.k_ewm1{
    float:right;
    margin-top: 10px;
}
.k_ewm1 img{
    width: 82px;
    height: 82px;
    vertical-align: middle;
}
.k_frist{
    margin-right: 25px;
}
.k_ewm1 p{
    font-size: 14px;
    text-align: center;
}
/*底部的结束*/


.gotop {
    position: fixed;
    bottom:140px;
    left: 1179px;
    width: 58px;
    height: 58px;
    padding: 5px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    transition: 0.5s;
    opacity: 0;
}

.gotop img {
    width: 58px;
    height: 58px;
}