@import "../css/public/resest.css";
.y_logo_nav a{
    color: #333;
}

.nav_wrap a{
    color: #666;
}
.y_search{
    outline: none;
}
#k_liulan{
    float: right;
}
.nav_wrap{
    /*position: relative;*/
}
.k_liulan_sel{
    width:990px;
    height:405px;
    background-color:#fff;
    position: absolute;
    display: none;
    z-index: 5;
    top:102px;
    box-shadow:2px 2px 10px #ccc;
}
.m_ad-one{
    line-height:5px;
}
h6>a{
    font-size:9px;
    font-weight: bolder;
}
.m_ad-one>p{
    width:90%;
    height:30px;
    font-size: 12px;
    float: left;
}
.m_ad-one>p>a{
    display: inline;
    font-size: 12px;
}
.k_banner{
    width: 990px;
    margin: 0 auto;
    height: 130px;
    /*border-bottom: 1px solid #ccc;*/
}
.k_banner_navl{
    float: left;
}
.k_banner_navl li{
    float: left;
    font-size: 12px;
    margin-right: 10px;
}
.k_banner_navl li a{
    color: #666;
}
.k_banner_navr{
    float: right;
}
.k_banner_navr li a{
    color: #666;
}

.k_banner_navr li{
    float: left;

    margin-left: 10px;
    font-size: 12px;
}
.k_banner_nav{
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    height: 30px;
}
.k_banner_nav li a:hover{
    text-decoration: underline;
    color: #ff6767;
}
.k_hongshao{
    float: left;
    width: 640px;
}
.k_hongshao_big{
    width: 990px;
    margin: 0 auto;
}
.k_line{
    width: 640px;
    height: 80px;
}
.k_line h1{
    float: left;
    font-size: 32px;
    text-decoration: none;
    color: #333;
    margin-top: 35px;
    vertical-align: middle;
}
.k_xiao{
    float: right;
    margin-top: 35px;
    width: 50px;
    margin-right: 20px;
}
.k_xiao img{
    border-radius: 50%;
    width: 34px;
   margin-left: 5px;
}
.k_xiao p{
    font-size: 12px;
    color:#ccc;
    width: 50px;
    text-align: center;
}
.k_hongshao_pic{
    width: 640px;
    margin-top:20px;
    position: relative;
}
.k_hs_pic img{
    width: 640px;
}
.k_photo{
    position: absolute;
    width:180px;
    left: 50%;
    top:50%;
    margin-left: -90px;
    margin-top: -20px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
    text-align:center;
    border-radius: 10px;
    opacity: 0.8;
    display: none;
    cursor:pointer;
    background: url(../images/k_bgp.png) no-repeat 20px -272px #000;
}
#k_block_txt1{
    color: #585858;
    margin:15px 0 50px;
}
#k_block_txt1 span{
    font-size: 22px;
}
.k_liao{
    width: 640px;
    height: 160px;
}
.k_way_tit img{
    float: left;
}
.k_way_tit span{
    float: left;
    /*margin-top:-2px;*/
    font-size: 20px;
    color: #666;
}
.k_way_tit{
    float: left;
    margin-bottom: 10px;
}
.k_liao ul{
    width: 640px;
    height: 70px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.k_liao li{
    width: 25%;
    height: 70px;
    float: left;
    text-align: center;
}
.k_liao ul li p{
  margin-top: 20px;
}
.k_liao ul li p:hover{
    color: #ff6677;
}
.k_liao ul li:hover{
    background-color: #ccc;
}
.k_liao ul li span{
    bottom: 7px;
    color: #999;
    display: block;
    font-size: 12px;
    line-height: 20px;
}
.k_buz{
    margin-top:50px;
}
.k_buzhou{
    width: 640px;
    height: 124px;
    margin-bottom:40px;
}
.k_buzhoul{
    float: left;
}
.k_buzhoul img{
    width: 220px;
    height: 124px;
    float: left;
}
.k_buzhour{
    float:left;
    width: 350px;
    margin-left: 20px;
}
.k_buzhour span{
    display: block;
    border: 1px solid #ddd;
    border-radius: 50%;
    font-size: 18px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
}
.k_buzhour p{
    color: #666;
    font-size: 20px;
    margin-top: 15px;
}

.k_xqm_way{
    width: 640px;
    float: left;
}
.k_xqm_way li{
    line-height:30px;
    color: #666;
}
.k_xqm_way p{
    margin:11px 0;
    color: #666;
}
.k_ssfl li{
    float: left;
    margin-right: 8px;
}
.k_ssfl li a{
    color: #666;
}
.k_ssfl li a:hover{
    text-decoration: underline;
    color: #ff6767;
}
.k_sbanner{
    margin-top:30px;
}
.k_wlbh{
    width: 640px;
    height: 350px;
    margin-top: 30px;
}
.k_wl{
    float: left;
    width: 300px;
}
.k_wl img{
    width: 300px;
}
.k_wl-right{
    float: right;
    width: 320px;
}
.k_wl-right h1{
    font-size: 22px;
  color: #ff6677;
}
.k-wl-r h1:hover{
    text-decoration: underline;
}
.k-wl-r p{
    font-size: 12px;
}
.k-wl-r{
    margin-bottom:17px;
}
.k-wl-end{
    margin-bottom: 0;
}
.k_spic{
    width: 640px;
}
.k_spic li:nth-child(5n){
    margin-right: -2px;
}
.k_spic li{
    width:120px;
    height: 128px;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}
.k_spic li img{
    width: 120px;
}
.k_spic li p{
    width: 120px;
    height: 38px;
    text-align: center;
    line-height: 38px;
}
.k_spic li p:hover{
    background-color: #ccc;
 }
.k_list_navtion{
    width: 640px;
    height: 240px;
}
.k_list_navtion ul{
    float: left;
    margin-top: 30px;
    margin-right:50px;
    font-size: 14px;
}
.k_list_navtion ul:last-of-type{
    margin-right: 0;
}
.k_list_navtion ul li:first-of-type{
    color: #ba2020;
}
.k_list_navtion ul li:hover{
    color: #ba2020;
    text-decoration: underline;
}
.k_pl{
    width: 640px;
    height:135px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px solid #999;
}
.k_pl_top{
    width: 640px;
    height: 100px;
    text-align: center;
    line-height:100px;
    font-size: 14px;
}
.k_pl_bot{
    width:640px;
    height: 40px;
}
.k_icon{
    width: 640px;
    height: 80px;
    /*background: url(../images/k_ix2.png) center no-repeat;*/
}
.k_icon ul li{
    padding-top: 30px;
}
.k_bto_l img{
    float: left;
   padding:6px 4px 0 4px;
}
.k_bto_l span{
    float: left;
    line-height: 35px;
}
.k_bto_l{
    width:540px;
    float: left;
    height: 35px;
    color: #999;
    font-size: 14px;
    background-color: #ccc;
}
.k-bto_r{
    float: right;
    width: 100px;
    height:35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background-color:#ba2020;
}
.k_botom{
    margin-top: 30px;
}
.k_maxzhe{
    /*display: none;*/
    /*position: relative;*/
}
.k_ashow{
    width:990px;
    height: 520px;
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    right:0;
    margin: auto;
    background-color:rgba(51,51,51,0.8);
    z-index: 1000;
    font-size:30px;
    color:#FFF;
    display: block;
}
.k_zhe{
    width: 100%;
    height: 100%;
    position: relative;
    background:rgba(50,50,50,0.8);
    cursor:pointer;
}
.cover{
    width:990px;
    height:520px;
    background-color: rgba(0,0,0,.5);
    position:relative;
}
.cover p{
    position:absolute;
    top:0;
    right:30px;
    color:white;
    font-size:30px;
}
.k_lunbo {
    width:600px;
    height:500px;
    overflow: hidden;
    position: absolute;
    margin:10px;
    background-color: red;
}

.k_lunbo-imgs {
    width:3000px;
    position: absolute;
    z-index: 10;
}
.k_lunbo>a{
    display: block;
    width:50px;
    height: 50px;
    font-size:30px;
    background-color: black;
    line-height: 50px;
    text-align: center;
    color:white;
    position: absolute;
    top:40%;
    left: 0;
    z-index: 12;
}
.k_lunbo> a:nth-of-type(2){
    left:550px;
}
.k_lunbo-imgs > li {
    float: left;
    width:630px;
    height: 520px;
}
.k_lunbo-imgs > li > img {
    width:700px;
    height: 520px;
}
.close{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.k_lunbo-num {
    position:absolute;
    z-index: 999;
    top:20px;
    left:65%;
}

.k_lunbo-num > li {
    float: left;
    color: #333;
    padding: 2px 6px;
    margin-left:10px;
}
.k_lunbo-num > li>img{
    width:50px;
    height:50px;
}
.k_lunbo-num > li.current {
    background-color: blueviolet;
}
.k_icon ul li {
    width: 60px;
    float: left;
    font-size: 11px;
    text-align: center;
}

.k_icon ul li a {
    color: #666;
}
.k_icon ul li{
    margin-right: 24px;
}
.k_icon ul li:first-of-type{
    margin-left: 40px;
}
.k_icon ul li a i {
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    background: url("../images/k_ix2.png") no-repeat scroll -60px 0/auto 30px;
}

.k_icon ul li a .h_carousel_ico_one {
    background-position-x: 0;
}

.k_icon ul li a .h_carousel_ico_two {
    background-position-x: -150px;
}

.k_icon ul li a .h_carousel_ico_three {
    background-position-x: -90px;
}

.k_icon ul li a .h_carousel_ico_four {
    background-position-x: -120px;
}
.k_icon ul li a .h_carousel_ico_six{
    background-position-x: -180px;
}
.k_icon ul li a .h_carousel_ico_five{
    background-position-x: -240px;
}
.k_icon ul li a:hover .h_carousel_ico_one {
     background-position-x: -30px;
 }
.k_icon ul li a:hover .h_carousel_ico_six {
    background-position-x: -210px;
}