.y_bigTitle{
    padding: 10px 0;
    position: relative;
    top: 0;
    left: 0;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
}
.y_blo p{
    font-size: 16px;
    margin-bottom: 16px;
}
.y_collect_dp{
    float: left;
    width: 70%;
}
.y_collect_dp a img{
    float: left;
    height: 64px;
    margin: 22px 15px 0 0;
    width: 64px;
}
.y_collect_dp h1{
    font-size: 32px;
    padding: 10px 0;
}
.y_collect_dp span{
    color: #999;
    font-size: 12px;
}


.y-content{
    width: 990px;
    margin: 50px auto 0;
    overflow: hidden;
}
.y-icon{
    width: 30%;
    float: right;
    margin: 20px 0 0;
}
.y-icon li{
    width: 20%;
    float: left;
    font-size: 11px;
    text-align: center;
}

.y-icon li a {
    color: #666;
}

.y-icon li a i {
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    background: url("../images/y_classify/y_icon.png") no-repeat scroll -60px 0/auto 30px;
}

.y-icon li a .h_carousel_ico_one {
    background-position-x: 0;
}

.y-icon li a .h_carousel_ico_two {
    background-position-x: -150px;
}

.y-icon li a .h_carousel_ico_three {
    background-position-x: -90px;
}

.y-icon li a .h_carousel_ico_four {
    background-position-x: -120px;
}

.y-icon li a:hover .h_carousel_ico_one {
    background-position-x: -30px;
}

.y-warp{
    background-color: #fff;
    padding: 10px 0;
    position: relative;
    top: 0;
    left: 0;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
}

.y-space-left{
    width: 640px;
    float: left;
    overflow: hidden;
}
.y-ui-title{
    height: 35px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
}
.y-tit{
    line-height: 30px;
    font-size: 20px;
}
.y-tit h2{
    cursor: pointer;
    float: left;
    font-weight: 400;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    padding-bottom: 4px;
    outline: 0;
    color: #333;
    max-width: 100%;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.y-tit .y_on{
    color: #ff6767;
    border-bottom: 3px solid #ff6767;
}
.y-tit a{
    float: right;
    margin: 0 0 0 20px;
    font-size: 16px;
}
.y-tit a.y_oon{
    color: #ff6767;
}

.h_main{
    display: none;
}
.y_main{
    display: block;
}
.h_main ul li{
    float: left;
}
.h_main ul li .h_main_th {
    margin: 0;
}

.h_main ul{
    margin-top: 10px;
    padding: 10px 0;
    display: none;
    overflow: hidden;
}
.h_main ul li{
    float: left;
    margin: 0 10px 0 0;
    text-align: center;
    width: 200px;
    height: 275px;
    overflow: hidden;
}
.h_main ul li div {
    width: 200px;
    height:231px;
    text-align: center;
    /*margin: 0 45px 20px 0;*/
    float: left;
}
.h_main ul li div i {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: block;
}
.h_main ul li div img {
    width: 200px;
    height: 200px;
    transition: 0.5s;
}
.h_main ul li div  p{
    font-size: 18px;
    line-height: 120%;
    padding: 5px 0;
}
.h_main ul li div b{
    font-weight: normal;
    margin: auto;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.h_main ul li div:hover  img {
    transform: scale(1.1);
}
.h_main ul li div:hover  p {
    color: #ff6767;
}

.h_main .h_main_blo{
    display: block;
}

.y-ui-page{
    overflow: hidden;
    line-height: 34px;
    height: 36px;
    font-size: 0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.y-ui-page .ui-page-inner{
    display: inline-block;
    zoom: 1;
}
.y-ui-page a{
    font-size: 14px;
    margin-right: 5px;
    padding: 0 11px;
    border: 1px solid #eee;
    vertical-align: top;
    color: #999;
    background-color: #f8f8f8;
    float: left;
    text-align: center;
    line-height: 34px;
}
.y-ui-page a.now_page{
    border: 1px solid #ff6767;
    background-color: #ff6767;
    color: #fff;
    cursor: default;
}
.y-ui-page a:hover,.y-ui-page span:hover{
    border: 1px solid #ff6767;
    background-color: #ff6767;
    color: #fff;
    cursor: default;
    cursor: pointer;
}
.y-ui-page span{
    font-size: 14px;
    margin-right: 5px;
    padding: 0 11px;
    border: 1px solid #eee;
    vertical-align: top;
    color: #999;
    background-color: #f8f8f8;
    float: left;
}

.y-space-right{
    width: 300px;
    float: right;
    overflow: hidden;
}
.y_smnbk{
    margin-top: 10px;
}
.y_ing_hot{
    width: 320px;
}
.y_ing_hot li{
    float: left;
    font-size: 16px;
    margin: 5px 20px 10px 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60px;
}
.y_ing_hot li:hover{
    color: #ff6767;
    text-decoration: underline;
    cursor: pointer;
}
.y_ing_hot li img{
    width: 60px;
    height: 60px;
}