@import "resest.css";
html{
    font-family: Microsoft YaHei, sans-serif, Arial, '宋体';
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear:after{
    clear: both;
    overflow: hidden;
    content: '';
}
a{
    color: #333;
}
.y_content{
    width: 990px;
    margin: 40px auto 0;
    position: relative;
}
.y_logoinner{
    width: 145px;
    background: url(../images/y_Malogo.png) no-repeat scroll left center/145px auto;
}
.y_logoinner a{
    display: block;
    height: 60px;
    overflow: hidden;
    text-indent: -9999em;
}
.y_logo_current{
    border-left: 1px solid #ddd;
    height: 30px;
    line-height: 28px;
    margin: 16px 0 0 10px;
    padding: 0 0 0 10px;
}
.y_logo_current h1{
    color: #ba2020;
    font-size: 26px;
}

.y_logo_sea{
    padding-top: 18.5px;
}
.y_logo_sea input{
    outline: none;
}
.y_search{
    width: 212px;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    color: #ccc;
}
.y_searchBtn{
    float: right;
    border-radius: 0 3px 3px 0;
    width: 80px;
    height: 28px;
    background: #5c5c5c url(../images/y_Masearch.png) no-repeat 12px center;
    font-size: 14px;
    color: #fff;
    text-indent: 35px;
    line-height: 26px;
    cursor: pointer;
}
.y_searchBtn:hover{
    text-decoration: none;
    color: #fff;
    background-color: #ba2020;
}

.y_nav_wrap{
    height: 40px;
    line-height: 40px;
    background-color: #ba2020;
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
}
.y_nav_wrap li{
    float: left;
}
.y_nav_wrap li a{
    display: block;
    padding: 0 28px;
    font-size: 16px;
    color: #fff;
}
.y_nav_wrap li a.on{
    text-decoration: none;
    background-color: #a21f25;
    color: #fff;
}

.y_wrap{
    padding-top: 10px;
}

.y_silder{
    height: 300px;
    overflow: hidden;
    margin-top: 10px;
}
.y_lunbo{
    float: left;
    width: 500px;
    height: 300px;
    background: #ccc;
    overflow: hidden;
}

.y_title1,.y_title2{
    width: 470px;
    float: right;
}
.y_title1{
    height: 184px;
}
.y_title1 h2{
    line-height: 1.1em;
    padding: 0 0 10px 0;
}
.y_title1 h2 a{
    color: #ba2020;
    font-size: 20px;
}
.y_title1 p{
    color: #666;
    padding: 0 0 25px 0;
    line-height: 180%;
    font-size: 12px;
}
.y_title2{
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    padding: 15px 0;
    font-size: 14px;
    height: 84px;
    overflow: hidden;
}
.y_title2 p{
    line-height: 200%;
}
.y_title2 p b{
    margin: 0 10px 0 0;
    color: #e8e8e8;
}
.y_title2 a{
    font-size: 14px;
    margin: 0 10px 0 0;
    color: #555;
}
.y_img{
    padding: 20px 0;
}

.y_w{
    background-color: #fff;
    padding: 10px 0;
    position: relative;
    top: 0;
    left: 0;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
    overflow: hidden;
}
.y_space_left{
    width: 650px;
    float: left;
    overflow: hidden;
}
.y_ui_title{
    height: 35px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    margin-top: 1px;
}
.y_ui_title h3 a{
    border-bottom: 1px solid #ba2020;
    text-decoration: none;
    color: #333;
    line-height: 30px;
    float: left;
    font-weight: normal;
    display: inline-block;
    font-size: 18px;
    margin-right: 20px;
    padding-bottom: 5px;
    outline: 0;
}

.y_ui_list ul li{
    padding: 20px 0 0;
    clear: both;
    overflow: hidden;
}

.y_ui_list ul li h2{
    font-size: 20px;
}
.y_ui_list ul li h2 em{
    color: #ba2020;
    font-style: normal;
}
.y_pic{
    padding-top: 16px;
    float: left;
}
.y_pic img{
    width: 180px;
    height: 180px;
}
.y_detail{
    padding-top: 16px;
    width: 450px;
    float: right;
}
.y_detail p{
    font-size: 14px;
    color: #666;
}
.y_detail .y_p1{
    font-size: 12px;
    line-height: 40px;
    padding: 20px 0 0;
}

.y_box{
    margin-top: 10px;
}
.y_box ul li{
    clear: both;
    padding: 0 0 20px 0;
    height: 140px;
    overflow: hidden;
}
.y_box ul li>a{
    float: left;
    margin: 0 20px 0 0;
    position: relative;
}
.y_box ul li>a img{
    width: 140px;
    height: 140px;
}

.y_box ul li>div{
    color: #333;
    font-size: 12px;
}

.y_box ul li>div a img{
    float: left;
    border-radius: 50%;
    margin: 0 10px 0 0;
    width: 48px;
    height: 48px;
}
.y_t{
    font-size: 14px;
    color: #6599ff;
    line-height: 22px;
}

.y_box ul li>p{
    padding: 15px 0;
    font-size: 14px;
}
.y_box ul li:hover .y_f{
    display: block;
}
.y_f{
    display: none;
}
.y_f,.y_f a{
    color: #999;
    font-size: 14px;
}
.y_f span{
    float: right;
}
.y_f i{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 5px;
    vertical-align: middle;
}
.y_f1 i{
    background: url("../images/y_mama/y_icon.png") no-repeat scroll 4px -21px;
}
.y_f2 i{
    background: url("../images/y_mama/y_icon.png") no-repeat scroll -44px -21px;
}
.y_f3 i{
    background: url("../images/y_mama/y_icon.png") no-repeat scroll -99px 0;
}

.y_loading{
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
.y_loading a{
    display: block;
    text-align: center;
    font-size: 14px;
    color: #333;
    background-color: #f8f8f8;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

/*右边*/
.y_hongbei_right{
    width: 300px;
    float: right;
    overflow: hidden;
}
.y_mt10{
    margin-top: 10px;
}
.y_mt10 ul li{
    padding: 0;
    height: 90px;
    clear: both;
    overflow: hidden;
}
.y_mt10 ul li a{
    float: left;
    margin: 0 10px 0 0;
}
.y_mt10 ul li a img{
    width: 90px;
    height: 90px;
}
.y_mt10 ul li p{
    color: #666;
    padding: 5px 0 0 0;
    font-size: 12px;
}
.y_mt10 ul li .y_tt{
    line-height: 20px;
    font-size: 16px;
}
.y_clear{
    padding-top: 15px;
}
.y_clear li{
    color: #ddd;
    float: left;
    padding: 5px 0;
    width: 25%;
    font-size: 14px;
    line-height: 22px;
}




/*底部内容的开始*/
.k_footer{
    width: 990px;
    height: 112px;
    border-top:1px solid #e8e8e8;
    margin: 0 auto;
}
.k_f1{
    float: left;
}
.k_f1 .c3b{
    margin-top:15px;
}
.k_f1 .c3b a {
    color: #f50;
    font-size: 14px;
    font-weight: 700;
}
.k_f1 .c3b a:hover {
    text-decoration: underline
}
.k_f1 .c3c{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 6px;
}
.k_f1 .c3c a{
    color: #333;
}
.k_f1 .c3c a:hover{
    color: #ff6767;
}
.k_f1 .c3d{
    font-size: 12px;
}

.k_ewm1{
    float:right;
    margin-top: 10px;
    margin-bottom: 20px
}
.k_ewm1 img{
    width: 82px;
    height: 82px;
    vertical-align: middle;
}
.k_frist{
    margin-right: 25px;
}
.k_ewm1 p{
    font-size: 14px;
    text-align: center;
}
/*底部的结束*/



/*返回*/
.gotop {
    position: fixed;
    bottom: 10px;
    left: 1179px;
    width: 58px;
    height: 58px;
    padding: 5px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    transition: 0.5s;
    opacity: 0;
}

.gotop img {
    width: 58px;
    height: 58px;
}

.ck-slide { width: 500px; height: 300px; margin: 0 auto;}
.ck-slide ul.ck-slide-wrapper { height: 300px;}
img { border: 0;}
.ck-slide ul { margin: 0; padding: 0; list-style-type: none;}
.ck-slide { position: relative; overflow: hidden;}
.ck-slide ul.ck-slide-wrapper { position: absolute; top: 0; left: 0; z-index: 1; margin: 0; padding: 0;}
.ck-slide ul.ck-slide-wrapper li { position: absolute;}
.ck-slide .ck-prev, .ck-slide .ck-next { position: absolute; top: 50%; z-index: 2; width: 35px; height: 70px; margin-top: -35px;
    border-radius: 3px; opacity: .15; background: black; text-indent: -9999px; background-repeat: no-repeat; transition: opacity .2s linear 0s;}
.ck-slide .ck-prev { left: 5px; }
.ck-slide .ck-next { right: 5px;}
.ck-slidebox { position: absolute; left: 50%; bottom: 12px; z-index: 30;}
.ck-slidebox ul { height: 20px; padding: 0 4px; border-radius: 8px; background: rgba(0,0,0,0.5);}
.ck-slidebox ul li { float: left; height: 12px; margin: 4px 4px;}
.ck-slidebox ul li em { display: block; width: 12px; height: 12px; border-radius: 100%; background-color: #fff; text-indent: -9999px; cursor: pointer;}
.ck-slidebox ul li.current em { background-color: #fe6500;}
.ck-slidebox ul li em:hover { background-color: #fe6500;}