@import "resest.css";
html{
    font-family: Microsoft YaHei, sans-serif, Arial, '宋体';
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear:after{
    clear: both;
    overflow: hidden;
    content: '';
}
a{
    color: #333;
}

/*nav*/
.y_content{
    width: 990px;
    margin: 50px auto 0;
    position: relative;
}
.y_logo{
    width: 990px;
    height: 65px;
}
.y_logo_inner{
    background: url(../images/logo.png) no-repeat scroll left center/108px auto;
    width: 108px;
}
.y_logo_inner a{
    display: block;
    height: 60px;
    overflow: hidden;
    text-indent: -9999em;
}
.y_logo_current{
    height: 30px;
    line-height: 30px;
    margin: 15px 0 0 10px;
    padding: 0 0 0 10px;
}
.y_logo_current a{
    background: #FF838B;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 0 10px;
    line-height: 30px;
}
.y_logo_current a:hover{
    background: #FF6767;
}
.y_logo_nav{
    /*float: right;*/
    padding: 0 40px 0 0;
    height: 60px;
}
.y_logo_nav a,.y_logo_nav span{
    position: relative;
    float: left;
    padding: 0 10px 5px;
    font-size: 20px;
    line-height: 60px;
    cursor: pointer;
}
.y_logo_nav .y_on i{
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    display: block;
    overflow: hidden;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px dashed transparent;
    border-bottom: 9px solid #ff6767;
}
.y_logo_nav .y_on b{
    position: absolute;
    bottom: -1.3px;
    left: 50%;
    z-index: 2;
    display: block;
    overflow: hidden;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px dashed transparent;
    border-bottom: 9px solid #fff;
}
.y_on{
    color: #ff6767;
}
.y_logo_nav a:hover,.y_logo_nav span:hover{
    color: #ff6767;
}
.y_logo_sea{
    padding-top: 18.5px;
}
.y_logo_sea input{
    outline: none;
}
.y_search{
    width: 160px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 3px 0 0 3px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    color: #ccc;
}
.y_searchBtn{
    float: right;
    display: block;
    border-radius: 0 3px 3px 0;
    width: 80px;
    height: 28px;
    font-size: 14px;
    color: #fff;
    text-indent: 35px;
    line-height: 28px;
    background: #999 url(../images/search.png) no-repeat scroll 12px center/16px auto;
    cursor: pointer;
}
.y_searchBtn:hover{
    background: #ff6767 url(../images/search.png) no-repeat scroll 12px center/16px auto;
}
.y_nav_wrap{
    height: 34px;
    border-bottom: 1px solid #ff6767;
    border-top: 1px solid #ff6767;
    margin: auto;
    width: 990px;
}
.y_nav_wrap li{
    float: left;
    padding: 0 10px;
}
.y_nav_wrap a{
    display: block;
    padding: 0 3px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
}
.y_nav_wrap a:hover{
    color: #ff6767;
}

.y_content > .y_conT{
    display: none;
}
.y_content > .y-con{
    display: block;
}


.y_area{
    margin-top: 10px;
}
.y_area img{
    width: 990px;
    height: 90px;
}

.y_w{
    background-color: #fff;
    padding: 10px 0;
}
.y_category_box{
    margin-top: 20px;
}
.y_category_sub{
    margin: 0 0 30px 0;
    width: 100%;
    overflow: hidden;
    background: #f8f8f8;
    position: relative;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    zoom: 1;
}
.y_category_sub h3{
    float: left;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 186px;
    color: #666;
}
.y_category_sub b{
    float: left;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin-top: 18px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 186px;
    color: #999;
    display: none;
}
.y_category_sub ul{
    width: 804px;
    float: right;
    background: #fff;
    margin-bottom: -1px;
    overflow: hidden;
}
.y_category_sub ul li{
    float: left;
    position: relative;
}
.y_category_sub ul li a{
    float: left;
    height: 70px;
    line-height: 64px;
    width: 133px;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.y_category_sub ul li a:hover{
    background: #F8F8F8;
}
.y_category_sub ul li span{
    line-height: 20px;
    position: absolute;
    bottom: 7px;
    font-size: 12px;
    color: #999;
    width: 100%;
    text-align: center;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*底部内容的开始*/
.k_footer{
    width: 990px;
    height: 112px;
    border-top:1px solid #e8e8e8;
    margin: 0 auto;
}
.k_f1{
    float: left;
}
.k_f1 .c3b{
    margin-top:15px;
}
.k_f1 .c3b a {
    color: #f50;
    font-size: 14px;
    font-weight: 700;
}
.k_f1 .c3b a:hover {
    text-decoration: underline
}
.k_f1 .c3c{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 6px;
}
.k_f1 .c3c a{
    color: #333;
}
.k_f1 .c3c a:hover{
    color: #ff6767;
}
.k_f1 .c3d{
    font-size: 12px;
}

.k_ewm1{
    float:right;
    margin-top: 10px;
}
.k_ewm1 img{
    width: 82px;
    height: 82px;
    vertical-align: middle;
}
.k_frist{
    margin-right: 25px;
}
.k_ewm1 p{
    font-size: 14px;
    text-align: center;
}
/*底部的结束*/


/*返回*/
.gotop {
    position: fixed;
    bottom: 10px;
    left: 1179px;
    width: 58px;
    height: 58px;
    padding: 5px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    transition: 0.5s;
    opacity: 0;
}

.gotop img {
    width: 58px;
    height: 58px;
}
