@import "resest.css";
body, button, input, select, textarea {
    font: 12px/1.6 "Hiragino Sans GB",STHeiti,"微软雅黑","Microsoft YaHei",Helvetica,Arial,serif;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear:after{
    clear: both;
    overflow: hidden;
    content: '';
}
.y_content{
    width: 990px;
    margin: 0 auto;
    padding: 90px 0 10px 0;
}
.y_nv{
    width: 640px;
    height: 44px;
    line-height: 44px;
    margin: auto;
}
.y_nv a{
    float: left;
    padding: 0 10px;
    font-size: 16px;
    height: 100%;
    line-height: 44px;
    color: #333;
}
.y_nv .y_on{
    color: #ff6767;
}
.y_search{
    width: 640px;
    margin: auto;
    height: 50px;
}
.y_search input{
    border: 2px solid #ff6767;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    width: 518px;
    font-size: 14px;
    border-right: 0;
    float: left;
    outline: none;
}
.y_searchBtn{
    background: #ff6767;
    border-radius: 0 3px 3px 0;
    color: #fff;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 100px;
    float: left;
}
.y_warp{
    height: 480px;
}
.y_w{
    background-color: #fff;
    width: 990px;
    zoom: 1;
    margin-top: 20px;
}
.y_spaceLeft{
    width: 640px;
    float: left;
    overflow: hidden;
    min-height: 400px;
}
.y_arinfo{
    padding: 10px 0;
    line-height: 22px;
    zoom: 1;
}
.y_titlemo{
    color: #ff6767;
    font-size: 20px;
    line-height: 20px;
    padding: 20px 0 20px 25px;
    background: rgba(0,0,0,0) url(../images/y_mo.png) no-repeat scroll left center;
}
.y_titlemo h2{
    color: #ff6767;
}
.y_list li{
    width: 50%;
    float: left;
    padding: 10px 0;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.y_list li a{
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
    color: #333;
}
.y_list li a img{
    width: 70px;
    height: 70px;
    float: left;
    margin: 0 10px 0 0;
}
.y_list li p{
    font-size: 14px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.y_tit:hover{
    color: #ff6767;
    text-decoration: underline;
}

/*右边的内容*/
.y_spaceRight{
    width: 300px;
    float: right;
    overflow: hidden;
    min-height: 460px;
}
.y_spaceRight ul li{
    font-size: 16px;
    padding: 0 0 10px;
}
.y_spaceRight ul li a{
    color: #333;
}
.y_spaceRight ul li:before{
    border: 2px solid #ccc;
    border-radius: 50%;
    content: "";
    display: inline-block;
    float: left;
    height: 5px;
    margin: 8px 8px 0 2px;
    vertical-align: middle;
    width: 5px;
}


/*底部*/
.y_footer{
    z-index: 1;
    background: #f5f5f5;
    color: #444;
    font-size: 14px;
    height: 160px;
    left: 0;
    min-width: 990px;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 1;
}
.y_close{
    position: absolute;
    overflow: hidden;
    right: 10px;
    top: 12px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    z-index: 10;
    background: url("../images/y_close.png") no-repeat;
    background-position: -20px 0;
    display: none;
}
.y_code{
    width: 670px;
    margin: auto;
}
.y_img1{
    float: left;
    margin: 10px 40px 0 0;
}
.y_img2{
    margin: 50px 0 10px;
}
.y_img3{
    margin: 10px 0 0;
}

/*底部内容的开始*/
.k_footer{
    width: 990px;
    height: 112px;
    border-top:1px solid #e8e8e8;
    margin: 0 auto;
}
.k_f1{
    float: left;
}
.k_f1 .c3b{
    margin-top:15px;
}
.k_f1 .c3b a {
    color: #f50;
    font-size: 14px;
    font-weight: 700;
}
.k_f1 .c3b a:hover {
    text-decoration: underline
}
.k_f1 .c3c{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 6px;
}
.k_f1 .c3c a{
    color: #333;
}
.k_f1 .c3c a:hover{
    color: #ff6767;
}
.k_f1 .c3d{
    font-size: 12px;
}

.k_ewm1{
    float:right;
    margin-top: 10px;
}
.k_ewm1 img{
    width: 82px;
    height: 82px;
    vertical-align: middle;
}
.k_frist{
    margin-right: 25px;
}
.k_ewm1 p{
    font-size: 14px;
    text-align: center;
}
/*底部的结束*/

/*返回*/
.gotop {
    position: fixed;
    bottom: 10px;
    left: 1179px;
    width: 58px;
    height: 58px;
    padding: 5px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    transition: 0.5s;
    opacity: 0;
}

.gotop img {
    width: 58px;
    height: 58px;
}